body{
    padding: 30px;
}

/* Colors */

.color-chip {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    line-height: 1.2em;
}

.bg-turquoise {
    background-color: #29c1c4;
}

.bg-beige {
    background-color: #c6b297;
}

.bg-mocca {
    background-color: #988672;
}

.bg-pink {
    background-color: #d183ab;
}

.bg-light-seagreen {
    background-color: #f6f7e7;
}

.bg-darkgrey {
    background-color: #555;
    color: #fff;
}

.bg-grey {
    background-color: #888;
}

.bg-lightgrey {
    background-color: #ccc;
}

.bg-greywhite {
    background-color: #eee;
}

.icons table {
   border-collapse: collapse;
}

.icons table td {
    border: 1px solid #ccc;
    padding: 3px;

}
