/** GLOBAL - BASE -----------------------------------------**/

* {
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    color: $textColor;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    line-height: 1.1;
    font-weight: bold;
}

h1 {
    font-size: 42px;
    padding: 65px 15px 0px 15px;
    margin: 0px; 
}
h2 {
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px
}

h6 {
    font-size: 20px;
}

a {
    color: $blue;
}


a:active,
a:focus,
a:hover {
    color: $grey;
}


body, p {
    line-height: 1.5em;
}


/** TEXT COLORS **/

.textgreen {
    color: $green;
}

.textblue {
    color: $blue;
}

.textbluegrey {
    color: $blueGrey;
}

.text-turquoise,
.link-turquoise {
    color: $blue;
}

.link-turquoise:hover {
    color: $grey;
}



/* BASE ------------------------------------------------------------------------------------------------------------- */





@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
}


#wrapper {
    overflow-x: hidden;
}

@media screen and (max-width: 991px) {
    #categories {
        display: none;
    }
    #mid {
        margin-top: 60px;
    }
    #pagecontent {
        // padding-left: 0;
        // padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #body_login #pagecontent {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #body_contact-support #pagecontent {
        padding: 15px;
    }
}

@media screen and (max-width: 767px) {
    #mid {
        margin-top: 87px;
    }
}

@media screen and (min-width: 992px) {
    #mid>.cols {
        margin-left: 0;
        margin-right: 0;
    }
    #pagecontent {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        width: calc(100% - 30px);
    }
    #body_contact-support #pagecontent {
        padding: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: calc(100% - 30px);
        max-width: 1200px;
    }
}









