/** GLOBAL - FONTS -----------------------------------------**/


@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,700');


$mainFont: "Yantramanav", sans-serif;
$titleFont:  "Yantramanav", sans-serif;
$iconFont: 'kcicons';
