// /** LEGACY - SITE-HIERBENIK -----------------------------------------**/


// /* ACCORDION -------------------------------------------------------------------------------------------------------- */
// .accordion {
//   list-style-type: none;
//   padding: 0;
//   border-bottom: 1px solid #dfe5e5;
//   background-color: transparent;
//   margin-bottom: 10px;
// }
// .accordion > .active {
//   color: #575757 !important;
// }
// .accordion .show {
//   display: block!important;
// }
// .accordion > a {
//   display: block;
//   vertical-align: middle;
//   background-color: transparent;
//   padding: 5px 5px;
//   color: [[kleur5]];
// }
// .accordion > a > i {
//   float: right;
//   font-size: 12px;
// }
// .accordion .accordion-body {
//   display: none;
//   padding: 5px;
// }
// .accordion .accordion-body ul {
//   margin-bottom: 0;
//   margin-top: 0;
// }
// .accordion .accordion-body ul li a {
//   padding: 5px 0px 5px 5px;
// }

// /* ADDRESS-LIST ----------------------------------------------------------------------------------------------------- */
// .address-list input[type="text"] {
//   border-radius: 0px !important;
// }
// .address-list > ul {
//   max-height: 250px;
//   padding: 0;
//   margin: 0 0 15px 0;
//   overflow-y: auto;
//   overflow-x: hidden;
//   border-left: 1px solid #cccccc;
//   border-right: 1px solid #cccccc;
//   border-bottom: 1px solid #cccccc;
// }
// .address-list > ul > li {
//   border-bottom: 1px solid #cccccc;
//   text-align: center;
// }
// .address-list > ul > li:last-child {
//   border-bottom: none;
// }
// .address-list > ul > li a {
//   display: block;
//   padding: 0;
// }
// .address-list > ul > li > button {
//   margin-bottom: 15px;
// }


// /* BOX -------------------------------------------------------------------------------------------------------------- */
// .box {
//   position: relative;
//   padding: 0;
//   margin-bottom: 15px;
//   background-color: #ffffff;
//   border-radius: 15px;
//   border: 1px solid #e4e8e8;
//   overflow: hidden;
// }
// .box .box-body {
//   background-color: #ffffff;
//   margin: 0;
//   padding: 25px;
// }
// .box .box-footer {
//   background-color: #ffffff;
//   margin: 0;
//   padding: 25px;
//   border-top: 1px solid #e4e8e8;
//   clear: both;
// }
// .box-default .box-body {
//   background-color: #ffffff;
// }
// .box-default .box-footer {
//   background-color: #ffffff;
// }
// .box-primary .box-body {
//   background-color: #ffffff;
// }
// .box-primary .box-footer {
//   background-color: #f2ecec;
// }


// /* BUTTON-BLOCK ----------------------------------------------------------------------------------------------------- */
// .button-block {
//   position: relative;
//   border-radius: 10px;
//   overflow: hidden;
//   margin-bottom: 25px;
//   height: 110px;
//   background-color: transparent;
// }

// .button-block > a {
//   display: table;
//   width: 100%;
//   height: 100%;
//   background-color: #ffecdb;
//   padding: 0 20px;
//   text-align: center;
// }
// .button-block > a:hover, .button-block > a:active, .button-block > a:focus, .button-block a.active {
//   background-color: #ffddbf;
// }

// .button-block > a .button-block-content {
//   display: table-cell;
//   height: 100%;
//   vertical-align: middle;
// }
// .button-block > a .button-block-title {
//   display: block;
//   font-size: 18px;
//   margin-top: 0;
//   color: #f68620;
//   margin-bottom: 0;
// }
// .button-block > a .button-block-title i {
//   display: inline-block;
//   vertical-align: middle;
// }
// .button-block > a .button-block-text {
//   display: block;
//   font-size: 0.8em;
//   color: #666668;
// }
// .button-block-img {
//   height: 180px;
//   background-color: transparent;
// }
// .button-block-img > a {
//   background-color: transparent;
//   max-height: 210px;
// }
// .button-block-img > a:hover {
//   background-color: transparent;
//   opacity: 0.9;
// }
// .button-block-img > a:active {
//   background-color: transparent;
//   opacity: 0.9;
// }
// .button-block-img > a:focus {
//   background-color: transparent;
//   opacity: 0.9;
// }
// .button-block-img > a img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   min-height: 100%;
//   z-index: -99;
// }
// .button-block-img > a .button-block-title {
//   display: block;
//   color: #ffffff;
//   font-size: 1.4em;
// }
// .button-block-img > a .button-block-text {
//   display: block;
//   font-size: 1.0em;
//   color: #ffffff;
// }

// /* BUTTON ----------------------------------------------------------------------------------------------------------- */
// .button {
//   display: inline-block;
//   padding: 6px 12px;
//   margin: 10px 0;
//   font-size: 1em;
//   font-weight: bold;
//   line-height: 1;
//   text-align: center;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -ms-touch-action: manipulation;
//   touch-action: manipulation;
//   border: 1px solid transparent;
// }
// .button-arrow-right:after {
//   content: '\e003';
//   font-family: kcicons;
//   margin-left: 10px;
// }

// .button i {
//   display: inline-block;
//   vertical-align: middle;
// }
// .button-group {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }
// .button-group .button {
//   position: relative;
//   float: left;
//   border-radius: 0;
// }
// .button-group .button:first-child {
//   margin-left: 0;
//   border-top-left-radius: 100px;
//   border-bottom-left-radius: 100px;
// }
// .button-group .button:last-child {
//   margin-left: 0;
//   border-top-right-radius: 100px;
//   border-bottom-right-radius: 100px;
// }
// .button-group-vertical {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
// }
// .button-group-vertical > .button {
//   display: block;
//   float: none;
//   width: 100%;
//   max-width: 100%;
//   border-radius: 0!important;
// }
// .button-group-justified {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
//   border-collapse: separate;
// }
// .button-group-justified > .button {
//   display: table-cell;
//   float: none;
//   width: 1%;
// }
// .button-xs {
//   padding: 1px 5px;
//   font-size: 12px;
//   line-height: 1.5;
// }
// .button-sm {
//   padding: 5px 10px;
//   font-size: 14px;
//   line-height: 1.5;
// }
// .button-lg {
//   padding: 10px 16px;
//   font-size: 18px;
//   line-height: 1.3333333;
// }
// .button-xlg {
//   padding: 12px 18px;
//   font-size: 26px;
//   line-height: 1.3333333;
// }
// .button-link {
//   display: block;
//   color: #F9861C;
//   border-color: transparent;
//   background-color: transparent;
// }
// .button-link:hover,
// .button-link:active,
// .button-link:focus {
//   border-color: transparent;
// }
// .button-default {
//   color: #333333;
//   background-color: #ffffff;
//   border-color: #cccccc;
// }
// .button-default:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-success {
//   color: #ffffff;
//   background-color: [[kleur3]];
//   border-color: #f6c61e;
// }
// .button-success:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-warning {
//   color: #ffffff;
//   background-color: #f6c61e;
//   border-color: #fa9485;
// }
// .button-warning:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-danger {
//   color: #ffffff;
//   background-color: #fa9485;
//   border-color: #fa9485;
// }
// .button-danger:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-info {
//   color: #ffffff;
//   background-color: #f5871e;
//   border-color: #f6871f;
// }
// .button-info:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-primary {
//   color: #ffffff;
//   background-color: #6fd4ce;
//   border-color: #6fd4ce;
// }
// .button-primary:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }

// /* CARD-BLOCK ------------------------------------------------------------------------------------------------------- */
// .card-block {
//   position: relative;
//   display: block;
//   border: 1px solid #e4e8e8;
//   background-color: #fdf3e9;
//   margin-bottom: 25px;
//   border-radius: 10px;
//   cursor: pointer;
//   z-index: 3;
// }
// .card-block img {
//   height: 150px;
// }
// .card-block:hover > img {
//   opacity: 0.8;
// }
// .card-block:hover .card-block-title,
// .card-block:hover .card-block-footer {
//   opacity: 1;
// }
// .card-block .card-block-title,
// .card-block .card-block-footer {
//   display: block;
//   text-align: center;
//   padding: 10px;
//   margin-bottom: 10px;
//   opacity: 0.8;
// }
// .card-block .card-block-title {
//   color: #f68620;
//   font-size: 1.2em;
//   font-weight: bold;
// }
// .card-block .card-block-footer {
//   color: #f68620;
//   font-size: 15px;
//   margin-top: 10px;
// }

// /* CAROUSEL --------------------------------------------------------------------------------------------------------- */
// .carousel {
//   position: relative;
//   border: 1px solid transparent;
//   margin-bottom: 15px;
//   overflow: hidden;
//   background-color: transparent;
// }
// .carousel:hover .carousel-left,
// .carousel:hover .carousel-right {
//   visibility: visible;
//   opacity: 1;
// }
// .carousel .carousel-middle > img {
//   width: 100%;
// }
// .carousel .carousel-left {
//   left: 0;
// }
// .carousel .carousel-right {
//   right: 0;
// }
// .carousel .carousel-left,
// .carousel .carousel-right {
//   position: absolute;
//   top: 0;
//   height: 100%;
//   z-index: 220;
// }
// .carousel .carousel-left > a,
// .carousel .carousel-right > a {
//   display: table;
//   height: 100%;
//   padding: 0 10px;
// }
// .carousel .carousel-left > a i,
// .carousel .carousel-right > a i {
//   display: table-cell;
//   vertical-align: middle;
// }
// .carousel a {
//   display: inline-block;
//   vertical-align: middle;
// }

// /* CHECKBOX --------------------------------------------------------------------------------------------------------- */
// .custom-checkbox {
//   position: relative;
//   display: inline-block;
// }
// .custom-checkbox > .box {
//   position: relative;
//   display: block;
//   width: 16px;
//   height: 16px;
//   border: 1px solid #ccc;
//   background-color: #eee;
//   border-radius: 0px;
// }
// .custom-checkbox > .box > .tick {
//   position: absolute;
//   left: 0px;
//   top: 2px;
//   width: 14px;
//   height: 6px;
//   border-bottom: 2px solid #333;
//   border-left: 2px solid #333;
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   display: none;
// }
// .custom-checkbox > input {
//   position: absolute;
//   outline: none;
//   left: 0;
//   top: 0;
//   padding: 0;
//   width: 16px;
//   height: 16px;
//   border: none;
//   margin: 0;
//   opacity: 0;
//   z-index: 1;
// }
// .custom-checkbox > input:active + .box {
//   border-color: #aaa;
//   background-color: #ddd;
// }
// .custom-checkbox > input:checked + .box > .tick {
//   display: block;
// }

// /* FIELD ------------------------------------------------------------------------------------------------------------ */
// .field-horizontal .field-group {
//   margin-right: -15px;
//   margin-left: -15px;
// }
// .field-horizontal .field-label {
//   padding-top: 7px;
//   margin-bottom: 0;
//   text-align: left;
// }
// .field-group {
//   margin-bottom: 15px;
// }
// .field-group .field-input-group {
//   margin-bottom: 0;
// }
// textarea.field-input {
//   height: auto;
// }
// .field-input-group {
//   position: relative;
//   display: table;
//   border-collapse: separate;
//   margin-bottom: 15px;
//   width: 100%;
// }
// .field-input-group .field-input-group-addon {
//   display: table-cell;
//   width: 1%;
//   white-space: nowrap;
//   vertical-align: middle;
//   padding: 6px 12px;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1;
//   color: #555;
//   text-align: center;
// }
// .field-input {
//   display: block;
//   width: 100%;
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.42857143;
//   color: #555555;
//   background-color: #ffffff;
//   background-image: none;
//   border: 1px solid #cccccc;
// }
// .field-input-sm {
//   height: 30px;
//   padding: 5px 10px;
//   font-size: 12px;
//   line-height: 1.5;
// }
// .field-input-lg {
//   height: 46px;
//   padding: 10px 16px;
//   font-size: 18px;
//   line-height: 1.3333333;
// }
// select.field-input {
//   background-color: #ffecdb;
// }
// input[type='text'].error {
//   border-color: #8a6d3b;
// }
// input[type='text'].error:focus {
//   outline: 0;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
// }
// label.error {
//   font-style: italic;
//   display: block;
//   font-size: 12px;
//   font-weight: normal;
// }

// /* FOLDMENU --------------------------------------------------------------------------------------------------------- */
// .js-foldmenu .js-foldmenu-button {
//   cursor: pointer;
// }

// .js-foldmenu .js-foldmenu-body {
//   display: none;
// }

// .js-foldmenu .js-foldmenu-body.show {
//   display: block;
// }





// /* NAVBAR ----------------------------------------------------------------------------------------------------------- */
// .navbar {
//   position: fixed;
//   left: 0;
//   top: 0;
//   height: 100px;
//   width: 100%;
//   z-index: 99;
//   background-color: [[kleur2]];
// }



// .navbar .collapse {
//   background: [[kleur1]];
//   position: fixed;
//   display: none;
//   width: 100%;
//   overflow-y: scroll;
//   top: 90px;
//   left: 0;
//   bottom: 0;
// }

// .navbar .navbar-hamburger {
//   cursor: pointer;
//   padding: 4px 16px 4px 0;
//   background-color: transparent;
//   border: 1px solid transparent;
//   /* when using with border:
//   padding: 4px 8px; */
//   margin: 8px 0;
//   outline: none;
//   width: 45px;
//   display: inline-block;
// }
// .navbar .navbar-hamburger .icon-bar {
//   display: block;
//   margin: 3px 0;
//   width: 100%;
//   height: 4px;
//   border-radius: 1px;
//   background-color: [[kleur4]];
// }
// .navbar a.logo {
//   color: [[kleur4]];
//   font-size: 20px;
//   vertical-align: middle;
// }
// .navbar .topbar a.logo {
//   width: calc(100% - 95px);
//   text-align: left;
//   display: inline-block;
// }
// .navbar .topbar a.logo img {
//   max-width: 80%;
//   max-height: 50px;
//   margin: 0 auto;
// }
// .navbar  .topbar .topbar-basket-mob {
//   display: inline-block;
//   float: right;
//   padding: 10px 0;
//   width: 50px;
//   cursor: pointer;
//   text-align: right;
//   position: absolute;
//   top: 0;
//   right: 15px;
//   /* when using with a colored background:
//   text-align: center;
//   background-color: #ccc;
//   padding: 10px;
//   margin-right: -15px; */
// }
// .navbar  .topbar .topbar-basket-mob i {
//   color: [[kleur4]];
//   font-size: 20px;
// }
// .navbar .topbar .topbar-basket-menu-mob {
//   position: relative;
//   background-color: [[kleur2]];
//   padding: 15px 0;
//   margin-top: 40px;
//   z-index: 99;
//   display: none;
//   margin-left: -15px;
//   margin-right: -15px;
// }
// .navbar .topbar .topbar-basket-menu-mob ul li {
//   border-top: 1px solid #eee;
// }

// .navbar .middlebar .open-navbar-search {
//   display: none;
// }
// .navbar .middlebar .navbar-search-field {
//   position: absolute;
//   top: 50px;
//   left: 0;
//   width: 100%;
//   z-index: 89;
//   padding: 10px 15px;
// }
// .navbar .middlebar .navbar-search-field .search-button-field {
//   float: right;
//   display: block;
//   border: none;
//   height: 30px;
//   width: 40px;
//   padding: 0 0 0 10px;
//   cursor: pointer;
//   background-color: transparent;
// }
// .navbar .middlebar .navbar-search-field .search-button-field i {
//   font-size: 17px;
// }
// .navbar .middlebar .navbar-search-field .search-button-field i:after {
//   color: [[kleur4]];
// }
// .navbar .middlebar .navbar-search-field .search-input-field {
//   overflow: hidden;
// }
// .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
//   display: block;
//   border: none;
//   width: 100%;
//   height: 30px;
//   padding: 0 10px;
// }

// @media only screen and (min-width: 768px) {
//   .navbar {
//     height: 60px;
//   }
//   .navbar .navbar-hamburger {
//     margin: 13px 0;
//   }
//   .navbar .topbar a.logo {
//     width: calc(100% - 395px);
//     text-align: left;
//   }
//   .navbar .topbar a.logo img {
//     max-height: 60px;
//   }
//   .navbar .topbar .topbar-basket-mob {
//     width: 40px;
//     padding: 15px 0;
//   }
//   .navbar .topbar .topbar-basket-menu-mob {
//     margin-top: 0;
//   }
//   .navbar .collapse {
//     top: 60px;
//   }
//   .navbar .middlebar .navbar-search-field {
//     top: 0;
//     padding: 15px 0;
//     width: 280px;
//   }
//   .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
//     width: 250px;
//   }
// }

// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px) {
//   .navbar {
//     position: relative;
//     left: auto;
//     top: auto;
//     height: 125px;
//   }
//   .navbar .navbar-hamburger,
//   .navbar .topbar a.logo,
//   .navbar .topbar .topbar-basket-mob {
//     display: none;
//   }
//   .navbar .topbar .topbar-menu-right > ul {
//     margin-bottom: 0;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li {
//     position: relative;
//     display: inline-block;
//     vertical-align: middle;
//     border: 1px solid transparent;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li a {
//     display: block;
//     padding: 10px 5px;
//     margin: 0;
//     border: none;
//     color: [[kleur4]];
//   }
//   .navbar .topbar .topbar-menu-right > ul > li:last-of-type a {
//     padding-right: 0;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li a i {
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 16px;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li i {
//     display: inline-block;
//     vertical-align: middle;
//     padding-right: 5px;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
//     padding-left: 0;
//     padding-right: 0;
//   }
//    .navbar .topbar .topbar-menu-right > ul > li.dropdown {
//     position: relative;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown.active {
//     border-left: 1px solid #eee;
//     border-right: 1px solid #eee;
//     background: #fff;
//     z-index: 999;
//   }
 
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
//     color: #fff; /*[[kleur2]];*/
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown .dropdown-content {
//     display: none;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > a {
//     position: relative;
//     display: block;
//     background-color: transparent;
//     z-index: 33;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
//     width: auto;
//     right: 0;
//     margin-top: -1px;
//     background: #fff;
//     border: 1px solid #eee;
//     position: absolute;
//     left: auto;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li {
//     display: block;
//     position: relative;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li > a {
//     display: block;
//     padding: 5px 10px;
//     text-align: left;
//   }
//   .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
//     color: #fff;
//   }
//   .navbar .collapse {
//     display: block;
//     left: auto;
//     bottom: auto;
//     top: 0;
//     position: relative;
//     background: [[kleur1]];
//     height: 75px;
//     overflow-y: inherit;
//     /*overflow: auto;*/
//   }
//   .navbar .middlebar a.logo {
//     position: relative;
//     display: inline;
//     color: [[kleur4]];
//     line-height: 70px;
//     font-size: 45px;
//   }
//   .navbar .middlebar a.logo img {
//     position: relative;
//   }
//   .navbar .middlebar ul.middlebar-menu-left,
//   .navbar .middlebar ul.middlebar-menu-right {
//     margin-bottom: 0;
//     position: absolute;
//     top: 0;
//     height: 75px;
//   }
//   .navbar .middlebar ul.middlebar-menu-left {
//     min-width: 200px;
//     display: inline;
//   }
//   .navbar .topbar .topbar-menu-right {
//     display: inline-block;
//   }
//   .navbar .middlebar ul.middlebar-menu-right {
//     right: 0;
//   }
//   .navbar .middlebar ul.middlebar-menu-left li,
//   .navbar .middlebar ul.middlebar-menu-right li {
//     display: inline-block;
//     position: relative;
//     height: 100%;
//   }
//   .navbar .middlebar ul.middlebar-menu-right li {
//     border-right: 1px solid #fff;
//     margin-left: -3px;
//   }
//   .navbar .middlebar ul.middlebar-menu-right li:first-child {
//     border-left: 1px solid #fff;
//   }
//   .navbar .middlebar ul.middlebar-menu-right > li i {
//     display: inline-block;
//     vertical-align: middle;
//     padding: 0 5px;
//   }
//   .navbar .middlebar ul.middlebar-menu-left > li a,
//   .navbar .middlebar ul.middlebar-menu-right > li a {
//     position: relative;
//     display: inline-block;
//     height: 100%;
//     color: inherit;
//     line-height: 1em;
//     overflow: hidden;
//     padding: calc(37.5px - 0.5em) 15px;
//     border-bottom: 0;
//   }
//   .navbar .middlebar ul.middlebar-menu-left .dropdown,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown {
//     position: relative;
//   }

//   .navbar .middlebar ul.middlebar-menu-left .dropdown > ul,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
//     position: absolute;
//     right: 0;
//     left: auto;
//     top: 0;
//     margin-top: 75px;
//     margin-bottom: -9px;
//     background-color: [[kleur6]];
//     display: none;
//     z-index: 999;
//     width: 100%;
//     min-width: 200px;
//   }
//   .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li {
//     padding: 0;
//     margin-left: 0;
//     margin-top: -6px;
//     width: 100%;
//     border-left: none;
//     border-right: none;
//     border-bottom: 1px solid #eee;
//   }
//   .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:first-of-type,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:first-of-type {
//     margin-top: 0;
//   }

//   .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:last-of-type,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:last-of-type {
//     border-bottom: none;
//   }
//   .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a,
//   .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a {
//     display: block;
//     width: 100%;
//     padding: 10px;
//   }
//   .navbar .middlebar .navbar-search-field {
//     display: block;
//     position: absolute;
//     top: -50px;
//     right: 5px;
//     left: auto;
//     height: 50px;
//     width: 220px;
//     z-index: 89;
//     padding: 10px;
//     background-color: transparent;
//   }
//   .navbar .middlebar .navbar-search-field .search-button-field {
//     position: absolute;
//     right: 0;
//     top: 10px;
//     display: block;
//     height: 30px;
//     border: none;
//     width: 30px;
//     padding: 0;
//     cursor: pointer;
//     background-color: transparent;
//     text-align: left;
//     z-index: 89;
//     margin: 0;
//   }
//   .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
//     position: absolute;
//     right: 0;
//     display: block;
//     width: 175px;
//     height: 30px;
//     padding: 5px 10px;
//     border: 1px solid #eee;
//     margin: 0;
//   }
// }

// @media screen and (max-width: 991px) {
//   .navbar .middlebar .dropdown-fullwidth-menu ul li {
//     width: 100% !important;
//   }
// }

// @media screen and (min-width: 992px) and (max-width: 1199px) {
//   .navbar .topbar .topbar-menu-right {
//     position: absolute;
//     top: 0;
//     right: 230px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .navbar .topbar .topbar-menu-left {
//     display: inline-block;
//   }
//   .navbar .topbar .topbar-menu-left li {
//     padding: 0 5px;
//     margin: 10px 0;
//   }
//   .navbar .topbar .topbar-menu-left a {
//     display: inline-block;
//     vertical-align: middle;
//     padding: 0 5px;
//     margin: 11px 0;
//     height: 100%;
//     color: [[kleur5]];
//   }
//   .navbar .topbar .topbar-menu-left a:first-of-type {
//     padding-left: 0;
//   }
//   .navbar .topbar .topbar-menu-right {
//     float: right;
//   }
//   .navbar .middlebar .container {
//     position: relative;
//   }
//   .navbar .middlebar ul.middlebar-menu-right {
//     right: 230px;
//     /* when searchfield is not visible:
//       right: 45px;
//     */
//   }
//   .navbar .middlebar .open-navbar-search {
//     position: absolute;
//     top: 0;
//     right: 15px;
//     height: 75px;
//     width: 30px;
//     z-index: 99;
//     background: [[kleur1]];
//     display: none;
//     /* when searchfield is not visible:
//       display: block;
//     */
//     padding-top: 22px;
//     text-align: center;
//   }
//   .navbar .middlebar .open-navbar-search i {
//     font-size: 17px;
//   }
//   .navbar .middlebar .navbar-search-field {
//     position: absolute;
//     top: 0;
//     height: 75px;
//     width: 200px;
//     z-index: 89;
//     padding: 0;
//     background: transparent;
//     /* when searchfield is not visible:
//       display: none;
//       background: [[kleur6]];
//     */
//   }
//   .navbar .middlebar .navbar-search-field .search-button-field {
//     height: 25px;
//     border: none;
//     width: 30px;
//     padding: 0;
//     text-align: center;
//     margin: 22.5px 0;
//   }
//   .navbar .middlebar .navbar-search-field .search-input-field {
//     width: 170px;
//   }
//   .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
//     right: 30px;
//     height: 45px;
//     border: none;
//     margin: 22.5px 0;
//     width: 170px;
//   }
// }

// /* ORDER-FLOW ------------------------------------------------------------------------------------------------------- */
// .order-flow {
//   border-bottom: solid 1px #ccc;
//   padding: 10px 0;
//   font-size: 11px;
// }
// .order-flow a {
//   display: block;
// }
// .order-flow .order-flow-details {
//   display: inline-block;
//   vertical-align: middle;
// }
// .order-flow .order-flow-details-body {
//   padding: 15px;
//   background-color: #fcfcfc;
//   line-height: 15px;
// }
// .order-flow .order-flow-details-body .order-flow-details-status {
//   border-bottom: 1px dashed #ccc;
//   padding: 10px 0;
// }
// .order-flow .order-flow-details-body strong {
//   display: block;
//   margin-top: 10px;
// }
// @media (min-width: 320px) {
//   .order-flow .order-flow-info strong {
//     float: right;
//   }
// }
// @media (min-width: 992px) {
//   .order-flow-info strong {
//     float: none !important;
//   }
//   .order-flow .md-1 {
//     width: 14.285714285714285714285714285714%;
//   }
// }



// /* TABLE ------------------------------------------------------------------------------------------------------------ */
// .table {
//   width: 100%;
//   max-width: 100%;
//   margin-bottom: 20px;
//   border-spacing: 0;
//   border-collapse: collapse;
//   background-color: #ffffff;
// }
// .table > thead > tr > th {
//   vertical-align: bottom;
//   border-bottom: 2px solid #ddd;
//   background-color: #fbf7f8;
//   color: inherit;
// }
// .table > thead > tr > th,
// .table tbody > tr > th,
// .table > tfoot > tr > th,
// .table > thead > tr > td,
// .table > tbody > tr > td,
// .table > tfoot > tr > td {
//   padding: 8px;
//   line-height: 1.42857143;
//   vertical-align: top;
//   border-top: 1px solid #ddd;
// }
// .table-bordered > thead > tr > th,
// .table-bordered > tbody > tr > th,
// .table-bordered > tfoot > tr > th,
// .table-bordered > thead > tr > td,
// .table-bordered > tbody > tr > td,
// .table-bordered > tfoot > tr > td {
//   border: 1px solid #dddddd;
// }
// .table-responsive {
//   min-height: .01%;
//   overflow-x: auto;
// }
// .table-unstyled {
//   width: 100%;
//   margin-bottom: 20px;
//   border: none;
// }
// .table-unstyled > thead > tr > th {
//   text-align: left;
//   vertical-align: bottom;
//   border-bottom: none;
//   background-color: inherit;
//   color: inherit;
// }
// .table-unstyled > thead > tr > th,
// .table-unstyled tbody > tr > th,
// .table-unstyled > tfoot > tr > th,
// .table-unstyled > thead > tr > td,
// .table-unstyled > tbody > tr > td,
// .table-unstyled > tfoot > tr > td {
//   padding: 8px;
//   line-height: 1.42857143;
//   vertical-align: top;
//   border-top: none;
// }
// @media screen and (max-width: 768px) {
//   .table-responsive {
//     width: 100%;
//     margin-bottom: 15px;
//     overflow-y: hidden;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//     border: 1px solid #dddddd;
//   }
// }


// /* THUMBNAIL-PEOPLE ------------------------------------------------------------------------------------------------- */
// .thumbnail-people {
//   position: relative;
//   background-color: transparent;
//   border: 1px solid transparent;
//   margin-bottom: 15px;
//   text-align: left;
//   overflow: hidden;
//   border-radius: 10px;
// }
// .thumbnail-people:hover .thumbnail-people-img {
//   opacity: 0.5;
// }
// .thumbnail-people:hover .thumbnail-people-label {
//   opacity: 1;
// }
// .thumbnail-people a {
//   display: block;
// }
// .thumbnail-people .thumbnail-people-img img {
//   width: 100%;
// }
// .thumbnail-people .thumbnail-people-label {
//   width: 100%;
//   margin-top: 5px;
//   padding: 5px 0;
//   background-color: transparent;
//   opacity: 0.8;
// }
// .thumbnail-people .thumbnail-people-label h3 {
//   margin-top: 0;
//   margin-bottom: 0;
//   color: #f59a4b;
//   font-size: 18px;
// }
// .thumbnail-people .thumbnail-people-label p {
//   margin-top: 0;
//   margin-bottom: 0px;
//   color: inherit;
//   font-size: 14px;
// }

// /* THUMBNAIL-SCROLLER ----------------------------------------------------------------------------------------------- */
// .thumbnail-scroller {
//   position: relative;
//   width: 100%;
//   background-size: 100%;
//   background-color: transparent;
//   overflow: hidden;
//   white-space: nowrap;
//   margin-bottom: 20px;
//   padding-top: 20px;
// }
// .thumbnail-scroller .thumbnail-scroller-left {
//   left: 0;
// }
// .thumbnail-scroller .thumbnail-scroller-right {
//   right: 0;
// }
// .thumbnail-scroller .thumbnail-scroller-left,
// .thumbnail-scroller .thumbnail-scroller-right {
//   position: absolute;
//   top: 0;
//   height: 100%;
//   z-index: 20;
// }
// .thumbnail-scroller .thumbnail-scroller-left > a,
// .thumbnail-scroller .thumbnail-scroller-right > a {
//   display: table;
//   height: 100%;
//   padding: 0 10px;
//   width: 10%;
// }
// .thumbnail-scroller .thumbnail-scroller-left > a i,
// .thumbnail-scroller .thumbnail-scroller-right > a i {
//   display: table-cell;
//   vertical-align: middle;
// }
// .thumbnail-scroller a {
//   display: inline-block;
//   vertical-align: middle;
// }

// /* THUMBNAIL-SLIDER ------------------------------------------------------------------------------------------------- */
// .thumbnail-slider {
//   position: relative;
//   padding: 20px 5px 5px;
//   border-radius: 10px;
//   background-color: [[kleur1]];
//   border: 1px solid #e4e8e8;
//   margin-bottom: 25px;
//   margin-top: 25px;
//   text-align: left;
//   width: 100%;
// }
// .thumbnail-slider .thumbnail-slider-top {
//   position: absolute;
//   left: 0;
//   width: 100%;
//   top: -15px;
//   z-index: 3;
// }
// .thumbnail-slider .thumbnail-slider-left {
//   left: 0;
// }
// .thumbnail-slider .thumbnail-slider-right {
//   right: 0;
// }
// .thumbnail-slider .thumbnail-slider-left,
// .thumbnail-slider .thumbnail-slider-right {
//   position: absolute;
//   display: block;
//   top: 0;
//   height: 100%;
//   z-index: 2;
// }
// .thumbnail-slider .thumbnail-slider-left > a,
// .thumbnail-slider .thumbnail-slider-right > a {
//   display: table;
//   height: 100%;
//   padding: 0 10px;
//   margin-top: -20px;
// }
// .thumbnail-slider .thumbnail-slider-left > a i,
// .thumbnail-slider .thumbnail-slider-right > a i {
//   display: table-cell;
//   vertical-align: middle;
// }
// .thumbnail-slider .thumbnail-slider-middle img {
//   position: relative;
//   left: 0px;
//   right: 0px;
// }
// .thumbnail-slider .thumbnail-slider-bottom {
//   position: relative;
//   z-index: 33;
// }

// /* THUMBNAIL -------------------------------------------------------------------------------------------------------- */
// .thumbnail {
//   position: relative;
//   padding: 10px 10px 0px 10px;
//   border-radius: 10px;
//   background-color: #ffffff;
//   border: 1px solid #dfe5e5;
//   margin-bottom: 25px;
//   text-align: left;
//   cursor: pointer;
//   overflow:hidden;
// }
// .thumbnail:hover img {
//   opacity: 0.5;
// }
// .thumbnail:hover .thumbnail-footer {
//   opacity: 1;
// }
// .thumbnail img {
//   width: 100%;
// }
// .thumbnail .thumbnail-footer {
//   width: 100%;
//   margin-top: 5px;
//   padding: 5px;
//   background-color: #ffffff;
//   opacity: 0.8;
// }
// .thumbnail .thumbnail-footer p {
//   color: inherit;
// }
// .thumbnail-transparent {
//   background-color: transparent!important;
//   border: none!important;
//   box-shadow: none!important;
// }
// .thumbnail-transparent .thumbnail-footer {
//   background-color: transparent!important;
// }
// .thumbnail-fluid {
//   padding: 0!important;
// }
// .thumbnail-fluid .thumbnail-footer {
//   margin-top: 0;
//   background-color: [[kleur1]];
// }
// .thumbnail-fluid .thumbnail-footer h3 {
//   color: [[kleur5]];
// }
// .thumbnail-fluid .thumbnail-footer p {
//   color: inherit;
// }
// .thumbnail-fluid .thumbnail-img {
//   background-color: #cccccc;
//   border: none;
// }
// .thumbnail-button {
//   padding: 0!important;
//   border-radius: 0px;
//   border: 0px solid transparent;
// }
// .thumbnail-button .thumbnail-button-button {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   background-color: transparent;
//   background-image: url('http://hipdesign.nl/img/bg-button/01.png');
//   background-repeat: no-repeat;
//   background-position: right bottom;
//   color: #fff;
//   padding: 15px 20px 0 20px;
//   height: 45px;
// }

