
/*
    SHOW MORE COMPONENT

    Needs cp-show-more.css and show-more.js

    Use class cp-show-more on ul of items and id to link navigation
    Use data-show-more-start for ititial items and data-show-more-more for increment.

    <ul class="cp-show-more" data-show-more-start="2" data-show-more-more="2" id="show-more-videos">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="row cp-show-more-navigation" data-show-more-id="show-more-videos">
        <div class="sm-6"><button class="cp-show-more-more">Toon meer</button></div>
        <div class="sm-6"><button class="cp-show-more-less">Toon minder</button></div>
    </div>

*/

.cp-show-more {
}

.cp-show-more > li {	
	display: none;
}

.cp-show-more-navigation {
	width: 100%;
	text-align: center;
}
.cp-show-more-navigation *:focus {
	outline: none;
}

.cp-show-more-more, .cp-show-more-less {
	display: none;
    margin: 0px 0 30px 0px;
}

