#topbar .srchForm {
    width: 180px;
}

#topbar #hnav {
    margin-right: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

#hsearch {
    margin-top: 0px;
}

.srchForm {
    position: relative;
}

.srchForm input {
    border-radius: 5px;
    padding: 1px 8px;
    border: solid 1px #c7c7c7;
    font-family: 'KBGobbleDay';
    font-size: 14px;
    width: 180px;
    height: 26px;
}

.srchForm form button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 4px;
    top: 10px;
    height: 26px;
    cursor: pointer;
    outline: none;
}

.srchForm form button:after {
    font-family: kcicons;
    content: 's';
    z-index: 1;
    color: #e84b3d;
    position: absolute;
    top: 4px;
    right: 2px;
}

#tagli-mint label {
    background-color: #addbce!important;
}

#tagli-goud label {
    background-color: #d6b571!important;
}

.kleur ul {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
}

.kleur ul li {
    overflow: visible;
    margin-right: 10px;
    position: relative;
}

.kleur ul li:hover span.tooltip {
    display: block;
}

.kleur ul li label {
    border-radius: 50%;
}



span.tooltip {
    display: none;
    position: absolute;
    top: -28px;
    color: #000;
    font-size: 12px;
    background: #d6d8d9;
    border-radius: 5px;
    padding: 5px 6px;
    line-height: 1.2;
}

span.tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #d6d8d9;
    bottom: -4px;
    position: absolute;
    left: 40%;
}

@media only screen and (min-width: 1200px) {
    .kleur ul li {
        margin-right: 21px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 640px) {
    .srchForm form button {
        right: 4px;
        top: 4px;
    }
}

@media only screen and (max-width: 440px) {
    #topbar #hnav {
        position: relative;
        margin-right: 0;
    }

    #hsearch {
        display: inline-block;
        width: calc(100% - 20px);
        position: absolute;
        top: 40px;
        left: 0;
        margin-right: 10px;
    }

    #topbar .srchForm {
        width: 100%;
    }

    .srchForm input {
        width: 100%;
    }

    .srchForm form button {
        top: 6px;
        right: 6px;
    }

    #wrapper {
        padding-top: 45px;
    }
}


#body_design .open_calculator a,
#body_design .price-info a {
    display: inline !important;
}

#body_design .prijsOf .priceInfoTd:before {
    content: 'i' !important;
}

.proefDrukPrijs {
    display: None !important;
}

.desUsp a {
    list-style-type: none;
}

#body_onderzoek-babynamen-2016 #categories {
    display: none;
}
