/* Components styling is verplaatst naar site-hierbenik.css */


/* BASE ------------------------------------------------------------------------------------------------------------- */

body {
    font-family: 'Yantramanav', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Yantramanav, sans-serif;
    color: #555;
    line-height: 1.1;
    font-weight: bold;
}

h1 {
    font-size: 42px;
    padding: 65px 15px 0px 15px;
    margin: 0px; 
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px
}

h6 {
    font-size: 20px;
}

a {
    color: #29c1c4;
}

#wrapper {
    overflow-x: hidden;
}

@media screen and (max-width: 991px) {
    #categories {
        display: none;
    }
    .container {
        width: calc(100% - 30px);
    }
    #mid {
        margin-top: 60px;
    }
    #pagecontent {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #body_login #pagecontent {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #body_contact-support #pagecontent {
        padding: 15px;
    }
}

@media screen and (max-width: 767px) {
    #mid {
        margin-top: 87px;
    }
}

@media screen and (min-width: 992px) {
    #mid>.cols {
        margin-left: 0;
        margin-right: 0;
    }
    #pagecontent {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        width: calc(100% - 30px);
    }
    #body_contact-support #pagecontent {
        padding: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: calc(100% - 30px);
        max-width: 1200px;
    }
}

















/* COLORED TEXTS ---------------------------------------------------------------------------------------------------- */

.text-turquoise,
.link-turquoise {
    color: #29c1c4;
}

.link-turquoise:hover {
    color: #888;
}

















/* KLEUREN ---------------------------------------------------------------------------------------------------------- */


/* kleur1 */

.navbar .middlebar {
    background-color: #fff;
}

















/* kleur4 */

.navbar .topbar .topbar-menu-left a:hover,
.navbar .topbar .topbar-menu-left a:active,
.navbar .topbar .topbar-menu-left a:focus,
a.logo,
a.logo:hover,
a.logo:active,
a.logo:focus {
    color: #eee;
}

















/* kleur5 */

.navbar .topbar .topbar-menu-left a,
.navbar .topbar .topbar-menu-right>ul>li a:hover,
.navbar .topbar .topbar-menu-right>ul>li a:active,
.navbar .topbar .topbar-menu-right>ul>li a:focus {
    color: #fff;
}

















/* kleur6 */

.navbar .middlebar .dropdown:hover ul,
.navbar .middlebar ul.middlebar-menu-right>li:hover,
.navbar .middlebar ul.middlebar-menu-left>li:hover,
.navbar .middlebar .navbar-search-field {
    background-color: #fff;
}

.navbar .middlebar ul.middlebar-menu-left>li:first-of-type:hover {
    background-color: transparent;
}

















/* kleur7 */

.navbar .middlebar .dropdown ul li a:hover {
    background-color: #fff;
}












.navbar .middlebar ul.middlebar-menu-left li, .navbar .middlebar ul.middlebar-menu-right li {
    vertical-align: middle;
}



/* NAVBAR  - TOPBAR ------------------------------------------------------------------------------------------------- */

.navbar .topbar {
    background: #29c1c4;
}

.navbar .topbar .topbar-menu-left a {
    text-transform: uppercase;
    color: #fff;
    margin: 1px 0px 0px 0px;
    padding: 11px 5px 10px 5px !important;
}

.navbar .topbar .topbar-menu-left a:hover {
    color: #29c1c4;
    background-color: #fff;
}

.navbar .topbar .topbar-menu-right ul li a {
    color: #fff;
}

@media screen and (min-width: 992px) {
    .navbar {
        margin-bottom: 0px;
    }
    .navbar .collapse {
        height: 74px;
    }

    .navbar .topbar .topbar-menu-right>ul>li>a {
        padding: 11px 10px 10px 5px !important;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li>a {
        line-height: 1.2em;
        padding: 7px 10px;
    }

    .navbar .topbar .topbar-menu-right ul li a:hover,
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a,
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a:active {
        color: #29c1c4;
        background-color: #fff;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown>ul {
        margin-top: 1px;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active>ul>li a {
        color: #29c1c4;
        background-color: #fff;
    }


    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active>ul>li a:hover {
        color: #fff;
        background-color: #29c1c4;
    }
}


@media screen and (max-width: 991px) {
    .navbar {
        height: 60px;
    }
    .navbar .topbar {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }
    .navbar .navbar-hamburger .icon-bar {
        background: #29c1c4;
    }
    .navbar .topbar .topbar-basket-mob {
        background: #29c1c4;
        text-align: center;
        margin-right: -15px;
        padding: 16px 0;
        width: 60px;
        height: 60px;
    }
    .navbar .topbar .topbar-basket-mob i {
        color: #fff;
        font-size: 26px;
    }
    .navbar .topbar .topbar-basket-mob #navbar-basket {
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        color: #29c1c4;
        line-height: 1.1;
        vertical-align: 8px;
        margin-left: -4px;
    }
    .navbar .topbar .topbar-basket-menu-mob {
        background-color: #fff;
    }
    .navbar .topbar .topbar-basket-menu-mob p,
    .navbar .topbar .topbar-basket-menu-mob ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .topbar .topbar-basket-menu-mob ul li a {
        color: #000;
    }
    .navbar .middlebar .dropdown-background-cover {
        display: none;
    }
    .middlebar-menu-left .container {
        margin-bottom: 0px;
    }
    .middlebar-menu-left>li:not(.dropdown) {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        height: 87px;
    }
    .navbar .topbar .topbar-basket-mob {
        width: 50px;
        height: 50px;
        padding: 9px 0;
    }
    .navbar .topbar .topbar-basket-mob i {
        font-size: 20px;
        line-height: 32px;
    }
}

.topbar-account-mob {
    display: block;
    position: absolute;
    right: 60px;
    top: 12px;
    font-size: 20px;
    color: #29c1c4;
    cursor: pointer;
}

.topbar-account-menu-mob {
    position: relative;
    background-color: #fff;
    padding: 15px 0;
    margin-top: 40px;
    z-index: 99;
    display: none;
    margin-left: -15px;
    margin-right: -15px;
}

.topbar-account-menu-mob p,
.topbar-account-menu-mob ul {
    padding-left: 15px;
    padding-right: 15px;
}

.topbar-account-menu-mob ul li {
    border-top: 1px solid #eee;
}

@media screen and (min-width: 768px) {
    .topbar-account-mob {
        right: 73px;
        top: 17px;
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .topbar-account-mob,
    .topbar-account-menu-mob {
        display: none;
    }
}
















/* NAVBAR  - MIDDLEBAR ---------------------------------------------------------------------------------------------- */

.navbar .middlebar {
    border-bottom: 1px solid #eee;
}

.navbar .middlebar .logo {
    height: 55px;
}

.navbar .middlebar a {
    font-weight: bold;
}

.navbar .navbar-favourites a i {
    color: #29c1c4;
    font-size: 26px;
}

.navbar .middlebar ul.middlebar-menu-right li a:hover {
    background-color: transparent !important;
}

.navbar .navbar-favourites .dynamic_favorites_count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    background: #29c1c4;
    margin-left: -25px;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    right: 5px;
    top: 20px;
}

.navbar .middlebar .navbar-search-field {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navbar .middlebar .navbar-search-field form {
    position: relative;
}

.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 50px;
    width: 200px;
}

.navbar .middlebar .navbar-search-field .search-button-field {
    position: absolute;
    left: 3px;
    top: 5px;
}

.navbar .middlebar .navbar-search-field .search-button-field i:after {
    color: #29c1c4;
}

@media screen and (min-width: 991px) {
    .navbar .topbar .topbar-menu-right {
        top: 0;
    }
    .navbar .middlebar .middlebar-menu-left .dropdown>a {
        display: inline-block;
    }
    .navbar .middlebar .middlebar-menu-left .dropdown>a:after {
        content: '\e007';
        font-family: kcicons;
        color: #888;
        font-size: 10px;
    }
    .navbar .middlebar .middlebar-menu-left .dropdown ul li a span span {
        color: #888;
        font-weight: 400;
    }
    .navbar .middlebar ul.middlebar-menu-left>li i {
        display: block;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul {
        position: fixed;
        top: 125px;
        width: 100%;
        padding: 0 30px;
        display: flex;
        display: -webkit-flex;
        margin-top: 0 !important;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 4px #ccc;
        background: #fff;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul {
        display: none;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li {
        width: 20%;
        border-bottom: none;
        float: left;
        border-left: 1px solid #ccc;
        margin-top: 0;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown>ul li:last-of-type {
        border-right: 1px solid #ccc !important;
    }
    .navbar .middlebar .dropdown:hover ul {
        background-color: #fff;
    }
    .navbar .middlebar .dropdown-content {
        display: none;
        position: fixed;
        top: 125px;
        left: 0;
        right: 0;
        width: 100%;
    }
    .navbar .middlebar .dropdown-background-cover {
        display: block;
        content: "";
        clear: both;
        background: #000;
        opacity: 0.5;
        width: 100%;
        height: calc(100vh - 125px);
    }
    .navbar .middlebar .dropdown-fullwidth-menu {
        border-bottom: 1px solid #ccc;
        background: #fff;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .navbar .middlebar .dropdown-fullwidth-menu .container {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .navbar .middlebar .dropdown-fullwidth-menu .container li {
        border-left: 1px solid #ccc;
        padding: 20px 10px;
    }
    .navbar .middlebar .dropdown-fullwidth-menu .container li a {
        padding: 0;
        margin: 0 auto;
        display: block;
    }
    .navbar .middlebar .dropdown-fullwidth-menu .container li:last-of-type {
        border-right: 1px solid #ccc;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li a:hover {
        background-color: transparent !important;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li a span i {
        font-size: 32px;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(1) a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(1) a:hover span i,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-girl a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-girl a:hover span i {
        color: #d183ab;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(2) a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(2) a:hover span i,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-boy a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-boy a:hover span i {
        color: #29c1c4;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(3) a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(3) a:hover span i,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-all a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-all a:hover span i {
        color: #988672;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(4) a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(4) a:hover span i,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-create-yourself a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-create-yourself a:hover span i {
        color: #c6b297;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(5) a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li:nth-child(5) a:hover span i,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-envelope a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-envelope a:hover span i {
        color: #888;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li a span {
        display: block;
        text-align: center;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li a span i {
        color: #ccc;
        padding: 40px 0;
    }
    .navbar .middlebar .navbar-search-field {
        border-bottom: none;
        background-color: #29c1c4;
    }
}

@media screen and (min-width: 1200px) {
    .navbar .middlebar .navbar-search-field {
        border-bottom: 1px solid #eee;
        background-color: #fff;
    }
}

@media screen and (max-width: 991px) {
    .navbar .middlebar {
        right: 95px;
    }
    .navbar .collapse {
        background: #fff;
    }
    .navbar .middlebar .middlebar-menu-left li.dropdown>a {
        display: none;
    }
    .navbar .middlebar .middlebar-menu-left li.dropdown ul li a span i {
        display: none;
    }
    .navbar .middlebar .middlebar-menu-right {
        display: none;
    }
    .navbar .middlebar .navbar-search-field {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }
    .navbar .middlebar .navbar-search-field form {
        width: 100%;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        margin: 0;
        padding-left: 10px;
        width: 250px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        margin: 0;
        position: relative;
        margin-right: -10px;
        top: auto;
        left: auto;
    }
}

@media screen and (max-width: 767px) {
    .navbar .middlebar {
        height: 37px;
        right: 60px;
    }
    .navbar .middlebar .navbar-search-field {
        padding: 0 5px;
        height: 40px
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        margin: 0;
        z-index: 999;
        left: 0;
        padding: 0;
        top: 5px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        margin: 5px 0;
        width: 100%;
    }
}

















/* FOOTER ----------------------------------------------------------------------------------------------------------- */

footer {
    margin-top: 40px;
}

.footer-usps {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.footer-usp-text {}

.footer-usp-trust img,
.footer-usp-payment img,
.footer-usp-delivery img {
    margin-left: 10px;
    margin-top: -5px;
}

.footer-menu {
    background: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-menu-left img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.footer-menu-left h4 {
    color: #d183ab;
    text-align: center;
    margin: 10px 0;
}

.footer-menu-left-social {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.footer-menu-left-social-button {
    background: #29c1c4;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin: 10px;
}

.footer-menu-left-social-button i {
    color: #fff;
    font-size: 20px;
}

.footer-menu-middle ul li {
    margin-bottom: 10px;
    text-align: center;
}

.footer-menu-right {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .footer-menu-middle ul li {
        text-align: left;
    }
    .footer-menu-right {
        text-align: left;
    }
}

.footer-menu-middle ul li a {
    color: #000;
}

.footer-menu-right-experiences-grade,
.footer-menu-right-experiences-facts {
    display: inline-block;
}

.footer-menu-right-experiences-grade {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #29c1c4;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.footer-menu-right-experiences-feedback {
    display: block;
    color: #555;
}

.footer-menu-right-experiences-feedback p {
    color: #555;
}

.footer-menu-right-experiences-feedback a {
    color: #29c1c4;
}

.footer-menu-bottom {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer-menu-bottom li {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    display: inline;
}

.footer-menu-bottom li:last-of-type {
    border-right: none;
}

.footer-menu-bottom a {
    color: #555;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-menu .cols {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-menu-left {
        order: 1;
        -webkit-order: 1;
    }
    .footer-menu-middle-1 {
        order: 3;
        -webkit-order: 3;
        margin-top: 20px;
    }
    .footer-menu-middle-2 {
        order: 4;
        -webkit-order: 4;
        margin-top: 20px;
    }
    .footer-menu-right {
        order: 2;
        -webkit-order: 2;
    }
    .footer-usps .footer-usp-trust,
    .footer-usps .footer-usp-payment,
    .footer-usps .footer-usp-delivery {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .footer-usps .footer-usp-trust,
    .footer-usps .footer-usp-payment {
        margin-bottom: 10px;
    }
    .footer-usps .footer-usp-trust img,
    .footer-usps .footer-usp-payment img,
    .footer-usps .footer-usp-delivery img {
        margin-left: 0;
        max-width: 100%;
    }
    .footer-usps .footer-usp-text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-usps .container {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

















/* BUTTONS ---------------------------------------------------------------------------------------------------------- */

.button {
    padding: 12px 20px;
    font-size: 18px;
}

.button-sm {
    padding: 8px 16px;
    font-size: 15px;
}

.button-xlg {
    padding: 15px 75px;
    font-size: 22px;
}

.button-turquoise {
    color: #29c1c4;
    border-color: #29c1c4;
    background: #fff;
}

.button-turquoise:after {
    color: #29c1c4;
}

.button-turquoise:hover {
    background: #29c1c4;
    color: #fff;
    border-color: #fff;
}

.button-turquoise:hover:after {
    color: #fff;
}

.button-pink {
    color: #d183ab;
    border-color: #d183ab;
    background: #fff;
}

.button-pink:after {
    color: #d183ab;
}

.button-pink:hover {
    background: #d183ab;
    color: #fff;
    border-color: #fff;
}

.button-pink:hover:after {
    color: #fff;
}

.button-beige {
    color: #c6b297;
    border-color: #c6b297;
    background: #fff;
}

.button-beige:after {
    color: #c6b297;
}

.button-beige:hover {
    background: #c6b297;
    color: #fff;
    border-color: #fff;
}

.button-beige:hover:after {
    color: #fff;
}

.button-mocca {
    color: #988672;
    border-color: #988672;
    background: #fff;
}

.button-mocca:after {
    color: #988672;
}

.button-mocca:hover {
    background: #988672;
    color: #fff;
    border-color: #fff;
}

.button-mocca:hover:after {
    color: #fff;
}

.button-grey {
    color: #ccc;
    border-color: #ccc;
    background: #fff;
}

.button-grey:after {
    color: #ccc;
}

.button-grey:hover {
    background: #ccc;
    color: #fff;
    border-color: #fff;
}

.button-grey:hover:after {
    color: #fff;
}

















/* HOMEPAGE --------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    #body_home #mid {
        width: 100%;
        max-width: 100%;
    }
    #body_home #categories {
        display: none;
    }
    #body_home #pagecontent {
        width: 100%;
    }
}

.header {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: block;
}

.header h1 {
    color: #29c1c4;
}

.header .header-button {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    box-shadow: 3px 3px 6px #eee;
}

.header .header-button h3 {
    padding: 20px 20px 10px;
}

.header .header-button h5 {
    padding: 15px 0 10px 0;
}

.header .header-button.header-birth-girl h3,
.header .header-button.header-birth-girl h5 {
    color: #d183ab;
}

.header .header-button.header-birth-boy h3,
.header .header-button.header-birth-boy h5 {
    color: #29c1c4;
}

.header .header-button.header-create-yourself h3,
.header .header-button.header-create-yourself h5 {
    color: #c6b297;
}

.header .header-button.header-birth-new h3,
.header .header-button.header-birth-new h5 {
    color: #988672;
}

.header .header-button .header-button-img-card {
    padding: 10px 20px 20px;
}

.header .header-button .header-button-img-fullwidth {
    padding: 0;
}

.header .header-button .header-button-img-card img,
.header .header-button .header-button-img-card img,
.header .header-button .header-button-img-card img {
    box-shadow: 2px 3px 4px #eee;
}

.header .header-button .header-button-img-fullwidth img {
    width: 100%;
}

.header .header-button .header-button-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 6px 4px 5px;
}

.header .header-button .header-button-arrow i {
    color: #fff;
}

.header .header-button.header-birth-girl .header-button-arrow {
    background: #d183ab;
}

.header .header-button.header-birth-boy .header-button-arrow {
    background: #29c1c4;
}

.header .header-button.header-create-yourself .header-button-arrow {
    background: #c6b297;
}

.header .header-button.header-birth-new .header-button-arrow {
    background: #988672;
}

.header .header-button h5 {
    display: none;
}

@media screen and (min-width: 992px) {
    .header {
        padding-top: 60px;
        padding-bottom: 40px;
        width: 100%;
        height: calc(80vh - 115px);
        min-height: 475px;
        background-size: 270vh auto;
        background-position: 65% 100%;
        background-repeat: no-repeat;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .header h1 {
        font-size: 60px;
        line-height: 1.2;
    }
    .header .header-button.birth-girl .header-button-img img,
    .header .header-button.birth-boy .header-button-img img,
    .header .header-button.birth-new .header-button-img img {
        max-height: 120px;
    }
    .header .header-button h3 {
        font-size: 24px;
    }
    .header-usps {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header .header-button h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        background-size: auto 400px;
        background-position: 6% -100px;
    }
    .header h1 {
        font-size: 48px;
        margin-top: 110px;
        margin-bottom: 20px;
    }
    .header .header-buttons .cols {
        margin-top: 20px;
    }
    .header .header-buttons .cols .xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header .header-buttons .header-button {
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button .header-button-img {
        width: 100%;
    }
    .header .header-button .header-button-img img {
        max-width: 100%;
    }
    .header-usps {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        background: #d183ab;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .header-usp-proof,
    .header-usp-delivery {
        margin: 10px 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    .header-usp-delivery {
        margin-left: 10px;
    }
    .header-usp-proof img {
        margin-right: 5px;
        margin-top: -3px;
        width: 20px;
    }
    .header-usp-rating {
        background-color: #fff;
        color: #d183ab;
        border-radius: 50%;
        width: 22px;
        line-height: 22px;
        display: inline-block;
        text-align: center;
    }
    .header-usp-delivery i:after {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .how-it-works {
        display: none;
    }
    .how-it-works-ill,
    .how-it-works-usps,
    .photocard,
    .nicest-cards,
    .sliderBlock {
        display: none !important;
    }
    .babyblog-item img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .header {
        background-size: 150%;
        background-position: calc(71% - -66px) -14vw;
    }
    .header h1 {
        font-size: 36px;
        margin-top: calc(11vw * 2.5 - 108px);
        margin-bottom: 10px;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    }
    .header .header-buttons .cols .xs-6 {
        padding: 10px;
    }
    .header-button {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button h3 {
        display: none;
    }
    .header .header-button h5 {
        text-align: center;
        display: block !important;
    }
    .header .header-button-arrow {
        display: none;
    }
}

.menu-mobile {
    display: none;
}

.menu-mobile ul {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.menu-mobile li {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}

.menu-mobile li a {
    color: #555;
    font-size: 17px;
    font-weight: bold;
}

.menu-mobile li a:after {
    content: '\e003';
    font-family: kcicons;
    float: right;
    color: #888;
}

@media screen and (max-width: 991px) {
    .menu-mobile {
        display: block;
    }
}

.how-it-works-step {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.how-it-works-step:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.how-it-works-step-header {
    font-weight: bold;
    cursor: pointer;
}

.how-it-works-step-header .number {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #d183ab;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}

.how-it-works-step-header .icon {
    color: #d183ab;
    float: right;
}

.how-it-works-step-text {
    padding-left: 38px;
    color: #555;
}

.how-it-works-ill {
    position: relative;
    display: block;
}

.how-it-works-ill-circle {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background: #29c1c4;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    left: 0;
}

.how-it-works-ill-circle-text i {
    display: block;
    margin: 10px 0;
}

.how-it-works-ill-circle-text {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    padding: 15px;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.how-it-works-ill-image {
    width: calc(100% - 90px);
    height: auto;
    position: absolute;
    top: 140px;
    left: 90px;
    border: 3px dashed #d183ab;
    display: block;
}

.how-it-works-ill-image img {
    height: 85%;
    width: auto;
    margin: 2.5% auto;
    display: block;
}

.how-it-works-usps {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: calc(100% - 90px);
    margin-left: 90px;
}

@media screen and (max-width: 1199px) {
    .how-it-works-usps {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.how-it-works-usp-proof,
.how-it-works-usp-delivery {
    margin: 10px 5px;
    color: #d183ab;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 1199px) {
    .how-it-works-usp-proof,
    .how-it-works-usp-delivery {
        margin-bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.how-it-works-usp-proof img,
.how-it-works-usp-delivery img {
    width: 30px;
    margin-right: 5px;
    margin-top: -3px;
}

@media screen and (min-width: 992px) {
    .how-it-works h2 {
        margin-top: 50px;
    }
}

.photocard {
    margin-top: 70px;
    background: #f6f7e7;
    min-height: 200px;
    padding: 30px 0;
}

.photocard .container .cols {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
}

.photocard h2 {
    margin-top: 20px;
}

.photocard .thumbnail-scroller-left i,
.photocard .thumbnail-scroller-right i {
    color: #d183ab;
    font-size: 1.2em;
}

.photocard .thumbnail-scroller .thumbnail-scroller-middle {
    width: 80%;
    margin: 0 auto;
}

.photocard .thumbnail-scroller .cycle-slide {
    margin: 0 20px;
    width: 200px;
    height: 200px;
}

.photocard .button {
    background-color: transparent;
}

.photocard .button:hover {
    background-color: #d183ab;
}

.photocard .photocard-img-right {
    height: calc(100% + 60px);
    width: calc(100% + 15px);
    background-size: cover;
    background-position: center center;
    margin-top: -30px;
    margin-bottom: -30px;
    position: absolute;
    top: 0;
    right: 0;
}

.nicest-cards {
    width: 100%;
}

.nicest-cards .nicest-cards-col {
    padding: 0 30px;
}

.nicest-cards h2 {
    color: #29c1c4;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.nicest-cards .button {
    width: 100%;
}

.sliderBlock {
    position: relative;
    margin-top: 20px;
}

.sliderBlock #pSlide,
.sliderBlock #nSlide {
    position: absolute;
    top: 60px;
}

.sliderBlock #pSlide {
    left: 0;
}

.sliderBlock #nSlide {
    right: 0;
}

.sliderBlock #pSlide:after,
.sliderBlock #nSlide:after {
    font-family: kcicons;
    color: #d183ab;
    font-size: 1.2em;
}

.sliderBlock #pSlide:after {
    content: '\e00A';
}

.sliderBlock #nSlide:after {
    content: '\e008';
}

.slideWrap {
    width: 90%;
    height: 250px;
    margin: 0 auto;
}

.topCards {
    display: none;
}

.create-yourself {
    display: none;
}

@media screen and (min-width: 992px) {
    .create-yourself {
        display: block;
        width: 100%;
        height: 400px;
        background: url(/img/create-yourself-zigzag-pattern.jpg);
        background-repeat: repeat;
    }
    .create-yourself .create-yourself-img {
        position: absolute;
        right: 0;
        width: 50%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .create-yourself h2 {
        color: #29c1c4;
        margin-top: 50px;
        font-size: 46px;
    }
    .create-yourself h4 {
        color: #29c1c4;
        margin-top: 30px;
    }
    .create-yourself .icon {
        display: block;
        font-size: 40px;
        color: #29c1c4;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .create-yourself .button {
        background-color: #fff;
    }
    .create-yourself .button:hover {
        background: #29c1c4;
    }
}

.babyblog .container {
    position: relative;
}

.babyblog {
    width: 100%;
}

.babyblog-header {
    width: 100%;
    height: 110px;
    background: #fff;
    margin-bottom: 20px;
}

.babyblog .babyblog-upper-header {
    display: none;
}

.babyblog .babyblog-header .babyblog-header-button {
    position: relative;
}

.babyblog-header-logo,
.babyblog-header-text,
.babyblog-header-button {
    display: inline-block;
    float: left;
}

.babyblog-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.babyblog-header-text {
    padding-left: 220px;
    padding-top: 10px;
    margin-right: 50px;
    color: #000
}

.babyblog-header-text h5 {
    color: #000;
}

.babyblog-header-button {
    height: 100%;
    position: absolute;
    top: 0;
}

.babyblog-header-button .button-babyblog-header {
    background-color: #d183ab;
    border: 1px solid #fff;
    color: #fff;
    margin: 30px 0;
}

.babyblog-header-button .button-babyblog-header:hover {
    background-color: #fff;
    border: #d183ab;
    color: #d183ab;
}

.babyblog-item {
    margin-top: 30px;
}

.babyblog-item-header {
    color: #d183ab;
    margin-top: 15px;
}

.babyblog-item-date {
    color: #ccc;
    font-size: 0.8em;
}

@media screen and (max-width: 991px) {
    .babyblog .babyblog-upper-header {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
    }
    .babyblog .babyblog-upper-header h3 {
        color: #d183ab;
    }
    .babyblog .babyblog-header {
        height: auto;
    }
    .babyblog .babyblog-header .babyblog-header-logo {
        width: 180px;
    }
    .babyblog .babyblog-header .babyblog-header-logo img {
        width: 100%;
    }
    .babyblog .babyblog-header .babyblog-header-text h5 {
        display: none;
    }
    .babyblog .babyblog-header .babyblog-header-text {
        margin-bottom: 20px;
    }
    .babyblog .babyblog-header .babyblog-header-text p {
        padding: 15px 0;
    }
    .babyblog .babyblog-header .babyblog-header-text p br {
        display: none;
    }
    .babyblog .babyblog-header .babyblog-header-button {
        display: none;
    }
    .babyblog .babyblog-item h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    .babyblog .babyblog-upper-header h3 {
        padding: 0px 0 5px 0;
        /*        border-top: 1px solid #ccc;
*/
    }
    .babyblog .babyblog-header .babyblog-header-text {
        display: block;
        padding-left: 0;
        margin-right: 0;
        padding-top: 150px;
    }
    .babyblog .babyblog-item:first-of-type {
        margin-top: 0;
    }
    .babyblog .babyblog-item h4 {
        width: 65%;
        display: inline-block;
        font-size: 18px;
        margin-top: 0;
        padding-left: 10px;
    }
    .babyblog .babyblog-item img {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    .babyblog .babyblog-item p {
        display: none;
    }
    .babyblog .babyblog-item .button {
        display: none;
    }
}

















/* EDITOR ----------------------------------------------------------------------------------------------------------- */

#body_edit {
    font-family: 'Yantramanav', sans-serif;
}

#body_edit #save_user_design,
#body_edit #save_design,
#body_edit #imageaddformclose,
#body_edit #pt-upload input[type="submit"],
#body_edit #choose_font,
#body_edit #add_photo,
#body_edit #add_text,
#body_edit #position_photo_full,
#body_edit .ui-widget,
#body_bestel_details .ui-widget,
#body_edit .ui-widget input,
#body_edit .ui-widget select,
#body_edit .ui-widget textarea,
#body_edit .ui-widget button,
#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label,
#body_edit .sp-preview .sp-preview-inner,
#body_edit .sp-container,
#body_edit .sp-container button,
#body_edit .sp-container input,
#body_edit .sp-color,
.sp-hue,
#body_edit #imagelist .pages,
#body_edit #patternlist .pages,
#body_edit #clipartlist .pages,
#body_edit #imagelist .head a,
#body_edit #patternlist .head a,
#body_edit #clipartlist .head a,
#body_edit #order_card,
#body_edit #step_forward_alternate,
#body_edit #step_back,
#body_bestel_details input[type=text],
#body_basket .button,
#body_basket input[type="text"],
#body_basket #nav_buttons a:nth-child(2),
#body_address_n input[type="text"],
#body_address_n #step_back,
#body_address_n #step_forward,
#body_eigen_collectie #step_back,
body#body_kaarttype .info_div_content,
#body_kaarttype .choice_div a .button,
#body_kaarttype #step_back {
    font-family: 'Yantramanav', sans-serif;
}

#body_edit #header,
#body_voorbeeld #header,
#body_keuze #header,
#body_bestel_details #header,
#body_basket #header,
#body_address_n #header,
#body_eigen_collectie #header,
#body_kaarttype #header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#body_kaarttype #header {
    padding-top: 0;
}

#body_edit .container,
#body_voorbeeld .container,
#body_keuze .container,
#body_bestel_details .container,
#body_basket .container,
#body_address_n .container,
#body_eigen_collectie .container,
#body_kaarttype .container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}

#body_edit .navbar .middlebar,
#body_voorbeeld .navbar .middlebar,
#body_keuze .navbar .middlebar,
#body_bestel_details .navbar .middlebar,
#body_basket .navbar .middlebar,
#body_address_n .navbar .middlebar,
#body_eigen_collectie .navbar .middlebar,
#body_kaarttype .navbar .middlebar {
    border-bottom: none;
}

#body_edit #pagecontent,
#body_voorbeeld #pagecontent,
#body_keuze #pagecontent,
#body_bestel_details #pagecontent,
#body_basket #pagecontent,
#body_address_n #pagecontent,
#body_eigen_collectie #pagecontent,
#body_kaarttype #pagecontent {
    border-radius: 0;
}

#body_basket #pagecontent,
#body_address_n #pagecontent {
    margin-bottom: 50px;
}

#body_edit label {
    font-weight: normal;
}

#body_edit #accordion {
    border: 1px solid #eee;
    border-radius: 0;
}

#body_edit .ui-accordion-header a {
    background: #eee;
    color: #555 !important;
    padding: 2px 5px 2px 10px !important;
    border-top: 1px solid #fff;
    font-weight: normal !important;
}

#body_edit .ui-accordion-header a:hover {
    background: #29c1c4;
    color: #fff !important;
}

#body_edit .ui-accordion-header:first-child a {
    border-radius: 0;
}

#body_edit #add_photo {
    margin-top: 0;
}

#body_edit button,
#body_edit #save_design,
#body_edit #add_photo,
#body_edit #choose_font,
#body_edit #add_text,
#body_edit #clipartselect,
#body_edit #imageselect,
#body_edit #patternselect,
#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label {
    font-size: 13px !important;
    line-height: 1.6875em;
    color: #29c1c4;
    background-color: #fff;
    border: 1px solid #29c1c4;
    border-radius: 0;
    padding: 5px 10px;
    height: auto;
    cursor: pointer;
}

#body_edit #choose_font {
    color: #29c1c4 !important;
    height: 26px;
}

#body_edit #patternselect {
    height: 26px;
    padding: 3px 10px;
    width: 209px;
}

#body_edit #save_user_design,
#body_edit #save_design_to_other_user,
#body_edit #convert_card_format_wrap {
    color: #fff;
    background-color: #29c1c4;
    border-color: #29c1c4;
}

#body_edit #position_photo_full .ui-button-text {
    color: #fff;
}

#body_edit #save_user_design,
#body_edit #save_design_to_other_user {
    width: 100%;
    margin-bottom: 10px;
}

#body_edit button:hover,
#body_edit #save_design:hover,
#body_edit #add_photo:hover,
#body_edit #choose_font:hover,
#body_edit #add_text:hover,
#body_edit #clipartselect:hover,
#body_edit #imageselect:hover,
#body_edit #patternselect:hover {
    background: #29c1c4;
    color: #fff;
}

#body_edit #choose_font:hover {
    color: #fff !important;
}

#body_edit #save_user_design:hover,
#body_edit #save_design_to_other_user:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_edit #background_type_pattern_label.ui-state-active,
#body_edit #background_type_color_label.ui-state-active,
#body_edit #background_type_pattern_label.ui-state-hover,
#body_edit #background_type_color_label.ui-state-hover {
    background: #29c1c4;
    color: #fff;
}

#body_edit #txt_align_left_label,
#body_edit #txt_align_center_label,
#body_edit #txt_align_right_label,
#body_edit #txt_align_justify_label,
#body_edit #txt_align_top_label,
#body_edit #txt_align_middle_label,
#body_edit #txt_align_bottom_label {
    height: 25px;
    width: 30px;
    margin-right: 2px;
    background-color: #fff;
    border: 1px solid #29c1c4;
}

#body_edit .ed-icon-align-left,
#body_edit .ed-icon-align-center,
#body_edit .ed-icon-align-right,
#body_edit .ed-icon-align-justify,
#body_edit .ed-icon-align-top,
#body_edit .ed-icon-align-center-1,
#body_edit .ed-icon-align-bottom {
    display: inline-block !important;
}

#body_edit .ed-icon-align-left:after,
#body_edit .ed-icon-align-center:after,
#body_edit .ed-icon-align-right:after,
#body_edit .ed-icon-align-justify:after,
#body_edit .ed-icon-align-top:after,
#body_edit .ed-icon-align-center-1:after,
#body_edit .ed-icon-align-bottom:after {
    font-family: kcicons;
    color: #29c1c4;
    font-size: 18px;
}

#body_edit .ed-icon-align-left:after {
    content: '\e027';
}

#body_edit .ed-icon-align-center:after {
    content: '\e025';
}

#body_edit .ed-icon-align-right:after {
    content: '\e02A';
}

#body_edit .ed-icon-align-justify:after {
    content: '\e026';
}

#body_edit .ed-icon-align-top:after {
    content: '\e024';
}

#body_edit .ed-icon-align-center-1:after {
    content: '\e023';
}

#body_edit .ed-icon-align-bottom:after {
    content: '\e022';
}

#body_edit #position_txt_tofront,
#body_edit #position_txt_toback,
#body_edit #position_photo_tofront,
#body_edit #position_photo_toback {
    width: 30px;
    height: 25px;
    background-color: #fff;
    padding: 0;
}

#body_edit .sp-container button {
    background-image: none;
}

#body_edit .sp-button-container {
    padding-top: 90px;
}

#body_edit .sp-palette .sp-thumb-el:hover,
#body_edit .sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: #d183ab;
}

#body_edit #position_photo_tofront,
#body_edit #position_photo_toback,
#body_edit #position_txt_tofront,
#body_edit #position_txt_toback {
    border: none;
}

#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label {
    display: block;
    float: left;
    width: auto;
}

#body_edit #photolist img,
#body_edit #imagelist img,
#body_edit #patternlist img,
#body_edit #clipartlist img {
    border: solid 1px #ccc;
}

#body_edit .ui-state-default,
#body_edit .ui-widget-content .ui-state-default,
#body_edit .ui-widget-header .ui-state-default {
    background: #29c1c4;
}

#body_edit .edittable td {
    padding: 5px 0;
    height: auto;
}

#body_edit .sp-replacer {
    border-color: #29c1c4;
    background: #fff;
    color: #29c1c4;
}

#body_edit #fg_img_select .sp-replacer {
    margin-top: -12px;
}

#body_edit .sp-preview {
    top: 0;
    left: 0;
}

#body_edit .edit-div {
    font-size: 13px;
}

#body_edit .sp-preview .sp-preview-inner {
    font-size: 13px;
    height: auto;
    padding: 5px 10px;
    line-height: 1;
}

#body_edit .sp-preview .sp-preview-inner:hover {
    border-color: #29c1c4;
    background-color: #29c1c4;
    color: #fff;
}

#body_edit .sp-replacer:hover,
.sp-replacer.sp-active,
#body_edit .sp-container {
    border-color: #29c1c4;
    background-color: #fff;
}

#body_edit .sp-palette-container {
    border-color: #29c1c4;
}

#body_edit .ui-button-text {
    padding: 0;
}

#body_edit .sp-input {
    font-size: 13px !important;
}

#body_edit .sp-initial,
#body_edit .sp-input {
    border-color: #ccc;
    border-radius: 0;
}

#body_edit input[type="text"] {
    width: 100%;
}

#body_edit #save_design_to_other_user_form hr,
#body_edit #save_design_form_wrapper {
    display: none;
}

#body_edit select#designer_code,
#body_edit select#category {
    width: 100%;
}

#body_edit select {
    border-color: #29c1c4;
    color: #29c1c4;
    padding: 5px 10px;
}

#body_edit #card_design_input_alert,
#body_edit #card_design_input span,
#body_edit #card_design_input_alert_other_user {
    color: #d183ab !important;
    font-size: 16px;
    font-weight: bold;
}

#body_edit .convert_cardtype {
    padding: 12px 20px;
    font-size: 16px;
    width: auto;
    text-align: center;
    display: inline-block;
    background: #d183ab;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    line-height: 1;
    font-weight: normal;
}

#body_edit .convert_cardtype:hover {
    background: #fff;
    border: 1px solid #d183ab;
    color: #d183ab;
}

#body_edit #save_design_form_wrapper {
    display: block;
}

#body_edit #save_design {
    margin-top: 10px;
}

#body_edit #order_card,
#body_voorbeeld #step_forward,
#body_edit #step_forward,
#body_bestel_details #step_forward,
#body_address_n #step_forward {
    background: #29c1c4;
    border: 1px solid #29c1c4;
    border-radius: 0;
    margin-top: 20px !important;
    height: auto;
    padding: 12px 20px;
    line-height: 1;
    font-size: 18px;
}

#body_edit #order_card:after,
#body_voorbeeld #step_forward:after,
#body_edit #step_forward:after,
#body_bestel_details #step_forward:after,
#body_address_n #step_forward:after {
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
}

#body_edit #order_card:hover,
#body_voorbeeld #step_forward:hover,
#body_bestel_details #step_forward:hover,
#body_edit #step_forward:hover,
#body_address_n #step_forward:hover {
    background: #fff;
    color: #29c1c4 !important;
}

#body_edit #step_back,
#body_voorbeeld #step_back,
#body_keuze #step_back,
#body_bestel_details #step_back,
#body_edit #step_forward_alternate,
#body_address_n #step_back,
#body_eigen_collectie #step_back,
#body_kaarttype #step_back {
    font-size: 16px;
    line-height: 1;
    color: #d183ab;
    margin-top: 30px;
}

#body_edit #step_back,
#body_voorbeeld #step_back,
#body_keuze #step_back,
#body_bestel_details #step_back,
#body_address_n #step_back,
#body_eigen_collectie #step_back,
#body_kaarttype #step_back {
    padding-left: 0;
    margin-left: 0;
}

#body_voorbeeld h1,
#body_keuze h1,
#body_bestel_details h1,
#body_basket h1,
#body_address_n h1,
#body_eigen_collectie h1,
#body_kaarttype h1 {
    font-size: 36px !important;
}

#body_voorbeeld .choice_center {
    margin-top: 0;
}

#body_voorbeeld #savecardModal .modal-body p {
    font-size: 16px;
}

#body_voorbeeld #savecardModal .modal-field-group label {
    font-size: 16px;
}

#body_voorbeeld #savecardModal .modal-field-group .modal-field-input {
    border-radius: 0;
    font-family: 'Yantramanav', sans-serif;
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    height: auto;
}

#body_voorbeeld #savecardModal .modal-button-group .modal-button {
    padding: 12px 20px;
    border: 1px solid #29c1c4;
    border-radius: 0;
    height: auto;
    font-weight: bold;
    color: #29c1c4;
}

#body_voorbeeld #savecardModal .modal-button-group .modal-button:hover {
    background-color: #29c1c4;
    color: #fff;
}

#body_bestel_details h2,
#body_address_n h3 {
    font-size: 20px;
}

#body_bestel_details h1,
#body_address_n h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #29c1c4;
    padding-bottom: 20px;
    font-size: 24px !important;
}

@media screen and (min-width: 600px) {
    #body_bestel_details h1,
    #body_address_n h1 {
        font-size: 36px !important;
    }
}

#body_keuze .img_div {
    height: 160px;
    border-color: #ccc;
    background: #fafafa;
    border-radius: 0;
}

#body_keuze .img_div:hover {
    border: 3px solid #29c1c4;
}

#body_keuze .proefdruk .content,
#body_keuze .kaartenVoor .content,
#body_keuze .envVooraf .content,
#body_keuze .direct_shipment .content {
    border-radius: 0;
}

#body_keuze .proefdruk .button-success,
#body_keuze .kaartenVoor .button-success,
#body_keuze .envVooraf .button-success,
#body_keuze .direct_shipment .button-success {
    border-radius: 0;
    border: 1px solid #29c1c4;
    height: auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #29c1c4;
}

#body_keuze .proefdruk .button-success:hover,
#body_keuze .kaartenVoor .button-success:hover,
#body_keuze .envVooraf .button-success:hover,
#body_keuze .direct_shipment .button-success:hover {
    background-color: #29c1c4;
    color: #fff;
}

@media screen and (min-width: 992px) {
    #body_keuze .proefdruk,
    #body_keuze .kaartenVoor,
    #body_keuze .envVooraf,
    #body_keuze .direct_shipment {
        float: left !important;
    }
}

#body_bestel_details .topbar-menu-right li {
    background-color: transparent;
}

#body_bestel_details #leftdiv {
    margin-left: -15px;
}

#body_bestel_details #leftdiv cardsize-dropdown .row {
    border-top: none;
}

#body_bestel_details #leftdiv cardsize-dropdown .row .thumb-container img {
    width: 130%;
    max-width: 130%;
    margin-top: -50%;
    margin-left: -15%;
}

#body_bestel_details #leftdiv paper-dropdown .row .thumb-container img {
    width: 70%;
    max-width: 70%;
}

#body_bestel_details #leftdiv envelope-dropdown .row .thumb-container img {
    width: 70%;
    max-width: 70%;
}

#body_bestel_details #card_size_and_count {
    border-top: none;
    border-bottom: none;
}

#body_bestel_details .ui-state-default {
    border-radius: 0;
    border-color: #29c1c4;
}

#body_bestel_details .ui-widget {
    font-size: 16px;
    line-height: 1;
    color: #555;
}

#body_bestel_details .ui-selectmenu-text {
    height: auto;
}

#body_bestel_details .ui-menu-item:hover,
#body_bestel_details .ui-state-focus {
    border-top: none;
}

#body_bestel_details input[type=text] {
    border-color: #ccc;
    padding: 5px 10px;
    width: auto;
    float: left;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

#body_bestel_details #column2 h3 {
    display: none;
}

#body_bestel_details #price_table_wrapper {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 10px !important;
}

#body_bestel_details #price_table {
    font-size: 14px;
}

#body_bestel_details #price_table th {
    color: #555;
    font-weight: normal;
}

#body_bestel_details .border-below th {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

#body_bestel_details .count_span,
#body_bestel_details .envelope_count_span,
#body_bestel_details .card_size_name,
#body_bestel_details .papiersoort,
#body_bestel_details .envelope_size_name,
#body_bestel_details .enveloppen {
    font-style: normal;
}

#body_bestel_details .fat-border-below {
    border-color: #555;
}

#body_basket .line {
    border-color: #29c1c4;
}

#body_basket #basket_n .button {
    color: #d183ab !important;
}

#body_basket #nav_buttons a:nth-child(2) {
    color: #d183ab;
    height: auto;
    width: auto;
    padding: 12px 20px;
    margin-left: 0;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #d183ab;
    border-radius: 0;
    line-height: 1;
}

#body_basket #nav_buttons a:nth-child(2):hover {
    background-color: #d183ab!important;
    color: #fff;
    text-decoration: none;
}

#body_basket #nav_buttons .forward-button {
    background-color: #29c1c4;
    border: 1px solid #29c1c4;
    color: #fff;
    width: auto;
    height: auto;
    border-radius: 0;
    font-weight: normal;
}

#body_basket #nav_buttons .forward-button:after {
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
}

#body_basket #nav_buttons .forward-button:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_address_n #left_div {
    border-right: 1px solid #29c1c4 !important;
}

@media screen and (min-width: 768px) {
    #body_address_n #left_div {
        width: 75%;
    }
}

#body_address_n #left_div table hr {
    display: none;
}

#body_address_n #left_div table {
    border-bottom: 1px solid #29c1c4 !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#body_address_n #left_div table:last-of-type {
    border-bottom: none !important;
}

#body_address_n #left_div table td {
    padding-left: 0;
}

#body_address_n #pagecontent hr {
    background: #29c1c4;
}

#body_address_n .terms_and_conditions {
    margin-left: 15px;
}

#body_address_n label[for="save_address"],
#body_address_n label[for="nieuwsbrief"],
#body_address_n .terms_and_conditions span {
    font-size: 14px !important;
    line-height: 1.2;
}

#body_address_n .delivery_promise {
    line-height: 1.2;
    margin-top: 10px;
}

#body_address_n #left_div input[type="text"] {
    width: 100%;
}

#body_address_n .warning_message {
    color: #d183ab;
    font-weight: bold;
}

body#body_kaarttype {
    background: #fff;
}

#body_kaarttype #pagecontent h1 {
    padding-bottom: 0;
}

#body_kaarttype .choice_div a .button {
    font-size: 18px;
    line-height: 1;
    background-image: none;
    border: 1px solid #29c1c4;
    color: #29c1c4;
    padding: 12px 20px;
    display: inline-block;
    height: 62px;
    vertical-align: middle;
}

#body_kaarttype .choice_div a .button:hover {
    background-color: #29c1c4;
    color: #fff;
}

#body_kaarttype #step_back:before {
    content: '';
}

















/* ACCOUNT, CONTACT, LOGIN ------------------------------------------------------------------------------------------ */

#body_contact #mid {
    padding: 20px 0;
}

#body_account #pagecontent {
    width: 100%;
}

#body_account_address .button-success,
#body_account_password .button-success,
#body_account_nieuwsbrief .button-success,
#body_account_adresboek .button-success,
#body_login .button-success,
#body_account_address .button-primary,
#body_account_password .button-primary,
#body_account_nieuwsbrief .button-primary,
#body_account_adresboek .button-primary,
#body_login .button-primary,
#body_account_address input,
#body_account_password input,
#body_account_nieuwsbrief input,
#body_account_adresboek input,
#body_login input {
    font-family: 'Yantramanav', sans-serif;
}

#body_account #categories,
#body_account_orders #categories,
#body_account_settings #categories,
#body_account_address #categories,
#body_account_password #categories,
#body_account_nieuwsbrief #categories,
#body_account_adres_import #categories,
#body_account_adresboek #categories {
    display: none;
}

#body_account_orders #pagecontent,
#body_account_settings #pagecontent,
#body_account_address #pagecontent,
#body_account_password #pagecontent,
#body_account_nieuwsbrief #pagecontent,
#body_account_adresboek #pagecontent {
    width: 100%;
}

#body_account_orders .list-vertical li ul li a,
#body_account_settings .list-vertical li ul li a,
#body_account_address .list-vertical li ul li a,
#body_account_password .list-vertical li ul li a,
#body_account_nieuwsbrief .list-vertical li ul li a,
#body_account_adresboek .list-vertical li ul li a {
    color: #29c1c4;
}

#body_account_orders .list-vertical li ul,
#body_account_settings .list-vertical li ul,
#body_account_address .list-vertical li ul,
#body_account_password .list-vertical li ul,
#body_account_nieuwsbrief .list-vertical li ul,
#body_account_adresboek .list-vertical li ul {
    border-left: 1px solid #29c1c4;
}

#body_account_orders #pagecontent h1,
#body_account_settings #pagecontent h1,
#body_account_address #pagecontent h1,
#body_account_password #pagecontent h1,
#body_account_nieuwsbrief #pagecontent h1,
#body_account_adresboek #pagecontent h1 {
    font-size: 36px;
    margin-top: 10px;
}

#body_account_address #pagecontent h2,
#body_account_password #pagecontent h2,
#body_account_nieuwsbrief #pagecontent h2,
#body_account_adresboek #pagecontent h2,
#body_login h2 {
    font-size: 20px;
}

#body_account_orders #step_back,
#body_account_settings #step_back,
#body_account_password #step_back {
    margin: 10px 0 20px 0;
    color: #d183ab;
    display: inline-block;
    font-weight: normal;
}

#body_account_settings .button-block a,
#body_account .button-block a {
    background-color: #fafafa;
}

#body_account_settings .button-block a:hover,
#body_account .button-block a:hover {
    background-color: #e4e4e4;
}

#body_account_settings .button-block a .button-block-title,
#body_account .button-block a .button-block-title {
    color: #555;
}

#body_account_address select.field-input,
#body_account_adresboek select.field-input,
#body_login select.field-input {
    background-color: #fafafa;
}

#body_account_address .button-success,
#body_account_password .button-success,
#body_account_nieuwsbrief .button-success,
#body_account_adresboek .button-success {
    border: 1px solid #29c1c4;
    color: #fff;
    background: #29c1c4;
}

#body_account_address .button-success:hover,
#body_account_password .button-success:hover,
#body_account_nieuwsbrief .button-success:hover,
#body_account_adresboek .button-success:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_account_adresboek .field-group .md-offset-3 {
    margin-left: 33.3333%;
}

#body_contact h1 {
    font-size: 36px;
}

#body_contact h2 {
    font-size: 20px;
}

#body_contact input#email,
#body_contact input#subject,
#body_contact textarea#message {
    width: 100%;
    height: auto;
    padding: 12px;
}

#body_login .buttonr,
#body_login .button-primary {
    background: #29c1c4;
    color: #fff;
    padding: 12px 20px;
    margin: 10px 0 40px 0;
    border: 1px solid #29c1c4;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
}

#body_login .buttonr:hover,
#body_login .button-primary:hover {
    background: #fff;
    color: #29c1c4;
}

#body_keuze span.button {
    color: #555;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    #body_voorbeeld .choice_center {
        width: 100%;
    }
    #body_voorbeeld .choice_center h1 {
        margin-top: 10px;
        font-size: 20px!important;
    }
}

















/* DESIGN PAGE ------------------------------------------------------------------------------------------------------ */

#body_design #categories {
    display: none;
}

#body_design #pagecontent {
    width: calc(100% - 10px);
}

.swiper-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    #body_design #pagecontent {
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 767px) {
    #body_design .crumb-mobile,
    #body_product .crumb-mobile {
        position: relative;
        top: initial;
    }
}

#design_title {
    padding: 0px;
}

#body_design #crumbs,
#body_product #crumbs {
    margin-top: 10px;
    font-size: 14px;
    color: #29c1c4;
}

#body_design #crumbs a,
#body_product #crumbs a {
    color: #000;
}

#body_design #crumbs a span.crumb-home:after,
#body_product #crumbs a span.crumb-home:after {
    vertical-align: text-bottom;
}

#body_design #crumbs .crumb-mobile-label,
#body_product #crumbs .crumb-mobile-label {
    font-size: 16px;
    color: #29c1c4;
}

#body_design #crumbs .crumb-mobile:before,
#body_product #crumbs .crumb-mobile:before {
    font-family: kcicons;
    color: #29c1c4;
    content: '\e00A';
}

#body_design .swiper-container-horizontal,
#body_product .swiper-container-horizontal {
    min-height: 400px;
}

#body_design .swiper-slide .img-responsive,
#body_product .swiper-slide .img-responsive {
    max-width: 100%;
    width: auto;
}

#body_design .design-content,
#body_product .design-content {
    margin-left: 0;
    margin-right: 0;
}

#body_design h1,
#body_product h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

#body_design .button-group-justified,
#body_product .button-group-justified {
    margin: 30px 0 15px 0;
}

#body_design #choose_preview,
#body_product #add_product_to_basket {
    border-radius: 0;
    background-color: #d183ab;
    border-color: #d183ab;
    width: auto;
    display: block;
    padding: 15px;
}

#body_design #choose_preview:hover,
#body_product #add_product_to_basket:hover {
    border-color: #d183ab;
    background-color: #fff;
    color: #d183ab;
}

#body_design #choose_preview i,
#body_product #add_product_to_basket i {
    display: none;
}

#body_design #choose_preview:after,
#body_product #add_product_to_basket:after {
    border-radius: 0;
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
    vertical-align: -2.5px;
}

#body_design .add_to_collection,
#body_design .open_calculator,
#body_product .add_to_collection,
#body_product .open_calculator {
    border-radius: 0;
    border-color: #888;
    margin-top: 20px;
}

#body_design .add_to_collection:hover,
#body_design .open_calculator:hover,
#body_product .add_to_collection:hover,
#body_product .open_calculator:hover {
    border-color: #d183ab;
}

#body_design .add_to_collection a,
#body_design .add_to_collection i,
#body_design .open_calculator a,
#body_design .open_calculator i,
#body_product .add_to_collection a,
#body_product .add_to_collection i,
#body_product .open_calculator a,
#body_product .open_calculator i {
    color: #555;
}

#body_design .add_to_collection:hover a,
#body_design .add_to_collection:hover i,
#body_design .open_calculator:hover a,
#body_design .open_calculator:hover i,
#body_product .add_to_collection:hover a,
#body_product .add_to_collection:hover i,
#body_product .open_calculator:hover a,
#body_product .open_calculator:hover i {
    color: #d183ab;
}

#body_design .open_calculator,
#body_product .open_calculator {
    padding: 8px 15px 8px 45px;
}

#body_design .open_calculator i,
#body_product .open_calculator i {
    width: 20px;
    font-size: 20px;
    margin-left: -30px;
    margin-right: 10px;
}

#body_design .open_calculator .openPrijsCalculator,
#body_product .open_calculator .openPrijsCalculator {
    text-transform: none;
    font-size: 16px;
}

#body_design .proefDrukPrijs,
#body_product .proefDrukPrijs {
    display: none;
}

#body_product #product-pricing label {
    display: block;
}

#body_product #product-choose-amount {
    width: 45px;
    text-align: center;
    padding: 6px 0px;
}

#body_product #product-amount {
    margin-right: 5px;
}


#body_design .desUsp,
#body_product .product-usp {
    background-color: #fbfbfb;
    border-radius: 0;
    padding: 15px 20px;
}

#body_design .desUsp a,
#body_product .product-usp a {
    padding: 5px 0;
    display: block;
    margin-left: 30px;
}

#body_design .desUsp img,
#body_product .product-usp img {
    margin-right: 10px;
    width: 20px;
    margin-left: -30px;
    padding: 0px;
}

#body_design table.prijsOf,
#body_product table.prijsOf {
    border: none;
}

#body_design table.prijsOf td,
#body_product table.prijsOf td {
    border: none;
    padding: 0 10px 0 0;
    position: relative;
}

#body_design table.prijsOf td.priceInfoTd:before,
#body_product table.prijsOf td.priceInfoTd:before {
    color: #888;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover,
#body_product table.prijsOf td.priceInfoTd div.priceHover {
    display: none;
    z-index: 500;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 270px;
    -webkit-box-shadow: 0 0 5px 0 #555;
    box-shadow: 0 0 5px 0 #555
}

#body_design table.prijsOf td.priceInfoTd:hover div.priceHover,
#body_product table.prijsOf td.priceInfoTd:hover div.priceHover {
    display: block;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName,
#body_product table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName {
    width: 220px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice,
#body_product table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice {
    width: 150px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after,
#body_product table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after {
    content: ' p/st';
    vertical-align: top;
}

#body_design table.prijsOf td.priceInfoTd:before,
#body_product table.prijsOf td.priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}

#body_design .priceHover,
#body_product .priceHover {
    display: none;
}

#body_design .priceHover table,
#body_product .priceHover table {
    border: none;
}

#body_design #card_previews_horizontal,
#body_product #card_previews_horizontal {
    height: 300px;
    padding: 30px 0;
    width: auto;
    overflow: hidden;
    position: relative;
}

#body_design #card_previews_horizontal p,
#body_product #card_previews_horizontal p {
    font-size: 22px;
    text-align: center;
    color: #555;
    padding-top: 30px;
    border-top: solid 1px #ccc;
}

#body_design #card_previews_horizontal #inner,
#body_product #card_previews_horizontal #inner {
    height: 200px;
    overflow: hidden;
    display: block;
}

#body_design #prev_page,
#body_design #next_page,
#body_product #prev_page,
#body_product #next_page {
    display: inline;
    position: absolute;
    top: 120px;
}

#body_design #next_page,
#body_product #next_page {
    right: 0;
}

#body_design #prev_page:after,
#body_design #next_page:after,
#body_product #prev_page:after,
#body_product #next_page:after {
    font-family: kcicons;
    color: #d183ab;
    font-size: 20px;
}

#body_design #prev_page:after,
#body_product #prev_page:after {
    content: '\e00A';
}

#body_design #next_page:after,
#body_product #next_page:after {
    content: '\e008';
}

#body_design .add_to_collection,
#body_product .add_to_collection {
    padding: 5px 8px 5px 4px;
}

#body_design .add_to_collection i,
#body_product .add_to_collection i {
    font-size: 22px;
}

@media screen and (max-width: 767px) {
    #body_design .swiper-container-horizontal,
    #body_product .swiper-container-horizontal {
        min-height: 200px;
    }
    #body_design #design_title,
    #body_product #design_title {
        margin-top: 20px;
        font-size: 22px !important;
        color: #555;
        font-family: 'Yantramanav', sans-serif !important;
    }
    #body_design .design-content,
    #body_product .design-content {
        padding-top: 0;
    }
    #body_design #description-tablet {
        border-top: none;
    }
    #body_design #choose_preview,
    #body_design .add_to_collection,
    #body_product #choose_preview,
    #body_product .add_to_collection {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #body_design #env-select-left,
    #body_product #env-select-left {
        display: block;
    }
}
















/* FAVOURITES ------------------------------------------------------------------------------------------------------- */

.no-y-scroll {
    overflow-y: hidden !important;
}

.favorites_dynamic_panel {
    position: fixed;
    z-index: 99999;
    top: 0px;
    right: -440px;
    bottom: 0px;
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px 0 #525252;
    box-shadow: 0 0 5px 0 #525252;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow-y: auto;
}

.favorites_dynamic_panel.open {
    right: 0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.close_dynamic_favorites {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: normal;
}

.favorites_dynamic_title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.favorites_dynamic_item {
    width: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 240px;
    position: relative;
}

.favorites_dynamic_item a.favorite-button {
    display: block;
    text-align: center;
}

















/* PAGES ------------------------------------------------------------------------------------------------------------ */

#body_geboortekaartjes #crumbs {
    display: none;
}

#body_geboortekaartjes .header h2 {
    color: #29c1c4;
    font-size: 60px;
    line-height: 1.1;
}

@media screen and (min-width: 992px) {
    #body_geboortekaartjes .header {
        background-size: 210vh;
        padding-top: 20px;
        background-position: 65% 90%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #body_geboortekaartjes .header {
        height: calc(96vh - 125px);
        background-size: 220vh;
        padding-top: 10px;
        background-position: 70% 95%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 991px) {
    #body_geboortekaartjes .header {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    #body_geboortekaartjes .header h2 {
        margin-top: 160px;
        margin-bottom: 26px;
        font-size: 48px;
    }
}

@media screen and (max-width: 767px) {
    #pagebody {
        line-height: 1.4em;
    }
    #body_geboortekaartjes .header {
        margin-top: 75px;
        margin-bottom: 0px;
    }
    #body_geboortekaartjes .header h2 {
        font-size: 36px;
        margin-top: calc(19vw * 2.5 - 108px);
        margin-bottom: 10px;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    }
    #body_geboortekaartjes #mid {
        margin-top: 0;
    }
}

.page #pagebody #crumbs {
    display: none;
    margin: 0 auto;
}

.open_mobile_filter {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {
    .page #pagebody #crumbs {
        display: block;
        margin-left: calc(-25% - 60px);
        position: absolute;
        left: 0;
        height: 20px;
        margin-top: 10px;
        font-size: 14px;
        opacity: 0.5;
        transition: opacity 0.2s;
    }
    .page #pagebody #crumbs:hover {
        opacity: 1;
    }
}

.page#body_home #pagebody .custom_content {
    padding-top: 0;
}

.page #categories {
    padding-top: 60px;
}


.top-block a {
    color: #29c1c4;
    ;
}

.top-block a:hover {
    color: #888;
}

.top-block .top-block-border-bottom {
    border-bottom: 1px solid #ccc;
    margin: 15px 15px 0 15px;
    width: calc(100% - 30px);
    line-height: 1px;
    display: none;
}

@media screen and (min-width: 992px) {
    .top-block .top-block-border-bottom {
        display: block;
    }
}

#body_geboortekaartjes-jongen .img-icon,
#body_geboortekaartjes-meisje .img-icon,
#body_geboortekaartje-zusje .img-icon,
#body_geboortekaartje-broertje .img-icon,
#body_nieuwe-geboortekaartjes .img-icon,
#body_alle-geboortekaartjes .img-icon,
#body_populaire-geboortekaartjes .img-icon,
#body_stoere-geboortekaartjes .img-icon,
#body_geboortekaartjes-dieren .img-icon,
#body_geboortekaartje-met-foto .img-icon,
#body_sluitzegels .img-icon {
    display: none;
}

@media screen and (min-width: 992px) {
    #body_geboortekaartjes-jongen .img-icon,
    #body_geboortekaartjes-meisje .img-icon,
    #body_geboortekaartje-zusje .img-icon,
    #body_geboortekaartje-broertje .img-icon,
    #body_nieuwe-geboortekaartjes .img-icon,
    #body_alle-geboortekaartjes .img-icon,
    #body_populaire-geboortekaartjes .img-icon,
    #body_stoere-geboortekaartjes .img-icon,
    #body_geboortekaartjes-dieren .img-icon,
    #body_geboortekaartje-met-foto .img-icon,
    #body_sluitzegels .img-icon {
        display: block;
    }
}

.img-icon {
    width: 100%;
    position: relative;
    margin-top: -46px;
}

#body_alle-geboortekaartjes .img-icon {
    margin-top: -95px;
}

.img-icon-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px 2px 0 0;
}

.img-icon img {
    width: 100%;
}

.img-icon-icon.img-icon-boy {
    background: #29c1c4;
}

.img-icon-icon.img-icon-girl {
    background: #d183ab;
}

.img-icon-icon:after {
    font-family: kcicons;
    color: #fff;
    font-size: 24px;
}

.img-icon-icon.img-icon-boy:after {
    content: 'l';
}

.img-icon-icon.img-icon-girl:after {
    content: 'n';
}

#crumbs a span.crumb-home:after {
    font-family: kcicons;
    content: 'x';
    font-size: 16px;
    line-height: 1.4;
    vertical-align: middle;
}

#card_previews .thumbnail-card .thumbnail-card-img a img {
    max-width: 100%;
}

.page form {
    width: calc(100% - 0px);
    padding-left: 15px;
    padding-right: 15px;
}

.open_mobile_filter,
.open_mobile_filter.mobile_filter_btn {
    background: #29c1c4;
    border-color: #29c1c4;
}

.open_mobile_filter.floater {
    background: #29c1c4;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 991px) {

    .sort_options .sort_options-dropdown {
        background: #fff;
        border-color: #ddd;
        color: #aaa;
    }
}

.env-wrap {
    margin: 40px 0;
}

.env-wrap .env-item {
    text-align: center;
    margin-bottom: 10px;
}

.env-wrap .env-item img {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.env-wrap .env-item .env-title {
    display: block;
}

.faq-header {
    color: #29c1c4;
    margin-top: 30px;
}

.faq-question {
    font-weight: 700;
}

.faq-question .icon {
    color: #29c1c4;
    font-size: 10px;
}

















/* WIDGET MENU ------------------------------------------------------------------------------------------------------ */

#sidebar {
    color: #555;
    border-top: 1px solid #ccc;
}

#sidebar .sidebar_widget h3 {
    font-size: 18px;
}

#sidebar #filter_cards h3 {
    display: inline;
}

#sidebar #filter_cards>h3 {
    display: inline-block;
    margin: 20px 0 10px 0;
}

#sidebar #filter_cards a {
    text-decoration: underline;
    float: right;
    color: #555;
    margin-top: 20px;
}

#sidebar #filter_cards .tag-li {
    padding-left: 3px;
}

#sidebar .sidebar_widget:first-of-type h3 {
    padding-top: 25px;
    font-size: 24px;
}

#sidebar .sidebar_widget .widget_content {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#sidebar .sidebar_widget .widget_content li {
    display: block !important;
}

#sidebar .sidebar_widget .widget_content li.list-toggle {
    display: none !important;
}

#sidebar .list {
    margin-bottom: 20px;
}

#sidebar .list li a[href="/geboortekaartjes-jongen"]:before,
#sidebar .list li a[href="/geboortekaartjes-meisje"]:before,
#sidebar .list li a[href="/geboortekaartje-zelf-maken"]:before,
#sidebar .list li a[href="/nieuwe-geboortekaartjes"]:before,
#sidebar .list li a[href="/geboortekaartje-met-foto"]:before,
#sidebar .list li a[href="/alle-geboortekaartjes"]:before,
#sidebar .list li a[href="/enveloppen-info"]:before {
    font-family: kcicons;
    content: 'l';
    margin-right: 5px;
    font-size: 14px;
    color: #888;
}

#sidebar .list li a {
    color: #000;
}

#sidebar .list li a[href="/geboortekaartjes-meisje"]:before {
    content: 'n';
}

#sidebar .list li a[href="/geboortekaartje-zelf-maken"]:before {
    content: 'r';
}

#sidebar .list li a[href="/nieuwe-geboortekaartjes"]:before {
    content: 'o';
}

#sidebar .list li a[href="/geboortekaartje-met-foto"]:before {
    content: 'g';
}

#sidebar .list li a[href="/alle-geboortekaartjes"]:before {
    content: 'h';
}

#sidebar .list li a[href="/enveloppen-info"]:before {
    content: '\e01F';
}

#body_geboortekaartjes-jongen #sidebar .list li a[href="/geboortekaartjes-jongen"],
#body_geboortekaartjes-jongen #sidebar .list li a[href="/geboortekaartjes-jongen"]:before {
    color: #29c1c4;
}

#body_geboortekaartjes-meisje #sidebar .list li a[href="/geboortekaartjes-meisje"],
#body_geboortekaartjes-meisje #sidebar .list li a[href="/geboortekaartjes-meisje"]:before {
    color: #d183ab;
}

#filter_cards h3 {
    font-size: 24px;
}

#filter_menu h3 {
    font-size: 18px;
}

#filter_menu li.tag-li input {
    display: none;
}

#filter_menu li.tag-li label {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    color: #747474;
    letter-spacing: 0;
    line-height: 27px;
    font-weight: 300;
}

#filter_menu li.tag-li .custom_checkbox {
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    border-radius: 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#filter_menu li.tag-li .number-of-tags {
    color: #ccc;
    font-style: normal;
    margin-left: 3px;
}

#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #555;
    content: "\e010";
    font-size: 12px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 1px;
}









/* KLEUR ------------------------------------------------------------------------------------------------------------ */

li.tag-li label {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: #00afbd;
    cursor: pointer;
}

li.tag-li label:hover span {
    background: #6dbcc5;
}

li.tag-li label span {
    background: #d6d8d9;
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    margin: -4px 5px 0px 0px;
    height: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

li.tag-li input {
    display: none;
}

.kleur ul {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    margin-top: 7px;
}

.kleur ul li {
    min-width: 40px;
    overflow: visible;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    padding: 0 0 0 0 !important;
    margin: 0 0px 7px 0;
    vertical-align: top;
}

.kleur ul li label {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 30px;
    width: 30px;
    font-size: 0 !important;
    background: -webkit-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: -moz-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%);
}

@media (min-width: 992px) {
    #tagli-kleurrijk label {
        background: -webkit-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
        background: -moz-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
        background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%);
    }
}

.kleur ul li:hover span.tooltip {
    display: block;
}

span.tooltip {
    display: none;
    position: absolute;
    top: -28px;
    color: #000;
    font-size: 12px;
    background: #d6d8d9;
    border-radius: 5px;
    padding: 5px 6px;
    line-height: 1.2;
}

span.tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #d6d8d9;
    bottom: -4px;
    position: absolute;
    left: 40%
}

@media (min-width: 992px) {

    #filter_menu #taggroupul-kleur ul li label .custom_checkbox,
    #filter_menu #taggroupul-kleuren ul li label .custom_checkbox {
        display: inline-block !important;
        height: 30px !important;
        width: 30px !important;
        background: none !important;
        border: none;
        margin: -13px 5px 0px 0px;
    }
}

#filter_menu .kleur ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu .kleur ul li label:hover .custom_checkbox:after {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    vertical-align: middle;
    padding-left: 5px;
}

#filter_menu .kleur ul li#tagli-wit input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu .kleur ul li#tagli-wit label:hover .custom_checkbox:after {
    color: #ddd;
}

#tagli-geel label {
    background: yellow !important;
}

#tagli-oranje label {
    background: orange !important;
}

#tagli-wit label {
    background: #fff !important;
}

#tagli-rood label {
    background: #db1704 !important;
}

#tagli-blauw label {
    background: #2286dd !important;
}

#tagli-roze label {
    background: #d53276 !important;
}

#tagli-grijs label {
    background: #92959f !important;
}

#tagli-groen label {
    background: #9bd576 !important;
}

#tagli-paars label {
    background: #7a4dac !important;
}

#tagli-zwart label {
    background: #000 !important;
}

#tagli-bruin label {
    background: #7b6a4f !important;
}

#tagli-goud label {
    background: #DAA520!important;
}

#tagli-mint label {
    background: #bafae0!important;
}

#tagli-perzik label {
    background: #EBBAAB!important;
}
















/*#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox {
/*    background: url(/img/ftcheck.png) no-repeat !important;
   background-size: 20px 20px !important;
    background-position: 6px 9px !important;
}
*/


/* TABLES ----------------------------------------------------------------------------------------------------------- */

.table-responsive {
    overflow-x: auto;
}

.price-table {
    border-collapse: collapse;
}

.price-table th,
.price-table td {
    border: 1px solid #29c1c4;
}

.price-table>thead>tr>th,
.price-table>tbody>tr>td {
    padding: 3px 10px;
    min-width: 80px;
}

.price-table>thead>tr>th {
    background: #29c1c4;
    color: #fff;
}
















/* ALFABET KOLOMMEN  ---------------------------------------------------------------------------------------------- */

.homepage-categories {
    column-count: 1;
}

.homepage-category {
    webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@media (min-width: 481px) {
    .homepage-categories {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .homepage-categories {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    #body_geboortekaartjes-jongen #pagebody>h1,
    #body_geboortekaartjes-meisje #pagebody>h1,
    #body_geboortekaartje-broertje #pagebody>h1,
    #body_geboortekaartje-zusje #pagebody>h1,
    #body_nieuwe-geboortekaartjes #pagebody>h1,
    #body_alle-geboortekaartjes #pagebody>h1,
    #body_populaire-geboortekaartjes #pagebody>h1,
    #body_stoere-geboortekaartjes #pagebody>h1,
    #body_geboortekaartjes-dieren #pagebody>h1,
    #body_geboortekaartje-met-foto #pagebody>h1 {
        max-width: 66%;
    }
}


















/* FLOAT-ADMIN ------------------------------------------------------------------------------------------------------ */

.floatAdmin {
    top: 100px !important;
    transform: scale(1);
}

















/* MOBILE FILTER FONT REPAIR ---------------------------------------------------------------------------------------- */

.mf *,
.mf__main ul.mob-tag-group-ul h3 {
    font-family: 'Yantramanav', sans-serif !important;
    font-weight: 400;
}

















/* url is broken */

#body_home #save_custom_design_sort_button,
#body_home label[for="save_custom_design_sort_button"],
#body_home .mobilefilter {
    display: none;
}


















/** CUSTOM H1 HEADERS -------------------------------------------------------------------------------------------- */

@media (max-width: 991px) {
    .page #pagebody>h1 {
        padding: 15px;
        color: #555;
        font-size: 28px;
        line-height: 32px;
        display: block;
        height: auto;
        width: 100%;
    }
    /** MARIJKE HIER STAAN ALLE PLAATJES BIJ DE HEADERS   ------**/
    #body_geboortekaartjes-jongen #pagebody>h1,
    #body_geboortekaartjes-meisje #pagebody>h1,
    #body_geboortekaartje-broertje #pagebody>h1,
    #body_geboortekaartje-zusje #pagebody>h1,
    #body_nieuwe-geboortekaartjes #pagebody>h1,
    #body_alle-geboortekaartjes #pagebody>h1,
    #body_populaire-geboortekaartjes #pagebody>h1,
    #body_stoere-geboortekaartjes #pagebody>h1,
    #body_geboortekaartjes-dieren #pagebody>h1,
    #body_geboortekaartje-met-foto #pagebody>h1,
    #body_sluitzegels #pagebody>h1 {
        background-size: cover;
        background-position: 50% 50%;
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
        height: 120px;
        color: #212121;
    }

    #body_sluitzegels #pagebody>h1 {
        background-image: url("/media/sluitzegelsgeboortekaartjes.png");
    }

    #body_geboortekaartjes-jongen #pagebody>h1 {
        background-image: url("/img/boy-img.jpg");
    }
    #body_geboortekaartjes-meisje #pagebody>h1 {
        background-image: url("/img/girl-img.jpg");
    }
    #body_geboortekaartje-broertje #pagebody>h1 {
        background-image: url("/media/geboortekaartjesbroertje.png");
    }
    #body_geboortekaartje-zusje #pagebody>h1 {
        background-image: url("/media/geboortekaartjezusje.png");
    }
    #body_nieuwe-geboortekaartjes #pagebody>h1 {
        background-image: url("/img/HBI/nieuwe_geboortekaartjes.jpg");
    }
    #body_alle-geboortekaartjes #pagebody>h1 {
        background-image: url("/img/HBI/alle_geboortekaartjes.jpg");
    }
    #body_populaire-geboortekaartjes #pagebody>h1 {
        background-image: url("/img/HBI/populaire_geboortekaartjes.jpg");
    }
    #body_stoere-geboortekaartjes #pagebody>h1 {
        background-image: url("/img/HBI/stoere_geboortekaartjes.jpg");
    }
    #body_geboortekaartjes-dieren #pagebody>h1 {
        background-image: url("/img/HBI/dieren_geboortekaartjes.jpg");
    }
    #body_geboortekaartje-met-foto #pagebody>h1 {
        background-image: url("/img/HBI/geboortekaartjes_met_foto.jpg");
    }
}

















/** ZOEK RESULTATEN -----------------------------------------------------------**/

#body_zoeken #result {
    padding: 12px;
}

#body_zoeken #result h1 {
    padding-left: 0;
}
















/** SORT OPTIONS **/

.sort_options-content a.sort_options-option {
    padding: 5px 10px;
    line-height: 20px;
    color: #aaa;
}

.sort_options-content a.sort_options-option.sort_options-selected {
    color: #29c1c4;
}

@media screen and (min-width: 992px) {
    .sort_options-content a.sort_options-option {
        border: 1px solid #ddd;
        border-radius: 3px;
        margin: 0 2px;
    }
    .sort_options-content a.sort_options-option.sort_options-selected {
        border-color: #29c1c4;
    }
}



h4.zelf-maken__title-choose {
    margin: 20px 0;
    color: #29c1c4;
}

















/** ICONS ----------------------- **/

.icon {
    vertical-align: middle;
    font-weight: 400 !important;
}

.icon.icon-image {
    padding: 0px !important;
    margin: 32px auto;
    line-height: 0px;
}

.icon.icon-image:after {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-position: center center;
    content: '';
}

.icon.icon-image.icon-image-babyblog:after {
    background-image: url(/img/icons/bb-logo-green.svg);
    filter: grayscale(100%);
}

a:hover .icon.icon-image.icon-image-babyblog:after {
    filter: grayscale(0%);
}

.icon.icon-image.icon-image-baby:after {
    background-image: url(/img/icons/babyblogs.png);
}

a:hover .icon.icon-image.icon-image-baby:after {
    background-image: url(/img/icons/babyblogs_active.png);
}

.icon.icon-image.icon-image-zwanger:after {
    background-image: url(/img/icons/zwangerblogs.png);
}

a:hover .icon.icon-image.icon-image-zwanger:after {
    background-image: url(/img/icons/zwangerblogs_active.png);
}

.icon.icon-image.icon-image-babynamen:after {
    background-image: url(/img/icons/babynamen.png);
}

a:hover .icon.icon-image.icon-image-babynamen:after {
    background-image: url(/img/icons/babynamen_active.png);
}

.icon.icon-image.icon-image-babywiki:after {
    background-image: url(/img/icons/babywiki.png);
}

a:hover .icon.icon-image.icon-image-babywiki:after {
    background-image: url(/img/icons/babywiki_active.png);
}

.icon.icon-image.icon-image-horse:after {
    background-image: url(/img/icons/hobbelpaard.png);
}

a:hover .icon.icon-image.icon-image-horse:after {
    background-image: url(/img/icons/hobbelpaard_active.png);
}

.icon.icon-image.icon-image-ster:after {
    background-image: url(/img/icons/ster.png);
}

a:hover .icon.icon-image.icon-image-ster:after {
    background-image: url(/img/icons/ster_active.png);
}

.icon.icon-image.icon-image-hip-veer:after {
    background-image: url(/img/icons/hip-veer.png);
}

a:hover .icon.icon-image.icon-image-hip-veer:after {
    background-image: url(/img/icons/hip-veer_active.png);
}


















/** COMPONENTS - LAZY-IMAGES -----------------------------------------**/

.lazy-load {
    transition: opacity 1s;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 1;
    filter: blur(3px);
    /* blur the lowres image */
}

.lazy-load-wrapper {
    overflow: visible;
    position: relative;
    display: block;
    background: #aaa center center no-repeat;
    background-size: cover;
}

.lazy-load-wrapper .lazy-load-large {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.lazy-load-wrapper.is-loaded .lazy-load-large {
    opacity: 1;
}

.lazy-load-wrapper.is-loaded .lazy-load {
    opacity: 0;
}

.lazy-load-container {
    filter: blur(1px);
    transition: opacity 0.5s;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 1;
}

.lazy-load-container-large {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    opacity: 1;
}

.lazy-load-background.is-loaded .lazy-load-container {
    opacity: 0;
}













/** SCROLL-X ------------------------------------------------------------**/

.scroll-x {
    overflow-x: scroll;
}











/** MOBILE MENU ---------------------**/

.nav-m {
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.nav-m:after {
    position: absolute;
    z-index: 2;
    top: 9px;
    bottom: 13px;
    right: 86px;
    content: '';
    box-shadow: -4px 0px 10px 8px white;
    -webkit-box-shadow: -4px 0px 10px 8px white;
    -moz-box-shadow: -4px 0px 10px 8px white;
}

.nav-m .mobile-nav__menu {
    z-index: 3;
    top: 0px;
    height: 36px;
    box-sizing: border-box;
    right: 0px;
    padding: 5px 10px;
    position: absolute;
    background-color: #ff9700;
    background-color: #fff;
    color: #000;
    transition: color 0.3s, background 0.3s;
    float: initial;
    margin: 0;
    width: auto;
    border-left: 1px solid #ccc;
}

.nav-m a {
    color: #575757;
}

.nav-m .navbar-hamburger>button {
    margin-top: 1px;
    display: inline-block;
    position: relative;
    float: left;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    outline: none;
    width: 29px;
    height: 16px;
    padding-left: 2px;
}

.navbar .nav-m .navbar-hamburger .icon-bar {
    width: 15px;
    height: 2px;
    margin: 3px 0;
    background-color: #000;
    transition: background 0.3s;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s, top 0.3s, -webkit-transform 0.2s;
    transition: opacity 0.3s, top 0.3s, transform 0.2s;
    transition: opacity 0.3s, top 0.3s, transform 0.2s, -webkit-transform 0.2s;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(1) {
    top: calc(50% - 5px);
}

.nav-m .navbar-hamburger .icon-bar:nth-child(2) {
    top: 50%;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(3) {
    top: calc(50% + 5px);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobile-nav__highlight-items {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    width: calc(100% - 88px);
    overflow-x: auto;
    height: 36px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.mobile-nav__highlight-item a {
    line-height: 36px;
    padding: 0 3px;
    transition: color;
}

.mobile-nav__highlight-item a:hover {
    color: #8ac0cf;
    text-decoration: none;
}

.navbar-search-field {
    display: none;
}

.topbar .navbar-hamburger {
    display: none;
}

.navbar .topbar a.logo {
    padding: 8px 0px;
}

.navbar .topbar a.logo img {
    width: 200px;
    max-width: initial;
}

.navbar .collapse {
    top: 87px;
}

@media screen and (min-width: 768px) {
    .nav-m {
        display: none;
    }
    .navbar-search-field {
        display: block;
    }
    .topbar .navbar-hamburger {
        display: inline-block;
    }
    .navbar .collapse {
        top: 60px;
    }
}

@media screen and (min-width: 992px) {

    .topbar .navbar-hamburger {
        display: none;
    }
    .navbar .collapse {
        top: 0px;
    }
}