#accordion {
	width: 330px;
}

.centeredImage, .arrow_allign {
	display: none;
}

#chooseside {
	margin-bottom: 0;
	width: 380px;
}

#canvasbackground {
	margin-bottom: -88px;
	left: -17px;
}

.double_square {
	top: 77px;
}

.double_portrait {
	top: 81px;
}

.double_landscape {
	top: 83px;
}

.single_landscape {
	top: 80px;
}

.single_portrait {
	top: 80px;
}

.single_square {
	top: 77px;
}

#canvasbackground {
	margin-bottom: -88px;
	left: -17px;
}

.centeredImage,
.arrow_allign {
	display: none !important;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
	width: 275px !important;
	height: 85px !important;
	padding-bottom: 0;
	border: 1px solid #d3d3d3;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.edittable td {
	height: 26px;
	padding: 2px 0 1px;
}

#save_user_design,
#save_design,
#add_photo,
#choose_font,
#add_text {
	font-family: Verdana,Arial,sans-serif;
	font-size: 13px !important;
	color: #ee6189;
	background-color: #fff;
	border: 1px solid #ee6189;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 28px;
	padding: 0 10px 2px;
	cursor: pointer;
}
#add_photo{padding: 0 3px 2px;}

#save_design {
	margin-bottom: 5px;
	margin-top: -12px;
}

#save_user_design,
#save_design {
	height: 25px;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#save_user_design:hover,
#save_design:hover,
#add_photo:hover,
#choose_font:hover,
#add_text:hover {
	border-color: #eb2779;
}

#choose_font {
	margin-right: 5px;
}

#infodiv {
	white-space: nowrap;
}
#infodiv table,
#infodiv table td {
	border: none;
	padding: 0;
}

#textsizelabel {
	border: 1px solid #d3d3d3;
	height: 28px;
	width: 35px;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	padding-left: 5px;
}

table td, #editor table th {
	width: auto;
}

#position_photo_tofront{
height:35px;
width:35px;
background:url('/img/editor/voorgrond.png') no-repeat;
}

#position_photo_toback{
height:35px;
width:35px;
background:url('/img/editor/achtergrond.png') no-repeat;
}

#position_photo_toback img,
#position_photo_tofront img {
	visibility: hidden;
}


#position_photo_full{
font-family: Verdana, Geneva, sans-serif;
font-size:13px;
font-weight: normal;
color: #eb2779;
border:1px solid #eb2779;
cursor:pointer;
background:#fff;
vertical-align: top;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 5px;
}

.ui-slider-handle {
	background: #e7f6ff;
	border: 1px solid #0395cc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

#chooseside input {
	display: none;
}

#chooseside {
	margin-bottom: 0;
	width: 380px;
}

.double_square {
	top: 77px;
}

.double_portrait {
	top: 81px;
}

.double_landscape {
	top: 83px;
}

.single_landscape {
	top: 80px;
}

.single_portrait {
	top: 80px;
}

.single_square {
	top: 77px;
}

span p a[href="/login?redirecturl=/edit"] {
	display: inline !important;
}

a[href="/login?redirecturl=/edit"] {
	text-align: center;
	display: block;
}

.edit_big_button {
	font-family: 'Open Sans';
    background: #EE6189;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 15px;
	margin: 20px 0 0 0;
	float: none;
	display: inline-block;
}

a[href="/login?redirecturl=/edit"] .edit_big_button:hover {
	background: none repeat scroll 0 0 #EB2779;
}

.ui-accordion-content ul {
	padding-left: 15px;
}

#accordion .ui-accordion-content {
	padding-left: 15px;
	padding-right: 15px;
}

#clipartlist .content img,
#imagelist .content img {
	width: 80px;
}

#imagelist .head, #patternlist .head, #clipartlist .head {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {
	width: 173px;
	color: #4D4D4D;
	font-size: 11px;
	font-family: Verdana;
}

#imagelist .head a, #patternlist .head a, #clipartlist .head a {
	color: #eb2779;
	font-size: 11px;
	font-family: Verdana;
}

#chooseside label {
	border: none;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#txt_align_left_label:hover {
	background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -467px;
}

#txt_align_center_label:hover {
	background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -276px;
}

#txt_align_top_label:hover {
   background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align_justify_label {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -564px;
    background-repeat: no-repeat;
    height: 22px;
    width: 39px;
}

#txt_align_justify_label:hover {
    background-position: 0 -596px;
}

#txt_align_justify_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-position: 0 -628px;
    background-repeat: no-repeat;
}

.edittable {
	color: #4D4D4D;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
	background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
	background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
	background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
	visibility: hidden;
}

#imgtransparency,
#textsize {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
	width: 157px;
	float: right;
	margin-left: 0;
	height:7px;
	border:none
}

#imgtransparency a,
#texttransparency a,
#textsize a {
	background: url(/img/gfx/bg_square.png) no-repeat 0 0;
	height: 16px;
	width: 13px;
	border: none;
	display: block;
	margin-left: 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -5px !important;
}

#texttransparencylabel {
	width: 100px;
	padding-top: 7px;
}

#texttransparency {
	width: 157px;
}

#text_turn_left {
	margin-right: 6px;
}

#text_turn_left,
#text_turn_left {
	cursor: pointer;
}

#position_photo_tofront,
position_photo_toback,
#position_txt_tofront,
position_txt_toback {
	border: none !important;
}

#position_photo_toback,
#position_photo_tofront,
#position_txt_tofront {
	margin-right: 10px;
}

#photo_turn_left {
	margin-right: 10px;
}

#txt_align {
	height: 28px;
}

.ui-buttonset .ui-button {
	margin-right: 4px;
}

#background_type {
	overflow: hidden;
}

#textsize {
	margin-top: 13px;
}

#background_type_pattern_label,
#background_type_color_label {
	font-family: "Myriad Pro";
	font-size: 14px;
	color: #4D4D4D;
	background-color: #fff;
	border: 1px solid #eb2779;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 28px;
	padding: 0;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	display: block;
	float: left;
	width: 77px;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-hover,
#background_type_color_label.ui-state-hover {
	color: #fff;
	background-color: #eb2779;
}

#background_type_color_label {
	margin-right: 10px;
}

.description {
	margin-top: 8px;
}

#bt-color .description,
#bt-pattern .description,
#patternselect_div .title {
	width: 97px;
	float: left;
}

#bt-color,
#bt-pattern {
	margin-bottom: -10px;
}

#patternselect_div .title {
	margin-top: 6px;
	float: left;
}

#clipartselect,
#imageselect,
#patternselect {
	border: 1px solid #c0c0c0;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 3px 3px 9px;
	width: 200px;
}

#cl-bib .title {
	float: left;
	padding-top: 6px;
}

#clipartlist {
	clear: both;
}

#clipartselect {
	float: right;
}

#imageselect {
	width: 160px !important;
}

input#sort_order,
input#description,
input#title,
input#id {
	margin-bottom: 5px;
	padding: 6px 10px;
	width: 275px;
}

select#designer_code,
select#category {
	width: 297px;
}

.sp-preview {
	background: #777 !important;
	height: 24px;
	border: none;
	left: 1px;
	margin-right: 2px;
	top: 1px;
	width: 120px;
}

.sp-replacer {
	border: 1px solid #D3D3D3;
	height: 26px;
	padding: 0;
	width: 145px;
	float: left;
}

.sp-preview .sp-preview-inner {
	font-family: Verdana;
	font-size: 12px;
	height: 24px;
	line-height: 22px;
	padding-left: 7px;
}

.sp-dd {
	width: 20px;
	height: 25px;
	line-height: 20px;
	text-align: center;
}

#imageaddform {
	background: #fff;
	width: 298px;
}

#imageaddformclose,
#pt-upload input[type="submit"] {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eb2779;
	color: #eb2779;
	height: 28px;
	cursor: pointer;
	padding: 0 10px 2px;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
}

#pt-upload {
	padding-top: 0;
}

#pt-upload input[type="file"] {
	margin-bottom: 10px;
}

#save_form input[type="text"] {
	margin: 0;
}

#save_form p {
	padding: 4px 0 0 0;
}

#save_form #description {
	height: 60px !important;
}

#save_form {
	margin-bottom: -3px;
}

table.edit_cross {
	margin-top: 0;
}

/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/

#patternselect_div,
#bt-pattern,
#bt-color {
	zoom: 1;
}

#patternselect_div:after,
#bt-pattern:after,
#bt-color:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}