@import "less/reset";
@import "less/mediaqueries";
@import "less/fonts";
@import "less/visual";
@import "less/mmenu";
@import "less/base";
@import "less/design";
@import "less/edit";

@media (max-width:640px) {
    #hnav li.help span span,#hnav li a span{display: none;}
    li.help ul.foldout{top:36px;}
}
#visual-page .textblock{display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;height: 100%;padding-top: 0;}
#visual-page .textblock p{margin-bottom: 0;}
#visual-page .z-card1{background-size: 33px 76px;background-position: 51px 0;}
#sideblock{background: url("/img/line.png") no-repeat 0 0;padding: 25px 0 0 0;font-size: 14px;}
#sideblock h1,#sideblock h2,#sideblock h3{font-size: 20px;}
#sideblock p{line-height: 20px;margin-bottom: 17px;}
#lnav ul li.active a{color: #e84b3d;}
#mainnav ul li ul{padding-top: 0;}
#body_populaire-geboortekaartjes #leftnav .pop a,#body_geboortekaartje-met-foto #leftnav .met a,#body_geboortekaartje-zelf-maken #leftnav .zelf a{color:#2bb1a7;}
#body_populaire-geboortekaartjes #leftnav .block-icon,#body_geboortekaartje-met-foto #leftnav .block-icon,#body_geboortekaartje-zelf-maken #leftnav .block-icon{display: block !important;}
h3.tkies{background:url(/img/line.png) no-repeat 0 0;margin:0;cursor: pointer;padding:20px 0;position: relative;}
h3.tkies:after{content:"";position:absolute;right:30px;top:50%;width:16px;height:16px;margin-top:-8px;background:url(/img/icons.png) no-repeat -134px -44px;}
h3.opened:after{background-position: -111px -44px;}
#mid{padding-top:0px;}
.breadcrumbs{padding-bottom: 13px;}
#dialog-ok-text,#dialog-confirm-text{margin: 0 !important;}
#body_eigen_collectie #verzend_form div{overflow: hidden;}
#body_home #card_previews div{width: auto;}
@media (max-width:900px) {#body_home #card_previews > div{width: 20%;}}
@media (max-width:767px) {#body_home #card_previews > div{width: 25%;}}
@media (max-width:679px) {
    #body_home #card_previews > div{width: 25%;}
    #body_home #card_previews img{max-width: 180px;}
}
@media (max-width:480px) {#body_home #card_previews > div{width: 33%;}}
#body_design div.rightCol div.detAccord .innerHtml .collectie{display: none;}
#body_edit #save_design_form_wrapper p,#body_edit #save_design_to_other_user_form p,#body_edit #save_user_design_form p{margin-bottom: 5px;}
#body_edit #save_design_form_wrapper hr,#body_edit #save_design_to_other_user_form hr{margin: 5px 0;}
.button.btn-home{display: inline-block;margin: 0 0 0 -50px;}
@media (max-width:450px) {
    .button.btn-home{
        padding: 0 0 0 15px;
        font-size: 13px;
        width: 280px;
        margin: 0;
    }
    .button.btn-home:after{right: -40px;}
}
#hsearch{margin-right: 5px;}
#visual {
    display:none;
}
.bg-2{background-color: #f8f8f8;padding: 30px 0 0 0;margin-bottom: 20px;min-height: 345px;}
#body_home #mid{
    width: 100%;
}
.blog-list li{border-color: #f8f8f8;background-color: #fff;}
.blog-list li h2{font-family: @secFont;font-size: 16px;padding-bottom: 8px;}
.blog-list li:hover{border-color: #f8f8f8;}

/* calculator*/
#calculator .ttl {
    margin: 0;
    padding: 16px 0 4px 0;
}
#calculator .amount .ttl {
    padding: 16px 0 10px 0;
}
#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#amount-envelop,
#amount-card {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: auto !important;
    padding: 0;
    height: auto;
}
#result-input {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: auto;
}
#result {
    color: #000;
}
.inclusief {
    color: #616161;
    font-size: 12px;
    display: block;
    line-height: 1.3;
    margin-top: 0;
}
.result-cal {
    margin-top: 18px;
    margin-bottom: 20px;
    background: #e5eee7;
    width: 363px;
    padding: 12px 20px 10px;
}
.alert {
    margin-bottom: 20px;
    font-size: 11px;
    padding: 0 0 0 10px !important;
    color: #999;
    font-style: italic;
    width: 393px;
}
#calculator #message {
    display: none;
    width: 403px;
    text-align: center;
    color: #F00;
    font-size: 18px;
    font-family: Arial;
}
.page-cal {
    width: 705px !important;
    height: 115px !important;
}
.page-cal a {
    top: 62px !important;
    font-size: 20px !important;
    height: 34px !important;
    line-height: 34px !important;
}
#calculator #sliderb,
#calculator #slider {
    background: #5e989a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    height: 3px;
}
#calculator .ui-slider-horizontal .ui-slider-handle {
    display: block;
    height: 16px;
    position: absolute;
    z-index: 2;
    width: 16px;
    background: #6ac4c2 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #737373;
    box-shadow: 0 0 0 1px #737373;
    top: -0.4em;
}
#calculator table {
    width: 422px;
}
.result-cal table {
    width: 379px !important;
}
.wrap-sel {
    height: 31px;
    position: relative;
}
#calculator select {
    height: 31px !important;
    line-height: 31px;
    position: relative;
    width: 190px !important;
    z-index: 10;
    opacity: 1 !important;
    background: #e9ecf3;
    border: none;
    border-bottom: solid 2px #d7dae1;
    color: #000 !important;
    font-size: 14px;
    outline: none;
}
#calculator select:hover {
    border-bottom: solid 2px #5f969d;
    opacity: 1 !important;
}
#calculator select.ui-state-active {
    border-bottom: solid 2px #5f969d;
}
#calculator span.select {
    display: none;
}
#total {
    font-size: 12pt;
}
#total,
#price,
#priceb,
#pricec,
#priced,
#pricee,
#pricef,
#pricez {
    text-align: right;
    width: 60px;
}
#quoteme input {
    background: transparent;
    color: #ddd;
    font-family: Georgia;
    border: 0px solid #fff;
    margin-bottom: 20px;
}
#quoteme label {
    float: left;
    padding-top: 10px;
    display: block;
    color: #fff;
    font-family: Georgia;
    width: 340px;
}
#contenta {
    padding: 1px 0px 20px 0px;
    display: block;
    width: 400px;
    text-align: left;
    font-size: 12pt;
}
.pricepara {
    text-align: right;
    font-size: 14pt;
}
.pricepara #totalprice {
    padding-top: 0px;
    margin-top: 0px;
    border: 0px solid #000;
    font-size: 14pt;
    font-weight: bold;
}
#total {
    font-family: 'Georgia', arial;
    width: 100px;
    border: 0px solid #000;
    background: transparent;
    font-size: 38px;
    color: #fff;
}
#quoteme {
    width: 400px;
    display: block;
    background: #000;
    float: left;
    clear: both;
    padding: 30px 20px 10px 30px;
}
#slider,
#sliderb,
#sliderc,
#sliderd,
#slidere {
    width: 209px;
}
input#submitbtn {
    display: block;
    width: 200px;
    height: 38px;
    margin: 10px 0px 10px 0px;
    background: #ffe906;
    color: #000;
    font-size: 14pt;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
#amount-card,
#amount-envelop {
    border: none;
    background: none;
    width: 40px !important;
    text-align: left;
    color: #262626;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -14px;
    top: -4px !important;
    text-align: right;
}
.ui-slider .ui-slider-range {
    border: none !important;
    background-color: #c17e93 !important;
}

#card_previews img{max-width:250px!important;}
#body_geboortekaartje-zelf-maken #visual-page .textblock{padding-top: 0;}
