@font-face {
    font-family: 'KBGobbleDay';
    src: url('/css/fonts/KBGobbleDay.eot');
    src: url('/css/fonts/KBGobbleDay.eot') format('embedded-opentype'),
         url('/css/fonts/KBGobbleDay.woff2') format('woff2'),
         url('/css/fonts/KBGobbleDay.woff') format('woff'),
         url('/css/fonts/KBGobbleDay.ttf') format('truetype'),
         url('/css/fonts/KBGobbleDay.svg#KBGobbleDay') format('svg');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('/css/fonts/MontserratLight.eot');
    src: url('/css/fonts/MontserratLight.eot') format('embedded-opentype'),
         url('/css/fonts/MontserratLight.woff2') format('woff2'),
         url('/css/fonts/MontserratLight.woff') format('woff'),
         url('/css/fonts/MontserratLight.ttf') format('truetype'),
         url('/css/fonts/MontserratLight.svg#MontserratLight') format('svg');
}
@font-face {
    font-family: 'KBREINDEERGAMES';
    src: url('/css/fonts/KBREINDEERGAMES.eot');
    src: url('/css/fonts/KBREINDEERGAMES.eot') format('embedded-opentype'),
         url('/css/fonts/KBREINDEERGAMES.woff2') format('woff2'),
         url('/css/fonts/KBREINDEERGAMES.woff') format('woff'),
         url('/css/fonts/KBREINDEERGAMES.ttf') format('truetype'),
         url('/css/fonts/KBREINDEERGAMES.svg#KBREINDEERGAMES') format('svg');
}
body{font-family: 'MontserratLight';font-size:16px;color:#666;}