/* ACCORDION -------------------------------------------------------------------------------------------------------- */
.accordion {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #dfe5e5;
  background-color: transparent;
  margin-bottom: 10px;
}
.accordion > .active {
  color: #575757 !important;
}
.accordion .show {
  display: block!important;
}
.accordion > a {
  display: block;
  vertical-align: middle;
  background-color: transparent;
  padding: 5px 5px;
  color: [[kleur5]];
}
.accordion > a > i {
  float: right;
  font-size: 12px;
}
.accordion .accordion-body {
  display: none;
  padding: 5px;
}
.accordion .accordion-body ul {
  margin-bottom: 0;
  margin-top: 0;
}
.accordion .accordion-body ul li a {
  padding: 5px 0px 5px 5px;
}

/* ADDRESS-LIST ----------------------------------------------------------------------------------------------------- */
.address-list input[type="text"] {
  border-radius: 0px !important;
}
.address-list > ul {
  max-height: 250px;
  padding: 0;
  margin: 0 0 15px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.address-list > ul > li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.address-list > ul > li:last-child {
  border-bottom: none;
}
.address-list > ul > li a {
  display: block;
  padding: 0;
}
.address-list > ul > li > button {
  margin-bottom: 15px;
}

/* BASE ------------------------------------------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  line-height: 1.6875em;
  color: #000;
  padding: 0;
  margin: 0;
  /*background:[[kleur2]];*/
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
.transition-ease {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.navbar:after .container:after,
.cols:after,
.topbar:after,
.middlebar:after,
.topbar-left:after,
.topbar-right:after,
.topbar-menu:after {
  clear: both;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
i {
  display: inline-block;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before {
  display: table;
  content: " ";
}
a {
  color: #000;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
a:focus {
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 26px;
  margin-bottom: 15px;
}
h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}
h6 {
  font-size: 18px;
  margin-bottom: 0;
}
.hide {
  display: none;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-xsmall {
  font-size: 0.6em;
}
.text-small {
  font-size: 0.8em;
}
.text-normal {
  font-size: 1em;
}
.text-large {
  font-size: 1.2em;
}
.text-xlarge {
  font-size: 1.4em;
}
.text-bold {
  font-weight: bold;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
#headermenu {
  display: none;
}

/* BOX -------------------------------------------------------------------------------------------------------------- */
.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e4e8e8;
  overflow: hidden;
}
.box .box-body {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #e4e8e8;
  clear: both;
}
.box-default .box-body {
  background-color: #ffffff;
}
.box-default .box-footer {
  background-color: #ffffff;
}
.box-primary .box-body {
  background-color: #ffffff;
}
.box-primary .box-footer {
  background-color: #f2ecec;
}

/* BREADCRUMB ------------------------------------------------------------------------------------------------------- */
.breadcrumb {
  padding: 8px 5px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb li:after {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 10px;
  font-family: 'kcicons';
  content: 'j';
  font-size: 0.5em;
}
.breadcrumb li:last-child:after,
.breadcrumb li:only-child :after {
  content: '';
}
.breadcrumb li a.active {
  color: #ffddbf;
}
.breadcrumb li a {
  color: inherit;
}
.breadcrumb li a:hover {
  color: #ffddbf;
}
.breadcrumb li a:active {
  color: #ffddbf;
}
.breadcrumb li a:focus {
  color: #ffddbf;
}

/* BUTTON-BLOCK ----------------------------------------------------------------------------------------------------- */
.button-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 110px;
  background-color: transparent;
}

.button-block > a {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffecdb;
  padding: 0 20px;
  text-align: center;
}
.button-block > a:hover, .button-block > a:active, .button-block > a:focus, .button-block a.active {
  background-color: #ffddbf;
}

.button-block > a .button-block-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.button-block > a .button-block-title {
  display: block;
  font-size: 18px;
  margin-top: 0;
  color: #f68620;
  margin-bottom: 0;
}
.button-block > a .button-block-title i {
  display: inline-block;
  vertical-align: middle;
}
.button-block > a .button-block-text {
  display: block;
  font-size: 0.8em;
  color: #666668;
}
.button-block-img {
  height: 180px;
  background-color: transparent;
}
.button-block-img > a {
  background-color: transparent;
  max-height: 210px;
}
.button-block-img > a:hover {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:active {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
.button-block-img > a .button-block-title {
  display: block;
  color: #ffffff;
  font-size: 1.4em;
}
.button-block-img > a .button-block-text {
  display: block;
  font-size: 1.0em;
  color: #ffffff;
}

/* BUTTON ----------------------------------------------------------------------------------------------------------- */
.button {
  display: inline-block;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid transparent;
}
.button-arrow-right:after {
  content: '\e003';
  font-family: kcicons;
  margin-left: 10px;
}

.button i {
  display: inline-block;
  vertical-align: middle;
}
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-group .button {
  position: relative;
  float: left;
  border-radius: 0;
}
.button-group .button:first-child {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.button-group .button:last-child {
  margin-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group-vertical > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.button-group-justified > .button {
  display: table-cell;
  float: none;
  width: 1%;
}
.button-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.button-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-xlg {
  padding: 12px 18px;
  font-size: 26px;
  line-height: 1.3333333;
}
.button-link {
  display: block;
  color: #F9861C;
  border-color: transparent;
  background-color: transparent;
}
.button-link:hover,
.button-link:active,
.button-link:focus {
  border-color: transparent;
}
.button-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.button-default:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-success {
  color: #ffffff;
  background-color: [[kleur3]];
  border-color: #f6c61e;
}
.button-success:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-warning {
  color: #ffffff;
  background-color: #f6c61e;
  border-color: #fa9485;
}
.button-warning:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-danger {
  color: #ffffff;
  background-color: #fa9485;
  border-color: #fa9485;
}
.button-danger:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-info {
  color: #ffffff;
  background-color: #f5871e;
  border-color: #f6871f;
}
.button-info:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-primary {
  color: #ffffff;
  background-color: #6fd4ce;
  border-color: #6fd4ce;
}
.button-primary:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* CARD-BLOCK ------------------------------------------------------------------------------------------------------- */
.card-block {
  position: relative;
  display: block;
  border: 1px solid #e4e8e8;
  background-color: #fdf3e9;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
.card-block img {
  height: 150px;
}
.card-block:hover > img {
  opacity: 0.8;
}
.card-block:hover .card-block-title,
.card-block:hover .card-block-footer {
  opacity: 1;
}
.card-block .card-block-title,
.card-block .card-block-footer {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.card-block .card-block-title {
  color: #f68620;
  font-size: 1.2em;
  font-weight: bold;
}
.card-block .card-block-footer {
  color: #f68620;
  font-size: 15px;
  margin-top: 10px;
}

/* CAROUSEL --------------------------------------------------------------------------------------------------------- */
.carousel {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: transparent;
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
  visibility: visible;
  opacity: 1;
}
.carousel .carousel-middle > img {
  width: 100%;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 220;
}
.carousel .carousel-left > a,
.carousel .carousel-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.carousel .carousel-left > a i,
.carousel .carousel-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.carousel a {
  display: inline-block;
  vertical-align: middle;
}

/* CHECKBOX --------------------------------------------------------------------------------------------------------- */
.custom-checkbox {
  position: relative;
  display: inline-block;
}
.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0px;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.custom-checkbox > input:checked + .box > .tick {
  display: block;
}

/* FIELD ------------------------------------------------------------------------------------------------------------ */
.field-horizontal .field-group {
  margin-right: -15px;
  margin-left: -15px;
}
.field-horizontal .field-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}
.field-group {
  margin-bottom: 15px;
}
.field-group .field-input-group {
  margin-bottom: 0;
}
textarea.field-input {
  height: auto;
}
.field-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.field-input-group .field-input-group-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.field-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.field-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.field-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
select.field-input {
  background-color: #ffecdb;
}
input[type='text'].error {
  border-color: #8a6d3b;
}
input[type='text'].error:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.error {
  font-style: italic;
  display: block;
  font-size: 12px;
  font-weight: normal;
}

/* FOLDMENU --------------------------------------------------------------------------------------------------------- */
.js-foldmenu .js-foldmenu-button {
  cursor: pointer;
}

.js-foldmenu .js-foldmenu-body {
  display: none;
}

.js-foldmenu .js-foldmenu-body.show {
  display: block;
}

/* GRID ------------------------------------------------------------------------------------------------------------- */
.container {
  margin-right: auto;
  margin-left: auto;
  clear: both;
  max-width: 1200px;
}
.container-fluid {
  clear: both;
  width: 100%;
}
.cols {
  margin-right: -15px;
  margin-left: -15px;
}
.cols:after {
  clear: both;
}

.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-15,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-15,
.xsm-1,
.xsm-10,
.xsm-11,
.xsm-12,
.xsm-2,
.xsm-3,
.xsm-4,
.xsm-5,
.xsm-6,
.xsm-7,
.xsm-8,
.xsm-9,
.xsm-15,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-15,
.md-1,
.md-10,
.md-11,
.md-12,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* clear the first in row for any block that has the class "cols-multi" */
.cols-multi .xs-6:nth-child(2n + 3) {
  clear: left;
}
.cols-multi .xs-4:nth-child(3n + 4) {
  clear: left;
}
.cols-multi .xs-3:nth-child(4n + 5) {
  clear: left;
}
.cols-multi .xs-2:nth-child(6n + 7) {
  clear: left;
}
.cols-multi .xs-1:nth-child(12n + 13) {
  clear: left;
}

.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-15 {
  float: left;
}

.xs-offset-0 {
  margin-left: 0;
}

.xs-offset-1 {
  margin-left: 8.33333333%;
}

.xs-offset-2 {
  margin-left: 16.66666667%;
}

.xs-offset-3 {
  margin-left: 25%;
}

.xs-offset-4 {
  margin-left: 33.33333333%;
}

.xs-offset-5 {
  margin-left: 41.66666667%;
}

.xs-offset-6 {
  margin-left: 50%;
}

.xs-offset-7 {
  margin-left: 58.33333333%;
}

.xs-offset-8 {
  margin-left: 66.66666667%;
}

.xs-offset-9 {
  margin-left: 75%;
}

.xs-offset-10 {
  margin-left: 83.33333333%;
}

.xs-offset-11 {
  margin-left: 91.66666667%;
}

.xs-offset-12 {
  margin-left: 100%;
}

.xs-offset-15 {
  margin-left: 20%;
}

.xs-1 {
  width: 8.33333333%;
}

.xs-2 {
  width: 16.66666667%;
}

.xs-3 {
  width: 25%;
}

.xs-4 {
  width: 33.33333333%;
}

.xs-5 {
  width: 41.66666667%;
}

.xs-6 {
  width: 50%;
}

.xs-7 {
  width: 58.33333333%;
}

.xs-8 {
  width: 66.66666667%;
}

.xs-9 {
  width: 75%;
}

.xs-10 {
  width: 83.33333333%;
}

.xs-11 {
  width: 91.66666667%;
}

.xs-12 {
  width: 100%;
}

.xs-15 {
  width: 20%;
}

.xs-pull-12 {
  right: 100%;
}
.xs-pull-11 {
  right: 91.66666667%;
}
.xs-pull-10 {
  right: 83.33333333%;
}
.xs-pull-9 {
  right: 75%;
}
.xs-pull-8 {
  right: 66.66666667%;
}
.xs-pull-7 {
  right: 58.33333333%;
}
.xs-pull-6 {
  right: 50%;
}
.xs-pull-5 {
  right: 41.66666667%;
}
.xs-pull-4 {
  right: 33.33333333%;
}
.xs-pull-3 {
  right: 25%;
}
.xs-pull-2 {
  right: 16.66666667%;
}
.xs-pull-1 {
  right: 8.33333333%;
}
.xs-pull-0 {
  right: auto;
}
.xs-push-12 {
  left: 100%;
}
.xs-push-11 {
  left: 91.66666667%;
}
.xs-push-10 {
  left: 83.33333333%;
}
.xs-push-9 {
  left: 75%;
}
.xs-push-8 {
  left: 66.66666667%;
}
.xs-push-7 {
  left: 58.33333333%;
}
.xs-push-6 {
  left: 50%;
}
.xs-push-5 {
  left: 41.66666667%;
}
.xs-push-4 {
  left: 33.33333333%;
}
.xs-push-3 {
  left: 25%;
}
.xs-push-2 {
  left: 16.66666667%;
}
.xs-push-1 {
  left: 8.33333333%;
}
.xs-push-0 {
  left: auto;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .xsm-1,
  .xsm-10,
  .xsm-11,
  .xsm-12,
  .xsm-2,
  .xsm-3,
  .xsm-4,
  .xsm-5,
  .xsm-6,
  .xsm-7,
  .xsm-8,
  .xsm-9,
  .xsm-15 {
    float: left;
  }
  .xsm-offset-0 {
    margin-left: 0;
  }
  .xsm-offset-1 {
    margin-left: 8.33333333%;
  }
  .xsm-offset-2 {
    margin-left: 16.66666667%;
  }
  .xsm-offset-3 {
    margin-left: 25%;
  }
  .xsm-offset-4 {
    margin-left: 33.33333333%;
  }
  .xsm-offset-5 {
    margin-left: 41.66666667%;
  }
  .xsm-offset-6 {
    margin-left: 50%;
  }
  .xsm-offset-7 {
    margin-left: 58.33333333%;
  }
  .xsm-offset-8 {
    margin-left: 66.66666667%;
  }
  .xsm-offset-9 {
    margin-left: 75%;
  }
  .xsm-offset-10 {
    margin-left: 83.33333333%;
  }
  .xsm-offset-11 {
    margin-left: 91.66666667%;
  }
  .xsm-offset-12 {
    margin-left: 100%;
  }
  .xsm-offset-15 {
    margin-left: 20%;
  }
  .xsm-1 {
    width: 8.33333333%;
  }
  .xsm-2 {
    width: 16.66666667%;
  }
  .xsm-3 {
    width: 25%;
  }
  .xsm-4 {
    width: 33.33333333%;
  }
  .xsm-5 {
    width: 41.66666667%;
  }
  .xsm-6 {
    width: 50%;
  }
  .xsm-7 {
    width: 58.33333333%;
  }
  .xsm-8 {
    width: 66.66666667%;
  }
  .xsm-9 {
    width: 75%;
  }
  .xsm-10 {
    width: 83.33333333%;
  }
  .xsm-11 {
    width: 91.66666667%;
  }
  .xsm-12 {
    width: 100%;
  }
  .xsm-15 {
    width: 20%;
  }

  .xsm-pull-12 {
   right: 100%;
  }
  .xsm-pull-11 {
   right: 91.66666667%;
  }
  .xsm-pull-10 {
   right: 83.33333333%;
  }
  .xsm-pull-9 {
   right: 75%;
  }
  .xsm-pull-8 {
   right: 66.66666667%;
  }
  .xsm-pull-7 {
   right: 58.33333333%;
  }
  .xsm-pull-6 {
   right: 50%;
  }
  .xsm-pull-5 {
   right: 41.66666667%;
  }
  .xsm-pull-4 {
   right: 33.33333333%;
  }
  .xsm-pull-3 {
   right: 25%;
  }
  .xsm-pull-2 {
   right: 16.66666667%;
  }
  .xsm-pull-1 {
   right: 8.33333333%;
  }
  .xsm-pull-0 {
   right: auto;
  }
  .xsm-push-12 {
   left: 100%;
  }
  .xsm-push-11 {
   left: 91.66666667%;
  }
  .xsm-push-10 {
   left: 83.33333333%;
  }
  .xsm-push-9 {
   left: 75%;
  }
  .xsm-push-8 {
   left: 66.66666667%;
  }
  .xsm-push-7 {
   left: 58.33333333%;
  }
  .xsm-push-6 {
   left: 50%;
  }
  .xsm-push-5 {
   left: 41.66666667%;
  }
  .xsm-push-4 {
   left: 33.33333333%;
  }
  .xsm-push-3 {
   left: 25%;
  }
  .xsm-push-2 {
   left: 16.66666667%;
  }
  .xsm-push-1 {
   left: 8.33333333%;
  }
  .xsm-push-0 {
   left: auto;
  }
  /* reset previous grid */
  .cols-multi .xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sm-1,
  .sm-10,
  .sm-11,
  .sm-12,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9,
  .sm-15 {
    float: left;
  }
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: both;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-offset-15 {
    margin-left: 20%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-15 {
    width: 20%;
  }
  .sm-pull-12 {
   right: 100%;
  }
  .sm-pull-11 {
   right: 91.66666667%;
  }
  .sm-pull-10 {
   right: 83.33333333%;
  }
  .sm-pull-9 {
   right: 75%;
  }
  .sm-pull-8 {
   right: 66.66666667%;
  }
  .sm-pull-7 {
   right: 58.33333333%;
  }
  .sm-pull-6 {
   right: 50%;
  }
  .sm-pull-5 {
   right: 41.66666667%;
  }
  .sm-pull-4 {
   right: 33.33333333%;
  }
  .sm-pull-3 {
   right: 25%;
  }
  .sm-pull-2 {
   right: 16.66666667%;
  }
  .sm-pull-1 {
   right: 8.33333333%;
  }
  .sm-pull-0 {
   right: auto;
  }
  .sm-push-12 {
   left: 100%;
  }
  .sm-push-11 {
   left: 91.66666667%;
  }
  .sm-push-10 {
   left: 83.33333333%;
  }
  .sm-push-9 {
   left: 75%;
  }
  .sm-push-8 {
   left: 66.66666667%;
  }
  .sm-push-7 {
   left: 58.33333333%;
  }
  .sm-push-6 {
   left: 50%;
  }
  .sm-push-5 {
   left: 41.66666667%;
  }
  .sm-push-4 {
   left: 33.33333333%;
  }
  .sm-push-3 {
   left: 25%;
  }
  .sm-push-2 {
   left: 16.66666667%;
  }
  .sm-push-1 {
   left: 8.33333333%;
  }
  .sm-push-0 {
   left: auto;
  }
  /* reset previous grid */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .md-1,
  .md-10,
  .md-11,
  .md-12,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-15 {
    float: left;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-offset-15 {
    margin-left: 20%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-15 {
    width: 20%;
  }
  .md-pull-12 {
   right: 100%;
  }
  .md-pull-11 {
   right: 91.66666667%;
  }
  .md-pull-10 {
   right: 83.33333333%;
  }
  .md-pull-9 {
   right: 75%;
  }
  .md-pull-8 {
   right: 66.66666667%;
  }
  .md-pull-7 {
   right: 58.33333333%;
  }
  .md-pull-6 {
   right: 50%;
  }
  .md-pull-5 {
   right: 41.66666667%;
  }
  .md-pull-4 {
   right: 33.33333333%;
  }
  .md-pull-3 {
   right: 25%;
  }
  .md-pull-2 {
   right: 16.66666667%;
  }
  .md-pull-1 {
   right: 8.33333333%;
  }
  .md-pull-0 {
   right: auto;
  }
  .md-push-12 {
   left: 100%;
  }
  .md-push-11 {
   left: 91.66666667%;
  }
  .md-push-10 {
   left: 83.33333333%;
  }
  .md-push-9 {
   left: 75%;
  }
  .md-push-8 {
   left: 66.66666667%;
  }
  .md-push-7 {
   left: 58.33333333%;
  }
  .md-push-6 {
   left: 50%;
  }
  .md-push-5 {
   left: 41.66666667%;
  }
  .md-push-4 {
   left: 33.33333333%;
  }
  .md-push-3 {
   left: 25%;
  }
  .md-push-2 {
   left: 16.66666667%;
  }
  .md-push-1 {
   left: 8.33333333%;
  }
  .md-push-0 {
   left: auto;
  }
  /* reset previous grid */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lg-1,
  .lg-10,
  .lg-11,
  .lg-12,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-15 {
    float: left;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-offset-15 {
    margin-left: 20%;
  }
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-15 {
    width: 20%;
  }
  .lg-pull-12 {
   right: 100%;
  }
  .lg-pull-11 {
   right: 91.66666667%;
  }
  .lg-pull-10 {
   right: 83.33333333%;
  }
  .lg-pull-9 {
   right: 75%;
  }
  .lg-pull-8 {
   right: 66.66666667%;
  }
  .lg-pull-7 {
   right: 58.33333333%;
  }
  .lg-pull-6 {
   right: 50%;
  }
  .lg-pull-5 {
   right: 41.66666667%;
  }
  .lg-pull-4 {
   right: 33.33333333%;
  }
  .lg-pull-3 {
   right: 25%;
  }
  .lg-pull-2 {
   right: 16.66666667%;
  }
  .lg-pull-1 {
   right: 8.33333333%;
  }
  .lg-pull-0 {
   right: auto;
  }
  .lg-push-12 {
   left: 100%;
  }
  .lg-push-11 {
   left: 91.66666667%;
  }
  .lg-push-10 {
   left: 83.33333333%;
  }
  .lg-push-9 {
   left: 75%;
  }
  .lg-push-8 {
   left: 66.66666667%;
  }
  .lg-push-7 {
   left: 58.33333333%;
  }
  .lg-push-6 {
   left: 50%;
  }
  .lg-push-5 {
   left: 41.66666667%;
  }
  .lg-push-4 {
   left: 33.33333333%;
  }
  .lg-push-3 {
   left: 25%;
  }
  .lg-push-2 {
   left: 16.66666667%;
  }
  .lg-push-1 {
   left: 8.33333333%;
  }
  .lg-push-0 {
   left: auto;
  }
  /* reset previous grid */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .cols-multi .lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .lg-1:nth-child(12n + 13) {
    clear: left;
  }
}

.xsm-hide,
.sm-hide,
.md-hide,
.lg-hide {
  display: block;
}

.xs-hide {
  display: none;
}

@media only screen and (min-width: 480px) {
  .xs-hide,
  .sm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .xsm-hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .xs-hide,
  .xsm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .sm-hide {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .lg-hide {
    display: block;
  }
  .md-hide {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .md-hide {
    display: block;
  }
  .lg-hide {
    display: none;
  }
}

/* ICONS ------------------------------------------------------------------------------------------------------------ */
@font-face {
  font-family: "kcicons";
  src: url("fonts/kcicons.eot");
  src: url("fonts/kcicons.eot?#iefix") format("embedded-opentype"), url("fonts/kcicons.woff") format("woff"), url("fonts/kcicons.ttf") format("truetype"), url("fonts/kcicons.svg#untitled-font-1") format("svg");
  font-weight: normal!important;
  font-style: normal;
}

.icon {
  font-family: 'kcicons';
  font-style: normal!important;
}
/* sizes */
.icon-xs {
  font-size: 0.5em!important;
}
.icon-x1 {
  font-size: 0.8em!important;
}
.icon-x2 {
  font-size: 2em!important;
}
.icon-x3 {
  font-size: 4em!important;
}
/* icons */
.icon-user:after {
  content: 'a';
}
.icon-phone:after {
  content: 'b';
}
.icon-th:after {
  content: 'c';
}
.icon-mail:after {
  content: 'd';
}
.icon-chevron-down:after {
  content: 'e';
}
.icon-chevron-right:after {
  content: 'f';
}
.icon-camera:after {
  content: 'g';
}
.icon-heart:after {
  content: 'h';
}
.icon-arrow-left:after {
  content: 'i';
}
.icon-arrow-right:after {
  content: 'j';
}
.icon-info:after {
  content: 'k';
}
.icon-male:after {
  content: 'l';
}
.icon-basket:after {
  content: 'm';
}
.icon-female:after {
  content: 'n';
}
.icon-star:after {
  content: 'o';
}
.icon-exit-topright:after {
  content: 'p';
}
.icon-edit-pencil:after {
  content: 'r';
}
.icon-add:after {
  content: 'q';
}
.icon-search:after {
  content: 's';
}
.icon-favorite-heart:after {
  content: 'u';
}
.icon-unfavorite-heart:after {
  content: 't';
}
.icon-trash:after {
  content: 'w';
}
.icon-home:after {
  content: 'x';
}
.icon-bold-arrow:after {
  content: '\e003';
}
.icon-arrow-bold-right:after {
  content: '\e008';
}
.icon-arrow-bold-down:after {
  content: '\e007';
}
.icon-arrow-bold-up:after {
  content: '\e009';
}
.icon-arrow-bold-left:after {
  content: '\e00A';
}
.icon-facebook:after {
  content: '\e016';
}
.icon-twitter:after {
  content: '\e017';
}
.icon-pinterest:after {
  content: '\e015';
}
.icon-instagram:after {
  content: '\e01A';
}
.icon-truck:after {
  content: '\e01B';
}
.icon-package:after {
  content: '\e01C';
}
.icon-heart-outline:after {
  content: '\e01D';
}
.icon-envelope:after {
  content: '\e01E';
}
.icon-edit-square:after {
  content: '\e01F';
}
.icon-align-bottom:after {
  content: '\e022';
}
.icon-align-middle:after {
  content: '\e023';
}
.icon-align-top:after {
  content: '\e024';
}
.icon-align-left:after {
  content: '\e027';
}
.icon-align-center:after {
  content: '\e025';
}
.icon-align-right:after {
  content: '\e02A';
}
.icon-align-justify:after {
  content: '\e026';
}


/* LIST ------------------------------------------------------------------------------------------------------------- */
.list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.list .list-toggle .list-toggle-text {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}
.list .list-toggle .list-toggle-text .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5em!important;
}
.list-vertical li.active > a {
  color: #575757;
}
.list-vertical li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  color: [[kleur4]];
}
.list-vertical li a:hover {
  color: #575757;
}
.list-vertical li a:active {
  color: #575757;
}
.list-vertical li a:focus {
  color: #575757;
}
.list-vertical li ul {
  margin: 0;
  border-left: 2px solid #fbc095;
  padding-left: 15px;
  margin-left: 5px;
}
.list-vertical li ul li a {
  color: #db965b;
}
.list-vertical li ul li a:hover {
  color: #575757;
}
.list-vertical li ul li a:active {
  color: #575757;
}
.list-vertical li ul li a:focus {
  color: #575757;
}
/* END LIST-VERTICAL */
.list-decimal {
  list-style-type: decimal;
}

/* NAVBAR ----------------------------------------------------------------------------------------------------------- */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 99;
  background-color: [[kleur2]];
}
.navbar .topbar {
  height: 50px;
}
.navbar .topbar .topbar-menu-left,
.navbar .topbar .topbar-menu-right {
  display: none;
}
.navbar .middlebar {
  height: 50px;
}
.navbar .collapse {
  background: [[kleur1]];
  position: fixed;
  display: none;
  width: 100%;
  overflow-y: scroll;
  top: 90px;
  left: 0;
  bottom: 0;
}
.navbar .middlebar .collapse .navbar-search {
  display: none;
}
.navbar .navbar-hamburger {
  cursor: pointer;
  padding: 4px 16px 4px 0;
  background-color: transparent;
  border: 1px solid transparent;
  /* when using with border:
  padding: 4px 8px; */
  margin: 8px 0;
  outline: none;
  width: 45px;
  display: inline-block;
}
.navbar .navbar-hamburger .icon-bar {
  display: block;
  margin: 3px 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: [[kleur4]];
}
.navbar a.logo {
  color: [[kleur4]];
  font-size: 20px;
  vertical-align: middle;
}
.navbar .topbar a.logo {
  width: calc(100% - 95px);
  text-align: left;
  display: inline-block;
}
.navbar .topbar a.logo img {
  max-width: 80%;
  max-height: 50px;
  margin: 0 auto;
}
.navbar  .topbar .topbar-basket-mob {
  display: inline-block;
  float: right;
  padding: 10px 0;
  width: 50px;
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 0;
  right: 15px;
  /* when using with a colored background:
  text-align: center;
  background-color: #ccc;
  padding: 10px;
  margin-right: -15px; */
}
.navbar  .topbar .topbar-basket-mob i {
  color: [[kleur4]];
  font-size: 20px;
}
.navbar .topbar .topbar-basket-menu-mob {
  position: relative;
  background-color: [[kleur2]];
  padding: 15px 0;
  margin-top: 40px;
  z-index: 99;
  display: none;
  margin-left: -15px;
  margin-right: -15px;
}
.navbar .topbar .topbar-basket-menu-mob ul li {
  border-top: 1px solid #eee;
}
.navbar .middlebar {
  background-color: [[kleur1]];
}
.navbar .middlebar a.logo {
  display: none;
}
.navbar .middlebar ul.middlebar-menu-left li a,
.navbar .middlebar ul.middlebar-menu-right li a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.navbar .middlebar ul.middlebar-menu-left li a:hover,
.navbar .middlebar ul.middlebar-menu-right li a:hover {
  background-color: #eee;
}
.navbar .middlebar .open-navbar-search {
  display: none;
}
.navbar .middlebar .navbar-search-field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 89;
  padding: 10px 15px;
}
.navbar .middlebar .navbar-search-field .search-button-field {
  float: right;
  display: block;
  border: none;
  height: 30px;
  width: 40px;
  padding: 0 0 0 10px;
  cursor: pointer;
  background-color: transparent;
}
.navbar .middlebar .navbar-search-field .search-button-field i {
  font-size: 17px;
}
.navbar .middlebar .navbar-search-field .search-button-field i:after {
  color: [[kleur4]];
}
.navbar .middlebar .navbar-search-field .search-input-field {
  overflow: hidden;
}
.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
  display: block;
  border: none;
  width: 100%;
  height: 30px;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navbar .topbar {
    background-color: [[kleur1]];
    height: 60px;
  }
  .navbar .navbar-hamburger {
    margin: 13px 0;
  }
  .navbar .topbar a.logo {
    width: calc(100% - 395px);
    text-align: left;
  }
  .navbar .topbar a.logo img {
    max-height: 60px;
  }
  .navbar .topbar .topbar-basket-mob {
    width: 40px;
    padding: 15px 0;
  }
  .navbar .topbar .topbar-basket-menu-mob {
    margin-top: 0;
  }
  .navbar .middlebar {
    background-color: [[kleur1]];
    position: absolute;
    right: 50px;
    width: 290px;
    top: 0;
  }
  .navbar .collapse {
    top: 60px;
  }
  .navbar .middlebar .navbar-search-field {
    top: 0;
    padding: 15px 0;
    width: 280px;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    width: 250px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar {
    position: relative;
    left: auto;
    top: auto;
    height: 125px;
  }
  .navbar .topbar {
    height: 50px;
    background: [[kleur2]];
  }
  .navbar .navbar-hamburger,
  .navbar .topbar a.logo,
  .navbar .topbar .topbar-basket-mob {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul {
    margin-bottom: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
  }
  .navbar .topbar .topbar-menu-right > ul > li a {
    display: block;
    padding: 10px 5px;
    margin: 0;
    border: none;
    color: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right > ul > li:last-of-type a {
    padding-right: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:hover,
  .navbar .topbar .topbar-menu-right > ul > li a:active,
  .navbar .topbar .topbar-menu-right > ul > li a:focus {
    color: [[kleur5]];
  }
  .navbar .topbar .topbar-menu-right > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .navbar .topbar .topbar-menu-right > ul > li i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  .navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
    padding-left: 0;
    padding-right: 0;
  }
   .navbar .topbar .topbar-menu-right > ul > li.dropdown {
    position: relative;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
    z-index: 999;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a,
  .navbar .topbar .topbar-menu-right > ul > li.dropdown.active a:active {
    color: [[kleur4]];
    background: #fff;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
    color: #fff; /*[[kleur2]];*/
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown .dropdown-content {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > a {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 33;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
    width: auto;
    right: 0;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    left: auto;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li > a {
    display: block;
    padding: 5px 10px;
    text-align: left;
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover {
    background: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li:hover a {
    color: #fff;
  }
  .navbar .middlebar {
    height: 75px;
    top: 50px;
    width: 100%;
    right: 0;
  }
  .navbar .collapse {
    display: block;
    left: auto;
    bottom: auto;
    top: 0;
    position: relative;
    background: [[kleur1]];
    height: 75px;
    overflow-y: inherit;
    /*overflow: auto;*/
  }
  .navbar .middlebar a.logo {
    position: relative;
    display: inline;
    color: [[kleur4]];
    line-height: 70px;
    font-size: 45px;
  }
  .navbar .middlebar a.logo img {
    position: relative;
  }
  .navbar .middlebar a.logo:hover,
  .navbar .middlebar a.logo:active,
  .navbar .middlebar a.logo:focus {
    color: [[kleur4]];
  }
  .navbar .middlebar ul.middlebar-menu-left,
  .navbar .middlebar ul.middlebar-menu-right {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    height: 75px;
  }
  .navbar .middlebar ul.middlebar-menu-left {
    min-width: 200px;
    display: inline;
  }
  .navbar .topbar .topbar-menu-right {
    display: inline-block;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    right: 0;
  }
  .navbar .middlebar ul.middlebar-menu-left li,
  .navbar .middlebar ul.middlebar-menu-right li {
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .navbar .middlebar ul.middlebar-menu-right li {
    border-right: 1px solid #fff;
    margin-left: -3px;
  }
  .navbar .middlebar ul.middlebar-menu-right li:first-child {
    border-left: 1px solid #fff;
  }
  .navbar .middlebar ul.middlebar-menu-right li:hover {
    background-color: [[kleur6]];
  }
  .navbar .middlebar ul.middlebar-menu-right > li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
  }
  .navbar .middlebar ul.middlebar-menu-left > li a,
  .navbar .middlebar ul.middlebar-menu-right > li a {
    position: relative;
    display: inline-block;
    height: 100%;
    color: inherit;
    line-height: 1em;
    overflow: hidden;
    padding: calc(37.5px - 0.5em) 15px;
    border-bottom: 0;
  }
  .navbar .middlebar ul.middlebar-menu-right li a:hover,
  .navbar .middlebar ul.middlebar-menu-right li a:active,
  .navbar .middlebar ul.middlebar-menu-right li a:focus,
  .navbar .middlebar ul.middlebar-menu-left li a:hover,
  .navbar .middlebar ul.middlebar-menu-left li a:active,
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: [[kleur4]];
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown,
  .navbar .middlebar ul.middlebar-menu-right .dropdown {
    position: relative;
  }

  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    margin-top: 75px;
    margin-bottom: -9px;
    background-color: [[kleur6]];
    display: none;
    z-index: 999;
    width: 100%;
    min-width: 200px;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li {
    padding: 0;
    margin-left: 0;
    margin-top: -6px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:first-of-type,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:first-of-type {
    margin-top: 0;
  }

  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:last-of-type,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li:last-of-type {
    border-bottom: none;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li a:hover,
  .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a:hover {
    background-color: [[kleur7]];
    color: #fff;
  }
  .navbar .middlebar .navbar-search-field {
    display: block;
    position: absolute;
    top: -50px;
    right: 5px;
    left: auto;
    height: 50px;
    width: 220px;
    z-index: 89;
    padding: 10px;
    background-color: transparent;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    height: 30px;
    border: none;
    width: 30px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    z-index: 89;
    margin: 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    position: absolute;
    right: 0;
    display: block;
    width: 175px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #eee;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .navbar .middlebar .dropdown-fullwidth-menu ul li {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .topbar .topbar-menu-right {
    position: absolute;
    top: 0;
    right: 230px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .topbar .topbar-menu-left {
    display: inline-block;
  }
  .navbar .topbar .topbar-menu-left li {
    padding: 0 5px;
    margin: 10px 0;
  }
  .navbar .topbar .topbar-menu-left a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 11px 0;
    height: 100%;
    color: [[kleur5]];
  }
  .navbar .topbar .topbar-menu-left a:first-of-type {
    padding-left: 0;
  }
  .navbar .topbar .topbar-menu-left a:hover,
  .navbar .topbar .topbar-menu-left a:active,
  .navbar .topbar .topbar-menu-left a:focus {
    color: [[kleur4]];
  }
  .navbar .topbar .topbar-menu-right {
    float: right;
  }
  .navbar .middlebar .container {
    position: relative;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    right: 230px;
    /* when searchfield is not visible:
      right: 45px;
    */
  }
  .navbar .middlebar .open-navbar-search {
    position: absolute;
    top: 0;
    right: 15px;
    height: 75px;
    width: 30px;
    z-index: 99;
    background: [[kleur1]];
    display: none;
    /* when searchfield is not visible:
      display: block;
    */
    padding-top: 22px;
    text-align: center;
  }
  .navbar .middlebar .open-navbar-search i {
    font-size: 17px;
  }
  .navbar .middlebar .navbar-search-field {
    position: absolute;
    top: 0;
    height: 75px;
    width: 200px;
    z-index: 89;
    padding: 0;
    background: transparent;
    /* when searchfield is not visible:
      display: none;
      background: [[kleur6]];
    */
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    height: 25px;
    border: none;
    width: 30px;
    padding: 0;
    text-align: center;
    margin: 22.5px 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    width: 170px;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    right: 30px;
    height: 45px;
    border: none;
    margin: 22.5px 0;
    width: 170px;
  }
}

/* ORDER-FLOW ------------------------------------------------------------------------------------------------------- */
.order-flow {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-size: 11px;
}
.order-flow a {
  display: block;
}
.order-flow .order-flow-details {
  display: inline-block;
  vertical-align: middle;
}
.order-flow .order-flow-details-body {
  padding: 15px;
  background-color: #fcfcfc;
  line-height: 15px;
}
.order-flow .order-flow-details-body .order-flow-details-status {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
.order-flow .order-flow-details-body strong {
  display: block;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .order-flow .order-flow-info strong {
    float: right;
  }
}
@media (min-width: 992px) {
  .order-flow-info strong {
    float: none !important;
  }
  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}

/* PILLS ------------------------------------------------------------------------------------------------------------ */
ul.pills {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  z-index: 1;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: #e0b592;
  background-color: #ffeace;
}
ul.pills > li > a:hover {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:active {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: #feddbd;
  color: inherit;
}

/* TABLE ------------------------------------------------------------------------------------------------------------ */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  background-color: #fbf7f8;
  color: inherit;
}
.table > thead > tr > th,
.table tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-unstyled {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.table-unstyled > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: none;
  background-color: inherit;
  color: inherit;
}
.table-unstyled > thead > tr > th,
.table-unstyled tbody > tr > th,
.table-unstyled > tfoot > tr > th,
.table-unstyled > thead > tr > td,
.table-unstyled > tbody > tr > td,
.table-unstyled > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}

/* THUMBNAIL-CARD --------------------------------------------------------------------------------------------------- */
.thumbnail-card {
  position: relative;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 5px;
  margin-bottom: 0px;
  text-align: left;
  overflow: hidden;
}
.thumbnail-card:hover .thumbnail-card-img {
  opacity: 0.5;
}
.thumbnail-card:hover .thumbnail-card-label {
  opacity: 1;
}
.thumbnail-card a {
  display: block;
}
.thumbnail-card .thumbnail-card-label {
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-card .thumbnail-card-label a {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-card .thumbnail-card-label a:hover {
  transform: scale(1.1);
}
.thumbnail-card .thumbnail-card-label a i {
  display: inline-block;
  vertical-align: middle;
}

/* THUMBNAIL-PEOPLE ------------------------------------------------------------------------------------------------- */
.thumbnail-people {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 15px;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}
.thumbnail-people:hover .thumbnail-people-img {
  opacity: 0.5;
}
.thumbnail-people:hover .thumbnail-people-label {
  opacity: 1;
}
.thumbnail-people a {
  display: block;
}
.thumbnail-people .thumbnail-people-img img {
  width: 100%;
}
.thumbnail-people .thumbnail-people-label {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-people .thumbnail-people-label h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #f59a4b;
  font-size: 18px;
}
.thumbnail-people .thumbnail-people-label p {
  margin-top: 0;
  margin-bottom: 0px;
  color: inherit;
  font-size: 14px;
}

/* THUMBNAIL-SCROLLER ----------------------------------------------------------------------------------------------- */
.thumbnail-scroller {
  position: relative;
  width: 100%;
  background-size: 100%;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  padding-top: 20px;
}
.thumbnail-scroller .thumbnail-scroller-left {
  left: 0;
}
.thumbnail-scroller .thumbnail-scroller-right {
  right: 0;
}
.thumbnail-scroller .thumbnail-scroller-left,
.thumbnail-scroller .thumbnail-scroller-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 20;
}
.thumbnail-scroller .thumbnail-scroller-left > a,
.thumbnail-scroller .thumbnail-scroller-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
  width: 10%;
}
.thumbnail-scroller .thumbnail-scroller-left > a i,
.thumbnail-scroller .thumbnail-scroller-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-scroller a {
  display: inline-block;
  vertical-align: middle;
}

/* THUMBNAIL-SLIDER ------------------------------------------------------------------------------------------------- */
.thumbnail-slider {
  position: relative;
  padding: 20px 5px 5px;
  border-radius: 10px;
  background-color: [[kleur1]];
  border: 1px solid #e4e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
  width: 100%;
}
.thumbnail-slider .thumbnail-slider-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  z-index: 3;
}
.thumbnail-slider .thumbnail-slider-left {
  left: 0;
}
.thumbnail-slider .thumbnail-slider-right {
  right: 0;
}
.thumbnail-slider .thumbnail-slider-left,
.thumbnail-slider .thumbnail-slider-right {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  z-index: 2;
}
.thumbnail-slider .thumbnail-slider-left > a,
.thumbnail-slider .thumbnail-slider-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
  margin-top: -20px;
}
.thumbnail-slider .thumbnail-slider-left > a i,
.thumbnail-slider .thumbnail-slider-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-slider .thumbnail-slider-middle img {
  position: relative;
  left: 0px;
  right: 0px;
}
.thumbnail-slider .thumbnail-slider-bottom {
  position: relative;
  z-index: 33;
}

/* THUMBNAIL -------------------------------------------------------------------------------------------------------- */
.thumbnail {
  position: relative;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dfe5e5;
  margin-bottom: 25px;
  text-align: left;
  cursor: pointer;
  overflow:hidden;
}
.thumbnail:hover img {
  opacity: 0.5;
}
.thumbnail:hover .thumbnail-footer {
  opacity: 1;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .thumbnail-footer {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.8;
}
.thumbnail .thumbnail-footer h3 {
  margin: 0 auto;
  color: [[kleur5]];
}
.thumbnail .thumbnail-footer p {
  color: inherit;
}
.thumbnail-transparent {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.thumbnail-transparent .thumbnail-footer {
  background-color: transparent!important;
}
.thumbnail-fluid {
  padding: 0!important;
}
.thumbnail-fluid .thumbnail-footer {
  margin-top: 0;
  background-color: [[kleur1]];
}
.thumbnail-fluid .thumbnail-footer h3 {
  color: [[kleur5]];
}
.thumbnail-fluid .thumbnail-footer p {
  color: inherit;
}
.thumbnail-fluid .thumbnail-img {
  background-color: #cccccc;
  border: none;
}
.thumbnail-button {
  padding: 0!important;
  border-radius: 0px;
  border: 0px solid transparent;
}
.thumbnail-button .thumbnail-button-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: url('http://hipdesign.nl/img/bg-button/01.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding: 15px 20px 0 20px;
  height: 45px;
}

