/*

This is the css file for the video page. 

You need:
/css/video_page.css
/css/js/components/video_page.js

the content from /content/video-page.html in a new page.

*/


/**********************/
/* ADJUST ID PER SITE */
/**********************/

#body_video01234 #categories {
	display: none;
}

#body_video01234 #mid {
	width: 100%;
	padding: 0px 15px;
	margin-top: 46px; 
}

@media only screen and (min-width: 992px){
	#body_video01234 #mid {
		margin-top: 130px; 
	}
}

#body_video01234 #crumbs {
	display: none;
}

#body_video01234 #pagecontent {
	width: 100%;

}

#body_video01234 #header {
	height: 0;
}

#body_video01234 #pagebody  {
	margin-top: 0px; 
}

#body_video01234 #pagebody > h1 {
	display: none;
}



/******************/
/** VIDEO IFRAME **/
/******************/

.video-ratio {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.video-ratio img {
    width: 101%;
    top: -17.7%;
    left: 0;
    opacity: 0.7;
}
.video-ratio:hover .play-button {
	opacity: 0.9;
}
.video-ratio .video-link {
	font-family:  "Yantramanav", "sans-serif";
	text-transform: uppercase;
	font-size: 24px;
	position: absolute;
	display: block;
	top: 50%;
	transform: translate( 0, -50%);
	width: 100%;
	text-align: center;
	pointer-events: none;
	z-index: 2;
}

.video-ratio .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 3;
    opacity: 0.6;
    border-radius: 6px;
    transition: opacity 0.3s;
}
.video-ratio .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.video-ratio img {
	z-index: 1;
}
.video-ratio img,
.video-ratio .play-button {
    cursor: pointer;
}
.video-ratio img,
.video-ratio iframe,
.video-ratio .play-button,
.video-ratio .play-button:before {
    position: absolute;
}
.video-ratio .play-button,
.video-ratio .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.video-ratio iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*****************/
/** VIDEO MODAL **/
/*****************/

#video-page .modal {
	background-color: rgba(0,0,0,0.8);
}

.modal-content {
    position: relative;
    padding-bottom: 43.2%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: none;
}
.open-modal .modal-content {
    display: block;
}


.modal-content iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}


/**********/
/** PAGE **/
/**********/

#video-page {
	width: 100%;
	max-width: 1024px;
	padding: 0 8px;
	margin: 0 auto;
}
#video-page * {
	box-sizing: border-box;

}
#video-page *:focus {
	outline: none;
	
}

#video-page .cols {
	margin: 0px;
}

#video-page .icon {
	vertical-align: middle;
	font-size: 12px;
}
#video-page h2 {
	font-size: 28px !important;
	padding:10px 0;
	margin: 0;
}

#video-page p {
	line-height: 1.5em;
}

/************/
/** HEADER **/
/************/

.video-page-header {
	display: block;
	position:relative;
	width: 100%;
	background-color: #FFF;
	padding: 60px 0 0 0;
}

.video-page-header__video {
	padding: 0 8px;
	margin: 0px 0px 20px 0px;
}
.video-page-header__content {
	padding: 0 8px;
}
#video-page .video-page-header__content h2 {
	padding: 0 0 10px 0;
}

.video-page-header__content-image {
	width: 100%;
	margin-bottom: 20px;
	display: none;
}
.video-page-header__title-mobile {
	padding: 15px 20px;
	display: block;
}
.video-page-header__title-mobile h4 {
	color: #caaa82 !important;
}

.video-page-header__title-desktop {
	display: none;
}
.video-page-header__title-desktop h4 {
	color: #caaa82 !important;
}


/**********/
/** MENU **/
/**********/

.video-page-header__menu {
	padding: 0;
	background-color: #f2f2f2;
	margin: 0 -8px;
}

.video-page-header__menu.cloned {
	top: 40px;
	bottom: initial;
	display: none;
}
.video-page-header__menu li {	
	border-bottom: 1px solid #29c1c4;
	padding: 8px 20px;
	display: block;
	width: 100%;
	font-size: 18px;
}
.video-page-header__menu li:first-child {	
	border-top: 1px solid #29c1c4;
}
.video-page-header__menu li:hover {
	color: #29c1c4;
}

.video-page__scroll-to {
	cursor: pointer;
	transition: color 0.3s;
}
.video-page__scroll-to:hover {
	color: #29c1c4;
}
.video-page__scroll-to.active {
	color: #29c1c4;
}


/**************/
/** CATEGORY **/
/**************/

.video-page__category {
}

#video-page  .category-items h2 {
	font-size: 20px !important;
}
#video-page  .video-page__category h4 {
	margin: 28px 0px;
}

.video-page__category-intro {
	padding: 20px 8px;
}

/** CATEGORY__CONTENT **/ 

#video-page .video-page__category .category-content {
	padding: 15px 20px;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

#video-page .video-page__category .category-content h2 {
	font-weight: 700;
}

.video-page__category .category-content p {
	display: none;
}

/** CATEGORY__ITEMS **/ 

hr.category-devider {
	margin: 0 15%;
	border-top: 1px solid #ddd;
}

.video-duration {
	font-weight: normal;
	color: #aaa;
}
#video-page .video-page__category .category-items {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0px 30px 0px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
#video-page .video-page__category .category-items:before, #video-page .video-page__category .category-items:after {
	content: normal;
}


.video-page__category .category-items__item {
	margin: 0px 8px 15px 8px;
	position: relative;	
	border: 1px solid #ddd;
	padding: 0px;
}

#video-page .video-page__category .category-items__item-image-wrapper {
	width: 100%;
	display: block;
	position: relative;
}
#video-page .video-page__category .category-items__item-image-wrapper:after {
	padding-top: 56.25%;
	/* 16:9 ratio */
	display: block;
	content: '';
}

#video-page .video-page__category .category-items__item-image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-position:50%;
}




.video-page__category .category-items__item-wrapper {
	height: 100%;	
}
.video-page__category .category-items__item .video-ratio {
	border-bottom: none;
}
.video-page__category .category-items__item .category-video__description, .category-item__description {
	padding: 10px;
	margin-top: 5px;
}
#video-page .video-page__category .category-items__item .category-item__description h2 {
	padding-top: 0px;
}

.video-page__category .category-items__item .category-item__description p {
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 0;
}

.category-item_description-button {
	color: #29c1c4;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.category-item_description-button:hover {
	color: #555;
}




/** CATEGORY SPECIFIC **/


/***********/
/** ABOUT **/
/***********/

.video-page__about {
	max-width: 1024px;
	margin: 0 auto;
}

.video-page__about-header {
	padding: 28px 8px;
}

.video-page__about-header h2 {
	
}

#video-page .video-page__about-item {
	display: flex;
	flex-direction: column;
}

.video-page__about-item .about-item__content {
	padding: 15px 10px;
	order: 1;
}

#video-page .video-page__about-item .about-item__content h2 {
	font-weight: 700;
	margin: 0 0 10px 0;
	font-size: 24px; 
}

.video-page__about-item .about-item__image {
	padding: 0px 10px;
	order: 2;
	overflow: hidden;
	background-size: cover;
	display: none;
	min-height: 200px;

}

.video-page__about-item .about-item__image img {
	width: 100%;
}

#video-to-mailbox-form {
	padding: 0px;
}
#video-to-mailbox-form .cols {
	margin: 0px -15px 10px -15px;
}


/************/
/** TO TOP **/
/************/

.video-page__to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #29c1c4;
	color: #fff;
	text-align: center;
	padding: 6px 10px;
	line-height: 16px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s;
	opacity: 0.7;
	z-index: 100;
}
.video-page__to-top:hover {
	opacity: 1;
}

.video-page__to-top .icon {
	display: block;
}

/************/
/** FOOTER **/
/************/


.video-page__footer {
	width: 320px;
	margin: 30px auto;
	text-align: center;

}
.video-page__footer-signature {
}
.video-page__footer-logo {
	width: 100px;
}

/**********/
/** FORM **/
/**********/


#video-to-mailbox-form {
	width: 100%;
}
#video-to-mailbox-form input.button {
	padding: 6px 0;
	margin: 1px 0;
	width: 100%;
}

/*******************/
/** MEDIA QUERIES **/
/*******************/

@media only screen and (min-width: 480px){
	#video-page .video-page__category .category-items__item {
		width: calc(50% - 16px);
	}
}


@media only screen and (min-width: 768px){
	.video-page-header {
		padding: 30px 20px 30px 20px;
	}
	.video-page-header__content-image {
		display: block;
	}

	.video-page-header__video {
		padding: 0 15px;
	}
	.video-page-header__content {
		padding: 60px 45px 30px 45px;
	}
	.video-page-header__menu {
		text-align: left;
		margin: 0;
	}

	.video-page-header__menu li {
		border: none;
		width: auto;
		display: inline-block;
		padding: 20px 10px 20px 33px;		
	}	
	.video-page-header__menu li:first-child {
		border: none;
	}
	.video-page__category .category-content p {
		display: block;
	}
	.video-page__category-intro {
		padding: 20px 30px;
	}
	#video-page .video-page__category .category-items {
		padding: 15px 20px 15px 20px;
	}
	#video-page .video-page__category .category-items__item {
		margin: 0 10px 15px 10px;
		padding: 0px;
		width: calc(33% - 20px);
	}


	.video-page__about-header {
		padding: 28px 30px;
	}
	#video-page .video-page__about-item {
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 40px;
	}
	.video-page__about-item .about-item__content {
		padding: 15px 30px;
	}
	.video-page__about-item .about-item__image {
		padding: 0px;
	}
	.video-page__about-item:nth-child(odd) {
		background-color: #f2f2f2;
	}
	.video-page__about-item:nth-child(odd) .about-item__content {
		order: 3;
		margin-left: 50px;
	}
	.video-page__about-item:nth-child(even) .about-item__image {
		margin-left: 50px;
	}


}

@media only screen and (min-width: 480px){
	.video-page__about-item .about-item__image {
		display: block;
	}
}


@media only screen and (min-width: 992px){
	.video-page-header__menu.cloned {
		position: fixed;
		top: 0px;
		bottom: initial;
		z-index: 999;
	}

	.video-page-header__menu.cloned.show {
		display: block;
	}
	#video-page .video-page__category .category-items__item {
		width: calc(25% - 20px);
	}

}
