<div class="container">
    <div class="cols">
        <div class="xs-12">
            <p>We hebben meer dan 20 kleuren enveloppen, in allerlei verschillende formaten die passen bij het formaat van je kaartje. Wist je dat je envelop altijd iets groter moet zijn dan je kaartje? Bestel de enveloppen vooraf en bespaar zo een hoop tijd! Of kies voor onze
                <a href="/direct-verzenden" target="_blank">verzendservice</a> - en wij versturen de kaartjes voor je. De enveloppen zijn &euro;0,25 per stuk, behalve goud, zilver en parelmoer, die &euro;0,35 per stuk zijn.</p>
            <a class="button button-turquoise button-arrow-right href=" href="/bestel_details?keuze=enveloppen">Bestel enveloppen</a>
        </div>
    </div>
    <div class="cols env-wrap">
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=wit"><img alt="" src="/img/enveloppen/vierkant-wit-90x90.jpg" />
                <span class="env-title">Wit</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=crème"><img alt="" src="/img/enveloppen/vierkant-creme-90x90.jpg" />
                <span class="env-title">Cr&egrave;me</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=lichtgrijs"><img alt="" src="/img/enveloppen/vierkant-lichtgrijs-90x90.jpg" />
                <span class="env-title">Lichtgrijs</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=peach"><img alt="" src="/media/vierkantpeach90x90.jpg" />
                <span class="env-title">Perzik</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=oranje"><img alt="" src="/img/enveloppen/vierkant-oranje-90x90.jpg" />
                <span class="env-title">Oranje</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=koraalrood"><img alt="" src="/img/enveloppen/vierkant-koraalrood-90x90.jpg" />
                <span class="env-title">Koraalrood</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=lichtroze"><img alt="" src="/img/enveloppen/vierkant-lichtroze-90x90.jpg" />
                <span class="env-title">Lichtroze</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=knalroze"><img alt="" src="/img/enveloppen/vierkant-knalroze-90x90.jpg" />
                <span class="env-title">Knalroze</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=lichtblauw"><img alt="" src="/img/enveloppen/vierkant-lichtblauw-90x90.jpg" />
                <span class="env-title">Lichtblauw</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=koningsblauw"><img alt="" src="/img/enveloppen/vierkant-koningsblauw-90x90.jpg" />
                <span class="env-title">Koningsblauw</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=donkerblauw"><img alt="" src="/img/enveloppen/vierkant-donkerblauw-90px.jpg" />
                <span class="env-title">Donkerblauw</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=kraft"><img alt="" src="/img/enveloppen/vierkant-kraft-90px.jpg" />
                <span class="env-title">Kraft</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=mintgroen"><img alt="" src="/media/vierkantmintgroen90x90.jpg" />
                <span class="env-title">Mintgroen</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=appeltjesgroen"><img alt="" src="/img/enveloppen/vierkant-appelgroen-90x90.jpg" />
                <span class="env-title">Appeltjesgroen</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=olijfgroen"><img alt="" src="/media/vierkantolijfgroen90x90.jpg" />
                <span class="env-title">Olijfgroen</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=paars"><img alt="" src="/img/enveloppen/vierkant-paars-90x90.jpg" />
                <span class="env-title">Paars</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=lavendel"><img alt="" src="/img/enveloppen/vierkant-lavendel-90px.jpg" />
                <span class="env-title">Lavendel</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=parelmoer"><img alt="" src="/media/vierkantparelmoerwit90x90.jpg" />
                <span class="env-title">Parelmoer</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=goud"><img alt="" src="/img/enveloppen/vierkant-goud-90x90.jpg" />
                <span class="env-title">Goud</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=zilver"><img alt="" src="/img/enveloppen/vierkant-zilver-90x90.jpg" />
                <span class="env-title">Zilver</span>
            </a>
        </div>
        <div class="xs-4 sm-15 md-2 env-item">
            <a href="/bestel_details?keuze=envelop&amp;color=Transparant Wit"><img alt="" src="/img/enveloppen/envelop-transparant.jpg" />
                <span class="env-title">Transparant</span>
            </a>
        </div>
    </div>
    <div class="cols">
        <div class="xs-12">
            <p>Wil je een speciale envelop of een kleur die er niet bijstaat, neem dan even
                <a href="https://hierbenik.nl/contact" target="_blank">contact</a> met ons op.</p>
            <p><strong>Tip: bestel je enveloppen vooraf</strong>, dan heb je ze alvast in huis en kun je rustig de adressen er op schrijven. Zo ligt alles klaar op het moment dat je kindje geboren wordt. Wel zo makkelijk en een rustgevende gedachte.&nbsp;</p>
            <p>
                <span style="line-height: 20.8px;">Ben je op zoek naar <strong>postzegels</strong> voor jullie envelopppen? Kijk dan&nbsp;</span>
                <a href="http://hierbenik.nl/postzegels" style="line-height: 20.8px;" target="_blank">hier voor de laatste tarieven en bestelpunten</a>
                <span style="line-height: 20.8px;">.&nbsp;</span>
            </p>
            <h2>Maak je enveloppen persoonlijk!</h2>
            <p>De enveloppen van jullie geboortekaartjes maak je nog leuker door ze te versieren met lieve extra&#39;s. Wat dacht je van een schattig lintje&nbsp;met bijvoorbeeld een naamlabeltje of sluit de enveloppen met een trendy sluitzegel?</p>
            <p>Je kunt de enveloppen ook versieren met hippe stempels of washitape. Schrijf de adressen in sierlijke letters op de envelop en maak het geheel af met een mooi kader.&nbsp;</p>
            <p>Meer inspiratie en leuke tips voor het versieren van&nbsp;enveloppen vind&nbsp;je in dit
                <a href="http://babyblog.nl/hoe-maak-je-van-je-geboortekaartje-een-echt-kadootje/" target="_blank">artikel</a>.&nbsp;</p>
            <h2 class="enveloppen-block-info">
                <a href="/sluitzegels"><img alt="" src="/media/bloksluit2.png" /></a>Sluitzegels voor op je envelop</h2>
            <p>Steeds vaker zien we sluitzegels op de enveloppen van geboortekaartjes. We hebben daarom een supergave collectie met geboorte sluitzegels gemaakt. Met meer dan
                <a href="/sluitzegels" target="_blank">25 verschillende soorten baby sluitzegels</a> heb je keus genoeg! Een vel van 35 stuks kost maar &euro;5,95. Je betaalt geen extra verzendkosten als je deze tegelijk met je kaartjes of met de enveloppen bestelt.</p>
            &nbsp;
            <h2 class="enveloppen-block-info">
                <a href="/direct-verzenden"><img alt="" src="/media/blokdv.png" /></a>Directe verzending</h2>
            <p>Met onze speciale verzendservice kunnen we je geboortekaartjes rechtstreeks naar je familie en vrienden sturen. Voor het
                <a href="/direct-verzenden" target="_blank">direct verzenden</a> van&nbsp;de kaartjes rekenen wij &euro;1,20 verzendkosten per kaartje. Directe verzending buiten Nederland kost &euro;1,70 per kaart. De speciaal ontworpen geboortezegel is bij de prijs inbegrepen!</p>
        </div>
    </div>
</div>