<footer>
	<div class="footer-usps">
		<div class="container">
			<div class="cols">
				<div class="xs-12 md-4 footer-usp-trust"><span class="footer-usp-text">Vertrouwd winkelen</span><img src="/media/LogothuiswinkelWaarborg.png" style="width: 80px; height: 25px;" /></div>

				<div class="xs-12 md-5 footer-usp-payment"><span class="footer-usp-text">Veilig betalen</span><img src="/img/HBI/betaalmethodes%20HierBenIk.png" /></div>

				<div class="xs-12 md-3 footer-usp-delivery"><span class="footer-usp-text">Snelle bezorging </span><img src="/img/logo-postnl.png" /></div>
			</div>
		</div>
	</div>

	<div class="footer-menu">
		<div class="container">
			<div class="cols">
				<div class="xs-12 sm-6 md-3 footer-menu-left"><img src="/img/logo-new.png" />
					<h4>Welkom in onze wereld</h4>

					<div class="footer-menu-left-social">
						<div class="footer-menu-left-social-button"><a href="https://www.facebook.com/hierbeniknl"><i class="icon icon-facebook">&nbsp;</i></a></div>

						<div class="footer-menu-left-social-button"><a href="https://nl.pinterest.com/hierbeniknl/"><i class="icon icon-pinterest">&nbsp;</i></a></div>

						<div class="footer-menu-left-social-button"><a href="https://www.instagram.com/hierbenik.nl/"><i class="icon icon-instagram">&nbsp;</i></a></div>
						<!--footer-menu-left-social-->
					</div>
					<!--footer-menu-left-->
				</div>

				<div class="xs-12 sm-6 md-3 footer-menu-middle">
					<ul>
						<li><a href="/faq">Veelgestelde vragen</a></li>
						<li><a href="/garantie">Garantie</a></li>
						<li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
						<li><a href="/privacy">Privacy</a></li>
						<li><a href="/over-ons">Over ons</a></li>
					</ul>
				</div>

				<div class="xs-12 sm-6 md-3 footer-menu-middle">
					<ul>
						<li><a href="/hoe-werkt-het">Hoe werkt het?</a></li>
						<li><a href="/prijzen">Prijzen</a></li>
						<li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
						<li><a href="/proefdruk">Proefdruk bestellen</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>

				<div class="xs-12 sm-6 md-3 footer-menu-right">
					<div class="footer-menu-right-experiences-grade">9.6</div>

					<div class="footer-menu-right-experiences-facts">
						<h6>Klantwaardering</h6>

						<p>9,6&nbsp;van 665 stemmen</p>
					</div>

					<div class="footer-menu-right-experiences-feedback">
						<p>Snelle levering, fijne site, prima geholpen aan de telefoon!</p>
						<a href="https://beoordelingen.feedbackcompany.nl/NL-NL/hierbenik.nl.html" target="_blank">via the Feedback Company</a>
					</div>
				</div>
				<!--cols-->
			</div>
		</div>
	</div>
	<!-- BRANDBAR, CSS IS PLACED IN CUSTOM_NEW.CSS -->

	<link href="/css/brandbar.css" rel="stylesheet" type="text/css">   

	<div class="footer-brandbar">
		<ul class="footer-brandbar__items">
			<li class="footer-brandbar__item"><a title="hippe geboortekaartjes" class="footer-brandbar__item--hg" href="https://hippe-geboortekaartjes.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="hipdesign" class="footer-brandbar__item--hd" href="https://hipdesign.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="hierbenik" class="footer-brandbar__item--hbi" href="https://hierbenik.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="fuif" class="footer-brandbar__item--f" href="https://fuif.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="wensplein" class="footer-brandbar__item--wp" href="https://wensplein.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="salut" class="footer-brandbar__item--sl" href="https://salut.nl" target="_blank">&nbsp;</a></li>
			<li class="footer-brandbar__item"><a title="conoleancekaart" class="footer-brandbar__item--ck" href="https://condoleancekaart.nl" target="_blank">&nbsp;</a></li>
		</ul>
	</div>


	<!--footer-menu--><script type="text/javascript" src="/css/js/jquery.easing.1.3.js"></script><script src="/css/js/jquery.bxslider.js" type="text/javascript"></script><script src="/css/js/masonry.pkgd.min.js" type="text/javascript"></script><script src="/css/js/jquery.mmenu.min.all.js" type="text/javascript"></script><script src="/css/js/responsive-tables.js" type="text/javascript"></script><script src="/css/js/components/custom_new.js"></script><script src="/css/js/components/navbar.js"></script><script src="/css/js/components/accordion.js"></script><script src="/css/js/favorites_dynamic.js"></script><script src="/css/js/tagscroller.js"></script><script src="/css/js/cycle.js"></script><script src="/css/js/caro.js"></script><script src="/css/js/components/foldmenu.js"></script><script src="/css/js/components/thumbnail-scroller.js"></script><script src="/css/js/components/thumbnail-slider.js"></script>

</footer>
