<div class="container-fluid">
    <div class="header js-lazy-load lazy-load-background" style="background-image: url(/media/headergeboortekaartjesxlowres.jpg);">
        <div class="container">
            <div class="cols">
                <div class="xs-12 md-6">
                    <h2>Kies een<br />
geboortekaartje</h2>
                    <div class="header-usps">
                        <div class="header-usp-proof"><img src="/img/munt.png" />proefdruk &euro;1,-</div>
                        <div class="header-usp-delivery"><i class="icon icon-package">&nbsp;</i>gratis verzending</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container header-buttons">
            <div class="cols">
                <div class="xs-6 md-3">
                    <div class="xs-hide xsm-hide sm-hide">
                        <div class="header-button header-birth-girl" onclick="location.href='/geboortekaartjes-meisje';">
                            <h3>Geboortekaartjes meisjes</h3>
                            <div class="header-button-img-fullwidth"><img class="js-lazy-load lazy-load" src="media/headercompmeisjexlowres.jpg" /></div>
                            <div class="header-button-arrow"><i class="icon icon-bold-arrow icon-x2">&nbsp;</i></div>
                            <h5>Meisje</h5>
                        </div>
                    </div>
                </div>
                <div class="xs-6 md-3">
                    <div class="xs-hide xsm-hide sm-hide">
                        <div class="header-button header-birth-boy" onclick="location.href='/geboortekaartjes-jongen';">
                            <h3>Geboortekaartjes jongens</h3>
                            <div class="header-button-img-fullwidth"><img class="js-lazy-load lazy-load" src="media/headercompjongenxlowres.jpg" /></div>
                            <div class="header-button-arrow"><i class="icon icon-bold-arrow icon-x2">&nbsp;</i></div>
                            <h5>Jongen</h5>
                        </div>
                    </div>
                </div>
                <div class="xs-6 md-3">
                    <div class="xs-hide xsm-hide sm-hide">
                        <div class="header-button header-create-yourself" onclick="location.href='/geboortekaartje-zelf-maken';">
                            <h3>Ontwerp zelf je geboortekaartje</h3>
                            <div class="header-button-img-fullwidth"><img class="js-lazy-load lazy-load" src="/media/headerzelfmakenxlowres.jpg" /></div>
                            <div class="header-button-arrow"><i class="icon icon-bold-arrow icon-x2">&nbsp;</i></div>
                            <h5>Ontwerp zelf</h5>
                        </div>
                    </div>
                </div>
                <div class="xs-6 md-3">
                    <div class="xs-hide xsm-hide sm-hide">
                        <div class="header-button header-birth-new" onclick="location.href='/nieuwe-geboortekaartjes';">
                            <h3>Nieuwste geboortekaartjes</h3>
                            <div class="header-button-img-fullwidth"><img class="js-lazy-load lazy-load" src="media/headercompnieuw.jpg " /></div>
                            <div class="header-button-arrow"><i class="icon icon-bold-arrow icon-x2">&nbsp;</i></div>
                            <h5>Nieuwste</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-block">
    <div class="container">
        <div class="cols">
            <div class="xs-12">
                <div class="xs-hide xsm-hide sm-hide">
                    <p><strong>Makkelijk maken</strong> ★ <strong>Snelle levering</strong> ★ <strong>Geen onverwachte kosten</strong></p>
                </div>
                <p><strong><a href="/geboortekaartjes-jongen">Jongen</a> | <a href="/geboortekaartjes-meisje">Meisje</a> | <a href="/geboortekaartjes-tweeling">Tweeling</a> | <a href="/geboortekaartje-zelf-maken">Zelf maken</a></strong> | <strong><a href="/alle-geboortekaartjes">Alle geboortekaartjes</a></strong>&nbsp;|&nbsp;<a href="/geboortekaartje-broertje">Broertje</a> | <a href="/geboortekaartje-zusje">Zusje</a> |&nbsp;<a href="/geboortekaartje-tweeling">Tweeling</a> |&nbsp;<a href="/stoere-geboortekaartjes">Stoer</a> | <a href="/klassieke-geboortekaartjes">Klassiek</a> |&nbsp;<a href="/lieve-geboortekaartjes">Lief</a> | <a href="/originele-geboortekaartjes">Origineel</a> |&nbsp;<a href="/trendy-geboortekaartjes">Hip</a>&nbsp;| <a href="/geboortekaartjes-dieren">Dieren</a> |&nbsp;<a href="/vintage-geboortekaartjes">Vintage</a> | <a href="/geboortekaartjes-hout">Hout</a> | <a href="/romantische-geboortekaartjes">Romantisch</a>&nbsp;| <a href="/geboortekaartjes-hartjes">Hartjes</a> | <a href="/geboortekaartjes-wolkje">Wolkjes</a></p>
                <h6>Onze favoriete geboortekaartjes:</h6>
            </div>
        </div>
    </div>
</div>