<div class="visual js-visual-fullwidth-ontop" style="background-image: url(/img/header-geboortekaartjes-img-min.jpg);">
    <div class="container">
        <div class="cols">
            <div class="xs-12 md-6">
                <h1>Kies een
                    <br /> geboortekaartje
                </h1>
                <div class="header-usps">
                    <a class="header-usp-proof" href="/klantreactie">
                        <span class="header-usp-rating">9.5</span>&nbsp;Klantwaardering</a>
                    <a class="header-usp-delivery" href="/direct-verzenden">
                        <i class="icon icon-truck">&nbsp;</i>Verzendservice</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container header-buttons xs-hide xsm-hide sm-hide">
        <div class="cols">
            <div class="xs-6 md-3 xs-hide xsm-hide sm-hide">
                <div>
                    <div class="header-button header-birth-girl" onclick="location.href='/geboortekaartjes-meisje';">
                        <h3>Geboortekaartjes meisjes</h3>
                        <div class="header-button-img-fullwidth"><img src="media/headercompmeisje.jpg" /></div>
                        <div class="header-button-arrow">
                            <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                        </div>
                        <h5>Meisje</h5>
                    </div>
                </div>
            </div>
            <div class="xs-6 md-3 xs-hide xsm-hide sm-hide">
                <div>
                    <div class="header-button header-birth-boy" onclick="location.href='/geboortekaartjes-jongen';">
                        <h3>Geboortekaartjes jongens</h3>
                        <div class="header-button-img-fullwidth"><img src="media/headercompjongen.jpg" /></div>
                        <div class="header-button-arrow">
                            <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                        </div>
                        <h5>Jongen</h5>
                    </div>
                </div>
            </div>
            <div class="xs-6 md-3 ">
                <div>
                    <div class="header-button header-create-yourself" onclick="location.href='/geboortekaartje-zelf-maken';">
                        <h3>Ontwerp zelf je geboortekaartje</h3>
                        <div class="header-button-img-fullwidth"><img src="/media/geboortekaartjezelfmaken.png" /></div>
                        <div class="header-button-arrow">
                            <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                        </div>
                        <h5>Ontwerp zelf</h5>
                    </div>
                </div>
            </div>
            <div class="xs-6 md-3 xs-hide xsm-hide sm-hide">
                <div>
                    <div class="header-button header-birth-new" onclick="location.href='/nieuwe-geboortekaartjes';">
                        <h3>Nieuwste geboortekaartjes</h3>
                        <div class="header-button-img-fullwidth"><img src="media/headercompnieuw.jpg " /></div>
                        <div class="header-button-arrow">
                            <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                        </div>
                        <h5>Nieuwste</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-block">
    <div class="container">
        <div class="cols">
            <div class="xs-12">
                <div class="xs-hide xsm-hide sm-hide">
                    <p><strong>Makkelijk maken</strong> ★ <strong>Snelle levering</strong> ★ <strong>Geen onverwachte kosten</strong></p>
                </div>
                <p><strong><a href="/geboortekaartjes-jongen">Jongen</a> | <a href="/geboortekaartjes-meisje">Meisje</a> | <a href="/geboortekaartjes-tweeling">Tweeling</a> | <a href="/geboortekaartje-zelf-maken">Zelf maken</a></strong> | <strong><a href="/alle-geboortekaartjes">Alle&nbsp;kaartjes</a></strong>&nbsp;|&nbsp;
                    <a href="/geboortekaartje-broertje">Broertje</a> |
                    <a href="/geboortekaartje-zusje">Zusje</a> |&nbsp;
                    <a href="/stoere-geboortekaartjes">Stoer</a> |&nbsp;
                    <a href="/geboortekaartjes-dieren">Dieren</a>&nbsp;|&nbsp;
                    <a href="/lieve-geboortekaartjes">Lief</a>&nbsp;|&nbsp;
                    <a href="/vintage-geboortekaartjes">Vintage</a>&nbsp;|
                    <a href="/geboortekaartje-met-foto">Foto</a>
                </p>
                <h6>Onze favoriete geboortekaartjes:</h6>
            </div>
        </div>
    </div>
</div>