<div class="container">
    <p class="zelf-maken__info">Wil je een uniek geboortekaartje? Ontwerp dan zelf je geboortekaartje! Ben je niet zo creatief of kun je nog wat inspiratie gebruiken? Geen probleem, in onze editor vind je leuke afbeeldingen en patronen om je geboortekaartje mee te versieren. Bekijk alle prijzen en formaten <a href="http://hierbenik.nl/prijzen">hier</a>. Veel plezier met ontwerpen!</p>
    <h4 class="zelf-maken__title-choose">Kies je kaartje en begin direct:</h4>
    <div class="cols cols-multi">
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-vierkant-dubbel';"><img alt="vierkant geboortekaartje maken" class="img-responsive img-center" src="https://hierbenik.nl/media/Vierkantdubbelgeboortekaartjeontwerpen.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Vierkant dubbel</strong>
                        <br /> 11x11 - 13x13 - 15x15</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-staand-dubbel';"><img alt="staand geboortekaartje maken" class="img-responsive img-center" src="https://hierbenik.nl/media/Staanddubbelgeboortekaartjeontwerpen.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Staand dubbel</strong>
                        <br /> 10x15 - 11x17 - 14x21</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-liggend-dubbel';"><img alt="liggend geboortekaartje maken" class="img-responsive img-center" src="https://hierbenik.nl/media/Liggenddubbelgeboortekaartjeontwerpen.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Liggend dubbel</strong>
                        <br /> 15x10 - 17x11 - 21x14</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-vierkant-enkel';"><img alt="vierkant geboortekaartje ontwerpen" class="img-responsive img-center" src="https://hierbenik.nl/media/Vierkantgeboortekaartjezelfmaken.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Vierkant enkel</strong>
                        <br /> 8x8 - 11x11 - 13x13 - 15x15</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-staand-enkel';"><img alt="staand geboortekaartje ontwerpen" class="img-responsive img-center" src="https://hierbenik.nl/media/Staandgeboortekaartjezelfmaken.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Staand enkel</strong>
                        <br /> 10x15 - 11x17 - 14x21</p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-langwerpig';"><img alt="enkel langwerpig geboortekaartje ontwerpen" class="img-responsive img-center" src="https://hierbenik.nl/media/langwerpiggeboortekaartjemaken.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Langwerpig enkel</strong>
                        <br /> 10x21
                    </p>
                </div>
            </div>
        </div>
        <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = 'https://hierbenik.nl/choose_card/geboortekaartje-enkel-liggend';"><img alt="liggend geboortekaartje ontwerpen" class="img-responsive img-center" src="https://hierbenik.nl/media/Liggendgeboortekaartjezelfmaken.png" />
                <div class="thumbnail-footer text-center">
                    <p><strong>Liggend enkel</strong>
                        <br /> 15x10 - 17x11 - 21x14</p>
                </div>
            </div>
        </div>
    </div>
</div>
