<div class="container-fluid">
    <div class="cols">
        <div class="xs-12">
            <h2>Stoere, originele of lieve geboortekaartjes voor jongens!</h2>
            <p>Scroll lekker door onze collecties en laat je inspireren! Wist je dat je zelf kaartjes uit de meisjescategorie &lsquo;jongensachtig&rsquo; kunt maken door de kleuren aan te passen? Bestel snel een proefdruk!</p>
            <h2>Grappige teksten voor op je geboortekaartje</h2>
            <p>Om je wat inspiratie te geven hebben we komische tekstjes voor op je kaartje op een rijtje gezet:</p>
            <p>Met een vaart van twee wee&euml;n per minuut
                <br /> Ben ik op 9 augustus 2020&nbsp;om 13:05 op aarde geland&nbsp;</p>
            <p>Met grote vreugde delen wij u de verhoging van de kinderbijslag mee</p>
            <p>Om een lang verhaal kort te maken: ik ben er!</p>
            <p>Ons kleine schoppertje
                <br /> Speelt niet langer verstoppertje
                <br /> Na 9 maanden onschuldig zitten
                <br /> voor iets wat papa en mama hebben gedaan,
                <br /> heb ik dat stekkie op 7 mei 2020 verlaten
                <br /> om met zijn drietjes verder te gaan.&nbsp;</p>
            <p>Papa kon niet slapen,
                <br /> mama was niet moe,
                <br /> pas vele uurtjes later vielen hun oogjes toe,
                <br /> nu 9 maanden later ben ik gekomen,
                <br /> als antwoord op hun dromen&nbsp;</p>
            <p>Mama trots
                <br /> Papa blij
                <br /> Buikje weg
                <br /> Ik erbij&nbsp;</p>
            <p>Het was fijn om bij mama te zijn, maar nu ik papa ken, ben ik blij dat ik er ben</p>
        </div>
    </div>
</div>
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Hierbenik Geboortekaartjes",
    "description": "Geboortekaartjes",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "9.5",
        "bestRating": "10",
        "ratingCount": "973"
    }
}
</script>