<div class="top-block">
    <div class="container">
        <div class="cols">
            <div class="md-8">
                <p><strong>Makkelijk maken</strong> ★ <strong>Snelle levering</strong> ★ <strong>Geen onverwachte kosten</strong></p>
                <p>Krijg je een jongetje? Leuk! Nu kan je heel specifiek een jongens geboortekaartje maken. Ga je voor een stoer geboortekaartje, een klassiek geboortekaartje&nbsp;of toch&nbsp;een geboortekaart&nbsp;met een foto?
                    <br />
                    <br /> Meer:&nbsp;&nbsp;
                    <a href="/stoere-geboortekaartjes">Stoer</a>&nbsp;&nbsp; |&nbsp;&nbsp;
                    <a href="/geboortekaartje-broertje">Broertje</a>&nbsp;&nbsp; |&nbsp;&nbsp;
                    <a href="/geboortekaartjes-dieren">Dieren</a>&nbsp;&nbsp; | &nbsp;
                    <a href="/geboortekaartje-met-foto">Foto</a>
                </p>
            </div>
            <div class="md-4">
                <div class="img-icon"><img src="/img/boy-img.jpg" />
                    <span class="img-icon-icon img-icon-boy">&nbsp;</span>
                </div>
            </div>
            <div class="xs-12 top-block-border-bottom">&nbsp;</div>
            <!--cols-->
        </div>
        <!--container-->
    </div>
    <!--top-block-->
</div>