<div class="container">
    <div class="cols">
        <div class="xs-12">
            <p>
                <a class="button button-turquoise button-arrow-right" href="/alle-geboortekaartjes">Bekijk alle geboortekaartjes</a>
            </p>
            <h2>Geboortekaartjes maken</h2>
            <p>Geboortekaartjes maken waar je blij van wordt! Je kunt kiezen uit de leukste ontwerpen, die je gemakkelijk kunt aanpassen. Zo heb je altijd een uniek geboortekaartje voor jullie meisje of jongen.</p>
            <h2>Bewaar je favoriete babykaartjes voor later</h2>
            <p>Wil je nog niet beslissen? Je favoriete geboortekaartjes kun je opslaan in je eigen collectie. Kies een geboortekaartje uit de collectie en pas hem aan naar je eigen smaak. Of
                <a href="/geboortekaartje-zelf-maken">maak zelf je geboortekaartje</a>. Ontvang een je 1e proefdruk voor maar 1 euro en bestel je kaartjes na de geboorte van je zoon of dochter.</p>
            <h2>Zelf geboortekaartjes maken</h2>
            <p>Het kiezen van het perfecte geboortekaartje voor jullie zoontje of dochter is nog nooit zo gemakkelijk geweest. Bij HierBenIk heb je de keuze uit diverse categorie&euml;n, formaten en je kunt ook nog eens zelf de kleuren wijzigen en elementjes verschuiven. Gebruik de filters om precies de stijl te zoeken die jij mooi vind en bewerk het geboortekaartje zelf.</p>
            <h2>Een leuk geboortekaartje zoeken</h2>
            <p>Tussen alle kaartjes op HierBenIk kan je precies dat kaartje vinden die jij zoekt. In de verschillende categoriee&euml;n vind je trends en thema&#39;s die passen bij jouw kleintje. Heb jij al jouw stijl gevonden? Wacht dan niet langer en bestel een eerste proefdruk voor &euro; 1,-. Voor 18:00 besteld = vandaag gedrukt en verzonden!</p>
            <h2>Bestel vooraf enveloppen voor je geboortekaartjes</h2>
            <p>Wist je dat je de
                <a href="/enveloppen-info">enveloppen</a> gemakkelijk vooraf kunt bestellen? Dat is heel handig, want dan kun je de adressen vooraf alvast schrijven. Dan houd je tijd over om er echt iets moois van te maken. Zo kun je de enveloppen bijvoorbeeld versieren met leuke extra&#39;s zoals washi tape, strikjes of een sluitzegel.</p>
        </div>
    </div>
</div>
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Hierbenik Geboortekaartjes",
    "description": "Geboortekaartjes",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "9.5",
        "bestRating": "10",
        "ratingCount": "973"
    }
}
</script>