<script>
</script>
<!-- <link href="/css/site-hierbenik.css" rel="stylesheet" />
<link href="/css/custom-new.css" rel="stylesheet" />
 -->
<link href="/css/custom.css" rel="stylesheet" />
<div class="navbar ">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt="HierBenIk" class="logosmall" src="/img/logo.svg" /></a>
            <div class="topbar-menu-left"><img src="/img/four-star-rating.png" style="height: 12px;" />
                <a href="https://www.feedbackcompany.com/nl-nl/reviews/hierbenik-nl/" target="_blank">Klanten geven ons een 9,6</a>
                <a href="/contact">Gratis persoonlijke hulp</a>
                <a href="tel:0857430752" title="085-7430752">Vragen? 085 - 7430762</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown">
                        <a class="help" href="/hulp" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/sluitzegels">Sluitzegels</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Verzendservice</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" id="navbar-logout">
                        <a class="account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/account_adresboek">Adresboek</a>
                            </li>
                            <li>
                                <a href="/account_adres_import">Adressen importeren</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-account-mob login-m">
                <i class="icon icon-user">&nbsp;</i>
            </div>
            <div class="topbar-basket-mob">
                <i class="icon icon-basket">&nbsp;</i>
                <span class="basket-count-mob" id="navbar-basket">0 items</span>
            </div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li>
                        <a href="/basket_n">Winkelmandje</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
            <div class="topbar-account-menu-mob hide" style="display: none;">
                <p>Account overzicht</p>
                <ul>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/account_adresboek">Adresboek</a>
                    </li>
                    <li>
                        <a href="/account_adres_import">Adressen importeren</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="nav-m">
            <div class="mobile-nav__highlight-items">
                <span class="mobile-nav__highlight-item">
                    <a href="/">Home</a>
                    <!-- default -->
                </span>
            </div>
            <span class="mobile-nav__menu navbar-hamburger">
                <button type="button">
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                </button> menu </span>
        </div>
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Kaartjes"><img alt="HierBenIk" class="logo" src="/img/logo.svg" /></a>
                <ul class="middlebar-menu-left middlebar-menu-left-accordion js-middlebar-menu-left-accordion">
                    <!--<li><a href="/">Home</a></li>-->
                    <li class="dropdown">
                        <a href="javascript:void(0);">Geboortekaartjes </a>
                        <div class="dropdown-content">
                            <div class="dropdown-background-cover">&nbsp;</div>
                            <div class="dropdown-fullwidth-menu">
                                <ul class="container">
                                    <li class="middlebar-birth-girl" style="width: 20%;">
                                        <a href="/geboortekaartjes-meisje">
                                            <span>
                                                <i class="icon icon-female icon-x2">&nbsp;</i>
                                                <span>Geboortekaartjes meisjes</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="middlebar-birth-boy" style="width: 20%;">
                                        <a href="/geboortekaartjes-jongen">
                                            <span>
                                                <i class="icon icon-male icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Geboortekaartjes jongens</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="middlebar-birth-all" style="width: 20%;">
                                        <a href="/geboortekaartjes">
                                            <span>
                                                <i class="icon icon-th icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Bekijk alle geboortekaartjes</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="middlebar-create-yourself" style="width: 20%;">
                                        <a href="/geboortekaartje-zelf-maken">
                                            <span>
                                                <i class="icon icon-edit-pencil icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Ontwerp zelf een kaartje</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="middlebar-envelope" style="width: 20%;">
                                        <a href="/enveloppen-info">
                                            <span>
                                                <i class="icon icon-mail icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Bestel je enveloppen</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);">Stijlen </a>
                        <div class="dropdown-content">
                            <div class="dropdown-background-cover">&nbsp;</div>
                            <div class="dropdown-fullwidth-menu">
                                <ul class="container">
                                    <li style="width: 20%;">
                                        <a href="/stoere-geboortekaartjes">
                                            <span>
                                                <i class="icon icon-image icon-image-ster">&nbsp;</i>
                                                <span>Stoer</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="/lieve-geboortekaartjes">
                                            <span>
                                                <i class="icon icon-heart-outline icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Lief</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="/vintage-geboortekaartjes">
                                            <span>
                                                <i class="icon icon-image icon-image-horse">&nbsp;</i>
                                                <span>
                                                    <span>Vintage</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="/trendy-geboortekaartjes">
                                            <span>
                                                <i class="icon icon-image icon-image-hip-veer">&nbsp;</i>
                                                <span>
                                                    <span>Hip</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="/geboortekaartje-stijlen">
                                            <span>
                                                <i class="icon icon-th icon-x2">&nbsp;</i>
                                                <span>
                                                    <span>Alle stijlen</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/enveloppen-info">Enveloppen</a>
                    </li>
                    <li>
                        <a href="/sluitzegels">Sluitzegels</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);">Blogs </a>
                        <div class="dropdown-content">
                            <div class="dropdown-background-cover">&nbsp;</div>
                            <div class="dropdown-fullwidth-menu">
                                <ul class="container">
                                    <li style="width: 20%;">
                                        <a href="https://babyblog.nl">
                                            <span>
                                                <i class="icon icon-image icon-image-babyblog">&nbsp;</i>
                                                <span>Babyblog homepage</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="https://babyblog.nl/category/zwangerschap/">
                                            <span>
                                                <i class="icon icon-image icon-image-zwanger">&nbsp;</i>
                                                <span>
                                                    <span>Zwanger</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="https://babyblog.nl/category/baby/">
                                            <span>
                                                <i class="icon icon-image icon-image-baby">&nbsp;</i>
                                                <span>
                                                    <span>Baby</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="https://babyblog.nl/babynamen/">
                                            <span>
                                                <i class="icon icon-image icon-image-babynamen">&nbsp;</i>
                                                <span>
                                                    <span>Babynamen</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 20%;">
                                        <a href="https://babyblog.nl/babywiki-overzicht/">
                                            <span>
                                                <i class="icon icon-image icon-image-babywiki">&nbsp;</i>
                                                <span>
                                                    <span>Babywiki</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="middlebar-menu-right">
                    <li class="navbar-favourites">
                        <a class="open_favorites_panel" href="javascript:void(0);">
                            <i class="icon icon-heart-outline">&nbsp;</i>
                        </a>
                        <span class="dynamic_favorites_count">0</span>
                    </li>
                    <!--<li class="navbar-middlebar-search">
    <div class="navbar-middlebar-search-field">
    <form action="search.php" method="get">
    <div class="search-input-field"><a href="javascript:void(0)"><input name="search" placeholder="Zoeken" type="text" /> </a><button class="search-button-field" name="search" type="submit" value="Go"><i class="icon icon-search">&nbsp;</i></button></div>
    </form>
    </div>
    </li>-->
                </ul>
            </div>
            <div class="open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE HEADER HIGHLIGHT MENUS -->
<!-- 
    The default highlight menu is 'highlight'. 
    The default highlight menu for 'geboortekaartjes' would be 'highlight_geboortekaartjes'. 
    The page geboortekaartjes/geboortekaartjes-jongen' will also use this highlight menu 'highlight_geboortekaartjes'.
    Unless 'highlight_geboortekaartjes_geboortekaartjes-jongen' is defined as a menu.

    The naming uses _ instead of /
-->
<div class="js-highlight-menus" id="highlight-menus">
    <div class="hide" id="highlight">
        <!-- THIS IS DEFAULT -->
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes">Geboortekaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/enveloppen-info">Enveloppen</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/sluitzegels">Sluitzegels</a>
        </span>
    </div>
    <div class="hide" id="highlight_geboortekaartjes">
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes-jongen">Jongenskaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes-meisje">Meisjeskaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartje-zelf-maken">Zelf maken</a>
        </span>
    </div>
    <div class="hide" id="highlight_alle-geboortekaartjes">
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes-jongen">Jongenskaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartjes-meisje">Meisjeskaartjes</a>
        </span>
        <span class="mobile-nav__highlight-item">
            <a href="/geboortekaartje-zelf-maken">Zelf maken</a>
        </span>
    </div>
</div>




