<div class="visual js-visual-fullwidth-ontop" style="background-image: url(img/header-img-large.jpg);">
    <div class="container">
        <div class="cols">
            <div class="xs-12 md-6">
                <h1>
                    <a href="/geboortekaartjes">Maak zelf je
                        <br /> geboortekaartje </a>
                </h1>
                <div class="header-usps">
                    <a class="header-usp-proof" href="/klantreactie">
                        <span class="header-usp-rating">9.5</span>&nbsp;Klantwaardering</a>
                    <a class="header-usp-delivery" href="/direct-verzenden">
                        <i class="icon icon-truck">&nbsp;</i>Verzendservice</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container header-buttons">
        <div class="cols">
            <div class="xs-6 md-3">
                <div class="header-button header-birth-girl" onclick="location.href='/geboortekaartjes-meisje';">
                    <h3>Geboortekaartjes meisjes</h3>
                    <div class="header-button-img-fullwidth"><img src="img/header-comp-meisje.jpg" /></div>
                    <div class="header-button-arrow">
                        <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                    </div>
                    <h5>Meisje</h5>
                </div>
            </div>
            <div class="xs-6 md-3">
                <div class="header-button header-birth-boy" onclick="location.href='/geboortekaartjes-jongen';">
                    <h3>Geboortekaartjes jongens</h3>
                    <div class="header-button-img-fullwidth"><img src="img/header-comp-jongen.jpg" /></div>
                    <div class="header-button-arrow">
                        <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                    </div>
                    <h5>Jongen</h5>
                </div>
            </div>
            <div class="xs-6 md-3">
                <div class="header-button header-create-yourself" onclick="location.href='/geboortekaartje-zelf-maken';">
                    <h3>Ontwerp zelf je geboortekaartje</h3>
                    <div class="header-button-img-fullwidth"><img src="/media/geboortekaartjezelfmaken.png" /></div>
                    <div class="header-button-arrow">
                        <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                    </div>
                    <h5>Ontwerp zelf</h5>
                </div>
            </div>
            <div class="xs-6 md-3">
                <div class="header-button header-birth-new" onclick="location.href='/alle-geboortekaartjes';">
                    <h3>Alle geboortekaartjes</h3>
                    <div class="header-button-img-fullwidth"><img src="img/header-comp-nieuw.jpg " /></div>
                    <div class="header-button-arrow">
                        <i class="icon icon-bold-arrow icon-x2">&nbsp;</i>
                    </div>
                    <h5>Alle kaartjes</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-hide-leftbar">
    <div class="container">
        <div class="cols">
            <div class="menu-mobile xs-12">&nbsp;
                <h6>Kies jouw favoriete geboortekaartje</h6>
                <a href="/geboortekaartjes-tweeling">Tweeling</a> |
                <a href="/geboortekaartje-broertje">Broertje</a>&nbsp;|
                <a href="/geboortekaartje-zusje">Zusje</a>&nbsp;|
                <a href="/populaire-geboortekaartjes">Populair</a>&nbsp;|
                <a href="/stoere-geboortekaartjes">Stoer</a> |
                <a href="/lieve-geboortekaartjes">Lief</a> |
                <a href="/originele-geboortekaartjes">Origineel</a> |
                <a href="/geboortekaartjes-dieren">Dieren</a> |
                <a href="http://hierbenik.nl/watercolour-geboortekaartjes">Watercolour</a> |
                <a href="/vintage-geboortekaartjes">Vintage</a> |
                <a href="/geboortekaartjes-hout">Hout</a> |
                <a href="/romantische-geboortekaartjes">Romantisch</a> |
                <a href="/trendy-geboortekaartjes">Trendy</a> |
                <a href="/geboortekaartjes-hartjes">Hartjes</a> |
                <a href="/geboortekaartjes-wolkje">Wolkjes</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cols">
            <div class="md-6">
                <div class="how-it-works">
                    <h2>Hoe werkt het?</h2>
                    <p>Iedereen kan zelf een
                        <a href="/geboortekaartjes">babykaartje&nbsp;maken</a>! Elk kaartje is met de editor gemakkelijk aan te passen. Kies een kaartje uit onze collectie en probeer maar eens. Je staat versteld van jezelf!</p>
                    <div class="how-it-works-steps">
                        <div class="how-it-works-step js-foldmenu">
                            <div class="how-it-works-step-header js-foldmenu-header">
                                <span class="number">1</span>Kies je kaartje
                                <span class="icon icon-arrow-bold-down">&nbsp;</span>
                            </div>
                            <div class="how-it-works-step-text js-foldmenu-body">Zoek op onze site
                                <a href="/alle-geboortekaartjes">babykaartjes</a>&nbsp;die jou aanspreken. Door gebruik te maken van de filters kan je zoeken naar stoere babykaartjes, lieve babykaartjes, dieren babykaartjes of babykaartjes in elke andere stijl. Zoek je specifiek naar een
                                <a href="/geboortekaartjes-jongen">jongens</a> of
                                <a href="/geboortekaartjes-meisje">meisjes</a> kaartje? Klik dan snel verder.</div>
                        </div>
                        <div class="how-it-works-step js-foldmenu">
                            <div class="how-it-works-step-header js-foldmenu-header">
                                <span class="number">2</span>Pas je kaartje aan
                                <span class="icon icon-arrow-bold-down">&nbsp;</span>
                            </div>
                            <div class="how-it-works-step-text js-foldmenu-body">Heb je de&nbsp;
                                <a href="/alle-geboortekaartjes">geboortekaart</a>&nbsp;gevonden waar je enthousiast van wordt? Door op het kaartje te klikken en op &lsquo;bewerken&rsquo; te klikken ga je direct door naar onze editor. Daar kan je de afbeeldingen verschuiven, elementen omkleuren, eigen teksten toevoegen en foto&rsquo;s plaatsen. Wil je een heel eigen geboortekaartje maken? Dan doe je dat via onze zelf maken pagina.</div>
                        </div>
                        <div class="how-it-works-step js-foldmenu">
                            <div class="how-it-works-step-header js-foldmenu-header">
                                <span class="number">3</span>Sla je ontwerp op in je account
                                <span class="icon icon-arrow-bold-down">&nbsp;</span>
                            </div>
                            <div class="how-it-works-step-text js-foldmenu-body">Heb je het kaartje bij Hier Ben Ik ontworpen zoals jij wilt? Vergeet dan niet je kaartje op te slaan in je eigen account. Zo heb je altijd beschikking tot jouw babykaartje en kan je dit kaartje later nog aanpassen.</div>
                        </div>
                        <div class="how-it-works-step js-foldmenu">
                            <div class="how-it-works-step-header js-foldmenu-header">
                                <span class="number">4</span>Proefdruk en envelop bestellen
                                <span class="icon icon-arrow-bold-down">&nbsp;</span>
                            </div>
                            <div class="how-it-works-step-text js-foldmenu-body">Om te zien of jouw babykaartje er goed uit ziet, kan je voor maar &euro;1,- een eerste
                                <a href="/proefdruk">proefdruk</a> bestellen. Zo zie je of de kleuren goed overkomen en of het gedrukte babykaartje je aanspreekt. Ook handig: bij je proefdruk worden voorbeeldjes meegestuurd van de verschillende papiersoorten en
                                <a href="/enveloppen-info">enveloppen</a>. Aan de hand van welke envelop je uitkiest, kan je ook gave
                                <a href="/sluitzegels">sluitzegels</a> erbij bestellen.
                                <br /> Wil je naar aanleiding van je proefdruk nog dingen aanpassen, dan ga je terug naar je eigen account waar je het babykaartje hebt opgeslagen. Met een druk op de knop ga je naar de editor, waar je je babykaartje kunt bewerken.</div>
                        </div>
                        <div class="how-it-works-step js-foldmenu">
                            <div class="how-it-works-step-header js-foldmenu-header">
                                <span class="number">5</span>Bestel en betaal je kaartjes
                                <span class="icon icon-arrow-bold-down">&nbsp;</span>
                            </div>
                            <div class="how-it-works-step-text js-foldmenu-body">Ben je enthousiast over je proefdruk? Dan kan je nadat je baby geboren is, direct de kaartjes bestellen. Jij bepaalt het papiersoort, het formaat en het aantal kaartjes. Je bestelling babykaartjes kun je betalen met alle vertrouwde betalingsmethoden, zoals iDeal, MasterCard en PayPal. En dan is het wachten op je pakketje. Bestellingen die v&oacute;&oacute;r 18.00 uur gedaan zijn, worden zelfde dag nog gedrukt en verzonden. Spannend!</div>
                        </div>
                    </div>
                    <a class="button button-turquoise button-arrow-right" href="/geboortekaartjes">Kies een kaartje</a>
                </div>
            </div>
            <div class="md-6">
                <div class="how-it-works-ill">
                    <div class="how-it-works-ill-image"><img src="img/preview-how-it-works.png" /></div>
                    <div class="how-it-works-ill-circle">&nbsp;</div>
                    <div class="how-it-works-ill-circle-text">
                        <i class="icon icon-edit-square text-center">&nbsp;</i>
                        <p>Elke kaart is volledig aan te passen</p>
                        <!--how-it-works-ill-circle-text-->
                    </div>
                    <!--how-it-works-ill-->
                </div>
                <!--md-6-->
            </div>
            <!--cols-->
        </div>
        <div class="cols">
            <div class="md-6">&nbsp;</div>
            <div class="md-6">
                <div class="how-it-works-usps">
                    <div class="how-it-works-usp-proof"><img src="img/how-it-works-1-euro.png" />1e proefdruk &euro;1,-</div>
                    <div class="how-it-works-usp-delivery"><img src="img/how-it-works-package.png" />gratis verzending vanaf &euro;25,-</div>
                </div>
            </div>
            <!--cols-->
        </div>
        <!--container-->
    </div>
    <div class="container-fluid photocard">
        <div class="container">
            <div class="cols">
                <div class="md-6">
                    <h2>Babykaartje voor broertje/zusje</h2>
                    <p>In onze collectie hebben we gave babykaartjes voor het krijgen van een tweede kind met silhouetten en foto&#39;s. Staat jouw gezinssamenstelling er niet bij? We helpen je graag!</p>
                    <div class="thumbnail-scroller">
                        <div class="thumbnail-scroller-left">
                            <a href="#">
                                <i class="icon icon-arrow-bold-left">&nbsp;</i>
                            </a>
                        </div>
                        <div class="thumbnail-scroller-middle">
                            <a class="item" href="/geboortekaartjes/meisje/retro-geboortekaartje-kinderwagen-vintage"><img alt="geboortekaartje retro zusje" class="img-responsive img-center" src="https://hierbenik.nl/media/retrogeboortekaartjekinderwagenvintagezusje.png" style="width: 180px; height: 200px;" /> </a>
                            <a class="item" href="/geboortekaartjes/jongen/stoer-geboortekaartje-jongen-krijtbord-blauw-hart"> <img alt="stoer geboortekaartje broertje" class="img-responsive img-center" src="https://hierbenik.nl/media/stoergeboortekaartjejongenkrijtbordblauwhart1.png" style="width: 180px; height: 200px;" /> </a>
                            <a class="item" href="/geboortekaartjes/meisje/geboortekaartje-zilver-zusje-meisje-hartjes"> <img alt="geboortekaartje zusje" class="img-responsive img-center" src="https://hierbenik.nl/media/geboortekaartjezilverzusjemeisjehartjes1.png" style="width: 180px; height: 200px;" /> </a>
                            <a class="item" href="/geboortekaartjes/jongen/eenvoudig-geboortekaartje-foto-weegschaal"> <img alt="geboortekaartje foto broertje" class="img-responsive img-center" src="https://hierbenik.nl/media/eenvoudiggeboortekaartjefotoweegschaal1.png" style="width: 180px; height: 200px;" /> </a>
                            <a class="item" href="/geboortekaartjes/meisje/geboortekaartje-uilen-zusje-label-meisje-hout"> <img alt="geboortekaartje zusjes uiltjes" class="img-responsive img-center" src="https://hierbenik.nl/media/uiltjes1.png" style="width: 180px; height: 200px;" /> </a>
                            <a class="item" href="/geboortekaartjes/jongen/stoer-geboortekaartje-eigentijds-ooievaar-silhouet"> <img alt="stoer broertje geboortekaartje" class="img-responsive img-center" src="https://hierbenik.nl/media/stoergeboortekaartjeeigentijdsooievaarsilhouet1.png" style="width: 180px; height: 200px;" /> </a>
                        </div>
                    </div>
                    <a class="button button-pink button-arrow-right" href="/geboortekaartje-tweede-kindje">Meer kaartjes bekijken</a>
                    <!--md-6-->
                </div>
                <div class="md-6">
                    <div class="photocard-img-right" style="background-image: url(/img/kindje-buik-home.jpg);">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container nicest-cards">
        <h2>De leukste babykaartjes</h2>
        <div class="cols">
            <div class="xs-12 xsm-12 sm-6 md-3 nicest-cards-col">
                <a class="button button-pink" href="/geboortekaartjes-meisje">Populair voor meisjes</a>
            </div>
            <div class="xs-12 xsm-12 sm-6 md-3 nicest-cards-col">
                <a class="button button-turquoise" href="/geboortekaartjes-jongen">Populair voor jongens</a>
            </div>
            <div class="xs-12 xsm-12 sm-6 md-3 nicest-cards-col">
                <a class="button button-beige" href="/geboortekaartjes">
                    <i class="icon icon-star">&nbsp;</i> Nieuwste kaartjes</a>
            </div>
            <div class="xs-12 xsm-12 sm-6 md-3 nicest-cards-col">
                <a class="button button-mocca" href="/geboortekaartje-met-foto">
                    <i class="icon icon-camera">&nbsp;</i> Kaartjes met foto</a>
            </div>
            <div class="xs-12">&nbsp;</div>
        </div>
        <div style="text-align: center;">Stijlen:
            <a href="/geboortekaartjes-tweeling">Tweeling</a> |
            <a href="/populaire-geboortekaartjes">Populair</a>&nbsp;|
            <a href="/stoere-geboortekaartjes">Stoer</a> |
            <a href="/lieve-geboortekaartjes">Lief</a> |
            <a href="/originele-geboortekaartjes">Origineel</a> |
            <a href="/geboortekaartjes-dieren">Dieren</a> |
            <a href="http://hierbenik.nl/watercolour-geboortekaartjes">Watercolour</a> |
            <a href="/vintage-geboortekaartjes">Vintage</a> |
            <a href="/geboortekaartjes-hout">Hout</a> |
            <a href="/romantische-geboortekaartjes">Romantisch</a> |
            <a href="/trendy-geboortekaartjes">Trendy</a> |
            <a href="/geboortekaartjes-hartjes">Hartjes</a> |
            <a href="/geboortekaartjes-wolkje">Wolkjes</a>
        </div>
    </div>
    <div class="container">
        <div class="js-add-tag-scroller">&nbsp;</div>
    </div>
    <div class="container">
        <div class="create-yourself">
            <div class="create-yourself-img" style="background: url(img/kindje-handje-home.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">&nbsp;</div>
            <div class="container">
                <div class="cols">
                    <div class="md-6">
                        <h2>Ontwerp je eigen geboortekaartje</h2>
                        <h4>Ga aan de slag!</h4>
                        <i class="icon icon-edit-pencil">&nbsp;</i>
                        <a class="button button-turquoise button-arrow-right" href="/geboortekaartje-zelf-maken">Ontwerp je eigen kaart</a>
                    </div>
                    <div class="md-6">&nbsp;</div>
                    <!-- cols -->
                </div>
                <!-- container -->
            </div>
            <!-- create-yourself -->
        </div>
        <!-- container-fluid -->
    </div>
    <div class="container">
        <div class="babyblog">
            <div class="babyblog-upper-header">
                <h3>Maak kennis met Babyblog</h3>
            </div>
            <div class="babyblog-header">
                <div class="container">
                    <div class="babyblog-header-logo"><img src="img/logo-babyblog.png" /></div>
                    <div class="babyblog-header-text">
                        <h5>Maak kennis met Babyblog</h5>
                        <p>Babyblog is een blog voor moeders van jonge kinderen en mommies to be.
                            <br /> Hier vind je dagelijks van alles op babygebied waar jij blij van wordt!</p>
                        <!--babyblog-header-text-->
                    </div>
                    <div class="babyblog-header-button">
                        <a class="button button-babyblog-header button-arrow-right" href="https://babyblog.nl/">Bezoek Babyblog</a>
                    </div>
                    <!--container-->
                </div>
                <!--babyblog-header-->
            </div>
            <div class="container">
                <div class="cols">
                    <div class="xs-12 sm-4 md-4 babyblog-item">
                        <a href="https://youtu.be/bPNXG8oN9p0" target="_blank"><img class="img-responsive" src="/media/luiers.png" /></a>
                        <h4 class="babyblog-item-header">
                            <a href="https://youtu.be/bPNXG8oN9p0" target="_blank">Haha! Welke luier werkt het best?</a>
                        </h4>
                        <p class="babyblog-item-date">08 juni 2017</p>
                        <p>Wat doe je al alle luiers op zijn en de winkels dicht? Koen gaat aan de slag met alternatieven en dat moet &oacute;&oacute;k goed getest worden.</p>
                        <a class="button button-grey button-sm" href="https://youtu.be/bPNXG8oN9p0" target="_blank">Bekijk het filmpje</a>
                        <!--babyblog-item-->
                    </div>
                    <div class="xs-12 sm-4 md-4 babyblog-item">
                        <a href="https://babyblog.nl/babywiki/top-50-oer-hollandse-namen/" target="_blank"><img class="img-responsive" src="/media/02hollandsenamen1.png" /></a>
                        <h4 class="babyblog-item-header">
                            <a href="https://babyblog.nl/babywiki/top-50-oer-hollandse-namen/" target="_blank">Top 50 oer-Hollandse namen</a>
                        </h4>
                        <p class="babyblog-item-date">23 mei 2017</p>
                        <p>Kort en krachtig en lekker Hollands... Wij vinden deze namen zo leuk! Wat vind je van Gijs, Saar en Fedde?</p>
                        <a class="button button-grey button-sm" href="https://babyblog.nl/babywiki/top-50-oer-hollandse-namen/" target="_blank">Lees verder</a>
                        <!--babyblog-item-->
                    </div>
                    <div class="xs-12 sm-4 md-4 babyblog-item">
                        <a href="https://babyblog.nl/20-beginnersfouten-bij-het-krijgen-van-je-eerste-kind/" target="_blank"><img class="img-responsive" src="/media/03beginnersfouten1.png" /></a>
                        <h4 class="babyblog-item-header">
                            <a href="https://babyblog.nl/20-beginnersfouten-bij-het-krijgen-van-je-eerste-kind/" target="_blank">20 beginnersfouten die elke ouder maakt</a>
                        </h4>
                        <p class="babyblog-item-date">31 mei 2017</p>
                        <p>Fouten maken we allemaal, zeker als je net voor het eerste en baby hebt gekregen. Ben jij al moeder? Dan herken je je vast in deze 20 beginnersfouten.</p>
                        <a class="button button-grey button-sm" href="https://babyblog.nl/20-beginnersfouten-bij-het-krijgen-van-je-eerste-kind/" target="_blank">Lees verder</a>
                        <!--babyblog-item-->
                    </div>
                    <!--container-->
                </div>
                <!--cols-->
            </div>
            <!--container-->
        </div>
        <!--babyblog-->
    </div>
    <!--container-fluid-->
</div>