<div class="container">
    <div class="cols">
        <div class="xs-12">
            <p style="line-height: 20.8px;">Bij HierBenIk is het niet mogelijk om je postzegels te bestellen, maar we geven je graag tips! Zo kun je&nbsp;<a href="http://persoonlijkepostzegel.postnl.nl/PostNL/%28S%28jdivkxjqk3hh1jhlv4ovzai3%29%29/Step1.aspx" target="_blank">hier</a>&nbsp;bij PostNL zelf je eigen postzegel ontwerpen, met bijvoorbeeld de foto van jullie kindje!</p>
            <p style="line-height: 20.8px;">Of kies voor de speciale geboortezegels van PostNL, deze kun je&nbsp;<a href="https://postkantoor.postnl.nl/post-versturen/postzegels/leuke-postzegels/postzegel-geboorte-1-50x-2.html" target="_blank">hier</a>&nbsp;bestellen.</p>
            <h2>Tarieven</h2>
            <p style="line-height: 20.8px;">De tarieven voor postzegels binnen Nederland zijn afhankelijk van het gewicht van jullie geboortekaartjes. Hieronder vind je de actuele tarieven van PostNL.</p>
            <p class="scroll-x" style="line-height: 20.8px;">
            	<a href="http://www.postnl.nl/tarieven/tarieven-post-en-postzegels/" target="_blank">
            		<img alt="" src="https://hierbenik.nl/media/prijspostzegels.png" style="width: 719px; height: 419px;" />
            	</a>
            </p>
            <h2>Tarieven Belgi&euml;</h2>
            <p style="line-height: 20.8px;">Let op, in Belgi&euml; kan het formaat van het kaartje invloed hebben op het aantal postzegels. Kijk voor de actuele tarieven voor Belgi&euml; op de website van&nbsp;<a href="http://bpost.be/site/nl/residential/pricing/index.html" target="_blank">BPost</a>.</p>
            <p style="line-height: 20.8px;">Wist je dat je de enveloppen vooraf kan bestellen? Zo kun je ze op je gemak alvast schrijven en dat scheelt je een hoop tijd na de geboorte van de kleine. Enveloppen bestel je snel en gemakkelijk&nbsp;<a href="http://hierbenik.nl/enveloppen-info" target="_blank">hier</a>.</p>
        </div>
    </div>
</div>