<div class="container">
    <div class="cols">
        <div class="xs-12">
            <p>Lees meer over de prijzen van: <a href="#enkele kaartjes">Enkele kaartjes</a> I <a href="#dubbele kaartjes">Dubbele kaartjes</a> I <a href="#proefdruk">Proefdruk</a> I&nbsp;<a href="#enveloppen">Enveloppen</a> I&nbsp;<a href="#sluitzegels">Sluitzegels</a> |&nbsp;<a href="#papiersoorten">Papiersoorten</a> | <a href="#verzendkosten">Verzending</a></p>
            <h2>Dit kosten je kaartjes:</h2>
            <p><strong>Direct weten waar je aan toe bent? Met onze handige calculator bereken je snel de prijs van jullie geboortekaartjes!</strong>
                <br /> Bij bestelling onder de &euro;25,- komen er <a href="#verzendkosten">verzendkosten</a> bij.</p>
            <script>
            jQuery(document).ready(function($) {
                var pc = prijs_calculator();
                pc.init();
            });
            </script>
            <style type="text/css">
            .ttl {
                margin-bottom: 0px;
            }

            #prijs_calculator select {
                border-radius: 4px;
                width: 95%;
                outline: none;
                height: 25px;
                margin-bottom: 10px;
                border: solid 1px #ccc;
                padding: 0px 0px 0px 5px;
            }

            #prijs_calculator select:focus {
                background: #f3f3f3;
            }

            #prijs_calculator input[type=text] {
                border-radius: 4px;
                width: 95% !important;
                outline: none;
                height: 25px;
                margin-bottom: 10px;
                border: solid 1px #ccc;
                padding: 0px 0px 0px 5px;
                box-shadow: inset 0px 0px 0px 0px;
            }

            #prijs_calculator input[type=text]:focus {
                background: #f3f3f3;
            }

            #prijs_calculator input.output:focus {
                background: transparent;
            }

            #prijs_calculator input.output {
                border: none;
                width: auto !important;
                background: transparent;
                font-weight: bold;
                color: inherit;
                font-size: inherit;
                padding: 0px;
                display: inline;
            }

            #prijs_calculator .tbl-size {
                width: 100%;
            }

            #prijs_calculator {
                width: 100%;
                max-width: 350px;
            }

            #prijs_calculator .tbl-size td {
                width: 50%;
            }

            #prijs_calculator .fader {
                max-width: 160px;
            }

            #prijs_calculator table.amount {
                width: 100%;
            }

            #prijs_calculator .fader {
                max-width: 160px;
            }

            #prijs_calculator table {
                margin: 0;
                padding: 0;
                border: 0;
            }

            #prijs_calculator table td {
                padding: 0;
                border: 0;
            }

            #prijs_calculator p.ttl {
                margin: 0 0 4px;
                padding: 0;
            }

            #result td {
                width: auto;
                vertical-align: baseline;
            }

            #prijs_calculator table.amount {
                width: 100%;
            }

            #prijs_calculator .result-cal {
                width: 100%;
            }
            </style>
            <div class="table-reponsive" id="prijs_calculator">
                <table cellpadding="0" cellspacing="0" class="price-table tbl-size">
                    <tbody>
                        <tr style="display:None;">
                            <td>
                                <p class="ttl">Hoofd categorie</p>
                                <div class="wrap-sel">
                                    <select class="cats" name="papertypes"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="ttl">Soort kaart</p>
                                <div class="wrap-sel">
                                    <select class="type" name="type"></select>
                                </div>
                            </td>
                            <td>
                                <p class="ttl">Formaat</p>
                                <div class="wrap-sel">
                                    <select class="size" name="size"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="ttl">Papiersoort</p>
                                <div class="wrap-sel">
                                    <select class="paper" name="papertypes"></select>
                                </div>
                            </td>
                            <td>
                                <p class="ttl">Enveloppen</p>
                                <div class="wrap-sel">
                                    <select class="envelop" name="enveloppen"></select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" class="price-table amount">
                    <tbody>
                        <tr>
                            <td>
                                <p class="ttl">Aantal kaarten</p>
                                <input class="fader fader_kaarten aantalKaarten" id="fader_kaarten" max="500" type="range" value="50" />
                                <div style="position:relative;">
                                    <input class="amount-card aantalKaarten" type="text" value="50" />
                                </div>
                            </td>
                            <td>
                                <p class="ttl">Aantal enveloppen</p>
                                <input class="fader fader_envelop aantalEnv" id="fader_envelop" max="500" type="range" value="50" />
                                <div style="position:relative;">
                                    <input class="amount-envelop aantalEnv" type="text" value="50" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="result-cal">
                    <table class="table" id="result">
                        <tbody>
                            <tr>
                                <td><strong>Totaalprijs:</strong></td>
                                <td><span><strong>&euro; </strong></span>
                                    <input class="output" name="result-input" readonly="readonly" type="text" value="0" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr color="#ededed" />
            <div class="cols">
                <div class="xs-12 sm-6">
                    <p><img src="/img/usp-proefdruk.png" style="height: 20px; width: 20px;" />&nbsp; &nbsp; 1e proefdruk &euro;1,-</p>
                    <p><img src="/img/usp-envelop.png" style="height: 20px; width: 20px;" />&nbsp;&nbsp; &nbsp;Gratis verzending vanaf &euro;25,-</p>
                    <p><img src="/media/fatruckkopie.png" style="height: 20px; width: 20px;" />&nbsp; &nbsp; Snelle levering, ook op maandag</p>
                    <p><img src="/media/happysmiley.png" style="height: 18px; width: 18px;" />&nbsp; &nbsp; Geen onverwachtse kosten
                        <br /> (alle prijzen inclusief drukkosten &eacute;n inclusief btw)</p>
                </div>
                <div class="xs-6 sm-3"><img alt="Sluitzegels" class="img-responsive img-center" onclick="location.href = '/sluitzegels';" src="/media/bloksluit2.png" style="max-width: 167px;" /></div>
                <div class="xs-6 sm-3"><img alt="rechtstreeks verzenden" class="img-responsive img-center" onclick="location.href = '/direct-verzenden';" src="/media/blokdv.png" style="max-width: 167px;" /></div>
            </div>
            <hr color="#ededed" />
            <h2><a id="proefdruk" name="proefdruk"></a>Proefdruk</h2>
            <p>Bij HierBenIk krijg je voor maar &euro;1,- een eerste proefdruk thuisgestuurd. Je ontvangt hierbij gratis proefsetjes met papiersoorten en envelopkleuren. De verzending van de proefdruk is gratis. Wil je nog een proefdruk bestellen? Dan gelden de normale prijzen voor kaartjes.</p>
            <h2><a id="enkele kaartjes" name="enkele kaartjes"></a>Prijzen <u>enkele</u> kaartjes</h2>
            <div class="table-reponsive scroll-x">
                <table border="1" cellpadding="1" cellspacing="1" class="price-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Soort kaart</th>
                            <th>Formaat</th>
                            <th>1 - 9</th>
                            <th>10 - 49</th>
                            <th>50 - 99</th>
                            <th>&gt;100</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">8 x 8</td>
                            <td style="text-align: center;">&euro; 1,20</td>
                            <td style="text-align: center;">&euro; 1,00</td>
                            <td style="text-align: center;">&euro; 0,90</td>
                            <td style="text-align: center;">&euro; 0,80</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">11 x 11</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                            <td style="text-align: center;">&euro; 1,30</td>
                            <td style="text-align: center;">&euro; 1,20</td>
                            <td style="text-align: center;">&euro; 1,10</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">13 x 13</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                            <td style="text-align: center;">&euro; 1,50</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                            <td style="text-align: center;">&euro; 1,30</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">15 x 15</td>
                            <td style="text-align: center;">&euro; 1,70</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                            <td style="text-align: center;">&euro; 1,50</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand/ Liggend</td>
                            <td style="text-align: center;">10 x 15</td>
                            <td style="text-align: center;">&euro; 1,50</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                            <td style="text-align: center;">&euro; 1,30</td>
                            <td style="text-align: center;">&euro; 1,20</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand/ Liggend</td>
                            <td style="text-align: center;">11 x 17</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                            <td style="text-align: center;">&euro; 1,50</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                            <td style="text-align: center;">&euro; 1,30</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand/ Liggend</td>
                            <td style="text-align: center;">14 x 21</td>
                            <td style="text-align: center;">&euro; 1,70</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                            <td style="text-align: center;">&euro; 1,50</td>
                            <td style="text-align: center;">&euro; 1,40</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Langwerpig</td>
                            <td style="text-align: center;">10 x 21</td>
                            <td style="text-align: center;">&euro; 1,85</td>
                            <td style="text-align: center;">&euro; 1,75</td>
                            <td style="text-align: center;">&euro; 1,65</td>
                            <td style="text-align: center;">&euro; 1,55</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>&nbsp;</h2>
            <h2><a id="dubbele kaartjes" name="dubbele kaartjes"></a>Prijzen <u>dubbele</u>, gevouwen kaartjes</h2>
            <div class="table-reponsive scroll-x">
                <table border="1" cellpadding="1" cellspacing="1" class="price-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Soort kaart</th>
                            <th>Formaat</th>
                            <th>1 - 9</th>
                            <th>10 - 49</th>
                            <th>50 - 99</th>
                            <th>&gt;100</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">11 x 11</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,80</td>
                            <td style="text-align: center;">&euro; 1,75</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">13 x 13</td>
                            <td style="text-align: center;">&euro; 2,05</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,85</td>
                            <td style="text-align: center;">&euro; 1,70</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Vierkant</td>
                            <td style="text-align: center;">15 x 15</td>
                            <td style="text-align: center;">&euro; 2,15</td>
                            <td style="text-align: center;">&euro; 2,05</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,80</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand - Liggend</td>
                            <td style="text-align: center;">10 x 15</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,85</td>
                            <td style="text-align: center;">&euro; 1,75</td>
                            <td style="text-align: center;">&euro; 1,60</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand - Liggend</td>
                            <td style="text-align: center;">11 x 17</td>
                            <td style="text-align: center;">&euro; 2,05</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,85</td>
                            <td style="text-align: center;">&euro; 1,70</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Staand- Liggend</td>
                            <td style="text-align: center;">14 x 21</td>
                            <td style="text-align: center;">&euro; 2,15</td>
                            <td style="text-align: center;">&euro; 2,05</td>
                            <td style="text-align: center;">&euro; 1,95</td>
                            <td style="text-align: center;">&euro; 1,80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>&nbsp;</h2>
            <h2><a id="enveloppen" name="enveloppen"></a>Prijzen enveloppen</h2>
            <div class="table-reponsive scroll-x">
                <table border="1" cellpadding="1" cellspacing="1" class="price-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Kleur enveloppen</th>
                            <th style="text-align: left;">Formaat</th>
                            <th style="text-align: left;">Per stuk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Witte enveloppen</td>
                            <td style="text-align: center;">Alle formaten, met uitzondering van 8x8cm</td>
                            <td style="text-align: center;">&euro; 0,20</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Gekleurde enveloppen</td>
                            <td style="text-align: center;">Alle formaten, met uitzondering van 8x8cm</td>
                            <td style="text-align: center;">&euro; 0,25</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Parelmoer, Goud en Zilver</td>
                            <td style="text-align: center;">Alle formaten, met uitzondering van 8x8cm</td>
                            <td style="text-align: center;">&euro; 0,35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a class="button button-turquoise button-arrow-right href=" href="/bestel_details?keuze=enveloppen">Enveloppen bestellen</a></p>
            <h2><a id="sluitzegels" name="enveloppen"></a>Prijzen sluitzegels</h2>
            <p>Onze standaard sluitzegels kosten&nbsp;<strong>&euro;5,95 per vel</strong>&nbsp;&agrave; 35 stuks. Wil je 60 kaartjes versturen, dan heb je dus 2 vellen sluitzegels nodig.&nbsp;</p>
            <p>Wil je speciale sluitzegels die precies bij jouw geboortekaartje passen? Wij maken voor <strong>&euro;8,95 per vel unieke sluitzegels</strong> passend bij jouw geboortekaart. Neem hiervoor <a href="/contact">contact</a> met ons op.</p>
            <p><a class="button button-turquoise button-arrow-right href=" href="/sluitzegels">Sluitzegels bestellen</a></p>
            <h2>&nbsp;</h2>
            <h2><a id="papiersoorten" name="papiersoorten"></a>Papiertoeslagen voor Parelmoer, Ivory Gold en Oud Hollands</h2>
            <p><u>Deze toeslagen zijn alleen van toepassing wanneer je voor &eacute;&eacute;n van bovenstaande speciale papiersoorten kiest!</u></p>
            <div class="table-reponsive scroll-x">
                <table border="1" cellpadding="1" cellspacing="1" class="price-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Soort kaart</th>
                            <th>Toeslag per stuk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Enkele kaarten</td>
                            <td style="text-align: center;">&euro; 0,15</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Dubbele kaarten</td>
                            <td style="text-align: center;">&euro; 0,25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="verzendkosten">&nbsp;</div>
            <p><a class="button button-turquoise button-arrow-right href=" href="/alle-geboortekaartjes">Geboortekaartje maken</a></p>
            <h2>&nbsp;</h2>
            <h2><a id="verzendkosten" name="verzendkosten"></a>Verzendkosten</h2>
            <p>Het verzenden van een proefdruk of bestellingen is <strong>gratis vanaf &euro;25,-</strong>. Voor kleine bestellingen tot &euro;25,- rekenen wij &euro;1,95 verzendkosten. Wil je de kaarten buiten Nederland of Belgi&euml; laten afleveren, dan gelden hier speciale prijzen voor die afhankelijk zijn van het bezorgadres. Voor vragen hierover kan je terecht bij onze <a href="https://hierbenik.nl/contact" target="_blank">klantenservice</a>.</p>
            <h2>Directe verzending<a href="/direct-verzenden"><img alt="" src="/media/dvimage4.png" style="width: 400px; height: 191px; float: right; border-width: 0px; border-style: solid; margin: 5px;" /></a></h2>
            <p>Voor het <a href="/direct-verzenden" target="_blank">direct verzenden</a> van geboortekaartjes naar familie en vrienden rekenen wij &euro;1,20 verzendkosten per kaartje. Directe verzending buiten Nederland kost &euro;1,70 per kaart. De speciaal ontworpen geboortezegel is bij de prijs inbegrepen!</p>
        </div>
    </div>
</div>