<div class="top-block">
    <div class="container">
        <div class="cols">
            <div class="md-8">
                <p>Ben je op zoek naar mooie sluitzegels voor bij de enveloppen? Dankzij ons grote aanbod vind je altijd wel een sluitsticker die bij jullie geboortekaartje past. De sluitzegels worden op vellen van 35 stuks geleverd en hebben een diameter van 35 mm.</p>
                <p>Meer: <a href="/geboortekaartjes-jongen">Geboortekaartjes jongen</a> | <a href="/geboortekaartjes-meisje">Geboortekaartjes meisje</a> | <a href="/enveloppen-info">Enveloppen vooraf bestellen</a></p>
            </div>
            <div class="md-4">
                <div class="img-icon"><img alt="nieuwe geboortekaartjes" src="/media/sluitzegelsgeboortekaartjes.png" style="width: 270px; height: 166px;" />&nbsp;</div>
            </div>
            <div class="xs-12 top-block-border-bottom">&nbsp;</div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Sluitstickers voor bij je geboortekaartjes</h2>
    <p>Steeds meer mensen versieren hun enveloppen met een mooie sluitzegel. Je hoeft zo geen vieze enveloppen dicht te likken en het staat ook nog eens hartstikke leuk. Bij HierBenIk snappen wij dit helemaal en hebben daarom een uitgebreid aanbod sluitzegels voor enveloppen. De stickers zijn rond en hebben een diameter van 3,5 cm. De sluitzegels zijn niet los te koop, maar per vel van 35 stuks. Dus bij bijvoorbeeld 65 geboortekaartjes heb je 2 vellen nodig en bij 75 geboortekaartjes zijn dit 3 vellen.</p>
    <h2>Sluitstickers baby voor op cadeautje</h2>
    <p>Natuurlijk zijn de sluitzegels niet alleen te gebruiken voor geboortekaarten, maar ook voor andere dingen, zoals een presentje voor de kraamverzorgster, voor het maken van doopsuikers of voor het vragen of je vriend of vriendin peetoom of peettante wil zijn. Met een leuke baby sluitzegel op een kado of op de envelop ziet je presentje er extra speciaal uit!</p>
    <h2>Ontwerpen sluitzegel geboorte</h2>
    <p>In onze collectie hebben we allerlei varianten van sluitzegels. Zo zie je sluitzegels met je een hartje, sluitzegels met een ster of een specifieke tekst zoals &#39;welcome little boy&#39; &#39;it&#39;s a girl&#39; of een sluitzegel met &#39;love&#39;. Speciaal voor ouders die een <a href="/geboortekaartje-tweede-kindje">tweede kindje</a> krijgen hebben we sluitzegels ontwerpen met de teksten &#39;Hoera, een broertje&#39; en &#39;Hoera, een zusje&#39;. Je spreekt dan uit naam van je oudste kind en dat is nou precies wat het geboortekaartje compleet maakt.</p>
    <h2>Sluitzegels maken</h2>
    <p>Wil je een sluitzegel die precies bij je kaartje past? Wij kunnen speciaal voor jou sluitzegels maken in de stijl van jouw geboortekaartje. Als je ons een <a href="/contact">mail</a> stuurt met jouw wensen, dan maken we er samen iets leuks van! De prijs van op maat gemaakte sluitzegels zijn&nbsp;&euro;8,95 per vel &agrave; 35 stuks.</p>
    <h2>Wist je dat je enveloppen ook vooraf kunt bestellen?</h2>
    <p><a href="/enveloppen-info">Enveloppen bestel je gemakkelijk vooruit</a>, zodat je ze in alle rust kan schrijven. Er is keuze uit meer dan 20 envelopkleuren. Tip: zoek bij de geboortekaartjes een mooie envelopkleur en bijpassende sluitzegels. Zo maak je het plaatje helemaal compleet.</p>
</div>