<link href="/css/video_page.css" rel="stylesheet" />
<link href="/css/cp-show-more.css" rel="stylesheet" />

<div id="video-page">
	<div class="video-page-header cols"> 
		<div class="video-page-header__video xs-12 sm-12">
			<div class="js-video video-ratio">
				<a class="video-link" href="https://www.youtube.com/watch?v=24pU7ih2v9U">Elephants</a>
			    <div class="play-button"></div> 
			</div>
		</div>
		<div class="video-page-header__content  xs-12 sm-8">
			<h2>Elephants</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut porta felis, non aliquet elit. Nulla non odio eu diam laoreet convallis sed quis dui. Pellentesque posuere tellus condimentum dui congue, non viverra tellus volutpat. Sed sagittis rhoncus libero ac faucibus. In facilisis velit a sem condimentum, facilisis efficitur leo sodales.
			</p>
			<p>
				<button class="js-scroll-to button button-turquoise" data-scroll-to-link="#up-to-date">Inschrijven</button>
		</div>
		<div class="video-page-header__image sm-4">
			<img class="video-page-header__content-image" src="/img/video-page/hierbeniknietklaarvoorlogo.png"/>
		</div>
	</div>

	<ul class="video-page-header__menu ">
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#videos">Videos</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#extra">Bloopers</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#up-to-date">Blijf up to date</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#over-hier-ben-ik">Over Hierbenik.nl</li>
	</ul>		

	<div class="video-page__category video-page__category-videos" id="videos">
		<div class="video-page__category-intro">
			<h2>Video's</h2>
			<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
		</div>
		<ul class="category-items cols cp-show-more" data-show-more-start="4" data-show-more-more="4">
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>
						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante. </p>
					</div>
				</div>
			</li>

			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="category-items__item-image-wrapper">
						<div class="category-items__item-image" style="background-image: url('/img/logo.svg');"></div>
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="" class="category-item_description-button">lees meer</a>
					</div>
				</div>
			</li>

			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>More Elephants</h2>
						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>
						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>More Elephants</h2>
						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</li>
			<div class="row cp-show-more-navigation">
				<div class="sm-12"><button class="cp-show-more-more button button-turquoise">Toon meer</button></div>
				<div class="sm-12"><button class="cp-show-more-less button button-turquoise">Toon minder</button></div>
			</div>
		</ul>
	</div>
	
	<hr class="category-devider"/>

	<div class="video-page__category video-page__category-videos" id="extra">
		<div class="video-page__category-intro">
			<h2>Bloopers</h2>
			<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
		</div>
		<ul class="category-items cols cp-show-more" data-show-more-start="4" data-show-more-more="4">
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>
						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>More Elephants</h2>
						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>

			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="category-items__item-image-wrapper">
						<div class="category-items__item-image" style="background-image: url('/img/logo.svg');" ></div>
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="" class="category-item_description-button">lees meer</a>
					</div>
				</div>
			</li>

			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>
						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>More Elephants</h2>
						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non. </p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal">
						<a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
				   	 	<div class="play-button"></div> 
					</div>
					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>
						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</li>
			<div class="row cp-show-more-navigation">
				<div class="sm-12"><button class="cp-show-more-more button button-turquoise">Toon meer</button></div>
				<div class="sm-12"><button class="cp-show-more-less button button-turquoise">Toon minder</button></div>
			</div>
		</ul>
	</div>

	<hr class="category-devider"/>

	<div class="video-page__about" id="up-to-date">
		<div class="video-page__about-header">
			<h2>De nieuwste filmpjes direct in jou mailbox?</h2>
		</div>
		<div class="video-page__about-item cols">
			<div class="about-item__content  xs-12 sm-6">
				<p>
					Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.
				</p>
				<form id="video-to-mailbox-form" action="" method="post" class="field-horizontal">
	                <div class="field-group cols">
	                    <label class="xsm-4 field-label text-left">Naam</label>
	                    <div class="xsm-8">
	                        <input type="text" class="field-input" id="name" name="ame" placeholder="Naam">
	                    </div>
	                </div>
	                <div class="field-group cols">
	                    <label class="xsm-4 field-label text-left">E-mailadres:</label>
	                    <div class="xsm-8">
	                        <input type="text" class="field-input" id="email_login" name="email_login" placeholder="E-mailadres">
	                    </div>
	                </div>
	                <div class="field-group cols">
	                    <div class="xsm-4"></div>
	                    <div class="xsm-8">
	                        <input type="submit" class="button button-turquoise" value="Inschrijven">
	                    </div>
	                </div>
	            </form>
			</div>
			<div class="about-item__image xs-12 sm-6"><img src="/img/babyblog-15-dingen.png"/></div>
		</div>	
		<div class="video-page__about-item cols" id="over-hier-ben-ik">
			<div class="about-item__content  xs-12 sm-6">
				<h2>Over Hierbenik.nl</h2>
				<p>
					In 2006 ben ik afgestudeerd aan <a href="">Artemis modeacademie</a> te Rotterdam. Daarna ben ik als denim designer aan de slag gedaan in Duitsland bij een private label.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje.
				</p>
			</div>
			<div class="about-item__image  xs-12 sm-6"><img src="/img/create-yourself-hands.png"/></div>
		</div>	

	</div>
	<div class="video-page__footer">
	</div>
	<div class="video-page__to-top js-scroll-to" data-scroll-to-link="#wrapper"><i class="icon icon-chevron-up"></i>TOP</div>


	<div class="modal" id="video-modal">
		<div class="modal-content">
			Video modal
		</div>
	</div>

</div>


<script src="/css/js/components/modal.js"></script>
<script src="/css/js/components/video-page.js"></script>
<script src="/css/js/components/show-more.js"></script>