<link href="/css/video_page.css" rel="stylesheet" />
<link href="/css/cp-show-more.css" rel="stylesheet" />
<div id="video-page">
	<div class="video-page-header cols">
		<div class="video-page-header__video xs-12 sm-12">
			<div class="js-video video-ratio"><a class="video-link" href="https://www.youtube.com/watch?v=I1LI7ndOcGU">Poep</a>
				<div class="play-button">&nbsp;</div>
			</div>
		</div>

		<div class="video-page-header__content  xs-12 sm-8">
			<h2>Elephants</h2>

			<p>Winkel in, winkel uit, pinteresten, instagrammen... Het klaarmaken van een babykamer is zo makkelijk nog niet. Of toch wel? Krijgt Koen het voor elkaar om in 5 minuten een kamer babyproof te maken?</p>

			<p><button class="js-scroll-to button button-turquoise" data-scroll-to-link="#up-to-date">Inschrijven</button></p>
		</div>

		<div class="video-page-header__image sm-4">
			<img class="video-page-header__content-image" src="/img/video-page/hierbeniknietklaarvoorlogo.png"/>
		</div>

	</div>

	<ul class="video-page-header__menu ">
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#videos">Videos</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#extra">Extra&#39;s</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#up-to-date">Blijf up to date</li>
		<li class="js-scroll-to video-page__scroll-to" data-scroll-to-link="#over-hier-ben-ik">Over Hierbenik.nl</li>
	</ul>

	<div class="video-page__category video-page__category-videos" id="videos">
		<div class="video-page__category-intro">
			<h2>Video&#39;s</h2>

			<p>Het krijgen van een baby zet je leven op z&rsquo;n kop. Avonden van stappen of de hele nacht gamen zijn officieel voorbij. In plaats daarvan lig je nog vroeger in bed dan je schoonmoeder. Ben jij er klaar voor?</p>
		</div>

		<ul class="category-items cols cp-show-more" data-show-more-more="4" data-show-more-start="4" id="show-more-videos">
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=XxaTYbYK7RE">Pilot</a>

						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Pilot aflevering <span class="video-duration">(0:22)</span></h2>

						<p>Blablabla, test dit stukje tekst.</p>
					</div>
				</div>
			</li>
	<!--

			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="category-items__item-image-wrapper">
						<div class="category-items__item-image" style="background-image: url('/img/logo.svg');">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Test: ben jij er klaar voor?</h2>

						<p>Ben jij er klaar voor om ouder te worden van een minimensje? Test het hier!</p>
						<a class="category-item_description-button" href="">Doe de test</a></div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>More Elephants</h2>

							<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non.</p>
						</div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>Are you getting tired of elephants?</h2>

							<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
						</div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>Are you getting tired of elephants?</h2>

							<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>Elephants <span class="video-duration">(0:22)</span></h2>

							<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante.</p>
						</div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>More Elephants</h2>

							<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non.</p>
						</div>
					</div>
				</li>
				<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
					<div class="category-items__item-wrapper">
						<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
							<div class="play-button">&nbsp;</div>
						</div>

						<div class="category-item__description">
							<h2>Are you getting tired of elephants?</h2>

							<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
						</div>
					</div>
				</li>

			-->
		</ul>

		<div class="row cp-show-more-navigation" data-show-more-id="show-more-videos">
			<div class="sm-12"><button class="cp-show-more-more button button-turquoise">Toon meer</button></div>

			<div class="sm-12"><button class="cp-show-more-less button button-turquoise">Toon minder</button></div>
		</div>
	</div>

	<hr class="category-devider" />
	<div class="video-page__category video-page__category-videos" id="extra">
		<div class="video-page__category-intro">
			<h2>Extra&#39;s</h2>

			<p>Wil je weten wat Koen nou &eacute;cht van borstvoeding vond, of hoe de trampassagiers reageerden op de vervoerstest? Je kunt het hier nakijken.</p>
		</div>

		<ul class="category-items cols cp-show-more" data-show-more-more="4" data-show-more-start="4" id="show-more-extra">
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>

						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>

						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>More Elephants</h2>

						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>

						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="category-items__item-image-wrapper">
						<div class="category-items__item-image" style="background-image: url('/img/logo.svg');">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>

						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a class="category-item_description-button" href="">lees meer</a>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>

						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=RKMi9pmDN98">Elephants</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Elephants <span class="video-duration">(0:22)</span></h2>

						<p>Sed faucibus pellentesque arcu, id congue quam. Praesent purus erat, facilisis sed dictum non, consequat ac ante. Sed eu rutrum sem. Nullam nec mattis turpis, vitae finibus ante.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=mlOiXMvMaZo">More Elephants</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>More Elephants</h2>

						<p>SVivamus eu est in sem congue sagittis quis ut mauris. Suspendisse interdum ex eu libero scelerisque, id feugiat felis tincidunt. Aliquam viverra fermentum velit, vitae vulputate dolor sollicitudin non.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link" href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>Are you getting tired of elephants?</h2>

						<p>Donec ante orci, lacinia ac luctus quis, sollicitudin vitae urna. Nulla aliquet egestas sapien, eget lobortis est tempus eu.</p>
					</div>
				</div>
			</li>
			<li class="category-items__item xs-12 xsm-6 sm-4 md-3">
				<div class="category-items__item-wrapper">
					<div class="js-video video-ratio js-open-in-modal"><a class="video-link " href="https://www.youtube.com/watch?v=uVceZEfAsTc">Are you getting tired of elephants?</a>
						<div class="play-button">&nbsp;</div>
					</div>

					<div class="category-item__description">
						<h2>aaAre you getting tired of elephants?</h2>

						<p>Vivamus pulvinar gravida risus, vitae pellentesque tortor semper vitae. Nullam ipsum purus, euismod eu felis quis, bibendum finibus arcu. Integer eget faucibus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="row cp-show-more-navigation" data-show-more-id="show-more-extra">
			<div class="sm-12"><button class="cp-show-more-more button button-turquoise">Toon meer</button></div>

			<div class="sm-12"><button class="cp-show-more-less button button-turquoise">Toon minder</button></div>
		</div>
	</div>

	<hr class="category-devider" />
	<div class="video-page__about" id="up-to-date">
		<div class="video-page__about-header">
			<h2>De nieuwste filmpjes direct in jou mailbox?</h2>
		</div>

		<div class="video-page__about-item cols">
			<div class="about-item__content  xs-12 sm-6">
				<p>Meer filmpjes zien? Schrijf je in voor onze nieuwsbrief en krijg de leukste filmpjes en de laatste nieuwtjes z&oacute; in je mailbox!</p>

				<form action="" class="field-horizontal" id="video-to-mailbox-form" method="post">
					<div class="field-group cols"><label class="xsm-4 field-label text-left">Naam</label>

						<div class="xsm-8"><input class="field-input" id="name" name="ame" placeholder="Naam" type="text" /></div>
					</div>

					<div class="field-group cols"><label class="xsm-4 field-label text-left">E-mailadres:</label>

						<div class="xsm-8"><input class="field-input" id="email_login" name="email_login" placeholder="E-mailadres" type="text" /></div>
					</div>

					<div class="field-group cols">
						<div class="xsm-4">&nbsp;</div>

						<div class="xsm-8"><input class="button button-turquoise" type="submit" value="Inschrijven" /></div>
					</div>
				</form>
			</div>

			<div class="about-item__image  xs-12 sm-6" style="background-image: url(/media/abonneeropfilmpjes.png)"></div>
		</div>

		<div class="video-page__about-item cols" id="over-hier-ben-ik">
			<div class="about-item__content  xs-12 sm-6">
				<h2>Over Hierbenik - nog niet klaar voor</h2>

				<p>Koen is 24, getrouwd, burger, maar hij wil nog lang geen vader worden. In de series van HierBenIk - nog niet klaar voor test hij (samen met meer ervaren papa&rsquo;s) uit hoe het is om vader te zijn. Hoe kan je je manhood houden en toch vader zijn?</p>

				<p>Kan je je baby met een drone naar de oppas brengen, hoe kan je trainen en je baby verzorgen tegelijk en hoe smaakt zo&rsquo;n babyhapje eigenlijk? Samen met HierBenIk gaat Koen op onderzoek uit.</p>
			</div>

			<div class="about-item__image  xs-12 sm-6" style="background-image: url(/img/create-yourself-hands.png)"></div>
		</div>
	</div>

	<div class="video-page__footer">&nbsp;</div>

	<div class="video-page__to-top js-scroll-to" data-scroll-to-link="#wrapper">TOP</div>

	<div class="modal" id="video-modal">
		<div class="modal-content">Video modal</div>
	</div>
</div>
<script src="/css/js/components/modal.js"></script><script src="/css/js/components/video-page.js"></script><script src="/css/js/components/show-more.js"></script>






