.Transi {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

a.moblo { 
display:none;
}

a {
text-decoration:none !important;
}

.section-2 li div.thumb img{ 
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

body{
    color:#6e7277;
    font-size:16px;
    line-height:27px;
    font-family:@mainFont;
}

#body_basket input[type=text] {
    display:block !important;
    float:none !important;
    margin-bottom:10px;
}

#body_basket input[name="check_actiecode"] {
margin-left:0px !important;
}

.shopAlert {
    background: #fff;
    z-index: 999;
    -webkit-box-shadow: 0 0 5px -1px #707070;
    box-shadow: 0 0 5px -1px #707070;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.shopAlert.adding {
    border-bottom: solid 5px #45adba;
}

.shopAlert.deleting {
    border-bottom: solid 5px #f08288;
}

#body_design #pagebody {
    padding-top:0px;
    margin-top:-25px;
    @media @min {
        padding-top:50px;
    }
}

a { 
    color:#45adba;
    outline:none;
    &:hover {
        color:#e74638;
    }
    &:active {
        outline:none;
        text-decoration:none;
    }
    &:focus {
        text-decoration:none;
    }
}

p { 
    margin-bottom:25px;
}

h2, h3, h4, h5, h6 {
    font-family: @mainFont;
    font-weight:normal;
    color:#45adba;
}

h1 {
    font-family: @secFont;
    font-size:26px;
    font-weight:normal;
    color:#6e7277;
margin-bottom:15px;
clear:both;
}

h2 {
    font-size:22px;
}

h3 {
    font-size:20px;
    margin-top:0;
}

h4,h5,h6 {
    font-size:18px;
}

#header{
    background:none;
    height:auto;
}
#header.border{border-bottom: 1px solid #e5ebe8;}
#visual,#visual-page{margin-top: -1px;}

table.envelopjes td {
vertical-align:top;
text-align:center;
}

/* CLEARFIX */
.clearfix {
	zoom: 1;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#contact input[type=text], #contact textarea {
.txtDef;
width:50%;
box-sizing:border-box;
}

#contact span {
font-style:italic;
display:block;
font-size:12px;
}

#tablist {
    li.active {
        a {
            background:#d9e7ea;
        }
    }
    a {
        .Transi;
        text-transform:lowercase;
        background:#eaf5f9;
        display:inline-block;
        float:left;
        vertical-align:top;
        padding:4px 10px 4px 10px;
        margin-right:10px;
        margin-bottom:25px;
        &:hover {
            background:#d9e7ea;
        }
    }
}




/* MAIN LAYOUT */
#wrapper { 
clear:both;
}

#headermenu {
    font-size: 11px;
    float: right;
    margin: 0;
    margin-top: 5px;
    height: 44px;
    padding: 0;
    width: 350px;
    padding-top: 47px;
	span {
	position: relative;
	top: 5px;
	}
	
	a {
	color: rgb(130, 38, 38);
	height: 26px;
	display: block;
	float: right;
	}
}

#custom_menu {
    margin-top: 34px;
    margin-left: 151px;
    height: 30px;
    width: 812px;
    clear: both;
	
	a {
	margin: 0;
	padding: 0 20px;
	display: inline-block;
	background-color: #87cce6;
	color: white;
	height:30px;
	line-height:30px;
	border-right: solid 1px white;
	font-size: 14px;
	}
	
	img {
	vertical-align: top;
	}
}

#menu {
    background-color: #ccc;
    padding: 10px;
}

#logo { 
float:left;
}

#navmenu  { 
position:absolute;
top:0px;
right:0px;
}

#header div.container { 
position:relative;
}

//Adresboek
#body_account_adresboek {
    input[type=text] {
        box-sizing:border-box;
    }
    #rightdiv {
    float:none !important;
    width:70%;
    }
}

//Categorieselect
#catSelList { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background:url(/img/catlist.png) #e8f6f8 no-repeat right 10px center;
	border:none;
	outline:none;
	font-family:@secFont;
	color:#3e8b94;
}

//Topmenu
.menuTop .container { 
width:1175px;
margin:0 auto;
}

#topbar .container { 
	width:1175px;
	margin:0 auto;
}

#sidebar-footer {
background:#e8f6f7;
padding:15px;
box-sizing:border-box;
}

#ups { 
float:left;
padding-top:16px;
}

#mid.container.moresp { 
margin-top:25px;
}

//Login page
#login, #pw_recovery { 
float:left !important;
width:48%;
  min-width: 320px;
margin-bottom:35px;
  input {margin-top:0;}
  table{width: 100%;}
}
#login td.field, #pw_recovery td.field{padding-right: 20px !important;}
  #registreer {
float:right;
width:48%;
margin-bottom:35px;

}

//Mobile menu
#leftnav-mobile { 
position:fixed;
top:50px;
left:-82%;
bottom:0px;
z-index:9999;
background:#e8f6f8;
width:80%;
@media @mid {
	width:50%;
	left:-52%;
}

@media @min { 
	width:80%;
	left:-82%;
}
-webkit-box-shadow: 0 5px 5px 0 #5E5E5E;
box-shadow: 0 5px 5px 0 #5E5E5E;
box-sizing:border-box;
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-ms-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
}

.mobLogo { 
display:none;
}

#leftnav-mobile.show { 
	left:0px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

#leftnav-mobile ul { 
	padding:0px;
	li { 
	padding:0px;
	}
	
	a {
	padding:10px 25px 10px 25px;
	box-sizing:border-box;
	width:100%;
	display:inline-block;
	border-bottom:solid 1px #fff;
	
	&:first-child {
	border-top:solid 1px #fff;
	}
	
	&:before {
	display:none;
	}
	
	&:hover { 
	background:#fff;
	  color: #6e7277;
	}
	.Transi
	}

}


#pagebody{
	margin-left:0;
	padding-top:25px;
	width:875px;
	display:inline-block;
	vertical-align:top;
	@media @min {
	display:block;
	width:90% !important;
	margin:0 auto;
	}
	@media @mid {
	width:90% !important;
	margin:0 auto;
	display:block;
	}
}

#sidebar { 
	width:21%;
	display:inline-block;
	vertical-align:top;
	margin-right:45px;
}

/* Order history */
div.orderWrap { 
	width:100%;
	border-bottom:solid 1px #ccc;
	box-sizing:border-box;
}

div.orderImg { 
display:inline-block;
vertical-align:top;
padding-right:15px;
}

div.orderDat { 
display:inline-block;
vertical-align:top;
font-size:14px;
padding:30px 30px 0 0;
	span { 
		display:block;
		font-size:12px;
		font-weight:bold;
		line-height:12px;
	}
}

div.orderDetails { 
	background:#fcfcfc;
	box-sizing:border-box;
	padding:25px;
	font-size:14px;
	line-height:20px;
	.sTitle { 
		font-weight:bold;
		margin-bottom:10px;
	}
	.credSection {
		width:30%;
		display:inline-block;
		vertical-align:top;
	}
	.sendSection { 
		width:45%;
		display:inline-block;
		vertical-align:top;
		.sDate {
			font-size:12px;
		}
		.sStat { 
			font-size:14px;
			margin-top:-5px;
			color:#2cce00;
		}
	}
}

.sendStats {
	background:url(/img/status1.png) no-repeat;
	background-size:40px 40px;
	padding:0 0 10px 50px;
	margin-bottom:10px;
	border-bottom:dashed 1px #ccc;
}

.sendStats~.sendStats {
	background:url(/img/status2.png) no-repeat;
	background-size:40px 40px;
}

.sendStats~.sendStats~.sendStats {
	background:url(/img/status3.png) no-repeat;
	background-size:40px 40px;
}

.sendStats~.sendStats~.sendStats~.sendStats {
	background:url(/img/status4.png) no-repeat;
	background-size:40px 40px;
}

#cookie_message { 
height:auto !important;
padding-bottom:10px;
}

div.ordDetails { 
		display:none;
	}

//Foldout topmenu
a.help.active { 
    border-left:solid 1px #e0e0e0;
    border-right:solid 1px #e0e0e0;
    background:#fff;
}

a.account.active { 
    border-left:solid 1px #e0e0e0;
    border-right:solid 1px #e0e0e0;
    background:#fff;
}

li.uitloggen { 
border-top:dashed 1px #e0e0e0;
}

a.logout { 
display:none;
}

div.borderbreak { 
width:50px;
height:1px;
position:absolute;
top:42px;
z-index:1000;
width:100%;
right:0px;
background:#fff;
display:none;
}

a.help { 
    position:relative;
    padding-left:32px !important;
    padding-right:20px;
    margin-left:9px !important;
    border-right:solid 1px #fff;
    border-left:solid 1px #fff;
    ul.foldout {
        display:none;
        position:absolute;
        top:42px;
        right:-1px;
        z-index:999;
        border:solid 1px #e0e0e0;
        background:#fff;
        min-width:185px;
        li {
            width:100%;
            min-height:25px;
            a {
                float:none;
                margin:0px;
                line-height:22px;
                padding:8px 5px 8px 15px;
                @media @mid {
                    padding:8px 5px 8px 8px;
                    line-height:18px;
                    height:32px;
                }
                display:block;
                box-sizing:border-box;
                width:100%;
                &:after {
                    display:none;
                }
                &:hover { 
                    background:#6e7277;
                    color:#fff;
                }
            }
        }
    }
}

a.account { 
    position:relative;
    padding-left:32px !important;
    padding-right:20px;
    margin-left:9px !important;
    border-right:solid 1px #fff;
    border-left:solid 1px #fff;
    ul.foldout {
        display:none;
        position:absolute;
        top:42px;
        right:-1px;
        z-index:999;
        border:solid 1px #e0e0e0;
        background:#fff;
        min-width:185px;
        li {
            width:100%;
            min-height:25px;
            a {
                float:none;
                margin:0px;
                line-height:22px;
                padding:8px 5px 8px 15px;
                display:block;
                box-sizing:border-box;
                width:100%;
                @media @mid {
                    padding:8px 5px 8px 8px;
                    line-height:18px;
                    height:32px;
                }
                &:after {
                    display:none;
                }
                &:hover { 
                    background:#6e7277;
                    color:#fff;
                }
            }
        }
    }
}

span.ardown:after { 
content:'e';
font-family:@iconFont;
font-size:7px;
}

span.ardown { 
position:absolute;
top:0px;
right:9px;
}

#navmenu li.has-child ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

//Sidebar reviews
span.revTitle { 
  font-family: @mainFont;
  font-weight: normal;
    color: #6e7277;
  font-size:16px;
  margin-top:15px;
  display:block;
  margin-bottom:10px;
}

ul.partners li a { 
font-size:15px;
    &:before {
        font-family:@iconFont;
        content:'f';
        font-size:10px;
        padding-right:10px;
    }
}

span.revCon { 
font-size:13px;
font-weight:bold;
}

.feedback p { 
margin:0px;
}

.feedback { 
    font-size:13px;
    font-style:italic;
    box-sizing:border-box;
    padding:5px 5px 5px 0px;
    border-top:dashed 1px #e0e0e0;
    line-height:20px;
    margin-top:-20px;
    margin-bottom:25px;
    border-bottom:dashed 1px #e0e0e0;
}

.desUsp { 
width:100%;
background:#f2ecec;
box-sizing:border-box;
padding:15px 25px 15px 25px;
}

.desUsp a {
    color:#808287;
    font-size:14px;
    margin-right:10px;
}

.desUsp a:before { 
font-size:11px;
padding-right:5px;
content:'h';
color:#f08288;
font-family:@iconFont;
}

/* CUSTOM CSS */
#mid,.container{margin:0 auto;width:1170px;}
#body_home #mid{
  width: 100%;
}
#wrapper{width:auto;}
#pagecontent-before,#pagecontent-after,#home{display:none;}
#mid{clear:both;padding-top:20px;}
.bg-2{background-color: #f8f8f8;}
#categories{width:235px;float: left;}
#pagecontent{float:right;width:870px;margin:0;padding-bottom:30px;}
#body_home #categories{display:none;}
#body_home #pagecontent{width:auto;float:none;margin:0;padding-bottom:0;}

a{color:#2bb1a7;outline:none;text-decoration:none;}
a:hover{text-decoration:underline;}
#pagecontent p{line-height:23px;margin:0 0 30px 0;}
h1,h2,h3,h4,h5,h6{color:#e84b3d;font-family: @titFont;font-weight:400;margin:0 0 10px;letter-spacing:1px;}
h1{font-size:28px;}
h2{font-size:24px;}
h3,h4,h5,h6{font-size:20px;}
ul{list-style:none;padding:0;margin:0;}
.ht-logout:before{content:"k";font-family: @iconFont;font-style: normal;padding-right: 5px;}
.ht-contact:before{content:"h";font-family: @iconFont;font-style: normal;padding-right: 5px;position: relative;top: 1px;}
.ht-help1:before{content:"i";font-family: @iconFont;font-style: normal;padding-right: 5px;position: relative;top: 2px;}
.ht-login:before,.ht-account:before{content:"a";font-family: @iconFont;font-style: normal;padding-right: 5px;}
.ht-basket:before{content:"b";font-family: @iconFont;font-style: normal;padding-right:0;}
.button{background:url(/img/bgs.png) no-repeat 0 0;color:#fff;font-family: @secFont;text-transform:uppercase;display:block;position:relative;padding:0 10px 0 55px;float:none;width:auto;opacity:1;transition:opacity 0.25s ease;-webkit-transition:opacity 0.25s ease;-moz-transition:opacity 0.25s ease;-o-transition:opacity 0.25s ease;letter-spacing:1px;}
.button:after{position:absolute;width:55px;height:50px;right:-55px;top:0;background:url(/img/bgs.png) no-repeat 0 -53px;content:"";}
.button:hover{text-decoration:none;opacity:0.7;background-position:0 -106px;color:#fff;}
.button:hover:after{background-position:0 -159px;}
.button.btn-home{height: 50px;width: 510px;line-height: 50px;text-align: center;margin: 0 auto;font-size: 24px;display: inline-block;}
input[type="text"],input[type="password"]{border:1px solid #d3d3d3;width:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:33px;padding:0 1%;box-sizing:border-box;font-size:13px;font-family: @mainFont;}
textarea{border:1px solid #d3d3d3;width:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-sizing:border-box;padding:0 1%;font-size:13px;font-family: @mainFont;margin:0;}
select{border:1px solid #d3d3d3;width:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:33px;font-family: @mainFont;font-size:13px;}
.btnsubmit{font-family: @secFont;cursor:pointer;font-size:15px;color:#fff;text-transform:uppercase;letter-spacing:3px;height:34px;line-height:34px;background:url(/img/bgs.png) no-repeat 0 -213px;border:none;position:relative;display:inline-block;margin-top:10px;}
.btnsubmit:after{content:"";position:absolute;width:50px;height:34px;right:-50px;top:0;background:url(/img/bgs.png) no-repeat 0 -250px;}
input[type="submit"]{border:none;background:none;font-family: @secFont;cursor:pointer;font-size:15px;color:#fff;height:34px;line-height:34px;padding:0 0 0 25px;text-transform:uppercase;letter-spacing:3px;}
input[type="submit"]:after{content:"11";}
th,td,table{border-collapse:collapse;border-spacing:0;border:none;padding:0;}
td,th{padding:0 10px 5px 0;}
hr{background:url(/img/bg-hr.png) no-repeat 0 0;height:2px;border:none;margin:35px 0;}

#topbar{background:#f2f8f5;font-family: @titFont;font-size:13px;letter-spacing:1px;}
#topbar .container{height:44px;line-height:44px;}
.hblock{float:left;width:53%;}
.hblock p{float:left;color:#e74638;margin:0;padding:0 10px 0 0;}
.hblock p span{text-transform:uppercase;}
.hblock ul{list-style:none;padding:0;margin:0;}
.hblock ul li{color:#666666;background:none !important;float:left;position:relative;margin-right:10px;padding-right:10px;}
.hblock ul li a{color: #666;}
.hblock ul li:hover,.hblock ul li a:hover{color: #2bb1a7;}
.hblock ul li:after{content:"";width:1px;height:20px;border-left:1px solid #babebc;position:absolute;right:0;top:12px;}
.hblock ul li:last-child:after{display:none;}
.hsearch{display:none;}
#hsearch{float:right;height:21px;margin-top:12px;position:relative;min-width:22px;margin-left:10px;}
#hsearch form{height:21px;}
#hsearch .form{background:#fff;height:21px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:0 0 0 10px;opacity:0;width:0;overflow:hidden;position: absolute;right: 0;top: 0;}
#hsearch .form input{border:none;height:21px;background:none;display:block;width:169px;color:#666;font-family: @mainFont;font-size:12px;box-sizing:border-box;line-height:21px;padding-bottom:3px;}
#hsearch .ico-search{width:20px;height:21px;display:block;position:absolute;right:0;top:0;color: #e74638;line-height: 1;font-size: 17px;}
#hsearch .ico-search:hover{text-decoration:none;}
#hnav{float:right;list-style:none;padding:0;margin:0;}
#hnav li{float:left;padding-left:15px;padding-right: 3px;}
#hnav li .ht{width:15px;}
#hnav li a{color:#787c7d;}
#hnav li a:hover{color:#2bb1a7;text-decoration:none;}
#hnav li:hover .ht-basket:before{background-position: -28px -18px;}
#hnav li:hover .ht-account:before{background-position: 0 -18px;}
#hnav li:hover .ht-logout:before{background-position: -15px -18px;}
#hnav li.help{position: relative;border-left: 1px solid #f2f8f5;border-right: 1px solid #f2f8f5;cursor: pointer;}
div.borderbreak{background: #fff;display: none;height: 1px;position: absolute;right: 0;top: 44px;width: 100%;z-index: 1000;}
li.help ul.foldout{background: #fff;border: 1px solid #e0e0e0;display: none;min-width: 185px;position: absolute;right: -1px;top: 44px;z-index: 999;}
li.help ul.foldout li{float: none !important;padding: 0 5px;height: auto !important;line-height: 30px !important;}
span.ardown{position: absolute;right: 9px;top: 0;}
span.ardown:after{content: ">";font-size: 7px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);}
#hnav li.help.active, li.help.active{border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;background: #fff;}
.phone-menu{height: 44px;width: 50px;box-sizing: border-box;display: block;position: absolute;left: 0;top: 0;background: #e74638;display: none;}
.phone-menu:before,.phone-menu:after,.phone-menu span{content: "";background: #fff;display: block;height: 3px;left: 10px;width: 30px;position: absolute;}
.phone-menu span{top: 11px;text-indent: -9999em;}
.phone-menu:before{top: 19px;}
.phone-menu:after{top: 27px;}

#header{height:auto;background:none;padding:0;}
#header .hblock,#headermenu{display:none;}
#logo{margin:0;padding-top:10px;}
#mainnav { float:right; }
#mainnav ul{border-left:1px solid #e5ebe8;}
#mainnav ul li{float:left;text-align:center;position:relative;}
#mainnav ul li a{display:block;height:84px;padding:23px 18px 0;font-size:16px;font-family: @titFont;color:#666666;border-right:1px solid #e5ebe8;letter-spacing:1px;}
#mainnav ul li a:hover{text-decoration:none;color:#e74638;}
#mainnav ul li a span{display:block;position:relative;}
#mainnav ul li a .ht{display:block;height:37px;width:37px;background:url(/img/icons.png) no-repeat;margin: 0 auto 6px;}
#mainnav ul li a .ht-book{background-position: -70px 0;}
#mainnav ul li a .ht-letter{background-position: -110px 0;}
#mainnav ul li a .ht-tag{background-position: -150px 0;}
#mainnav ul li a .ht-help{background-position: -190px 0;}
#mainnav ul li.active >.cat-list .meisje .btn a:first-child{color:#e74638;}
#mainnav ul li.has-child a span{padding-right:20px;}
#mainnav ul li.has-child a span:after{content:">";position:absolute;right:-10px;top:50%;width:12px;height:9px;margin-top:-5px;-ms-transform: rotate(90deg);  -webkit-transform: rotate(90deg); transform: rotate(90deg);}
#mainnav ul li ul{display:none;position:absolute;right:0;top:107px;z-index:400;width:100.1%;border:1px solid #e5ebe8;border-top:none;background:none;padding-top:5px;box-sizing:border-box;}
#mainnav ul li ul li{float:none;background:#fff;}
#mainnav ul li ul li a{border:none;height:auto;background:#fff;border-top:1px solid #e5ebe8;padding:8px 12px 6px 18px;text-align:left;}
#mainnav ul li ul li a:hover{color:#e74638;}

#footer{padding:14px 0 24px 0;background:#eef4f1;}
#footer .betaal{float:right;padding-top:49px;margin:0;}
.fitem{float:left;font-size:14px;width:19.7%;}
.fitem ul li{padding:3px 0;}
.fitem ul li a{color:#999999;padding-left:4px;}
.fitem ul li a:before{content:"»";position:relative;left:-4px;}
.fitem ul li a:hover{text-decoration:none;color:#2bb1a7;}

#leftnav .icon{margin:0;padding:12px 0;}
#leftnav .icon a{display:block;position:relative;color:#6e7277;font-family: @titFont;padding-left:25px;letter-spacing:1px;}
#leftnav .icon a:hover{text-decoration:none;color:#2bb1a7;}
#leftnav .icon a:after{content:"";position:absolute;left:0;top:50%;background-image:url(/img/icons.png);background-repeat:no-repeat;}
#leftnav .zelf a:after{background-position: 0 -44px;width:35px;height:27px;margin-top:-14px;left:-20px;}
#leftnav .nieuwe a:after{background-position: -40px -44px;height:18px;width:22px;margin-top:-9px;left:-5px}
#leftnav .met a:after{background-position: -66px -44px;width:16px;height:14px;margin-top:-7px;}
#leftnav .pop a:after{width:16px; height:14px; margin-top:-15px; content:'p'; font-family:@iconFont; background:none; color:#e84b3d; font-size:20px;}
#leftnav .category a:after{background-position: -90px -44px;width:15px;height:13px;margin-top:-7px;}
#lnav li h3{background:url(/img/line.png) no-repeat 0 0;margin:0;}
#lnav li h3 a{color:#e74638;font-size:18px;position:relative;display:block;padding:20px 0;}
#lnav li h3 a:hover{text-decoration:none;}
#lnav li h3 a:after{content:"";position:absolute;right:30px;top:50%;width:16px;height:16px;margin-top:-8px;background:url(/img/icons.png) no-repeat -134px -44px;}
#lnav li h3.selected a:after{background-position: -111px -44px;}
#lnav li{font-family: @titFont;letter-spacing:1px;}
#lnav li ul{display:none;padding-bottom:7px;}
#lnav li ul li{padding-bottom:7px;}
#filter_cards #filter_menu{float:none;width:auto;}
#filter_cards #filter_menu ul li h3{background:url(/img/line.png) no-repeat 0 0;margin:0;position:relative;padding:20px 0;cursor:pointer;}
#filter_cards #filter_menu ul li h3:after{content:"";position:absolute;right:30px;top:50%;width:16px;height:16px;margin-top:-8px;background:url(/img/icons.png) no-repeat -111px -44px;}
#filter_cards #filter_menu ul li h3.closed:after{background:url(/img/icons.png) no-repeat -134px -44px;}
#filter_cards #filter_menu ul li ul{padding-bottom:15px;}
#filter_menu ul li{padding-bottom:5px;}
#filter_cards #filter_menu label{font-family: @titFont;color:#45adba;letter-spacing:1px;cursor:pointer;}
#filter_menu ul li input[type="checkbox"]{display:none;}
#filter_cards #filter_menu label .number-of-tags{color:#666;font-style:normal;padding-left:6px;}
#filter_menu ul li input[type="checkbox"] + label span.custom_checkbox {display: inline-block !important;width: 15px;height: 15px;cursor: pointer;vertical-align: middle;background: url(/img/icons.png) no-repeat -156px -44px;margin-right:5px;}
#filter_menu ul li label:hover{color:#b56f92;}
#filter_cards #filter_menu label:hover .number-of-tags{color:#9d9d9d;}
#filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox {background: url(/img/icons.png) no-repeat -182px -44px !important;}
.kleur ul {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}
.kleur ul li{display:inline-block; box-sizing:border-box; width:30px; height:30px; padding: 0 0 0 0 !important; margin:0 0px 7px 0;vertical-align:top;overflow:hidden;-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1px 0 #575757;
  box-shadow: 0 0 1px 0 #575757;
  background: -webkit-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70% );
  background: -moz-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70% );
  background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70% );}
.kleur ul li label{display:block;height:30px;width:30px;font-size:0 !important;}
.kleur ul li label .custom_checkbox{display:inline-block !important;height:30px !important;width:30px !important;background:none !important;}
#tagli-geel label{background:yellow !important;}
#tagli-oranje label{background:orange !important;}
#tagli-wit label{background:#fff !important;}
#tagli-rood label{background:#db1704 !important;}
#tagli-blauw label{background:#2286dd !important;}
#tagli-roze label{background:#d53276 !important;}
#tagli-grijs label{background:#92959f !important;}
#tagli-groen label{background:#9bd576 !important;}
#tagli-paars label{background:#7a4dac !important;}
#tagli-zwart label{background:#000 !important;}
#tagli-bruin label{background:#7b6a4f !important;}
#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox{background:url(/img/ftcheck.png) no-repeat !important; background-size:20px 20px !important; background-position:6px 5px !important;}

#visual{height:315px;}
.visual,.visual-page{display:none;}
#visual-page,#visual{clear:both;background:url(/img/visual/bg-visual.gif) repeat-x center top;}
#visual-page .container,#visual .container{height:461px;position:relative;}
#visual-page .container{height:232px;}
#visual-page .card:after,#visual .card:after{box-sizing:border-box;}
#visual-page .card,#visual .card{position:absolute;background-repeat:no-repeat;margin:0;}
#visual .card1{left:-55px;top:0;width:163px;height:167px;background-image:url(/img/visual/rope1.png);background-position: 58px -77px;padding:13px 0 0 0;}
#visual .card2{left:75px;top:0;width:179px;height:187px;background-image:url(/img/visual/rope2.png);background-position: 42px -128px;padding:106px 0 0 0;}
#visual .card3{right:38px;top:0;width:171px;height:398px;background-image:url(/img/visual/rope3.png);background-position: 29px -103px;padding:116px 0 0 0;}
#visual .card4{right:-42px;top:0;width:139px;height:187px;background-image:url(/img/visual/rope4.png);background-position: 38px -24px;padding:18px 0 0 0;}
#visual-page .card5{left:35px;top:0;width:141px;height:155px;background-image:url(/img/visual/rope1.png);background-position: 42px 0;padding:70px 0 0 0;background-size:33px 78px;}
#visual-page .card2{right:-38px;top:0;width:122px;height:140px;background-image:url(/img/visual/rope4.png);background-position: 28px 0;padding:42px 0 0 0;}
#visual-page .card3{right:64px;top:0;width:132px;height:145px;background-image:url(/img/visual/rope5.png);background-position: 17px 0;padding:107px 0 0 0;}
#visual-page .card2 img{width:122px;height:auto;}
#visual-page .card3 img{width:132px;height:auto;}
#visual-page .z-card1{background-position: 58px 0;top:0;left: -18px;padding: 52px 0 0 0;background-image:url(/img/visual/rope1.png);background-size:33px 78px;width:141px;height:155px;}
#visual-page .textblock,#visual .textblock{margin:0 auto;width:770px;text-align:center;font-size:18px;padding:46px 0 0 0;}
#visual-page .textblock{font-size:16px;padding-top:57px;width:700px;}
#visual-page .textblock h2,.hvisual h1,#visual .textblock h1{font-family: @secFont;font-size:34px;letter-spacing:5px;text-transform:uppercase;}
.hvisual h1{font-size:22px;line-height:33px;margin-bottom:32px;}
#visual-page .textblock h2{text-transform:inherit;font-size:28px;letter-spacing:3px;}
#visual-page .textblock p,#visual .textblock p{line-height:33px;margin: 10px 0 36px;}
#visual-page .textblock p{color:#999;line-height:27px;}
#visual .textblock .button{font-size:24px;height:50px;display:inline-block;line-height:50px;}
#body_geboortekaartje-zelf-maken #visual-page .textblock{padding-top: 29px;}

.breadcrumbs{font-family: @titFont;font-size:13px;padding-bottom:33px;padding-top:7px;letter-spacing:1px;}
.breadcrumbs a{color:#2bb1a7;padding-right:5px;}
.breadcrumbs a:hover{text-decoration:none;color: #e74638;}
#card_previews img{height:auto !important; width:100%!important;}
.section-1{margin-bottom:30px;}
.cat-list li{float:left;width:23.06%;margin-right:2.58%;}
.cat-list li:last-child{margin-right:0;}
.cat-list li .thumb{font-size:0;line-height:1;padding-bottom:23px;}
.cat-list li .thumb img{width:100%;}
.cat-list li .btn{letter-spacing:1px;font-family: @secFont;display:block;height:44px;line-height:44px;text-transform:uppercase;color:#fff;font-size:18px;text-align:center;background-size:100% 44px;-webkit-transition: all 400ms ease;  -moz-transition: color 400ms ease;-ms-transition: color 400ms ease;-o-transition: color 400ms ease;transition: color 400ms ease;}
.cat-list li .btn:hover{text-decoration:none;color: #584285;}
.cat-list .meisje .btn{background:url(/img/bg1.png) no-repeat 0 0;}
.cat-list .jongen .btn{background:url(/img/bg2.png) no-repeat 0 0;}
.cat-list .zelf .btn{background:url(/img/bg3.png) no-repeat 0 0;}
.cat-list .meisje .btn:hover{color: #e0949c;}
.cat-list .jongen .btn:hover{color: #357d79;}
.cat-list .zelf .btn:hover{color: #c5b531;}
.cat-list .enveloppen .btn{background:url(/img/bg4.png) no-repeat 0 0;}
.blog-list li{float:left;width:22.8%;border-radius: 5px;border: 1px solid #f8f8f8;margin-bottom: 18px;}
.blog-list li:hover{border-color: #f3c2be;}
.blog-list li .thumb{font-size:0;line-height:1;padding-bottom:14px;}
.blog-list li .thumb img{width:100% !important;height: auto !important;}
.blog-list li h2{font-family: @mainFont;font-size:17px;text-transform:uppercase;margin:0;padding:0 10px 12px;line-height:26px;letter-spacing: inherit !important;}
.blog-list li:hover a,.blog-list li h2 a:hover{color: #e74638;}
.blog-list li .entry-content{padding:0 0 18px;font-size:14px;color:#939393;text-align: justify;}
.blog-list li p{margin:0 10px !important;line-height:23px !important;}

.contactfrm{clear:both;}
.contactfrm ul li{clear:both;padding-bottom:10px;}
.contactfrm ul li label{float:left;width:168px;font-size:14px;font-family: @titFont;line-height:33px;letter-spacing:1px;}
.contactfrm ul li em{font-style:normal;}
.contactfrm ul li p{float:left;margin:0 !important;}
.contactfrm ul li.error input[type="text"]{border-color:#ff0000;margin-right:10px;}
.contactfrm ul li p span{font-size:12px;text-transform:uppercase;background:#ff0000;height:33px;line-height:33px;color:#fff;background:url(/img/bgs.png) no-repeat 0 -289px;padding:0 10px 0 18px;vertical-align:top;}
.contactfrm ul li.error p span{display:inline-block !important;}
.contactfrm ul li input[type="text"],.contactfrm ul li textarea{width:435px;}
.contactfrm .submit span{display:inline-block !important;}
.contactfrm .submit .btnsubmit{float:right;margin-right:304px; }

#body_design #categories{display:none;}
#body_design #pagecontent{float:none;width:100%;}
#body_account_settings .button,#body_account .button{display:inline-block;height:50px;line-height:50px;font-size:24px;margin-top:0 !important;}

#mainnav ul,.contactfrm ul li,.container,.clearfix {zoom: 1;}
#mainnav ul:after,.contactfrm ul li:after,.container:after,.clearfix:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}
#card_previews > div{width: 24%;display: inline-block;position: relative;}
a.trash_icon {
  display: block;
  height: 20px;
}
a.trash_icon:before {
  content: 'verwijderen';
}
a.add_user_design, a.delete_user_design{
  bottom: 30px;
  display: block;
  right: 35px;
  position: absolute;
}
body.page .add_user_design:before {
  font-family: @iconFont;
  content: 'o';
  font-size: 24px;
  color: #e84b3d;
}
body.page .delete_user_design:before {
  font-family: @iconFont;
  content: 'n';
  font-size: 24px;
  color: #666666;
}

/* calculator*/
#calculator .ttl {
  margin: 0;
  padding: 16px 0 4px 0;
}
#calculator .amount .ttl {
  padding: 16px 0 10px 0;
}
#calculator .result-cal input {
  border: none;
  padding: 0;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#amount-envelop,
#amount-card {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  width: auto !important;
  padding: 0;
  height: auto;
}
#result-input {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: auto;
}
#result {
  color: #000;
}
.inclusief {
  color: #616161;
  font-size: 12px;
  display: block;
  line-height: 1.3;
  margin-top: 0;
}
.result-cal {
  margin-top: 18px;
  margin-bottom: 20px;
  background: #e5eee7;
  width: 363px;
  padding: 12px 20px 10px;
}
.alert {
  margin-bottom: 20px;
  font-size: 11px;
  padding: 0 0 0 10px !important;
  color: #999;
  font-style: italic;
  width: 393px;
}
#calculator #message {
  display: none;
  width: 403px;
  text-align: center;
  color: #F00;
  font-size: 18px;
  font-family: Arial;
}
.page-cal {
  width: 705px !important;
  height: 115px !important;
}
.page-cal a {
  top: 62px !important;
  font-size: 20px !important;
  height: 34px !important;
  line-height: 34px !important;
}
#calculator #sliderb,
#calculator #slider {
  background: #5e989a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  height: 3px;
}
#calculator .ui-slider-horizontal .ui-slider-handle {
  display: block;
  height: 16px;
  position: absolute;
  z-index: 2;
  width: 16px;
  background: #6ac4c2 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #737373;
  box-shadow: 0 0 0 1px #737373;
  top: -0.4em;
}
#calculator table {
  width: 422px;
}
.result-cal table {
  width: 379px !important;
}
.wrap-sel {
  height: 31px;
  position: relative;
}
#calculator select {
  height: 31px !important;
  line-height: 31px;
  position: relative;
  width: 190px !important;
  z-index: 10;
  opacity: 1 !important;
  background: #e9ecf3;
  border: none;
  border-bottom: solid 2px #d7dae1;
  color: #000 !important;
  font-size: 14px;
  outline: none;
}
#calculator select:hover {
  border-bottom: solid 2px #5f969d;
  opacity: 1 !important;
}
#calculator select.ui-state-active {
  border-bottom: solid 2px #5f969d;
}
#calculator span.select {
  display: none;
}
#total {
  font-size: 12pt;
}
#total,
#price,
#priceb,
#pricec,
#priced,
#pricee,
#pricef,
#pricez {
  text-align: right;
  width: 60px;
}
#quoteme input {
  background: transparent;
  color: #ddd;
  font-family: Georgia;
  border: 0px solid #fff;
  margin-bottom: 20px;
}
#quoteme label {
  float: left;
  padding-top: 10px;
  display: block;
  color: #fff;
  font-family: Georgia;
  width: 340px;
}
#contenta {
  padding: 1px 0px 20px 0px;
  display: block;
  width: 400px;
  text-align: left;
  font-size: 12pt;
}
.pricepara {
  text-align: right;
  font-size: 14pt;
}
.pricepara #totalprice {
  padding-top: 0px;
  margin-top: 0px;
  border: 0px solid #000;
  font-size: 14pt;
  font-weight: bold;
}
#total {
  font-family: 'Georgia', arial;
  width: 100px;
  border: 0px solid #000;
  background: transparent;
  font-size: 38px;
  color: #fff;
}
#quoteme {
  width: 400px;
  display: block;
  background: #000;
  float: left;
  clear: both;
  padding: 30px 20px 10px 30px;
}
#slider,
#sliderb,
#sliderc,
#sliderd,
#slidere {
  width: 209px;
}
input#submitbtn {
  display: block;
  width: 200px;
  height: 38px;
  margin: 10px 0px 10px 0px;
  background: #ffe906;
  color: #000;
  font-size: 14pt;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}
#amount-card,
#amount-envelop {
  border: none;
  background: none;
  width: 40px !important;
  text-align: left;
  color: #262626;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: -14px;
  top: -4px !important;
  text-align: right;
}
.ui-slider .ui-slider-range {
  border: none !important;
  background-color: #c17e93 !important;
}
#body_home #card_previews div{
  padding: 0 3px;
}

/* Bedankt */
#body_ok #pagecontent .button { 
    width:295px;
    border-radius:0px;
    height:50px;
    padding-top:9px;
    box-sizing:border-box;
    background-repeat:no-repeat !important;
    font-size:18px;
    &:hover {
        background-position:0 -106px !important;
        background-color:none !important;
    }
}

/* Evenloppen */
div.envWrap {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    @media @mid {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    span.envTitle {
    display:block;
    text-align:center;
    @media @min {
        font-size:13px;
    }
    }
    div.envItem {
    margin-bottom:15px;
    text-align:center;
    }
}

.zelf-list{
  padding-top: 22px;
	li {
	  display: inline-block;
	  width: 270px;
	  box-sizing: border-box;
	  cursor: pointer;
	  text-align: center;
	  margin: 0 25px 55px 0;
	  padding: 20px 0 0 0;
	  background-color: #f4f9f6;
	  border-radius: 10px 10px 0 0;
	  &:hover{
		background-color: #e3f2e9;
	  }
	  &:nth-child(3){
		margin-right: 0;
	  }
	  &:nth-child(6){margin-right: 0;}
	  h4{
		font-size: 22px;
		font-family: @titFont;
	  }
	  a{
		display: block;
		padding-top: 18px;
		padding-bottom: 21px;
	  }
	  span {
		padding-top: 7px;
		line-height: 23px;
		display: block;
		height: 59px;
		box-sizing: border-box;
		color: #fff;
		font-size: 18px;
		font-family: @titFont;
		background: #fff url(/img/zelf-maken/btn-zelf.png) no-repeat 0 0;
	  }
	}
}

@media @mid {
  #categories{display: none;}
  #header{background: #fff;}
  .phone-menu{display: block;}
	.hblock{display:none;}
	#logo{padding-top:4px;}
	#logo img{height:55px;}
	#mid,.container{width:90%;}
	.fitem{width:37.7%;}
	.cat-list li .btn{height:28px;line-height:28px;font-size:12px;background-size: 100% 28px !important;}

  .blog-list li h2{font-size:14px;padding: 0 10px 3px;}
	.blog-list li .entry-content{padding:0 0 36px;}
  #mainnav ul{float: none;border: none;}
  #mainnav ul li{float: none;text-align: left;}
  #mainnav ul li a{border: none;}
  .mm-menu{background: #f2f8f5;}
  .mm-listview > li:not(.mm-divider)::after{left: 0;}
	#mainnav ul li a{height:44px;font-size:14px;padding:20px 12px 0;}
	#mainnav ul li a .ht{display:inline-block;margin:0 9px 0 0;vertical-align:middle;height:24px;width:24px;}
	#mainnav ul li a span{display:inline-block;vertical-align:middle;}
	#mainnav ul li a .ht-book{background-position: 0 -75px;}
	#mainnav ul li a .ht-letter{background-position: -28px -75px;}
	#mainnav ul li a .ht-tag{background-position: -56px -75px;}
	#mainnav ul li a .ht-help{background-position: -84px -75px;}
	#mainnav ul li ul{top:64px;}
	#visual .textblock{width:620px;font-size:14px;padding:86px 0 0;}
	.hvisual h1, #visual .textblock h1{font-size:26px;}
	#visual .textblock .button{font-size:18px;}
	#visual .textblock p{line-height:24px;margin-top:13px;}
	#visual .container{height:362px;}
  	#visual .card1 img,#visual .card2 img{width:140px;height:auto;}
  #visual .card2{background-position: 29px -128px;left: 54px;}
  	#visual .card1{background-position: 48px -77px;}
	#visual .card3{padding:165px 0 0 0;background-size:33px 171px;width:140px;background-position:24px 0;right:27px;}
	#visual .card3 img{width:140px;height:auto;}
	#visual-page .card{display:none;}
	#visual-page .container{height:153px;}
	#visual-page .textblock{font-size:14px;padding-top:30px;}
	#visual-page .textblock p{line-height:24px;}
	#categories,#pagecontent{float:none;width:100%;}
	#leftnav .icon{display:inline-block;vertical-align:middle;padding:0 17px;}
	#lnav{clear:both;}
	.block-icon{text-align:center;}
	#body_account_password #pagecontent form table,#body_account_address #pagecontent form table{width:100%;}
}

@media (min-width:641px) and (max-width:1170px) {
  	#topbar .container{
	  	width: 100%;
	}
}

@media (min-width:641px) and (max-width:1045px) {
  #visual .textblock{width: 550px;padding-top: 57px;}
  #visual .textblock h1{font-size: 20px;}
  #visual .textblock p{font-size: 13px;}
}

@media (max-width:758px) {
#login,#pw_recovery{float: none !important;width: 100% !important;}
}

@media (max-width:758px) {
	.blog-list li{width: 22.5%;} #visual-page .textblock{width: 100%;}
}

@media (max-width:679px) {
  #card_previews > div{width: 49%;}
  #card_previews img{max-width: 180px;}
}

@media (max-width:640px) {
  .button.btn-home{width: 310px;font-size: 15px;}
	.container{width:90%;}
	#mid{width:90%;}
	#topbar{background:#fff;}
	#topbar .container{height:33px;line-height:33px;width: 100%;}
	.hblock{display:none;}
	hr{background-size:100% 2px;}
  	#hsearch{margin-top: 7px;}
	#hnav{padding-right:10px;}
	
	#logo{float:none;text-align:center;padding-top:20px;}
	#logo img{height:70px;}
	#mainnav ul{float: none;border: none;}
	#mainnav ul li{float: none;text-align: left;}
	#mainnav ul li a{border: none;}
	.mm-menu{background: #f2f8f5;}
	.mm-listview > li:not(.mm-divider)::after{left: 0;}
	#footer .row{padding:0 10px;}
	.fitem{width:100%;}
	#footer .betaal{clear:both;text-align:right;}
	.cat-list li{float:none;width:100%;margin:0 0 25px;}
	.cat-list li .btn{background-size:100% 44px !important;height:44px;line-height:44px;font-size:18px;}
	.blog-list li{width:100%;float:none;}
	#body_home #visual{display:none !important;}
	#header{background:url(/img/visual/bg-visual.gif) no-repeat center 0;height:auto;background-size: cover;}
	#body_home .hvisual{display:block !important;text-align:center;padding-top:15px;padding-bottom:34px;}
	.hvisual .button{line-height:34px;height:34px;background-position:0 -213px;display:inline-block;padding:0 10px 0 40px;}
	.hvisual .button:after{background-position:0 -250px;width:37px;height:34px;right:-37px;}
	#visual-page .textblock{width:100%;}
	#visual-page .container{height:auto;}
	.contactfrm ul li p{float:none;width:100%;}
	.contactfrm ul li input[type="text"],.contactfrm ul li textarea{width:100%;}
	.contactfrm .submit .btnsubmit{float:none;margin-right:0;}
  .phone-menu{width: 38px;height: 33px;}
  .phone-menu:before, .phone-menu:after, .phone-menu span{width: 22px;left: 8px;}
  .phone-menu span{top: 8px;}
  .phone-menu:before{top: 15px;}
  .phone-menu:after{top: 22px;}
}

@media only screen and (max-width: 767px) {

  table.responsive { margin-bottom: 0; }

  .pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
  .pinned table { border-right: none; border-left: none; width: 100%; }
  .pinned table th, .pinned table td { white-space: nowrap; }
  .pinned td:last-child { border-bottom: 0; }

  div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
  div.table-wrapper div.scrollable { margin-left: 35%; }
  div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }

  table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }


}