#body_design { 
    #sidebar { 
        width:0px;
        #leftnav { 
            display:none;
        }
    }
    
    #pagebody { 
        width:100%;
    }

    div.leftCol {
        .goback{
            font-size: 16px;
            color: #e74638;
            font-family: @titFont;
        }
        #voor_preview{
            min-height: 315px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img{
                max-height: 260px;
            }
        }
        #envelope{
            top: 330px;
            right: 0;
            left: inherit;
        }
    }
    
    div.leftCol {
        width:50%;
        display:inline-block;
        vertical-align:top;
        position:relative;
        #prevWrap {
            position:relative;
            cursor:pointer;
            overflow:hidden;
            min-height:360px;
            @media @mid {
              min-height:260px;  
            }
            #voor_preview, #binnen_preview {
                width:100%;
                text-align:center;
                img {
                    max-width:80%;
                    max-height:350px;
                    @media @mid {
                        max-height:250px;
                    }
                    width:auto;
                    height:auto;
                }
            }
            #voor_preview_envelop {
                width:100%;
                text-align:center;
                img {
                    width:50%;
                    height:auto;
                    position:relative;
                    z-index:5;
                }
            }
        }
        
        .select_preview { 
            width:100%;
            text-align:center;
            margin-top:25px;
            span {
                vertical-align:top;
                display:inline-block;
                margin-right:25px;
                @media @mid {
                    margin-right:5px;
                }
            }
            img { 
                max-width:120px;
                max-height:130px;
                height:auto;
                width:auto;
                cursor:pointer;
                &:hover {
                    opacity:0.7;
                }
            }
        }
        
        span.envview {
            display:inline-block;
            width:115px;
            position:relative;
            height:99px;
            img {
                position:absolute;
                top:0px;
                left:0px;
                z-index:1;
            }
            
            span.env { 
                display:inline-block;
                width:75px;
                position:absolute;
                top:0px;
                right:-45px;
                height:75px;
                background:url(/img/envtransklein.png) no-repeat;
                background-size:75px 75px;
                background-color:#eeeded;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                transform: rotate(14deg) ;
                -webkit-transform: rotate(14deg) ;
                -moz-transform: rotate(14deg) ;
                -o-transform: rotate(14deg) ;
                -ms-transform: rotate(14deg) ;
            }
        }
        .envgroot {
            display:inline-block;
            width:200px;
            position:absolute;
            top:25px;
            right:75px;
            height:200px;
            background:url(/img/envtrans.png) no-repeat;
            background-size:200px 200px;
            background-color:#eeeded;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            transform: rotate(14deg) ;
            -webkit-transform: rotate(14deg) ;
            -moz-transform: rotate(14deg) ;
            -o-transform: rotate(14deg) ;
            -ms-transform: rotate(14deg) ;
        }
    }
    
    #choose_preview {
        background: url(/img/bgs-1.png) no-repeat 0 0;
                text-transform: inherit;
                clear: both;
                width:100%;
                display:block;
                margin:20px 0 0;
                height:50px;
                font-family:@secFont;
                box-sizing:border-box;
                border:none;
                text-align:center;
                font-size:24px;
                padding:12px 50px 0 40px;
                &:after {
                    background-color: #f1f6f3;
                    font-family:@secFont;
                    text-transform:none;
                    content:'>';
                    font-size:24px;
                    margin-left:10px;
                    display:inline-block;
                    box-sizing:border-box;
                    padding-top: 12px;
                    text-align: left;
                    padding-left: 13px;
                    right: 0;
                }
                &:hover{
                    background-position: 0 -106px;
                }
            }
            
            #choose_preview2 {
                width:300px;
                font-family:@mainFont;
                height:56px;
                box-sizing:border-box;
                background:url(/img/bgmaken.png);
                border:none;
                display:block;
                margin:0 auto;
                margin-top:15px;
                margin-bottom:5px;
                font-size:22px;
                padding-top:4px;
            }
    
    div.rightCol { 
        width:40%;
        display:inline-block;
        vertical-align:top;
        float:right;
        a.meerPrijsLink {
            display:block;
            float:right;
            color:#6e7277;
        }
        div.env {
            clear:both;
        }
        table.prijsOf {
            .priceTd span {
                display:inline-block;
                width:auto;
                float:none;
                vertical-align:top;
                text-transform:lowercase !important;
            }
            td.sizeTd {
                padding-right:25px;
            }
            td.priceInfoTd {
                position:relative;
                width:25px;
                &:before {
                    font-family:@iconFont;
                    content:'k';
                    cursor:pointer;
                    padding-left:5px;
                    font-size:16px;
                }
                &:hover {
                    div.priceHover {
                        display:block;
                    }
                }
                div.priceHover {
                    display:none;
                    z-index:500;
                    padding:15px;
                    background:#fff;
                    position:absolute;
                    top:15px;
                    right:20px;
                    width:270px;
                    -webkit-box-shadow: 0 0 5px 0 #575757;
                    box-shadow: 0 0 5px 0 #575757;
                    table {
                        td.priceHoverName {
                            width:220px;
                        }
                        td.priceHoverPrice {
                            width:150px;
                            &:after {
                                content:' p/st';
                                vertical-align:top;
                            }
                        }
                    }
                }
            }
        }

        .desUsp{
            background: #d9e9df;
            -webkit-border-radius:0 0 8px 8px;
            -moz-border-radius: 0 0 8px 8px;
            border-radius: 0 0 8px 8px;
            padding:25px 25px 35px 25px;
            box-sizing:border-box;
            a{
                font-family: @mainFont;
                font-size: 12px;
                background: url(/img/star.png) no-repeat 0 0;
                padding-left: 23px;
                &:before{
                    content: "";
                }
            }
        }
        
        div.details { 
            background:#f1f6f3;
            box-sizing:border-box;
            padding:25px 25px 35px 25px;
            -webkit-border-radius:8px 8px 0 0;
            -moz-border-radius: 8px 8px 0 0;
            border-radius: 8px 8px 0 0;
            .proefDrukPrijs{
                font-size: 14px;
                padding-top: 15px;
                text-align: center;
                width: 100%;
                display: block;
            }
            .proefPrijs {
                color:#96989B;
                display:none;
                width:80px;
                font-size:14px;
                line-height:20px;
                margin-right:15px;
                margin-top:20px;
            }
            
            .tags {
                margin-bottom:20px;
            }
            
            .tags, .designer, .collectie, .prijsTab, .zenv {
                font-size:14px;
                color:#666666;
                span {
                    text-transform:uppercase;
                    font-family: @titFont;
                }
            }

            .zend{
              float: none !important;
            }
            
            div.tags {
                padding-left:150px;
                position:relative;
                span {
                    position:absolute;
                    top:0px;
                    left:0px;
                }
            }

            .prijsTab{
                margin-bottom: 20px;
                overflow: hidden;
                .meerPrijsLink{
                    margin-top: -10px;
                }
            }
            
            div span { 
                display:inline-block;
                width:160px;
                float:left;
            }
        }

        div.detAccord.first{
            border-top:solid 1px #dcdbd6;
            margin-top:25px;
        }

        div.detAccord{
            border-bottom:solid 1px #dcdbd6;
            box-sizing:border-box;
            .detAccordTitle{
                width: 100%;
                text-transform: uppercase;
                position: relative;
                padding:9px 0px 7px 0px;
                cursor: pointer;
                font-size: 14px;
                &:after {
                    background: url(/img/icons.png) no-repeat -50px -21px;
                    position: absolute;
                    content: "";
                    width: 13px;
                    height: 10px;
                    right: 0;
                    top: 50%;
                    margin-top: -4px;
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    -ms-transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
            .detAccordTitle.active{
                &:after{
                    -webkit-transition: all 400ms ease;
                    -moz-transition: all 400ms ease;
                    -ms-transition: all 400ms ease;
                    -o-transition: all 400ms ease;
                    transition: all 400ms ease;
                    -ms-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
            .innerHtml{
                padding-bottom: 15px;
                font-size: 14px;
                .tags{
                    margin-bottom: 20px;
                    padding-left: 150px;
                    position: relative;
                    span{
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                .tags,.designer,.collectie,.prijsTab{
                    font-size: 14px;
                    color: #96989B;
                }
                .tags span,.designer span,.collectie span,.prijsTab span{
                    text-transform: uppercase;
                }
                div span{
                    display: inline-block;
                    width: 150px;
                    float: left;
                }
                .prijsTab .prijsOf .priceTd span{
                    display: inline-block !important;
                    float: none !important;
                    width: auto !important;
                    text-transform: lowercase !important;
                    vertical-align: top;
                }
                .prijsTab .prijsOf .priceInfoTd:before{
                    content: "i";
                }
            }
        }
        
        h1 {
            margin-bottom:20px;
            font-family:@titFont;
            line-height:38px;
            font-size: 24px;
            margin-top: -5px;
        }
    }

    .extraBox p, .extraBox span{
        font-size:13px !important;
        display:inline-block !important;
        font-weight:normal !important;
        vertical-align:top;
        margin:0px !important;
    }

    .extraBox {
        margin-top:20px;
        text-align:center;
    }
    
    /* tijdelijke oplossing */
    div.env {
    display:none;
    }
    
    a.save_user_design {
        float:none !important;
        display:block;
        margin-left:0;
        text-align: center;
        letter-spacing:0.5px;
        text-transform:lowercase !important;
        font-size:18px;
        margin-top:5px;
        &:before {
            content:'o';
            font-size:24px;
            color:#f08288;
            padding-right:7px;
            vertical-align:middle;
            font-family:@iconFont;
        }
        
        &.save_user_design_added {
            margin-left:95px;
            letter-spacing:0.5px;
            &:before {
                content:'n';
                font-size:24px;
                padding-right:7px;
                vertical-align:middle;
                font-family:@iconFont;
            }
        }
    }
    
    #knav { 
        width:100%;
        height:250px;
        position:relative;
        overflow:hidden;
        background:url(/img/prevLine.png) no-repeat top center;
        padding-top:35px;
        margin-top:25px;
        white-space: nowrap;
        
        #card_previews_horizontal {
            width:auto;
            height:250px;
            overflow:hidden;
            position: relative;
            -webkit-mask-image: -webkit-linear-gradient( left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100% );
            mask: url(design_mask.svg#mask);
        }
        
        #inner {
            display:block;
            a {
                width:140px;
                display:inline-block;
                vertical-align:top;
                margin-right:45px;
            }
        }
        
        #prev_page {
            position:absolute;
            top:100px;
            cursor:pointer;
            left:15px;
            font-size:28px;
            color:#2c8590;
            background: url(/img/icons.png) no-repeat -164px -73px;
            width: 36px;
            height: 30px;
        }
        
        #next_page {
            position:absolute;
            top:100px;
            cursor:pointer;
            font-size:28px;
            right:15px;
            color:#2c8590;
            background: url(/img/icons.png) no-repeat -125px -73px;
            width: 36px;
            height: 30px;
        }
    }
}

@media @mid {
    #body_design {
        div.leftCol {
            width:100%;
        }
        
        a.mobLogo {
            display:none;
        }
        
        div.rightCol {
            width:100%;
            margin-top:35px;
            float:none;
        }
        
        span.proefPrijs { 
            width:auto !important;
            margin-top:3px !important;
        }
        div.description {
            padding-top:25px;
        }
        .desUsp a { 
        display:block;
        width:100%;
        }
        div.prijsTab>span {
        display:block !important;
        float:none !important;
        }
        
        table.prijsOf {
            width:100%;
        }

    }
}
@media (min-width:600px) and (max-width:1170px) {
    #body_design {
        div.leftCol{
            #prevWrap{
                #voor_preview_envelop{
                    img{
                        width: 346px;
                        height: 384px;
                    }
                }
            }
            .envgroot {
                display:inline-block;
                width:230px;
                position:absolute;
                top:30px;
                right:13%;
                height:230px;
                background:url(/img/envtransklein.png) no-repeat;
                background-size:230px 230px;
                background-color:#eeeded;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                transform: rotate(14deg) ;
                -webkit-transform: rotate(14deg) ;
                -moz-transform: rotate(14deg) ;
                -o-transform: rotate(14deg) ;
                -ms-transform: rotate(14deg) ;
            }
            span.envview{
                span.env{
                    right: -20px;
                }
            }
        }
    }
}
@media @min {
    #body_design div.rightCol h1{font-size: 22px;}
    #body_design div.leftCol #voor_preview img{
        min-height: 220px;
    }
}
@media (max-width:670px) {
    #body_design div.leftCol #envelope{
        top: 250px;
    }
}
@media (min-width:440px) and (max-width:599px) {
    #body_design {
        div.leftCol{
            #prevWrap{
                #voor_preview_envelop{
                    img{
                        width: 216px;
                        height: 240px;
                    }
                }
            }
            .envgroot {
                display:inline-block;
                width:150px;
                position:absolute;
                top:13px;
                right:53px;
                height:150px;
                background:url(/img/envtransklein.png) no-repeat;
                background-size:150px 150px;
                background-color:#eeeded;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                transform: rotate(14deg) ;
                -webkit-transform: rotate(14deg) ;
                -moz-transform: rotate(14deg) ;
                -o-transform: rotate(14deg) ;
                -ms-transform: rotate(14deg) ;
            }
            span.envview{
                span.env{
                    right: -18px;
                }
            }
        }
    }
}
@media (max-width:439px) {
    #body_design {
        div.leftCol{
            #prevWrap{
                #voor_preview_envelop{
                    img{
                        width: 184px;
                        height: 204px;
                    }
                }
            }
            .select_preview{
                img{
                    max-height: 110px;
                    max-width: 100px;
                }
            }
            .envgroot {
                display:inline-block;
                width:120px;
                position:absolute;
                top:15px;
                right:50px;
                height:120px;
                background:url(/img/envtransklein.png) no-repeat;
                background-size:120px 120px;
                background-color:#eeeded;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                transform: rotate(14deg) ;
                -webkit-transform: rotate(14deg) ;
                -moz-transform: rotate(14deg) ;
                -o-transform: rotate(14deg) ;
                -ms-transform: rotate(14deg) ;
            }
            span.envview{
                span.env{
                    right: -8px;
                    top: 4px;
                    height: 60px;
                    width: 60px;
                    background-size: 60px 60px;
                }
            }
        }
    }
}
@media (max-width:445px) {
    #body_design #choose_preview{
        font-size: 16px;
    }
    #body_design a.save_user_design{
        font-size: 13px !important;
        margin-left: 0;
        text-align: center;
        &:before{
            font-size: 13px !important;
        }
    }
    #body_design div.rightCol div.details .proefDrukPrijs{
        font-size: 12px;
    }
}
#body_design a.save_user_design{
    font-family: @titFont;
    font-size: 16px;
    text-decoration: none !important;
    text-transform: inherit !important;
}
#body_design a.save_user_design:before{
    content: "m";
    color: #2bb1a7;
    font-size: 14px;
}

#card_previews_horizontal { 
        img { 
            width:180px !important;
            height:200px !important;
        }
        a { 
            width:180px !important;
            height:200px !important;
        }
    }