.btnDef {
    background:#e9ecf3;
    border:none;
    border-bottom:solid 2px #d7dae1;
    color:#000 !important;
    font-size:14px;
    outline:none;
    &:hover {
        border-bottom:solid 2px #5f969d;
        opacity:1 !important;
    }
    &.ui-state-active {
        border-bottom:solid 2px #5f969d;
    }
}

.txtDef {
    background:#fff;
    border-top:solid 2px #d7dae1;
    border-right:solid 2px #d7dae1;
    border-left:solid 1px #d7dae1;
    border-bottom:solid 1px #d7dae1;
    outline:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table.edit_cross td {
  border: 1px solid red !important;
}

.edittable td, tr {
  margin: 0;
  padding: 2px;
  border: none;
}

table.edit_cross tr td:first-child {
  border-left: 0 !important;
}

table.edit_cross tr:first-child td {
  border-top: 0 !important;
}

table.edit_cross tr td:last-child {
  border-right: 0 !important;
}

table.edit_cross tr:first-child td {
  border-top: 0 !important;
}

input[name=actiecode], input[name=check_actiecode] {
display:none;
}

.centeredImage, #patternselect_div img, #bt-pattern img, #bt-color .description img {
  display: none;
}

#pagecontent {
padding-bottom:73px !important;
}

#body_keuze .button {
    font-family:@titFont;
    font-size: 12px;
    width: 168px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 0;
    background: url(/img/btn-1.png) no-repeat 0 0;
    opacity: 1 !important;
    line-height: 38px;
    text-decoration: none !important;
    &:hover {
        background: url(/img/btn-1.png) no-repeat 0 0 !important;
        text-decoration: none !important;
    }
    &:after{
        background: none;
        text-decoration: none !important;
    }
}

div.choice_div:nth-child(3) {
    display:none;
}

#body_basket {
    .button {
       background:#6dbfc9 !important;
            color:#fff !important;
            padding:0px 10px 0 10px !important;
            font-family:@mainFont;
    }
    
    .line {
        border-top:solid 1px #ccc !important;
        padding-top:10px !important;
    }
}

#body_bestel_details #pagecontent{padding-bottom: 155px !important;}
#body_bestel_details #step_forward{
    background: url(/img/btn-2.png);
}

#body_basket #nav_buttons .button[href="/"] {
max-width:200px !important;
color: #2bb1a7 !important;
    font-family: 'KBREINDEERGAMES' !important;
    font-size: 16px !important;
    margin-left: 0px !important;
    &:after {
        display:none;
    }
    
    &:before {
    content: '<';
    padding-right: 5px;
    }
}

#body_address_n #pagecontent {
    width:1000px;
    #right_div {
    float:right;
    }
    
    #left_div table {
        width:700px;
        input[type=text] {
            width:100%;
            box-sizing:border-box;
        }
    }
    
    td {
    vertical-align:top;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size:13px;
    padding-left: 5px !important;
    }
    
    #send_date_picker {
        margin-top:0px;
    }
}

.fnav-editor{
    text-align: center;
    font-family: @titFont;
    font-size: 14px;
    color: #666666 !important;
    .proefdruk{
        color: #e74638 !important;
    }
}

#nav_remark_div{
    font-family: @titFont;
    font-size: 14px;
    color: #575757;
    bottom: 78px;
    line-height: 20px;
    width: 990px;
    b{
        font-weight: normal;
    }
}

#body_bestel_details #pagecontent {
    padding-bottom:250px !important;
    
    .nan_check { 
        float:none !important;
        margin-left:0px !important;
    }
}

#body_bestel_details #wrapper #step_forward {
    background:url(/img/stapverder.png) no-repeat !important;
    font-size:14px !important;
    width:274px;
    padding-top:1px !important;
    margin-top:10px !important;
}

#body_address_n #pagecontent {
        height:850px !important;
    }

#body_edit, #body_voorbeeld, #body_keuze, #body_bestel_details, #body_basket, #body_eigen_collectie, #body_address_n, #body_ok {
    background:#f2f7f4;
    #pagecontent-footer {
        font-size:13px;
        color:#949494;
        margin-top:15px;
        *{
            color:#949494;
        }
    }
    
    div.ui-dialog {
        input[type=text] {
            .txtDef;
            width:95%;
            box-sizing:border-box;
        }
        
        .ui-dialog-title {
            font-weight:bold;
            font-size:14px;
        }
        
        .ui-dialog-titlebar-close {
            background-size:12px 12px !important;
            margin-top:-6px;
            &:hover {
                margin-top:-6px !important;
            }
        }
    }
    #headermenu {
        display:block;
    }
    #form_bestel_details {
        h1 {
            margin-bottom:35px;
        }
    }
    
    #column1, #basket_n {
        #count, #envelope_count {
        width:50px;
        float:left;
        text-align:center;
        margin-left:-300px;
        }
        .button {
            background:#6dbfc9 !important;
            color:#fff;
            padding:0px 10px 0 10px;
            margin-bottom:10px;
        }
        td {
            vertical-align:top;
        }
        h2 {
            margin-bottom:10px;
        }
        #enveloppen {
            margin-bottom:100px;
        }
    }
    
    #header {
        display:block;
        float:none;
        width:1030px;
        height:65px;
        padding-top: 6px;
        box-sizing:border-box;
        background:none !important;
        margin: 0 auto;
        position: relative;
        #logo-editor img{height: 57px;width: auto;}
        #home {
            background:url(/img/logo.png) no-repeat !important;
            width:133px; 
            height:73px;
            background-size:133px 76px !important;
            left:50%;
            margin-left:-500px;
        }
        
        #headermenu {
            margin:0px;
            padding:10px 0 0 0;
            width:auto !important;
            background:none;
            height: auto;
            
            a {
                color:#72777d !important;
                font-family:@titFont;
                font-size:13px;
                line-height:30px;
                background:none;
                height:auto;
                vertical-align:top;
                width:auto;
                margin-left:0;
                &:hover{
                    color: #2bb1a7 !important;
                    text-decoration: none;
                }
            }
            
            #basket_text {
                display:none;
            }
            
            #headerhelp span:before {
                font-family:@iconFont;
                content:'i';
                font-size:15px;
                display:inline-block;
                vertical-align:top;
                padding-right:3px;
            }
            
            #headeraccount span:before, #headerlogin span:before {
                font-family:@iconFont;
                content:'a';
                font-size:13px;
                display:inline-block;
                vertical-align:top;
                padding-right:3px;
            }
            
            #headerlogout span {
                width:auto;
            }
            
            #headerlogout span:before {
                font-family:@iconFont;
                content:'k';
                font-size:13px;
                display:inline-block;
                vertical-align:top;
                padding-right:3px;
            }

            #headerbasket{
                padding-right: 0 !important;
            }
            
            #basket_count {
                width:auto !important;
                color:#2bb1a7 !important;
                font-family: @titFont;
                font-size:14px !important;
                top:0px;
                padding:0px;
                margin:0px;
                vertical-align:top;
                &:before {
                    font-family:@iconFont;
                    content:'b';
                    font-size:17px;
                    display:inline-block;
                    vertical-align:top;
                    padding-right:0px;
                }
            }
        }
    }
    
    #pagecontent {
        display:block;
        margin:0 auto;
        float:none;
        padding: 48px 35px 35px;
        background:#fff;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        box-shadow:none;
        width: 960px;
        h1{
            font-family: @titFont;
            font-size: 30px;
            color: #e7483a;
            text-transform: uppercase;
        }
        h3.ui-accordion-header {
            background:#6dbfca;
            position:relative;
            font-size:15px;
            font-family:@titFont !important;
            color:#fff;
            height:30px;
            box-sizing:border-box;
            a {
                padding-left:15px;
                padding-top:2px;
                height: 30px;
                box-sizing:border-box;
                letter-spacing: normal;
                line-height: 27px;
            }
            &:after {
                font-family:@iconFont;
                content:'';
                position:absolute;
                line-height:30px;
                top:0px;
                right:10px;
                font-size:13px;
            }
        }
        
        
        h3.ui-accordion-header-active {
            background:#5f969d;
            color:#fff;
            a {
                color:#fff;
                font-size:15px;
            }
            
            &:after {
                font-family:@iconFont;
                content:'';
                position:absolute;
                line-height:30px;
                top:0px;
                right:10px;
                font-size:13px;
            }
        }
    }
    
    #infodiv { 
        font-size:13px;
        margin:15px 0px 0px 25px;
        background:none;
    }
    
    #step_back {
        color: #2bb1a7;
        font-family:@secFont;
        font-size:16px;
        margin-left:0px;
        width: auto;
        &:hover{
            color: #e74638;
            text-decoration: none;
        }
        &:before {
            content:'<';
            padding-right:5px;
        }
    }
    
    .leftdiv .ui-button {
        border:none !important;
    }
    
    #chooseside {
        top:80px;
    }
    
    .choice_div {
        float: none;
        width: 168px;
        margin: 0 15px;
        display: inline-block;
    }
    
    .choice_div_content {
        float: none;
        width:168px !important;
        padding:10px 0 0 0;
    }
    
    #nav_buttons {
        background: url(/img/bg-nav-button.gif) repeat-x 0 0;
    width:100% !important;
        border-radius: 0 0 5px 5px;
    }
    
    .choice_center { 
        width:800px;
        margin-top: 0;
    }
    
    .side_selected {
        &:before {
            font-family:@iconFont;
            content:'o';
            color:#45adba;
            font-size:20px;
        }
        display:block;
    }
    
    #basket_n td .button {
        font-family: 'KBGobbleDay';
    font-size: 12px;
    width: 168px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 0;
    color:#fff !important;
    display:inline-block;
    vertical-align:top;
    background: url(/img/btn-1.png) no-repeat 0 0 !important;
    opacity: 1 !important;
    line-height: 38px;
    text-decoration: none !important;
        &:after {
            display:none;
        }
    }
    
    #basket_n td .button.duplicate { 
    display:none;
    }
    
    #order_card, #step_forward, #nav_buttons .button[href="/address_n"], #body_ok .button {
        height: 50px;
        box-sizing: border-box;
        background:url(/img/bgs.png) no-repeat 0 0 !important;
        color:#fff;
        display:block;
        border: none;
        font-family:@secFont !important;
        padding:6px 15px 0 23px;
        width:auto;
        opacity:1;
        transition:opacity 0.25s ease;
        -webkit-transition:opacity 0.25s ease;
        -moz-transition:opacity 0.25s ease;
        -o-transition:opacity 0.25s ease;
        letter-spacing:1px;
        position: relative;
        font-size: 22px;
        border-radius: 0;
        margin-right: 52px;
        &:after{
            position:absolute;
            width:55px;
            height:50px !important;
            right:-55px !important;
            top:0;
            background:url(/img/bgs.png) no-repeat 0 -53px;
            content:">";
            line-height: 47px;
        }
        &:hover {
            text-decoration:none;
            opacity:0.7;
            background-position:0 -106px !important;
            color:#fff;
        }
        &:hover:after{
            background-position:0 -159px;
        }
    }
    
    #nav_buttons .button[href="/address_n"] {
        font-size:18px !important;
        padding-top:7px !important;
        padding-left:15px !important;
        margin-top:10px;
        margin-right:60px !important;
    }
    
    #step_forward_alternate {
        font-family:@secFont;
        font-size:16px;
        margin-right:80px;
        color: #2bb1a7;
        &:hover{
            color: #e74638;
            text-decoration: none;
        }
        &:after {
            content:'>';
            padding-left:5px;
        }
    }
    
    .rightdiv {
        .edittable td {
            padding:0px !important;
            vertical-align:top;
        }
        
        .edittable td, tr {
          margin: 0;
          border-top:solid 5px #fff;
          border-bottom:solid 5px #fff;
        }
        
        #add_photo, #background_type_pattern_label, #background_type_color_label {
           .btnDef; 
           width:115px;
        }
        
        #add_text, div.sp-replacer {
            .btnDef;
            border-radius:4px;
        }
        
        #imageselect {
            .btnDef;
            width:150px !important;
        }
        
        .bg_select, #choose_font {
            .btnDef;
        }
        
        #clipartselect, #save_user_design, #save_design_to_other_user, #save_design, #category, #designer_code {
            .btnDef;
        }
        
        #imgtransparencylabel, #txt_edit_add, #save_user_design_name, #save_design_to_other_user_name, #save_design_to_other_user_email, input#id, #sort_order {
            .txtDef;
        }
        
        .textsizelabel, .texttransparencylabel {
            .txtDef;
            width:25px;
        }
        
        span.pages {
            width:180px;
        }
        
        span.ui-slider-handle {
            display:block;
            height:16px;
            width:16px;
            background:#6ac4c2 !important;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 0 1px #737373;
            box-shadow: 0 0 0 1px #737373;
            top:-.4em;
        }
        
        div.ui-slider {
            background:#5e989a;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-sizing:border-box;
            margin-top:10px;
        }
        
        #imageaddformclose {
            .btnDef;
            vertical-align:top;
        }
        
        #imageaddform {
            top:0px;
            bottom:0px;
            right:0px;
            left:0px;
            padding-left:25px;
            background:#fff;
            input[type=submit] {
                .btnDef;
                box-sizing:border-box;
                line-height:15px;
            }
        }
        #position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
            background: url(/img/to_front.png) no-repeat scroll center center;
            height: 21px;
            padding: 0;
            width: 33px;
        }
        #position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
            background: url(/img/to_back.png) no-repeat scroll center center;
            height: 21px;
            padding: 0;
            width: 33px;
        }

        #position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
            visibility: hidden;
        }
        #accordion .ui-accordion-content textarea#txt_edit_add {height: 85px !important;padding-bottom: 0;width: 291px !important;margin-left: 4px;padding-right: 2px;}
        #photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border: medium none;
            box-shadow: none;
        }
        
        #txt_align label, #txt_align_v label {
            background:url(/img/sprites-editor.png) no-repeat;
            display:inline-block;
            width:39px;
            height:23px;
            margin-right:5px;
        }
        
        #txt_align_left_label.ui-state-active {
            background-position:0 -61px !important;
        }
        
        #txt_align_center_label {
            background-position:0 -467px !important;
            &.ui-state-active {
                background-position:0 -531px !important;
            }
        }
        
        #txt_align_right_label {
            background-position:0 -181px !important;
            &.ui-state-active {
                background-position:0 -244px !important;
            }
        }
        
        #txt_align_justify_label {
            background-position: 0 -564px !important;
            &.ui-state-active {
                background-position:0 -628px !important;
            }
        }
        
        #txt_align_top_label {
            background-position: 0 -276px !important;
            &.ui-state-active {
                background-position:0 -339px !important;
            }
        }
        
        #txt_align_middle_label {
            background-position: 0 -91px !important;
            &.ui-state-active {
                background-position:0 -151px !important;
            }
        }
        
        #txt_align_bottom_label {
            background-position: 0 -372px !important;
            &.ui-state-active {
                background-position:0 -435px !important;
            }
        }

    }
}



div.ui-datepicker-header{
    display:block !important;
    height:30px;
}

div.ui-datepicker-title { 
margin-left:-80px !important;
}

@media @mid {
    #body_edit, #body_voorbeeld, #body_keuze, #body_bestel_details, #body_basket, #body_eigen_collectie, #body_address_n, #body_ok {
        #pagecontent {
            zoom:1;
        }
    }
}