@font-face {
    font-family: 'KBGobbleDay';
    src: url('/css/fonts/KBGobbleDay.eot');
    src: url('/css/fonts/KBGobbleDay.eot') format('embedded-opentype'),
         url('/css/fonts/KBGobbleDay.woff2') format('woff2'),
         url('/css/fonts/KBGobbleDay.woff') format('woff'),
         url('/css/fonts/KBGobbleDay.ttf') format('truetype'),
         url('/css/fonts/KBGobbleDay.svg#KBGobbleDay') format('svg');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('/css/fonts/MontserratLight.eot');
    src: url('/css/fonts/MontserratLight.eot') format('embedded-opentype'),
         url('/css/fonts/MontserratLight.woff2') format('woff2'),
         url('/css/fonts/MontserratLight.woff') format('woff'),
         url('/css/fonts/MontserratLight.ttf') format('truetype'),
         url('/css/fonts/MontserratLight.svg#MontserratLight') format('svg');
}
@font-face {
    font-family: 'KBREINDEERGAMES';
    src: url('/css/fonts/KBREINDEERGAMES.eot');
    src: url('/css/fonts/KBREINDEERGAMES.eot') format('embedded-opentype'),
         url('/css/fonts/KBREINDEERGAMES.woff2') format('woff2'),
         url('/css/fonts/KBREINDEERGAMES.woff') format('woff'),
         url('/css/fonts/KBREINDEERGAMES.ttf') format('truetype'),
         url('/css/fonts/KBREINDEERGAMES.svg#KBREINDEERGAMES') format('svg');
}
@font-face{
    font-family:'FontAwesome';
    src: url('/css/fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('/css/fonts//fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
         url('/css/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
         url('/css/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
         url('/css/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
         url('/css/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight:normal;
  font-style:normal
}
 
@charset "UTF-8";

@font-face {
  font-family: "hierbenik";
  src:url("/css/fonts/hierbenik.eot");
  src:url("/css/fonts/hierbenik.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/hierbenik.woff") format("woff"),
    url("/css/fonts/hierbenik.ttf") format("truetype"),
    url("/css/fonts/hierbenik.svg#untitled-font-1") format("svg");
  font-weight: normal !important;
  font-style: normal;

}

@font-face {
    font-family: "kcicons";
    src:url("/css/fonts/kcicons.eot");
    src:url("/css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
        url("/css/fonts/kcicons.woff") format("woff"),
        url("/css/fonts/kcicons.ttf") format("truetype"),
        url("/css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;
}
 
 @mainFont:'MontserratLight';
 @secFont:'KBREINDEERGAMES';
 @titFont:'KBGobbleDay';
 @iconFont:'hierbenik';
 @kcFont: 'kcicons';

.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}
.fa-search:before{content:"\f002"}