/* LESS file for the visual at top of site */
#visual {
    height:300px;
    overflow:hidden;
    @media @max {
        height:260px;
    }
	@media @mid {
		height:260px;
	}
	@media @min { 
		height:205px;
		padding-top:70px;
		box-sizing:border-box;
		margin-top:-50px !important;
	}
    display:block !important;
    
    .visual-inner {
        width:1175px;
        margin:0 auto;
        height:300px;
        @media @max {
            height:260px;
            width:100%;
        }
    }
    
    .content {
        text-align:center;
        margin:0 auto;
        width:100%;
        @media @max {
            width:100%;
            height:260px;
        }
        position:relative;
        
        h1{
            
            font-size:30px;
            margin:0 0 23px 0;
            padding-top:40px;
			color:#6dbfc9;
            @media @max {
                font-size:25px;margin-bottom:19px;
				color:#6dbfc9;
            }
			
			@media @min { 
				color:#6dbfc9;
				font-size:15px;
				padding-bottom:0px;
			}
        }
        
        p{
            color:#3e8b94;
            font-size:16px;
            line-height:28px;
            padding:0 125px 12px 125px;
            @media @min {
                display:none;
            }
			
			@media @mid {
				font-size:14px;
			}
            z-index:400;
        }
        
        a.btn {
            .Transi;
            display:inline-block;
            height:57px;
            position:relative;
            padding: 0 5px 0 25px;
            font:18px @mainFont;
            color:#fff;
            line-height:56px;
            @media @mid {
                margin-top:-25px;
            }
			@media @min { 
				font-size:16px;
				height:45px;
				line-height:45px;
				background-size:300px 1980px;
			}
			
            opacity: 1;
            &:hover {
                opacity:0.7;
            }
            
            &:after {
                position:absolute;
                right:-19px;
                top:1px;
                width:20px;
                height:57px;
                content:"";
				@media @min { 
					background-size:303px 1983px;
					height:46px;
					top:0px;
				}
            }
        }
        
        .card-left{
            position:absolute;
            left:-15%;
            bottom:-110px;
            z-index:0;
            @media @mid { 
                bottom:-25%;
                left:-25%;
            }
            
			@media @min {
                display:none;
            }
        }
        
        .card-right{
            position:absolute;
            right:-15%;
            bottom:-100px;
            z-index:0;
            
            @media @mid { 
                bottom:-25%;
                right:-25%;
            }
            
            @media @min {
                display:none;
            }
        }
        
        .card-left img,
        .card-right img {
            width:75%;
            @media @mid { 
                width:50%;
            }
        }
    }
}


