/* ACCOUNT, CONTACT, LOGIN ------------------------------------------------------------------------------------------ */

#body_contact #mid {
    padding: 20px 0;
}

#body_account_address .button-success,
#body_account_password .button-success,
#body_account_nieuwsbrief .button-success,
#body_account_adresboek .button-success,
#body_login .button-success,
#body_account_address .button-primary,
#body_account_password .button-primary,
#body_account_nieuwsbrief .button-primary,
#body_account_adresboek .button-primary,
#body_login .button-primary,
#body_account_address input,
#body_account_password input,
#body_account_nieuwsbrief input,
#body_account_adresboek input,
#body_login input {
    font-family: 'Yantramanav', sans-serif;
}


#body_account_orders #categories,
#body_account_settings #categories,
#body_account_address #categories,
#body_account_password #categories,
#body_account_nieuwsbrief #categories,
#body_account_adresboek #categories {
    display: none;
}

#body_account_orders #pagecontent,
#body_account_settings #pagecontent,
#body_account_address #pagecontent,
#body_account_password #pagecontent,
#body_account_nieuwsbrief #pagecontent,
#body_account_adresboek #pagecontent {
    width: 100%;
}

#body_account_orders .list-vertical li ul li a,
#body_account_settings .list-vertical li ul li a,
#body_account_address .list-vertical li ul li a,
#body_account_password .list-vertical li ul li a,
#body_account_nieuwsbrief .list-vertical li ul li a,
#body_account_adresboek .list-vertical li ul li a {
    color: #29c1c4;
}

#body_account_orders .list-vertical li ul,
#body_account_settings .list-vertical li ul,
#body_account_address .list-vertical li ul,
#body_account_password .list-vertical li ul,
#body_account_nieuwsbrief .list-vertical li ul,
#body_account_adresboek .list-vertical li ul {
    border-left: 1px solid #29c1c4;
}

#body_account_orders #pagecontent h1,
#body_account_settings #pagecontent h1,
#body_account_address #pagecontent h1,
#body_account_password #pagecontent h1,
#body_account_nieuwsbrief #pagecontent h1,
#body_account_adresboek #pagecontent h1 {
    font-size: 36px;
    margin-top: 10px;
}

#body_account_address #pagecontent h2,
#body_account_password #pagecontent h2,
#body_account_nieuwsbrief #pagecontent h2,
#body_account_adresboek #pagecontent h2,
#body_login h2 {
    font-size: 20px;
}

#body_account_orders #step_back,
#body_account_settings #step_back,
#body_account_password #step_back {
    margin: 10px 0 20px 0;
    color: #d183ab;
    display: inline-block;
    font-weight: normal;
}

#body_account_settings .button-block a {
    background-color: #fafafa;
}

#body_account_settings .button-block a .button-block-title {
    color: #555;
}

#body_account_address select.field-input,
#body_account_adresboek select.field-input,
#body_login select.field-input {
    background-color: #fafafa;
}

#body_account_address .button-success,
#body_account_password .button-success,
#body_account_nieuwsbrief .button-success,
#body_account_adresboek .button-success {
    border: 1px solid #29c1c4;
    color: #fff;
    background: #29c1c4;
}

#body_account_address .button-success:hover,
#body_account_password .button-success:hover,
#body_account_nieuwsbrief .button-success:hover,
#body_account_adresboek .button-success:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_account_adresboek .field-group .md-offset-3 {
    margin-left: 33.3333%;
}

#body_contact h1 {
    font-size: 36px;
}

#body_contact h2 {
    font-size: 20px;
}

#body_contact input#email,
#body_contact input#subject,
#body_contact textarea#message {
    width: 100%;
    height: auto;
    padding: 12px;
}

#body_login .buttonr,
#body_login .button-primary {
    background: #29c1c4;
    color: #fff;
    padding: 12px 20px;
    margin: 10px 0 40px 0;
    border: 1px solid #29c1c4;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
}

#body_login .buttonr:hover,
#body_login .button-primary:hover {
    background: #fff;
    color: #29c1c4;
}

#body_keuze span.button {
    color: #555;
    font-weight: 300;
}

/*#body_edit,
#body_voorbeeld {
    position: fixed;
}*/



@media screen and (max-width: 767px) {
#body_voorbeeld .choice_center {
    width: 100%;
}
    #body_voorbeeld .choice_center h1 {
    margin-top: 10px;
    font-size: 20px!important;
}
}
