/* BUTTONS ---------------------------------------------------------------------------------------------------------- */

.button {
    padding: 12px 20px;
    font-size: 18px;
}
.button-sm {
    padding: 8px 16px;
    font-size: 15px;
}

.button-xlg {
    padding: 15px 75px;
    font-size: 22px;
}

.button-turquoise {
    color: #29c1c4;
    border-color: #29c1c4;
    background: #fff;
}
.button-turquoise:after {
    color: #29c1c4;
}
.button-turquoise:hover {
    background: #29c1c4;
    color: #fff;
    border-color: #fff;
}
.button-turquoise:hover:after {
    color: #fff;
}

.button-pink {
    color: #d183ab;
    border-color: #d183ab;
    background: #fff;
}
.button-pink:after {
    color: #d183ab;
}
.button-pink:hover {
    background: #d183ab;
    color: #fff;
    border-color: #fff;
}
.button-pink:hover:after {
    color: #fff;
}

.button-beige {
    color: #c6b297;
    border-color: #c6b297;
    background: #fff;
}
.button-beige:after {
    color: #c6b297;
}
.button-beige:hover {
    background: #c6b297;
    color: #fff;
    border-color: #fff;
}
.button-beige:hover:after {
    color: #fff;
}

.button-mocca {
    color: #988672;
    border-color: #988672;
    background: #fff;
}
.button-mocca:after {
    color: #988672;
}
.button-mocca:hover {
    background: #988672;
    color: #fff;
    border-color: #fff;
}
.button-mocca:hover:after {
    color: #fff;
}

.button-grey {
    color: #ccc;
    border-color: #ccc;
    background: #fff;
}
.button-grey:after {
    color: #ccc;
}
.button-grey:hover {
    background: #ccc;
    color: #fff;
    border-color: #fff;
}
.button-grey:hover:after {
    color: #fff;
}

