/* DESIGN PAGE ------------------------------------------------------------------------------------------------------ */

#body_design #categories {
    display: none;
}
#body_design #pagecontent {
    width: calc(100% - 30px);
}
#body_design #crumbs {
    margin-top: 10px;
    font-size: 14px;
    color: #29c1c4;
}
#body_design #crumbs a {
    color: #000;
}
#body_design #crumbs a span.crumb-home:after {
    vertical-align: text-bottom;
}
#body_design #crumbs .crumb-mobile-label {
    font-size: 16px;
    color: #29c1c4;
}
#body_design #crumbs .crumb-mobile:before {
    font-family: kcicons;
    color: #29c1c4;
    content: '\e00A';
}
#body_design .swiper-container-horizontal {
    min-height: 400px;
}
#body_design .swiper-slide .img-responsive {
    max-width: 100%;
    width: auto;
}
#body_design .design-content {
    margin-left: 0;
    margin-right: 0;
}

#body_design h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}
#body_design .button-group-justified {
    margin: 30px 0 15px 0;
}
#body_design #choose_preview {
    border-radius: 0;
    background-color: #d183ab;
    border-color: #d183ab;
    width: auto;
    display: inline;
}
#body_design #choose_preview:hover {
    border-color: #d183ab;
    background-color: #fff;
    color: #d183ab;
}
#body_design #choose_preview i {
    display: none;
}
#body_design #choose_preview:after {
    border-radius: 0;
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
    vertical-align: -2.5px;
}
#body_design .add_to_collection,
#body_design .open_calculator {
    border-radius: 0;
    border-color: #888;
    margin-top: 20px;
}
#body_design .add_to_collection:hover,
#body_design .open_calculator:hover {
    border-color: #d183ab;
}
#body_design .add_to_collection a,
#body_design .add_to_collection i,
#body_design .open_calculator a,
#body_design .open_calculator i {
    color: #555;
}
#body_design .add_to_collection:hover a,
#body_design .add_to_collection:hover i,
#body_design .open_calculator:hover a,
#body_design .open_calculator:hover i {
    color: #d183ab;
}
#body_design .open_calculator {
    padding: 8px 15px;
}
#body_design .open_calculator .openPrijsCalculator {
    text-transform: none;
    font-size: 16px;
}
#body_design .proefDrukPrijs {
    display: none;
}
#body_design .desUsp {
    background-color: #fbfbfb;
    border-radius: 0;
    padding: 15px 20px;
}
#body_design .desUsp a {
    padding: 5px 0;
    display: block;
}
#body_design .desUsp img {
    margin-right: 10px;
    width: 20px;
}
#body_design table.prijsOf {
    border: none;
}
#body_design table.prijsOf td {
    border: none;
    padding: 0 10px 0 0;
    position: relative;
}
#body_design table.prijsOf td.priceInfoTd:before {
    color: #888;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover{
    display:none;
    z-index:500;
    padding:15px;
    background:#fff;
    position:absolute;
    top: 25px;
    right: 10px;
    width:270px;
    -webkit-box-shadow:0 0 5px 0 #555;
    box-shadow:0 0 5px 0 #555
}
#body_design table.prijsOf td.priceInfoTd:hover div.priceHover{
    display: block;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName{
    width:220px;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice{
    width:150px;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after{
    content:' p/st';
    vertical-align:top;
}
#body_design table.prijsOf td.priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}
#body_design .priceHover {
    display: none;
}
#body_design .priceHover table {
    border: none;
}
#body_design #card_previews_horizontal {
    height: 300px;
    padding: 30px 0;
    width: auto;
    overflow: hidden;
    position: relative;
}
#body_design #card_previews_horizontal p {
    font-size: 30px;
    color: #888;
}
#body_design #card_previews_horizontal #inner {
    height: 200px;
    overflow: hidden;
    display: block;
}
#body_design #prev_page,
#body_design #next_page {
    display: inline;
    position: absolute;
    top: 120px;
}
#body_design #next_page {
    right: 0;
}
#body_design #prev_page:after,
#body_design #next_page:after {
    font-family: kcicons;
    color: #d183ab;
    font-size: 20px;
}
#body_design #prev_page:after {
    content: '\e00A';
}
#body_design #next_page:after {
    content: '\e008';
}
@media screen and (max-width: 767px) {
    #body_design .swiper-container-horizontal {
        min-height: 200px;
    }
    #body_design #design_title {
        margin-top: 20px;
        font-size: 22px !important;
        color: #555;
        font-family: 'Yantramanav', sans-serif !important;
    }

    #body_design .design-content {
        padding-top: 0;
    }
    #body_design #description-tablet {
        border-top: none;
    }

    #body_design #choose_preview,
    #body_design .add_to_collection {
        display: block;
    }
}
