/* EDITOR ----------------------------------------------------------------------------------------------------------- */

#body_edit {
        font-family: 'Yantramanav', sans-serif;
}
#body_edit #save_user_design,
#body_edit #save_design,
#body_edit #imageaddformclose,
#body_edit #pt-upload input[type="submit"],
#body_edit #choose_font,
#body_edit #add_photo,
#body_edit #add_text,
#body_edit #position_photo_full,
#body_edit .ui-widget,
#body_bestel_details .ui-widget,
#body_edit .ui-widget input,
#body_edit .ui-widget select,
#body_edit .ui-widget textarea,
#body_edit .ui-widget button,
#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label,
#body_edit .sp-preview .sp-preview-inner,
#body_edit .sp-container,
#body_edit .sp-container button,
#body_edit .sp-container input,
#body_edit .sp-color, .sp-hue,
#body_edit #imagelist .pages,
#body_edit #patternlist .pages,
#body_edit #clipartlist .pages,
#body_edit #imagelist .head a,
#body_edit #patternlist .head a,
#body_edit #clipartlist .head a,
#body_edit #order_card,
#body_edit #step_forward_alternate,
#body_edit #step_back,
#body_bestel_details input[type=text],
#body_basket .button,
#body_basket input[type="text"],
#body_basket #nav_buttons a:nth-child(2),
#body_address_n input[type="text"],
#body_address_n #step_back,
#body_address_n #step_forward,
#body_eigen_collectie #step_back,
body#body_kaarttype .info_div_content,
#body_kaarttype .choice_div a .button,
#body_kaarttype #step_back {
    font-family: 'Yantramanav', sans-serif;
}

#body_edit #header,
#body_voorbeeld #header,
#body_keuze #header,
#body_bestel_details #header,
#body_basket #header,
#body_address_n #header,
#body_eigen_collectie #header,
#body_kaarttype #header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#body_kaarttype #header {
    padding-top: 0;
}

#body_edit .container,
#body_voorbeeld .container,
#body_keuze .container,
#body_bestel_details .container,
#body_basket .container,
#body_address_n .container,
#body_eigen_collectie .container,
#body_kaarttype .container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}
#body_edit .navbar .middlebar,
#body_voorbeeld .navbar .middlebar,
#body_keuze .navbar .middlebar,
#body_bestel_details .navbar .middlebar,
#body_basket .navbar .middlebar,
#body_address_n .navbar .middlebar,
#body_eigen_collectie .navbar .middlebar,
#body_kaarttype .navbar .middlebar {
    border-bottom: none;
}

#body_edit #pagecontent,
#body_voorbeeld #pagecontent,
#body_keuze #pagecontent,
#body_bestel_details #pagecontent,
#body_basket #pagecontent,
#body_address_n #pagecontent,
#body_eigen_collectie #pagecontent,
#body_kaarttype #pagecontent {
    border-radius: 0;
}

/*@media screen and (min-width: 992px) {
    #body_edit #pagecontent,
#body_voorbeeld #pagecontent,
#body_keuze #pagecontent,
#body_bestel_details #pagecontent,
#body_basket #pagecontent,
#body_address_n #pagecontent,
#body_eigen_collectie #pagecontent,
#body_kaarttype #pagecontent {
    position: absolute;
    top: 110px;
    z-index: -10;
}
}*/

#body_basket #pagecontent,
#body_address_n #pagecontent {
    margin-bottom: 50px;
}

#body_edit label {
    font-weight: normal;
}

#body_edit #accordion {
    border: 1px solid #eee;
    border-radius: 0;
}

#body_edit .ui-accordion-header a {
    background: #eee;
    color: #555 !important;
    padding: 2px 5px 2px 10px !important;
    border-top: 1px solid #fff;
    font-weight: normal !important;
}

#body_edit .ui-accordion-header a:hover {
    background: #29c1c4;
    color: #fff !important;
}
#body_edit .ui-accordion-header:first-child a {
    border-radius: 0;
}

#body_edit #add_photo {
    margin-top: 0;
}

#body_edit button,
#body_edit #save_design,
#body_edit #add_photo,
#body_edit #choose_font,
#body_edit #add_text,
#body_edit #clipartselect,
#body_edit #imageselect,
#body_edit #patternselect,
#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label {
    font-size: 13px !important;
    line-height: 1.6875em;
    color: #29c1c4;
    background-color: #fff;
    border: 1px solid #29c1c4;
    border-radius: 0;
    padding: 5px 10px;
    height: auto;
    cursor: pointer;
}
#body_edit #choose_font {
    color: #29c1c4 !important;
    height: 26px;
}
#body_edit #patternselect {
    height: 26px;
    padding: 3px 10px;
    width: 209px;
}
#body_edit #save_user_design,
#body_edit #save_design_to_other_user,
#body_edit #convert_card_format_wrap {
    color: #fff;
    background-color: #29c1c4;
    border-color: #29c1c4;
}
#body_edit #position_photo_full .ui-button-text {
    color: #fff;
}
#body_edit #save_user_design,
#body_edit #save_design_to_other_user {
    width: 100%;
    margin-bottom: 10px;
}

#body_edit button:hover,
#body_edit #save_design:hover,
#body_edit #add_photo:hover,
#body_edit #choose_font:hover,
#body_edit #add_text:hover,
#body_edit #clipartselect:hover,
#body_edit #imageselect:hover,
#body_edit #patternselect:hover{
    background: #29c1c4;
    color: #fff;
}
#body_edit #save_user_design:hover,
#body_edit #save_design_to_other_user:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_edit #background_type_pattern_label.ui-state-active,
#body_edit #background_type_color_label.ui-state-active,
#body_edit #background_type_pattern_label.ui-state-hover,
#body_edit #background_type_color_label.ui-state-hover {
    background: #29c1c4;
    color: #fff;
}

#body_edit #txt_align_left_label,
#body_edit #txt_align_center_label,
#body_edit #txt_align_right_label,
#body_edit #txt_align_justify_label,
#body_edit #txt_align_top_label,
#body_edit #txt_align_middle_label,
#body_edit #txt_align_bottom_label {
    height: 25px;
    width: 30px;
    margin-right: 2px;
    background-color: #fff;
    border: 1px solid #29c1c4;
}

#body_edit .ed-icon-align-left,
#body_edit .ed-icon-align-center,
#body_edit .ed-icon-align-right,
#body_edit .ed-icon-align-justify,
#body_edit .ed-icon-align-top,
#body_edit .ed-icon-align-center-1,
#body_edit .ed-icon-align-bottom {
    display: inline-block !important;
}

#body_edit .ed-icon-align-left:after,
#body_edit .ed-icon-align-center:after,
#body_edit .ed-icon-align-right:after,
#body_edit .ed-icon-align-justify:after,
#body_edit .ed-icon-align-top:after,
#body_edit .ed-icon-align-center-1:after,
#body_edit .ed-icon-align-bottom:after {
    font-family: kcicons;
    color: #29c1c4;
    font-size: 18px;
}

#body_edit .ed-icon-align-left:after {
    content: '\e027';
}
#body_edit .ed-icon-align-center:after {
    content: '\e025';
}
#body_edit .ed-icon-align-right:after {
    content: '\e02A';
}
#body_edit .ed-icon-align-justify:after {
    content: '\e026';
}
#body_edit .ed-icon-align-top:after {
    content: '\e024';
}
#body_edit .ed-icon-align-center-1:after {
    content: '\e023';
}
#body_edit .ed-icon-align-bottom:after {
    content: '\e022';
}

#body_edit #position_txt_tofront,
#body_edit #position_txt_toback,
#body_edit #position_photo_tofront,
#body_edit #position_photo_toback {
    width: 30px;
    height: 25px;
    background-color: #fff;
    padding: 0;
}

#body_edit .sp-container button {
    background-image: none;
}

#body_edit .sp-button-container {
    padding-top: 90px;
}

#body_edit .sp-palette .sp-thumb-el:hover,
#body_edit .sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: #d183ab;
}

#body_edit #position_photo_tofront,
#body_edit #position_photo_toback,
#body_edit #position_txt_tofront,
#body_edit #position_txt_toback {
    border: none;
}

#body_edit #background_type_pattern_label,
#body_edit #background_type_color_label {
    display: block;
    float: left;
    width: auto;
}

#body_edit #photolist img,
#body_edit #imagelist img,
#body_edit #patternlist img,
#body_edit #clipartlist img {
    border: solid 1px #ccc;
}
#body_edit .ui-state-default,
#body_edit .ui-widget-content .ui-state-default,
#body_edit .ui-widget-header .ui-state-default {
    background: #29c1c4;
}

#body_edit .edittable td {
    padding: 5px 0;
    height: auto;
}

#body_edit .sp-replacer {
    border-color: #29c1c4;
    background: #fff;
    color: #29c1c4;
}


#body_edit #fg_img_select .sp-replacer {
    margin-top: -12px;
}

#body_edit .sp-preview {
    top: 0;
    left: 0;
}

#body_edit .edit-div {
    font-size: 13px;
}
#body_edit .sp-preview .sp-preview-inner {
    font-size: 13px;
    height: auto;
    padding: 5px 10px;
    line-height: 1;
}

#body_edit .sp-preview .sp-preview-inner:hover {
    border-color: #29c1c4;
    background-color: #29c1c4;
    color: #fff;
}

#body_edit .sp-replacer:hover, .sp-replacer.sp-active,
#body_edit .sp-container {
    border-color: #29c1c4;
    background-color: #fff;
}

#body_edit .sp-palette-container {
    border-color: #29c1c4;
}

#body_edit .ui-button-text {
    padding: 0;
}

#body_edit .sp-input {
    font-size: 13px !important;
}

#body_edit .sp-initial,
#body_edit .sp-input {
    border-color: #ccc;
    border-radius: 0;
}

#body_edit input[type="text"] {
    width: 100%;
}

#body_edit #save_design_to_other_user_form hr,
#body_edit #save_design_form_wrapper {
    display: none;
}

#body_edit select#designer_code,
#body_edit select#category {
    width: 100%;
}

#body_edit select {
    border-color: #29c1c4;
    color: #29c1c4;
    padding: 5px 10px;
}

#body_edit #card_design_input_alert,
#body_edit #card_design_input span,
#body_edit #card_design_input_alert_other_user {
    color: #d183ab !important;
    font-size: 16px;
    font-weight: bold;
}

#body_edit .convert_cardtype {
    padding: 12px 20px;
    font-size: 16px;
    width: auto;
    text-align: center;
    display: inline-block;
    background: #d183ab;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    line-height: 1;
    font-weight: normal;
}

#body_edit .convert_cardtype:hover {
    background: #fff;
    border: 1px solid #d183ab;
    color: #d183ab;
}

#body_edit #save_design_form_wrapper {
    display: block;
}

#body_edit #save_design {
    margin-top: 10px;
}

#body_edit #order_card,
#body_voorbeeld #step_forward,
#body_bestel_details #step_forward,
#body_address_n #step_forward {
    background: #29c1c4;
    border: 1px solid #29c1c4;
    border-radius: 0;
    margin-top: 20px !important;
    height: auto;
    padding: 12px 20px;
    line-height: 1;
    font-size: 18px;
}

#body_edit #order_card:after,
#body_voorbeeld #step_forward:after,
#body_bestel_details #step_forward:after,
#body_address_n #step_forward:after {
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
}

#body_edit #order_card:hover,
#body_voorbeeld #step_forward:hover,
#body_bestel_details #step_forward:hover,
#body_address_n #step_forward:hover {
    background: #fff;
    color: #29c1c4 !important;

}

#body_edit #step_back,
#body_voorbeeld #step_back,
#body_keuze #step_back,
#body_bestel_details #step_back,
#body_edit #step_forward_alternate,
#body_address_n #step_back,
#body_eigen_collectie #step_back,
#body_kaarttype #step_back {
    font-size: 16px;
    line-height: 1;
    color: #d183ab;
    margin-top: 30px;
}

#body_edit #step_back,
#body_voorbeeld #step_back,
#body_keuze #step_back,
#body_bestel_details #step_back,
#body_address_n #step_back,
#body_eigen_collectie #step_back,
#body_kaarttype #step_back {
    padding-left: 0;
    margin-left: 0;
}

#body_voorbeeld h1,
#body_keuze h1,
#body_bestel_details h1,
#body_basket h1,
#body_address_n h1,
#body_eigen_collectie h1,
#body_kaarttype h1 {
    font-size: 36px !important;
}

#body_voorbeeld .choice_center {
    margin-top: 0;
}

#body_voorbeeld #savecardModal .modal-body p {
    font-size: 16px;
}

#body_voorbeeld #savecardModal .modal-field-group label {
    font-size: 16px;
}

#body_voorbeeld #savecardModal .modal-field-group .modal-field-input {
    border-radius: 0;
    font-family: 'Yantramanav', sans-serif;
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    height: auto;
}

#body_voorbeeld #savecardModal .modal-button-group .modal-button {
    padding: 12px 20px;
    border: 1px solid #29c1c4;
    border-radius: 0;
    height: auto;
    font-weight: bold;
    color: #29c1c4;
}

#body_voorbeeld #savecardModal .modal-button-group .modal-button:hover {
    background-color: #29c1c4;
    color: #fff;
}

#body_bestel_details h2,
#body_address_n h3 {
    font-size: 20px;
}

#body_bestel_details h1,
#body_address_n h1 {
    width: 1000px;
    border-bottom: 1px solid #29c1c4;
    padding-bottom: 20px;
}

#body_keuze .img_div {
    height: 160px;
    border-color: #ccc;
    background: #fafafa;
    border-radius: 0;
}

#body_keuze .img_div:hover {
    border: 3px solid #29c1c4;
}

#body_keuze .proefdruk .content,
#body_keuze .kaartenVoor .content,
#body_keuze .envVooraf .content {
    border-radius: 0;
}

#body_keuze .proefdruk .button-success,
#body_keuze .kaartenVoor .button-success,
#body_keuze .envVooraf .button-success {
    border-radius: 0;
    border: 1px solid #29c1c4;
    height: auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #29c1c4;
}

#body_keuze .proefdruk .button-success:hover,
#body_keuze .kaartenVoor .button-success:hover,
#body_keuze .envVooraf .button-success:hover {
    background-color: #29c1c4;
    color: #fff;
}

@media screen and (min-width: 992px) {
    #body_keuze .cols .proefdruk {
        margin-left: 12.5%;
    }
}

#body_bestel_details .topbar-menu-right li {
    background-color: transparent;
}
#body_bestel_details #leftdiv {
    margin-left: -15px;
}

#body_bestel_details #leftdiv cardsize-dropdown .row {
    border-top: none;
}

#body_bestel_details #leftdiv cardsize-dropdown .row .thumb-container img {
    width: 130%;
    max-width: 130%;
    margin-top: -50%;
    margin-left: -15%;
}
#body_bestel_details #leftdiv paper-dropdown .row .thumb-container img {
    width: 70%;
    max-width: 70%;
}
#body_bestel_details #leftdiv envelope-dropdown .row .thumb-container img {
    width: 70%;
    max-width: 70%;
}

#body_bestel_details #card_size_and_count {
    border-top: none;
    border-bottom: none;
}

#body_bestel_details .ui-state-default {
    border-radius: 0;
    border-color: #29c1c4;
}

#body_bestel_details .ui-widget {
    font-size: 16px;
    line-height: 1;
    color: #555;
}

#body_bestel_details .ui-selectmenu-text {
    height: auto;
}

#body_bestel_details .ui-menu-item:hover,
#body_bestel_details .ui-state-focus {
    border-top: none;
}

#body_bestel_details input[type=text] {
    border-color: #ccc;
    padding: 5px 10px;
    width: auto;
    float: left;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

#body_bestel_details #column2 h3 {
    display: none;
}

#body_bestel_details #price_table_wrapper {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 10px !important;
}

#body_bestel_details #price_table {
    font-size: 14px;
}

#body_bestel_details #price_table th {
    color: #555;
    font-weight: normal;
}

#body_bestel_details .border-below th {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

#body_bestel_details .count_span,
#body_bestel_details .envelope_count_span,
#body_bestel_details .card_size_name,
#body_bestel_details .papiersoort,
#body_bestel_details .envelope_size_name,
#body_bestel_details .enveloppen {
    font-style: normal;
}

#body_bestel_details .fat-border-below {
    border-color: #555;
}

#body_basket .line {
    border-color: #29c1c4;
}

#body_basket #basket_n .button {
    color: #d183ab !important;

}

#body_basket #nav_buttons a:nth-child(2) {
    color: #d183ab;
    height: auto;
    width: auto;
    padding: 12px 20px;
    margin-left: 0;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #d183ab;
    border-radius: 0;
    line-height: 1;
}

#body_basket #nav_buttons a:nth-child(2):hover {
    background-color: #d183ab!important;
    color: #fff;
    text-decoration: none;
}

#body_basket #nav_buttons .forward-button {
    background-color: #29c1c4;
    border: 1px solid #29c1c4;
    color: #fff;
    width: auto;
    height: auto;
    border-radius: 0;
    font-weight: normal;
}

#body_basket #nav_buttons .forward-button:after {
    content: '\e003';
    font-family: kcicons;
    margin-left: 10px;
}

#body_basket #nav_buttons .forward-button:hover {
    background-color: #fff;
    color: #29c1c4;
}

#body_address_n #left_div {
    border-right: 1px solid #29c1c4 !important;
}
@media screen and (min-width: 768px){
    #body_address_n #left_div {
        width: 75%;
    }
}

#body_address_n #left_div table hr {
    display: none;
}

#body_address_n #left_div table {
    border-bottom: 1px solid #29c1c4 !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#body_address_n #left_div table:last-of-type {
    border-bottom: none !important;
}

#body_address_n #left_div table td {
    padding-left: 0;
}

#body_address_n #pagecontent hr {
    background: #29c1c4;
}

#body_address_n .terms_and_conditions {
    margin-left: 15px;
}

#body_address_n label[for="save_address"],
#body_address_n label[for="nieuwsbrief"],
#body_address_n .terms_and_conditions span {
    font-size: 14px !important;
    line-height: 1.2;
}

#body_address_n .delivery_promise {
    line-height: 1.2;
    margin-top: 10px;
}

#body_address_n #left_div input[type="text"] {
    width: 100%;
}

#body_address_n .warning_message {
    color: #d183ab;
    font-weight: bold;
}

body#body_kaarttype {
    background: #fff;
}

#body_kaarttype #pagecontent h1 {
    padding-bottom: 0;
}

#body_kaarttype .choice_div a .button {
    font-size: 18px;
    line-height: 1;
    background-image: none;
    border: 1px solid #29c1c4;
    color: #29c1c4;
    padding: 12px 20px;
    display: inline-block;
    height: 62px;
    vertical-align: middle;
}

#body_kaarttype .choice_div a .button:hover {
    background-color: #29c1c4;
    color: #fff;
}

#body_kaarttype #step_back:before {
    content: '';
}
