/* FAVOURITES ------------------------------------------------------------------------------------------------------- */

.no-y-scroll {
    overflow-y: hidden !important;
}

.favorites_dynamic_panel {
    position: fixed;
    z-index: 99999;
    top: 0px;
    right: -440px;
    bottom: 0px;
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px 0 #525252;
    box-shadow: 0 0 5px 0 #525252;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow-y: auto;
}

.favorites_dynamic_panel.open {
    right: 0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.close_dynamic_favorites {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: normal;
}

.favorites_dynamic_title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.favorites_dynamic_item {
    width: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 240px;
    position: relative;
}

.favorites_dynamic_item a.favorite-button {
    display: block;
    text-align: center;
}
