/* FOOTER ----------------------------------------------------------------------------------------------------------- */

footer {
    margin-top: 40px;
}

.footer-usps {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-usp-trust img,
.footer-usp-payment img,
.footer-usp-delivery img {
    margin-left: 10px;
    margin-top: -5px;
}

.footer-menu {
    background: #f1f1f1;
    padding-top: 40px;
}

.footer-menu-left img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.footer-menu-left h4 {
    color: #d183ab;
    text-align: center;
    margin: 10px 0;
}

.footer-menu-left-social {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.footer-menu-left-social-button {
    background: #29c1c4;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin: 10px;
}
.footer-menu-left-social-button i {
    color: #fff;
    font-size: 20px;
}
.footer-menu-middle ul li {
    margin-bottom: 10px;
}
.footer-menu-middle ul li a {
    color: #000;
}

.footer-menu-right-experiences-grade,
.footer-menu-right-experiences-facts {
    display: inline-block;
}
.footer-menu-right-experiences-grade {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #29c1c4;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.footer-menu-right-experiences-feedback {
    display: block;
    color: #555;
}

.footer-menu-right-experiences-feedback p {
    color: #555;
}

.footer-menu-right-experiences-feedback a {
    color: #29c1c4;
}
.footer-menu-bottom {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
     -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}
.footer-menu-bottom li {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    display: inline;
}

.footer-menu-bottom li:last-of-type {
    border-right: none;
}

.footer-menu-bottom a {
    color: #555;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .footer-menu .cols {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-menu-left {
        order: 1;
        -webkit-order: 1;
    }

    .footer-menu-middle-1 {
        order: 3;
        -webkit-order: 3;
        margin-top: 20px;
    }

    .footer-menu-middle-2 {
        order: 4;
        -webkit-order: 4;
        margin-top: 20px;
    }

    .footer-menu-right {
        order: 2;
        -webkit-order: 2;
    }
    .footer-usps .footer-usp-trust,
    .footer-usps .footer-usp-payment,
    .footer-usps .footer-usp-delivery {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    /*.footer-usps .footer-usp-trust,
    .footer-usps .footer-usp-payment,
    .footer-usps .footer-usp-delivery {
        text-align: center;
    }*/

    .footer-usps .footer-usp-trust,
    .footer-usps .footer-usp-payment {
        margin-bottom: 10px;
    }

    .footer-usps .footer-usp-trust img,
    .footer-usps .footer-usp-payment img,
    .footer-usps .footer-usp-delivery img {
        margin-left: 0;
        max-width: 100%;
    }

    .footer-usps .footer-usp-text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-usps .container {
        -webkit-flex-direction: row;
        flex-direction: row;
    }


}
