/* HOMEPAGE --------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    #body_home #mid {
        width: 100%;
        max-width: 100%;
    }

    #body_home #categories {
        display: none;
    }
    #body_home #pagecontent {
        width: 100%;
    }
}

.header {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: block;
}
.header h1 {
    color: #29c1c4;
}
.header .header-button {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    box-shadow: 3px 3px 6px #eee;
}
.header .header-button h3 {
    padding: 20px 20px 10px;
}
.header .header-button h5 {
    padding: 15px 0 10px 0;
}
.header .header-button.header-birth-girl h3,
.header .header-button.header-birth-girl h5 {
    color: #d183ab;
}
.header .header-button.header-birth-boy h3,
.header .header-button.header-birth-boy h5 {
    color: #29c1c4;
}
.header .header-button.header-create-yourself h3,
.header .header-button.header-create-yourself h5 {
    color: #c6b297;
}
.header .header-button.header-birth-new h3,
.header .header-button.header-birth-new h5 {
    color: #988672;
}
.header .header-button .header-button-img-card {
    padding: 10px 20px 20px;
}
.header .header-button .header-button-img-fullwidth {
    padding: 0;
}
.header .header-button .header-button-img-card img,
.header .header-button .header-button-img-card img,
.header .header-button .header-button-img-card img {
    box-shadow: 2px 3px 4px #eee;
}
.header .header-button .header-button-img-fullwidth img {
    width: 100%;
}
.header .header-button .header-button-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 6px 4px 5px;
}
.header .header-button .header-button-arrow i {
    color: #fff;
}
.header .header-button.header-birth-girl .header-button-arrow {
    background: #d183ab;
}
.header .header-button.header-birth-boy .header-button-arrow {
    background: #29c1c4;
}
.header .header-button.header-create-yourself .header-button-arrow {
    background: #c6b297;
}
.header .header-button.header-birth-new .header-button-arrow {
    background: #988672;
}
.header .header-button h5 {
    display: none;
}

@media screen and (min-width: 992px) {
    .header {
        padding-top: 60px;
        padding-bottom: 40px;
        width: 100%;
        height: calc(80vh - 115px);
        min-height: 475px;
        background-size: 270vh auto;
        background-position: 65% 100%;
        background-repeat: no-repeat;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .header h1 {
        font-size: 60px;
        line-height: 1.2;
    }
    .header .header-button.birth-girl .header-button-img img,
    .header .header-button.birth-boy .header-button-img img,
    .header .header-button.birth-new .header-button-img img {
        max-height: 120px;
    }
    .header .header-button h3 {
        font-size: 24px;
    }
    .header-usps {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header .header-button h3 {
        font-size: 30px;
    }
}


@media screen and (max-width: 991px) {
    .header {
        background-size: auto 70vh;
        background-position: 70% -20vh;
    }
    .header h1 {
        font-size: 48px;
        margin-top: 35vh;
        margin-bottom: 20px;
    }
    .header .header-buttons .cols {
        margin-top: 20px;
    }
    .header .header-buttons .cols .xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header .header-buttons .header-button {
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button .header-button-img {
        width: 100%;
    }
    .header .header-button .header-button-img img {
        max-width: 100%;
    }
    .header-usps {
        display: flex;
        display: -webkit-flex;
         -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        background: #d183ab;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .header-usp-proof,
    .header-usp-delivery {
        margin: 10px 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    .header-usp-delivery {
        margin-left: 10px;
    }
    .header-usp-proof img {
        margin-right: 5px;
        margin-top: -3px;
        width: 20px;
    }
    .header-usp-delivery i:after {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .how-it-works {
        display: none;
    }
    .how-it-works-ill,
    .how-it-works-usps,
    .photocard,
    .nicest-cards,
    .sliderBlock {
        display: none !important;
    }
     {
        display: none;
    }
    .babyblog-item img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .header {
        background-size: 140vh;
        background-position: 75% -15vh;
    }
    .header h1 {
        font-size: 36px;
        margin-top: 39vh;
        margin-bottom: 10px;
    }
    .header .header-buttons .cols .xs-6 {
        padding: 10px;
    }
    .header-button {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button h3 {
        display: none;
    }
    .header .header-button h5 {
        text-align: center;
        display: block !important;
    }
    .header .header-button-arrow {
        display: none;
    }
}


.menu-mobile {
    display: none;
}
.menu-mobile ul {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
.menu-mobile li {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}
.menu-mobile li a {
    color: #555;
    font-size: 17px;
    font-weight: bold;
}
.menu-mobile li a:after {
    content: '\e003';
    font-family: kcicons;
    float: right;
    color: #888;
}

@media screen and (max-width: 991px) {
    .menu-mobile {
        display: block;
    }
}


.how-it-works-step {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
.how-it-works-step:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.how-it-works-step-header {
    font-weight: bold;
    cursor: pointer;
}
.how-it-works-step-header .number {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #d183ab;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}
.how-it-works-step-header .icon {
    color: #d183ab;
    float: right;
}
.how-it-works-step-text {
    padding-left: 38px;
    color: #555;
}
.how-it-works-ill {
    position: relative;
    display: block;
}
.how-it-works-ill-circle {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background: #29c1c4;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    left: 0;
}
.how-it-works-ill-circle-text i {
    display: block;
    margin: 10px 0;
}
.how-it-works-ill-circle-text {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    padding: 15px;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.how-it-works-ill-image {
    width: calc(100% - 90px);
    height: auto;

    /*width: calc(100% - 90px);*/
    /*height: calc(100% - 140px);*/
    position: absolute;
    top: 140px;
    left: 90px;
    /*bottom: 0;*/
    border: 3px dashed #d183ab;
    display: block;
}
/*.how-it-works-ill-image:before,
.how-it-works-ill-image:after {
    display: table;
    content: " ";
    clear: both;
}*/


/*.how-it-works-ill:after {
    display: block;
    content: " ";
    padding-bottom: 100%;
}*/
.how-it-works-ill-image img {
    height: 85%;
    width: auto;
    margin: 2.5% auto;
    display: block;
}
.how-it-works-usps {
    display: flex;
    display: -webkit-flex;
     -webkit-justify-content: center;
    justify-content: center;
    width: calc(100% - 90px);
    margin-left: 90px;
}
@media screen and (max-width: 1199px) {
    .how-it-works-usps {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.how-it-works-usp-proof,
.how-it-works-usp-delivery {
    margin: 10px 5px;
    color: #d183ab;
    text-transform: uppercase;
    font-weight: bold;
}
@media screen and (max-width: 1199px) {
    .how-it-works-usp-proof,
    .how-it-works-usp-delivery {
        margin-bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}
.how-it-works-usp-proof img,
.how-it-works-usp-delivery img {
    width: 30px;
    margin-right: 5px;
    margin-top: -3px;
}


@media screen and (min-width: 992px) {
    .how-it-works h2 {
        margin-top: 50px;
    }
}

.photocard {
    margin-top: 70px;
    background: #f6f7e7;
    min-height: 200px;
    padding: 30px 0;
}
.photocard .container .cols {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
}

.photocard h2 {
    margin-top: 20px;
}
.photocard .thumbnail-scroller-left i,
.photocard .thumbnail-scroller-right i {
    color: #d183ab;
    font-size: 1.2em;
}
.photocard .thumbnail-scroller .thumbnail-scroller-middle {
  width: 80%;
  margin: 0 auto;
}
.photocard .thumbnail-scroller .cycle-slide {
  margin: 0 20px;
  width: 200px;
  height: 200px;
}
.photocard .button {
    background-color: transparent;
}
.photocard .button:hover {
    background-color: #d183ab;
}
.photocard .photocard-img-right {
    height: calc(100% + 60px);
    width: calc(100% + 15px);
    background-size: cover;
    background-position: center center;
    margin-top: -30px;
    margin-bottom: -30px;
    position: absolute;
    top: 0;
    right: 0;

}

.nicest-cards {
    width: 100%;
}
.nicest-cards .nicest-cards-col {
    padding: 0 30px;
}
.nicest-cards h2 {
    color: #29c1c4;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.nicest-cards .button {
    width: 100%;
}

.sliderBlock {
    position: relative;
    margin-top: 20px;
}
.sliderBlock #pSlide,
.sliderBlock #nSlide {
    position: absolute;
    top: 60px;
}
.sliderBlock #pSlide {
    left: 0;
}
.sliderBlock #nSlide {
    right: 0;
}
.sliderBlock #pSlide:after,
.sliderBlock #nSlide:after {
    font-family: kcicons;
    color: #d183ab;
    font-size: 1.2em;
}
.sliderBlock #pSlide:after {
    content: '\e00A';
}
.sliderBlock #nSlide:after {
    content: '\e008';
}
.slideWrap {
    width: 90%;
    height: 250px;
    margin: 0 auto;
}
.topCards {
    display: none;
}
.create-yourself {
    display: none;
}

@media screen and (min-width: 992px){
    .create-yourself {
        display: block;
        width: 100%;
        height: 400px;
        background: url(/img/create-yourself-zigzag-pattern.jpg);
        background-repeat: repeat;
    }
    .create-yourself .create-yourself-img {
        position: absolute;
        right: 0;
        width: 50%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .create-yourself h2 {
        color: #29c1c4;
        margin-top: 50px;
        font-size: 46px;
    }
    .create-yourself h4 {
        color: #29c1c4;
        margin-top: 30px;
    }
    .create-yourself .icon {
        display: block;
        font-size: 40px;
        color: #29c1c4;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .create-yourself .button {
        background-color: #fff;
    }
    .create-yourself .button:hover {
        background: #29c1c4;
    }
}
.babyblog .container {
    position: relative;
}
.babyblog {
    width: 100%;
}

.babyblog-header {
    width: 100%;
    height: 110px;
    background: #fff;
    margin-bottom: 20px;
}
.babyblog .babyblog-upper-header {
    display: none;
}
.babyblog .babyblog-header .babyblog-header-button {
    position: relative;
}
.babyblog-header-logo,
.babyblog-header-text,
.babyblog-header-button {
    display: inline-block;
    float: left;
}
.babyblog-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}
.babyblog-header-text {
    padding-left: 220px;
    padding-top: 10px;
    margin-right: 50px;
    color: #000
}
.babyblog-header-text h5 {
    color: #000;
}
.babyblog-header-button {
   height: 100%;
    position: absolute;
    top: 0;
}
.babyblog-header-button .button-babyblog-header {
    background-color: #d183ab;
    border: 1px solid #fff;
    color: #fff;
    margin: 30px 0;
}
.babyblog-header-button .button-babyblog-header:hover {
    background-color: #fff;
    border: #d183ab;
    color: #d183ab;
}
.babyblog-item {
    margin-top: 30px;
}
.babyblog-item-header {
    color: #d183ab;
    margin-top: 15px;
}
.babyblog-item-date {
    color: #ccc;
    font-size: 0.8em;
}


@media screen and (max-width: 991px) {
    .babyblog .babyblog-upper-header {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
   }
    .babyblog .babyblog-upper-header h3 {
        color: #d183ab;
    }
    .babyblog .babyblog-header {
        height: auto;
    }

    .babyblog .babyblog-header .babyblog-header-logo {
        width: 180px;
    }

    .babyblog .babyblog-header .babyblog-header-logo img {
        width: 100%;
    }

    .babyblog .babyblog-header .babyblog-header-text h5 {
        display: none;
    }
    .babyblog .babyblog-header .babyblog-header-text {
        margin-bottom: 20px;
    }
    .babyblog .babyblog-header .babyblog-header-text p {
        padding: 15px 0;
    }

    .babyblog .babyblog-header .babyblog-header-text p br {
        display: none;
    }

    .babyblog .babyblog-header .babyblog-header-button {
        display: none;
    }

    .babyblog .babyblog-item h4 {
        font-size: 22px;
    }

}

@media screen and (max-width: 767px) {
    .babyblog .babyblog-upper-header h3 {
        padding: 20px 0 5px 0;
        border-top: 1px solid #ccc;
    }

    .babyblog .babyblog-header .babyblog-header-text {
        display: block;
        padding-left: 0;
        margin-right: 0;
        padding-top: 150px;
    }

    .babyblog .babyblog-item h4 {
        width: 65%;
        display: inline-block;
        font-size: 18px;
        margin-top: 0;
        padding-left: 10px;
    }

    .babyblog .babyblog-item img {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .babyblog .babyblog-item p {
        display: none;
    }

    .babyblog .babyblog-item a {
        display: none;
    }
}
