/* KLEUREN ---------------------------------------------------------------------------------------------------------- */

/* kleur1 */
.navbar .middlebar {
    background-color: #fff;
}

/* kleur4 */
.navbar .topbar .topbar-menu-left a:hover,
.navbar .topbar .topbar-menu-left a:active,
.navbar .topbar .topbar-menu-left a:focus,
a.logo,
a.logo:hover,
a.logo:active,
a.logo:focus {
  color: #eee;
}

/* kleur5 */
.navbar .topbar .topbar-menu-left a,
.navbar .topbar .topbar-menu-right > ul > li a:hover,
.navbar .topbar .topbar-menu-right > ul > li a:active,
.navbar .topbar .topbar-menu-right > ul > li a:focus {
  color: #fff;
}

/* kleur6 */
.navbar .middlebar .dropdown:hover ul,
.navbar .middlebar ul.middlebar-menu-right > li:hover,
.navbar .middlebar ul.middlebar-menu-left > li:hover,
.navbar .middlebar .navbar-search-field {
  background-color: #eee;
}
.navbar .middlebar ul.middlebar-menu-left > li:first-of-type:hover {
    background-color: transparent;
}


/* kleur7 */
.navbar .middlebar .dropdown ul li a:hover {
    background-color: #eee;
  }

/* NAVBAR  - TOPBAR ------------------------------------------------------------------------------------------------- */

.navbar .topbar {
    background: #29c1c4;
}

.navbar .topbar .topbar-menu-left a {
    text-transform: uppercase;
    color: #fff;
}

.navbar .topbar .topbar-menu-left a:hover {
    color: #ccc;
}

.navbar .topbar .topbar-menu-right ul li a {
    color: #fff;
}

.navbar .topbar .topbar-menu-right ul li a:hover {
    color: #ccc;
}

.navbar .topbar .topbar-menu-right ul li.active a {
    color: #ccc;
}

.navbar .topbar .topbar-menu-right > ul > li.active a {
    color: #888;
}

.navbar .topbar .topbar-menu-right > ul > li.active ul li a:hover {
    background: #ccc;
}

@media screen and (max-width: 991px) {
    .navbar {
        height: 60px;
    }

    .navbar .topbar {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .navbar .navbar-hamburger .icon-bar {
        background: #29c1c4;
    }

    .navbar .topbar .topbar-basket-mob {
        background: #29c1c4;
        text-align: center;
        margin-right: -15px;
        padding: 16px 0;
        width: 60px;
        height: 60px;
    }

    .navbar .topbar .topbar-basket-mob i {
        color: #fff;
        font-size: 26px;
    }

    .navbar .topbar .topbar-basket-mob #navbar-basket {
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        color: #29c1c4;
        line-height: 1.1;
        vertical-align: 8px;
        margin-left: -4px;
    }

    .navbar .topbar .topbar-basket-menu-mob {
        background-color: #fff;
    }

    .navbar .topbar .topbar-basket-menu-mob p,
    .navbar .topbar .topbar-basket-menu-mob ul {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .topbar .topbar-basket-menu-mob ul li a {
        color: #000;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        height: 90px;
    }

    .navbar .topbar .topbar-basket-mob {
        width: 50px;
        height: 50px;
        padding: 9px 0;
    }

    .navbar .topbar .topbar-basket-mob i {
        font-size: 20px;
    }
}

/* NAVBAR  - MIDDLEBAR ---------------------------------------------------------------------------------------------- */

.navbar .middlebar {
    border-bottom: 1px solid #eee;
}

.navbar .middlebar .logo {
    height: 55px;
}

.navbar .middlebar a {
    font-weight: bold;
}

.navbar .navbar-favourites a i {
    color: #29c1c4;
    font-size: 26px;
}

.navbar .middlebar ul.middlebar-menu-right li a:hover {
    background-color: transparent !important;
}

.navbar .navbar-favourites .dynamic_favorites_count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    background: #29c1c4;
    margin-left: -25px;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    right: 5px;
    top: 20px;

}

.navbar .middlebar .navbar-search-field {
    background-color:#fff;
    border-bottom: 1px solid #eee;
}

.navbar .middlebar .navbar-search-field form {
    position: relative;
}

.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 50px;
    width: 200px;
}

.navbar .middlebar .navbar-search-field .search-button-field {
    position: absolute;
    left: 3px;
    top: 5px;
}

.navbar .middlebar .navbar-search-field .search-button-field i:after {
    color: #29c1c4;
}


@media screen and (min-width: 991px) {
    .navbar .topbar .topbar-menu-right {
        top: 0;
    }

    .navbar .middlebar .middlebar-menu-left .dropdown > a {
        display: inline-block;
    }

    .navbar .middlebar .middlebar-menu-left .dropdown > a:after {
        content: '\e007';
        font-family: kcicons;
        color: #888;
        font-size: 10px;
    }

    .navbar .middlebar .middlebar-menu-left .dropdown ul li a span span {
        color: #888;
        font-weight: 400;
    }

    .navbar .middlebar ul.middlebar-menu-left > li i {
        display: block;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul {
        position: fixed;
        top: 125px;
        width: 100%;
        padding: 0 30px;
        display: flex;
        display: -webkit-flex;
        margin-top: 0 !important;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 4px #ccc;
        background: #fff;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul {
        display: none;
    }

    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li {
        width: 20%;
        border-bottom: none;
        float: left;
        border-left: 1px solid #ccc;
        margin-top: 0;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul li:last-of-type {
        border-right: 1px solid #ccc !important;
    }

    .navbar .middlebar .dropdown:hover ul {
        background-color: #fff;
    }

    .navbar .middlebar .dropdown-content {
        display: none;
        position: fixed;
        top: 125px;
        left: 0;
        right: 0;
        width: 100%;
    }

    .navbar .middlebar .dropdown-background-cover {
        display: block;
        content: "";
        clear: both;
        background: #000;
        opacity: 0.5;
        width: 100%;
        height: calc(100vh - 125px);
    }

    .navbar .middlebar .dropdown-fullwidth-menu {
        border-bottom: 1px solid #ccc;
        background: #fff;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar .middlebar .dropdown-fullwidth-menu .container {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .navbar .middlebar .dropdown-fullwidth-menu .container li {
        border-left: 1px solid #ccc;
        padding: 20px 10px;
    }

    .navbar .middlebar .dropdown-fullwidth-menu .container li a {
        padding: 0;
        margin: 0 auto;
        display: block;
    }

    .navbar .middlebar .dropdown-fullwidth-menu .container li:last-of-type {
        border-right: 1px solid #ccc;
    }

    .navbar .middlebar .dropdown-fullwidth-menu li a:hover {
        background-color: transparent !important;
    }

    .navbar .middlebar .dropdown-fullwidth-menu li a span i {
        font-size: 32px;
    }

    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-girl a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-girl a:hover span i {
        color: #d183ab;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-boy a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-boy a:hover span i {
        color: #29c1c4;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-all a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-birth-all a:hover span i {
        color: #988672;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-create-yourself a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-create-yourself a:hover span i {
        color: #c6b297;
    }
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-envelope a:hover span,
    .navbar .middlebar .dropdown-fullwidth-menu li.middlebar-envelope a:hover span i {
        color: #888;
    }

    .navbar .middlebar .dropdown-fullwidth-menu li a span {
        display: block;
        text-align: center;
    }

    .navbar .middlebar .dropdown-fullwidth-menu li a span i {
        color: #ccc;
        padding: 40px 0;
    }

    .navbar .middlebar .navbar-search-field {
        border-bottom: none;
        background-color:#29c1c4;
    }
}

@media screen and (min-width: 1200px) {
    .navbar .middlebar .navbar-search-field {
        border-bottom: 1px solid #eee;
        background-color:#fff;
    }
}


@media screen and (max-width: 991px) {
    .navbar .middlebar {
        right: 65px;
    }

    .navbar .collapse {
        background: #fff;
    }

    .navbar .middlebar .middlebar-menu-left li.dropdown > a {
        display: none;
    }

    .navbar .middlebar .middlebar-menu-left li.dropdown ul li a span i {
        display: none;
    }

    .navbar .middlebar .middlebar-menu-right {
        display: none;
    }

    .navbar .middlebar .navbar-search-field {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }
    .navbar .middlebar .navbar-search-field form {
        width: 100%;
    }

    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        margin: 0;
        padding-left: 10px;
        width: 250px;
    }

    .navbar .middlebar .navbar-search-field .search-button-field {
        margin: 0;
        position: relative;
        margin-right: -10px;
        top: auto;
        left: auto;
    }
}

@media screen and (max-width: 767px) {
    .navbar .middlebar {
        height: 40px;
        right: 60px;
    }


    .navbar .middlebar .navbar-search-field {
        padding: 0 5px;
        height: 40px
    }

    .navbar .middlebar .navbar-search-field .search-button-field {
        margin: 0;
        z-index: 999;
        left: 0;
        padding: 0;
        top: 5px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        margin: 5px 0;
        width: 100%;
    }
}
