/* PAGES ------------------------------------------------------------------------------------------------------------ */

#body_geboortekaartjes #crumbs {
    display: none;
}

#body_geboortekaartjes .header h2 {
    color: #29c1c4;
    font-size: 60px;
    line-height: 1.2;
}

@media screen and (min-width: 992px) {
    #body_geboortekaartjes .header {
        background-size: 210vh;
        padding-top: 20px;
        background-position: 65% 90%;
    }
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #body_geboortekaartjes .header {
        height: calc(96vh - 125px);
        background-size: 220vh;
        padding-top: 10px;
        background-position: 70% 95%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 991px) {
    #body_geboortekaartjes .header {
        background-size: auto 55vh;
        background-position: 70% -4vh;
    }

    #body_geboortekaartjes .header h2 {
        margin-top: 8vh;
        margin-bottom: 30vh;
    }
}

@media screen and (max-width: 767px) {
    #body_geboortekaartjes .header h2 {
        margin-top: 52vh;
        margin-bottom: 20px;
        font-size: 36px;
    }

    #body_geboortekaartjes #mid {
        margin-top: 0;
    }
}

.page #pagebody > h1 {
    padding: 30px 15px 0 15px;
}

.page #pagebody #crumbs {
    /*padding-left: 15px;*/
    width: calc(100% - 30px);
}

.open_mobile_filter {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {
    .page #pagebody #crumbs {
        margin-left: calc(-25% - 60px);
        position: absolute;
        left: 0;
        height: 20px;
        margin-top: 10px;
    }
}

.page#body_home #pagebody .custom_content {
    padding-top: 0;
}
.page #categories {
    padding-top: 50px;
}
.top-block {
    padding-bottom: 15px;
}
.top-block a {
    color: #29c1c4;
}
.top-block a:hover {
    color: #888;
}
.top-block .top-block-border-bottom {
    border-bottom: 1px solid #ccc;
    margin: 10px 15px 0 15px;
    width: calc(100% - 30px);
}

.img-icon {
    width: 100%;
    position: relative;
}
.img-icon-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px 2px 0 0;
}
.img-icon img {
    width: 100%;
}
.img-icon-icon.img-icon-boy {
    background: #29c1c4;
}
.img-icon-icon.img-icon-girl {
    background: #d183ab;
}
.img-icon-icon:after {
    font-family: kcicons;
    color: #fff;
    font-size: 24px;
}
.img-icon-icon.img-icon-boy:after {
    content: 'l';
}
.img-icon-icon.img-icon-girl:after {
    content: 'n';
}
#crumbs a span.crumb-home:after {
    font-family: kcicons;
    content: 'x';
    font-size: 16px;
    line-height: 1.4;
    vertical-align: middle;
}

#card_previews .thumbnail-card .thumbnail-card-img a img {
    max-width: 180px;
}

.page form {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
}

.open_mobile_filter {
    background: #29c1c4;
}

.open_mobile_filter.floater {
    background: #29c1c4;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.env-wrap {
    margin: 40px 0;
}

.env-wrap .env-item {
    text-align: center;
    margin-bottom: 10px;
}

.env-wrap .env-item img {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.env-wrap .env-item .env-title {
    display: block;
}

.faq-header {
    color: #29c1c4;
    margin-top: 30px;
}

.faq-question {
    font-weight: 700;
}

.faq-question .icon {
    color: #29c1c4;
    font-size: 10px;
}

