/* WIDGET MENU ------------------------------------------------------------------------------------------------------ */

#sidebar {
    color: #555;
}
#sidebar .sidebar_widget h3 {
    font-size: 18px;
}
#sidebar #filter_cards h3 {
    display: inline;
}
#sidebar #filter_cards a {
    text-decoration: underline;
    float: right;
    color: #555;
}
#sidebar .sidebar_widget:first-of-type h3 {
    color: #ccc;
    font-size: 24px;
}
#sidebar .sidebar_widget .widget_content {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#sidebar .sidebar_widget .widget_content li {
    display: block !important;
}
#sidebar .sidebar_widget .widget_content li.list-toggle {
    display: none !important;
}
#sidebar .list li a[href="/geboortekaartjes-jongen"]:before,
#sidebar .list li a[href="/geboortekaartjes-meisje"]:before,
#sidebar .list li a[href="/geboortekaartje-zelf-maken"]:before,
#sidebar .list li a[href="/nieuwe-geboortekaartjes"]:before,
#sidebar .list li a[href="/geboortekaartje-met-foto"]:before,
#sidebar .list li a[href="/enveloppen-info"]:before{
    font-family: kcicons;
    content:  'l';
    margin-right: 5px;
    font-size: 14px;
    color: #888;
}
#sidebar .list li a {
    color: #000;
}

#sidebar .list li a[href="/geboortekaartjes-meisje"]:before {
    content:  'n';
}
#sidebar .list li a[href="/geboortekaartje-zelf-maken"]:before {
    content:  'r';
}
#sidebar .list li a[href="/nieuwe-geboortekaartjes"]:before {
    content:  'o';
}
#sidebar .list li a[href="/geboortekaartje-met-foto"]:before {
    content:  'g';
}
#sidebar .list li a[href="/enveloppen-info"]:before {
    content:  '\e01F';
}

#body_geboortekaartjes-jongen #sidebar .list li a[href="/geboortekaartjes-jongen"],
#body_geboortekaartjes-jongen #sidebar .list li a[href="/geboortekaartjes-jongen"]:before {
    color: #29c1c4;
}

#body_geboortekaartjes-meisje #sidebar .list li a[href="/geboortekaartjes-meisje"],
#body_geboortekaartjes-meisje #sidebar .list li a[href="/geboortekaartjes-meisje"]:before {
    color: #d183ab;
}

#filter_cards h3 {
    font-size: 24px;
}
#filter_menu h3 {
    font-size: 16px;
}
#filter_menu li.tag-li input {
    display: none;
}
#filter_menu li.tag-li label {
    font-size: 15px;
    font-weight: normal;
}
#filter_menu li.tag-li .custom_checkbox {
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
}
#filter_menu li.tag-li .number-of-tags {
    color: #ccc;
    font-style: normal;
    margin-left: 3px;
}
#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #555;
    content: "\e010";
    font-size: 12px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 1px;
}
