.card-block {
  position: relative;
  display: block;
  border: 1px solid #e4e8e8;
  background-color: #fdf3e9;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
.card-block img {
  height: 150px;
}
.card-block:hover > img {
  opacity: 0.8;
}
.card-block:hover .card-block-title,
.card-block:hover .card-block-footer {
  opacity: 1;
}
.card-block .card-block-title,
.card-block .card-block-footer {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.card-block .card-block-title {
  color: #f68620;
  font-size: 1.2em;
  font-weight: bold;
}
.card-block .card-block-footer {
  color: #f68620;
  font-size: 15px;
  margin-top: 10px;
}
