.custom-checkbox {
  position: relative;
  display: inline-block;
}
.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0px;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.custom-checkbox > input:checked + .box > .tick {
  display: block;
}