.field-horizontal .field-group {
  margin-right: -15px;
  margin-left: -15px;
}
.field-horizontal .field-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}
.field-group {
  margin-bottom: 15px;
}
.field-group .field-input-group {
  margin-bottom: 0;
}
textarea.field-input {
  height: auto;
}
.field-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.field-input-group .field-input-group-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.field-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.field-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.field-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
select.field-input {
  background-color: #ffecdb;
}
input[type='text'].error {
  border-color: #8a6d3b;
}
input[type='text'].error:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.error {
  font-style: italic;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
