.thumbnail-people {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 15px;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}
.thumbnail-people:hover .thumbnail-people-img {
  opacity: 0.5;
}
.thumbnail-people:hover .thumbnail-people-label {
  opacity: 1;
}
.thumbnail-people a {
  display: block;
}
.thumbnail-people .thumbnail-people-img img {
  width: 100%;
}
.thumbnail-people .thumbnail-people-label {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-people .thumbnail-people-label h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #f59a4b;
  font-size: 18px;
}
.thumbnail-people .thumbnail-people-label p {
  margin-top: 0;
  margin-bottom: 0px;
  color: inherit;
  font-size: 14px;
}
