/** BLOCK - CARD-PREVIEWS -----------------------------------------**/


#card_previews {
	.thumbnail-card {
		overflow: visible;
	}
}



@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
