/** BLOCK - CRUMBS -----------------------------------------**/

#crumbs {
    a {
        color: $blue;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    #crumbs {}
}