/** BLOCK - ENVELOPPEN -----------------------------------------**/

.enveloppen-block-info {
    img {
        width: 75px;
        margin-right: 20px;
        float: left;
    }
    min-height: 75px; 
}


@media only screen and (min-width: 475px) {
	.enveloppen-block-info {
    img {
        width: 167px;
    }
    min-height: initial; 
}

}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
}