/** BLOCK - HEADER -----------------------------------------**/

.header {
    background-size: cover;
    background-position: bottom center;
    background-size: 150%;
    background-position: calc(71% - -66px) -14vw;
    background-repeat: no-repeat;
    display: block;
    margin: 0 -15px;
    width: calc(100% + 30px);
    h1 {
        color: #29c1c4;
        line-height: 1em;
    }
    .header-buttons {
    	padding-left: 15px;
    	padding-right: 15px;
    }
    .header-button {
        margin-left: 15px;
        margin-right: 15px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        box-shadow: 3px 3px 6px #eee;
        h3 {
            padding: 20px 20px 10px;
            line-height: 1em;
        }
        h5 {
            padding: 15px 0 10px 0;
            display: none;
            line-height: 1em;
        }
        &.header-birth-girl {
            h3,
            h5 {
                color: #d183ab;
            }
            .header-button-arrow {
                background: #d183ab;
            }
        }
        &.header-birth-boy {
            h3,
            h5 {
                color: #29c1c4;
            }
            .header-button-arrow {
                background: #29c1c4;
            }
        }
        &.header-create-yourself {
            h3,
            h5 {
                color: #c6b297;
            }
            .header-button-arrow {
                background: #c6b297;
            }
        }
        &.header-birth-new {
            h3,
            h5 {
                color: #988672;
            }
            .header-button-arrow {
                background: #988672;
            }
        }
        .header-button-img-card {
            padding: 10px 20px 20px;
        }
        .header-button-img-fullwidth {
            padding: 0;
        }
        .header-button-img-card img {
            box-shadow: 2px 3px 4px #eee;
        }
        .header-button-img-fullwidth img {
            width: 100%;
        }
        .header-button-arrow {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 10px 5px 9px 0px;
            i {
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .header {
        background-size: auto 400px;
        background-position: 6% -100px;
    }
}




@media screen and (min-width: 992px) {
    .header {
        padding-top: 60px;
        padding-bottom: 40px;
        height: calc(80vh - 115px);
        min-height: 475px;
        background-size: 270vh auto;
        background-position: 65% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            font-size: 60px;
            line-height: 1.2;
        }

        .header-button {
            h3 {
                font-size: 24px;
            }
        }
    }
    .header .header-button.birth-girl .header-button-img img,
    .header .header-button.birth-boy .header-button-img img,
    .header .header-button.birth-new .header-button-img img {
        max-height: 120px;
    }
    .header-usps {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header .header-button h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 991px) {
    .header h1 {
        font-size: 48px;
        margin-top: 110px;
        margin-bottom: 20px;
    }
    .header .header-buttons .cols {
        margin-top: 20px;
    }
    .header .header-buttons .cols .xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header .header-buttons .header-button {
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button .header-button-img {
        width: 100%;
    }
    .header .header-button .header-button-img img {
        max-width: 100%;
    }
    .header-usps {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d183ab;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .header-usp-proof,
    .header-usp-delivery {
        margin: 10px 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    .header-usp-delivery {
        margin-left: 10px;
    }
    .header-usp-proof img {
        margin-right: 5px;
        margin-top: -3px;
        width: 20px;
    }
    .header-usp-rating {
        background-color: #fff;
        color: #d183ab;
        border-radius: 50%;
        width: 22px;
        line-height: 22px;
        display: inline-block;
        text-align: center;
    }
    .header-usp-delivery i:after {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .how-it-works {
        display: none;
    }
    .how-it-works-ill,
    .how-it-works-usps,
    .photocard,
    .nicest-cards,
    .sliderBlock {
        display: none !important;
    }
    .babyblog-item img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .header h1 {
        font-size: 36px;
        margin-top: calc(11vw * 2.5 - 108px);
        margin-bottom: 10px;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    }
    .header .header-buttons .cols .xs-6 {
        padding: 10px;
    }
    .header-button {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 1px solid #ccc;
        height: 100%;
    }
    .header .header-button h3 {
        display: none;
    }
    .header .header-button h5 {
        text-align: center;
        display: block !important;
    }
    .header .header-button-arrow {
        display: none;
    }
}