/** BLOCK - HOW-IT-WORKS -----------------------------------------**/


.how-it-works-step {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.how-it-works-step:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.how-it-works-step-header {
    font-weight: bold;
    cursor: pointer;
}

.how-it-works-step-header .number {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #d183ab;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}

.how-it-works-step-header .icon {
    color: #d183ab;
    float: right;
}

.how-it-works-step-text {
    padding-left: 38px;
    color: #555;
}



@media only screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .how-it-works h2 {
        margin-top: 50px;
    }
}
