/** BLOCK - menu-blocks -----------------------------------------**/




/** ICONS ----------------------- **/

.icon {
    vertical-align: middle;
    font-weight: 400 !important;
}

.icon.icon-image {
    padding: 0px !important;
    margin: 32px auto;
    line-height: 0px;
}

.icon.icon-image:after {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-position: center center;
    content: '';
}

.icon.icon-image.icon-image-babyblog:after {
    background-image: url(/img/icons/bb-logo-green.svg);
    filter: grayscale(100%);
}

a:hover .icon.icon-image.icon-image-babyblog:after {
    filter: grayscale(0%);
}

.icon.icon-image.icon-image-baby:after {
    background-image: url(/img/icons/babyblogs.png);
}

a:hover .icon.icon-image.icon-image-baby:after {
    background-image: url(/img/icons/babyblogs_active.png);
}

.icon.icon-image.icon-image-zwanger:after {
    background-image: url(/img/icons/zwangerblogs.png);
}

a:hover .icon.icon-image.icon-image-zwanger:after {
    background-image: url(/img/icons/zwangerblogs_active.png);
}

.icon.icon-image.icon-image-babynamen:after {
    background-image: url(/img/icons/babynamen.png);
}

a:hover .icon.icon-image.icon-image-babynamen:after {
    background-image: url(/img/icons/babynamen_active.png);
}

.icon.icon-image.icon-image-babywiki:after {
    background-image: url(/img/icons/babywiki.png);
}

a:hover .icon.icon-image.icon-image-babywiki:after {
    background-image: url(/img/icons/babywiki_active.png);
}

.icon.icon-image.icon-image-horse:after {
    background-image: url(/img/icons/hobbelpaard.png);
}

a:hover .icon.icon-image.icon-image-horse:after {
    background-image: url(/img/icons/hobbelpaard_active.png);
}

.icon.icon-image.icon-image-ster:after {
    background-image: url(/img/icons/ster.png);
}

a:hover .icon.icon-image.icon-image-ster:after {
    background-image: url(/img/icons/ster_active.png);
}

.icon.icon-image.icon-image-hip-veer:after {
    background-image: url(/img/icons/hip-veer.png);
}

a:hover .icon.icon-image.icon-image-hip-veer:after {
    background-image: url(/img/icons/hip-veer_active.png);
}











@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
