    /** BLOCK - NAVBAR -----------------------------------------**/

    .navbar.navbar-style-1.navbar-style-1a {
        .topbar {
            a.logo {
                margin: 11px 10px 0 5px;
            }
            .topbar-menu-right {
                margin-top: 3px;
            }
            a.logo img {
                width: 150px;
                max-width: initial;
            }
            .topbar-menu-left a {
                text-transform: uppercase;
                color: #fff;
                margin: 7px 0px;
                padding: 0px 5px;
            }
        }
        .middlebar {
            ul.middlebar-menu-right {
                padding-top: 40px;
            }
            background-color: $white;
            border-bottom: 1px solid #eee;
            .navbar-search-field {
                padding: 0px 10px;
                #headersearch {
                    border: none;
                }
                .search-button-field {
                    position: absolute;
                    left: 10px;
                    top: 8px;
                    z-index: 9;
                }
                .search-input-field input[type="text"] {
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    height: 30px;
                    padding-left: 50px;
                    width: 100%;
                    outline: none;
                    display: block;
                }
            }
            .menu-mob-middlebar-left {
                line-height: 28px;
                i {
                    vertical-align: -3.5px;
                }
                &:before {
                    background-color: #fff;
                    box-shadow: -5px 0 5px #fff;
                }
            }
        }
        .dropdown>a:after {
            vertical-align: bottom;
        }
    }




    @media only screen and (min-width: 475px) {
        .navbar.navbar-style-1.navbar-style-1a .topbar a.logo {
            margin: 8px 10px 0 5px;
        }
        .navbar.navbar-style-1.navbar-style-1a .topbar a.logo img {
            width: 200px;
            max-width: initial;
        }
    }

    @media only screen and (min-width: 768px) {
        .navbar.navbar-style-1.navbar-style-1a {
            .topbar {
                a.logo {
                    vertical-align: top;
                }
            }
            .middlebar {
                ul.middlebar-menu-right {
                    padding-top: 0px;
                }
                .navbar-search-field {
                    padding: 15px 0;
                    .search-button-field {
                        left: 3px;
                        top: 3px;
                    }
                    .search-input-field input[type="text"] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 200px;
                    }
                }
                .menu-mob-middlebar-left {
                    line-height: 28px;
                    i {
                        vertical-align: -3.5px;
                    }
                    &:before {
                        background-color: #fff;
                        box-shadow: -5px 0 5px #fff;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 992px) {
        .navbar.navbar-style-1.navbar-style-1a {
            .topbar {
                a.logo {
                    margin: 11px 10px 0 5px;
                    vertical-align: middle;
                }
                .topbar-menu-right {
                    margin-top: 0px;
                }
                .topbar-menu-right>ul>li a {
                    padding: 6px;
                }
                &.topbar-menu-right ul li a:hover,
                &.topbar-menu-right>ul>li.dropdown.active a,
                &.topbar-menu-right>ul>li.dropdown.active a:active {
                    color: $blue; // background-color: #fff;
                }
            }

            .middlebar {
                .navbar-search-field {
                    padding: 3px;
                }
                ul.middlebar-menu-right .dropdown>ul {
                    border: 1px solid #efefef;
                    width: 200px;
                    margin-top: 65px;
                }
                ul.middlebar-menu-right>li {
                    vertical-align: middle;
                    >a {
                        height: calc(100% - 1px);
                    }
                    &.active a {
                        background-color: transparent;
                        &:hover {
                            background-color: #eee;
                        }
                    }
                }
                ul.middlebar-menu-right .dropdown>ul li a:hover {
                    background-color: #efefef;
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {

        .navbar.navbar-style-1.navbar-style-1a .topbar .topbar-menu-left a {
            margin: 8px 0 4px;
        }
        .navbar.navbar-style-1.navbar-style-1a .middlebar .navbar-search-field {
            height: 75px;
            padding: 0px;
        }
        .navbar.navbar-style-1.navbar-style-1a .middlebar .navbar-search-field .search-button-field {
            top: 0px;
            margin: 26px 0;
        }
        .navbar.navbar-style-1.navbar-style-1a .middlebar .navbar-search-field .search-input-field input[type="text"] {
            top: 22px;
        }
    }