/** BLOCK - SHOP-INVITE -----------------------------------------**/


.shop-invite {
    padding: 45px 15px;
    h3 {
    }
    ul {
        li {
            position: relative;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 0;
            margin-left: 35px;
            i {
                position: absolute;
                left: -35px;
                font-size: 22px;
                color: #5EC50C;
            }
        }
    }
    .button {
    	display: none;
        border-color: #5EC50C;
        background: #5EC50C;
        &:hover {
        	background-color: transparent;
        	color: #5EC50C;
        }
    }
}

@media only screen and (min-width: 768px) {}
