/** BLOCK - VISUAL -----------------------------------------**/

.visual {
	padding: 0px; 
    
}



@media only screen and (min-width: 768px) {
    .visual {
    }
}

@media only screen and (min-width: 992px) {}