/** BLOCK - VISUAL-HEADER -----------------------------------------**/

.visual {
    background-size: cover;
    background-position: bottom center;
    background-size: 150%;
    background-position: calc(71% - -66px) -14vw;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    width: 100%;
    h1 {
        color: #29c1c4;
        line-height: 1em;
        font-size: 36px;
        margin-top: calc(11vw * 3.2 - 145px);
        margin-bottom: 10px;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    }
    .header-buttons {
        padding: 0 15px;
        .cols {
            margin-top: 20px;
            .xs-6 {
                padding: 10px;
            }
        }
        .header-button {
            margin-left: 0 !important;
            margin-right: 0 !important;
            border: 1px solid #ccc;
            height: 100%;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            cursor: pointer;
            box-shadow: 3px 3px 6px #eee;
            h3 {
                display: none;
                padding: 20px 20px 10px;
                line-height: 1em;
            }
            h5 {
                text-align: center;
                padding: 15px 0 10px 0;
                display: block;
                line-height: 1em;
            }
            &.header-birth-girl {
                h3,
                h5 {
                    color: #d183ab;
                }
                .header-button-arrow {
                    background: #d183ab;
                }
            }
            &.header-birth-boy {
                h3,
                h5 {
                    color: #29c1c4;
                }
                .header-button-arrow {
                    background: #29c1c4;
                }
            }
            &.header-create-yourself {
                h3,
                h5 {
                    color: #c6b297;
                }
                .header-button-arrow {
                    background: #c6b297;
                }
            }
            &.header-birth-new {
                h3,
                h5 {
                    color: #988672;
                }
                .header-button-arrow {
                    background: #988672;
                }
            }
            .header-button-img {
                width: 100%;
            }
            .header-button-img img {
                max-width: 100%;
            }
            .header-button-arrow {
                display: none;
            }
            .header-button-img-card {
                padding: 10px 20px 20px;
            }
            .header-button-img-fullwidth {
                padding: 0;
            }
            .header-button-img-card img {
                box-shadow: 2px 3px 4px #eee;
            }
            .header-button-img-fullwidth img {
                width: 100%;
            }
        }
    }

    .header-usps {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d183ab;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .header-usp-proof,
    .header-usp-delivery {
        margin: 10px 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    .header-usp-delivery {
        margin-left: 10px;
    }
    .header-usp-proof img {
        margin-right: 5px;
        margin-top: -3px;
        width: 20px;
    }
    .header-usp-rating {
        background-color: #fff;
        color: #d183ab;
        border-radius: 50%;
        width: 22px;
        line-height: 22px;
        display: inline-block;
        text-align: center;
    }
    .header-usp-delivery i:after {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.how-it-works {
    display: none;
}

.how-it-works-ill,
.how-it-works-usps,
.photocard,
.nicest-cards,
.sliderBlock {
    display: none;
}

.babyblog-item img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .visual {
        background-size: auto 400px;
        background-position: 6% -100px;
        h1 {
            font-size: 48px;
            margin-top: 95px;
            margin-bottom: 20px;
        }
        .header-buttons {
            .cols {
                .xs-6 {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            .header-button {
                margin-left: 15px;
                margin-right: 15px;
                h3 {
                    display: block;
                    min-height: 90px;
                }
                h5 {
                    display: none;
                }
                .header-button-arrow {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 10px 5px 9px 0px;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}




@media screen and (min-width: 992px) {
    .visual {
        padding-top: 10px;
        padding-bottom: 40px;
        min-height: 475px;
        background-size: 270vh auto;
        background-position: 65% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            font-size: 60px;
            line-height: 1.2;
            margin-top: 5px;
        }

        .header-button {
            h3 {
                min-height: 80px;
                font-size: 24px;
            }
        }
        .header-button.birth-girl .header-button-img img,
        .header-button.birth-boy .header-button-img img,
        .header-button.birth-new .header-button-img img {
            max-height: 120px;
        }
        .header-usps {
            display: none;
        }
    }
    .how-it-works {
        display: block;
    }
    .how-it-works-ill,
    .how-it-works-usps,
    .photocard,
    .nicest-cards,
    .sliderBlock {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .visual .header-button h3 {
        min-height: 90px;
        font-size: 30px;
    }
}